Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: コード変更の追加
  docs/diagrams/auth-login-flow.svg
  docs/diagrams/client-dependency.svg
  docs/diagrams/database-ownership.svg
  docs/diagrams/developer-workflow.svg
  docs/diagrams/infrastructure-topology.svg
  docs/diagrams/kafka-event-flows.svg
Due: none

fix: インフラストラクチャのSVG画像を更新
  docs/diagrams/navigation-architecture.svg
  docs/diagrams/observability-data-flow.svg
  docs/diagrams/saga-order-flow.svg
  docs/diagrams/security-architecture.svg
  docs/diagrams/server-dependency.svg
  docs/diagrams/system-internal-dependencies.svg
  docs/diagrams/tier-overview.svg
  docs/infrastructure/overview/images/infra-overview.svg
Due: none

feat: コードの変更を追加
  docs/servers/_common/images/er-diagram.svg
  docs/servers/config/images/er-diagram.svg
  docs/servers/dlq-manager/images/er-diagram.svg
  docs/servers/order/images/er-diagram.svg
  docs/servers/saga/images/er-diagram.svg
Due: none

fix: 受入検査報告書を削除
  docs/acceptance-review-2026-03-10.md
Due: none

feat: ナビゲーションタイプ生成ページのプレビューと書き込み機能を追加
  CLI/Cargo.lock
  CLI/README.md
  CLI/crates/k1s0-cli/src/commands/generate_config_types.rs
  CLI/crates/k1s0-cli/src/commands/generate_navigation.rs
  CLI/crates/k1s0-core/src/commands/generate/config_types.rs
  CLI/crates/k1s0-core/src/commands/generate/navigation.rs
  CLI/crates/k1s0-gui/Cargo.toml
  CLI/crates/k1s0-gui/src/commands.rs
  CLI/crates/k1s0-gui/src/lib.rs
  CLI/crates/k1s0-gui/tauri.conf.json
  CLI/crates/k1s0-gui/ui/src/components/Sidebar.tsx
  CLI/crates/k1s0-gui/ui/src/components/__tests__/Sidebar.test.tsx
  CLI/crates/k1s0-gui/ui/src/lib/tauri-commands.ts
  CLI/crates/k1s0-gui/ui/src/pages/BuildPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ConfigTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DashboardPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DeployPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DepsPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DevPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/EventCodegenPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/GeneratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/MigratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/NavigationTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/TestPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ValidatePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/ConfigTypesPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/DepsPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/DevPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/EventCodegenPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/GeneratePage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/MigratePage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/NavigationTypesPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/router.tsx
  CLI/crates/k1s0-gui/ui/vite.config.ts
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: 設定エディタの機能を強化し、バージョン管理を追加
  CLI/Cargo.lock
  CLI/crates/k1s0-cli/src/commands/generate_config_types.rs
  CLI/crates/k1s0-core/Cargo.toml
  CLI/crates/k1s0-core/src/commands/generate/config_types.rs
  CLI/crates/k1s0-core/src/commands/validate/config_schema.rs
  api/proto/k1s0/system/config/v1/config.proto
  docs/servers/config/server.md
  regions/system/client/flutter/system_client/lib/src/config/config_editor_page.dart
  regions/system/client/flutter/system_client/lib/src/config/config_interpreter.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/config_field_list.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/fields/array_field.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/fields/boolean_field.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/fields/enum_field.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/fields/float_field.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/fields/object_field.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/fields/string_field.dart
  regions/system/client/flutter/system_client/test/config/config_editor_page_test.dart
  regions/system/client/flutter/system_client/test/config/config_interpreter_test.dart
  regions/system/client/react/system-client/src/auth/useAuth.test.tsx
  regions/system/client/react/system-client/src/config/ConfigEditorPage.test.tsx
  regions/system/client/react/system-client/src/config/ConfigEditorPage.tsx
  regions/system/client/react/system-client/src/config/ConfigInterpreter.test.ts
  regions/system/client/react/system-client/src/config/ConfigInterpreter.ts
  regions/system/client/react/system-client/src/config/components/ConfigFieldList.tsx
  regions/system/client/react/system-client/src/config/components/fields/FloatField.tsx
  regions/system/client/react/system-client/src/config/hooks/useConfigEditor.test.ts
  regions/system/client/react/system-client/src/config/hooks/useConfigEditor.ts
  regions/system/client/react/system-client/src/config/types.ts
  regions/system/client/react/system-client/src/config/utils.ts
  regions/system/client/react/system-client/src/http/apiClient.test.ts
  regions/system/client/react/system-client/src/routing/ProtectedRoute.test.tsx
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/adapter/handler/config_handler.rs
  regions/system/server/rust/config/src/adapter/repository/config_postgres.rs
  regions/system/server/rust/config/src/domain/entity/config_entry.rs
  regions/system/server/rust/config/src/domain/repository/config_repository.rs
  regions/system/server/rust/config/src/main.rs
  regions/system/server/rust/config/src/proto/k1s0.system.config.v1.rs
  regions/system/server/rust/config/src/usecase/get_service_config.rs
  regions/system/server/rust/config/tests/integration_test.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

fix: コードの型安全性を向上させるための修正
  regions/system/library/dart/event_bus/lib/src/bus.dart
  regions/system/library/dart/file_client/lib/src/client.dart
  regions/system/library/dart/file_client/test/s3_client_test.dart
  regions/system/library/dart/outbox/lib/src/processor.dart
  regions/system/library/dart/webhook_client/test/webhook_client_test.dart
Due: dart-analyze, dart-format

feat: Kialiデモ環境の改善と新機能の追加
  docs/architecture/overview/tier-architecture.md
  docs/architecture/overview/コンセプト.md
  docs/architecture/overview/ディレクトリ構成図.md
  docs/infrastructure/cicd/CI-CD設計.md
  docs/infrastructure/distribution/images/app-distribution-architecture.drawio
  docs/infrastructure/distribution/images/app-distribution-architecture.svg
  docs/infrastructure/distribution/images/auto-update-flow.drawio
  docs/infrastructure/distribution/images/auto-update-flow.svg
  docs/infrastructure/distribution/images/ci-cd-publish-pipeline.drawio
  docs/infrastructure/distribution/images/ci-cd-publish-pipeline.svg
  docs/infrastructure/distribution/images/download-flow.drawio
  docs/infrastructure/distribution/images/download-flow.svg
  docs/infrastructure/distribution/アプリ配布基盤設計.md
  docs/infrastructure/docker/Dockerイメージ戦略.md
  docs/infrastructure/kubernetes/helm設計.md
  docs/infrastructure/overview/インフラ設計.md
  docs/infrastructure/security/Vault設計.md
  docs/infrastructure/terraform/terraform設計.md
  docs/libraries/_common/概要.md
  docs/onboarding/tier1/06-インフラストラクチャ.md
  docs/onboarding/tier2/05-クライアント開発.md
  docs/reviews/2026-03-10-kiali-demo-acceptance-review.md
  docs/templates/client/Flutter.md
  infra/demo/kiali/demo-service/server.py
  infra/demo/kiali/demo.sh
  infra/demo/kiali/manifests/01-stub-services.yaml
  infra/demo/kiali/manifests/02-istio.yaml
  infra/demo/kiali/manifests/02-virtualservices.yaml
  infra/demo/kiali/manifests/04-canary-deploy.yaml
  infra/demo/kiali/manifests/08-promtail.yaml
  infra/demo/kiali/manifests/09-grafana.yaml
  infra/demo/kiali/scenarios/canary.yaml
  infra/demo/kiali/scenarios/fault-abort.yaml
  infra/demo/kiali/scenarios/mirror.yaml
  infra/demo/kiali/setup.sh
  infra/demo/kiali/traffic-gen.sh
  infra/demo/kiali/ui/server.ts
  infra/demo/kiali/ui/src/components/TopologyView.tsx
Due: ts-lint, prettier

fix: Kialiデモ環境の受入検査レビューを削除
  docs/reviews/2026-03-10-kiali-demo-acceptance-review.md
Due: none

feat: デモサービスにメトリクス収集機能を追加
  infra/demo/kiali/.kiali-pf.pid
  infra/demo/kiali/dashboards/database-overview.json
  infra/demo/kiali/dashboards/fault-injection-results.json
  infra/demo/kiali/dashboards/infrastructure.json
  infra/demo/kiali/dashboards/istio-overview.json
  infra/demo/kiali/dashboards/kafka-overview.json
  infra/demo/kiali/dashboards/kong-overview.json
  infra/demo/kiali/dashboards/logs-explorer.json
  infra/demo/kiali/dashboards/overview.json
  infra/demo/kiali/dashboards/service-detail.json
  infra/demo/kiali/dashboards/service-mesh-overview.json
  infra/demo/kiali/dashboards/service-topology.json
  infra/demo/kiali/dashboards/slo-overview.json
  infra/demo/kiali/dashboards/system-tier-overview.json
  infra/demo/kiali/demo-service/__pycache__/server.cpython-310.pyc
  infra/demo/kiali/demo-service/server.py
  infra/demo/kiali/demo.sh
  infra/demo/kiali/manifests/00-namespaces.yaml
  infra/demo/kiali/manifests/01-stub-services.yaml
  infra/demo/kiali/manifests/02-istio.yaml
  infra/demo/kiali/manifests/03-prometheus.yaml
  infra/demo/kiali/manifests/05-otel-collector.yaml
  infra/demo/kiali/manifests/08-promtail.yaml
  infra/demo/kiali/manifests/09-grafana.yaml
  infra/demo/kiali/manifests/10-kafka.yaml
  infra/demo/kiali/setup.sh
  infra/demo/kiali/ui/src/components/DashboardViewer.tsx
  infra/demo/kiali/ui/src/components/ScenarioPanel.tsx
  infra/demo/kiali/values/kiali-values.yaml
Due: ts-lint, prettier

feat: system-app-registry-serverの実装とAPI定義を追加
  docs/servers/app-registry/database.md
  docs/servers/app-registry/deploy.md
  docs/servers/app-registry/implementation.md
  docs/servers/app-registry/server.md
  regions/business/accounting/server/rust/domain-master/Dockerfile
  regions/service/order/server/rust/order/Dockerfile
  regions/system/server/rust/app-registry/Dockerfile
  regions/system/server/rust/auth/Dockerfile
  regions/system/server/rust/config/Dockerfile
  regions/system/server/rust/dlq-manager/Dockerfile
  regions/system/server/rust/event-monitor/Dockerfile
  regions/system/server/rust/featureflag/Dockerfile
  regions/system/server/rust/graphql-gateway/Dockerfile
  regions/system/server/rust/master-maintenance/Dockerfile
  regions/system/server/rust/navigation/Dockerfile
  regions/system/server/rust/policy/Dockerfile
  regions/system/server/rust/ratelimit/Dockerfile
  regions/system/server/rust/rule-engine/Dockerfile
  regions/system/server/rust/saga/Dockerfile
  regions/system/server/rust/session/Dockerfile
  regions/system/server/rust/tenant/Dockerfile
  regions/system/server/rust/vault/Dockerfile
Due: none

feat: 開発ページにプレビュー機能を追加し、生成ページにBFF言語選択を実装
  CLI/crates/k1s0-cli/src/commands/migrate.rs
  CLI/crates/k1s0-core/src/commands/build.rs
  CLI/crates/k1s0-core/src/commands/deploy.rs
  CLI/crates/k1s0-core/src/commands/deps/cache.rs
  CLI/crates/k1s0-core/src/commands/deps/output.rs
  CLI/crates/k1s0-core/src/commands/deps/rules.rs
  CLI/crates/k1s0-core/src/commands/deps/scanner.rs
  CLI/crates/k1s0-core/src/commands/dev/compose.rs
  CLI/crates/k1s0-core/src/commands/dev/detect.rs
  CLI/crates/k1s0-core/src/commands/dev/mod.rs
  CLI/crates/k1s0-core/src/commands/dev/state.rs
  CLI/crates/k1s0-core/src/commands/generate/config_types.rs
  CLI/crates/k1s0-core/src/commands/generate/execute.rs
  CLI/crates/k1s0-core/src/commands/generate/navigation.rs
  CLI/crates/k1s0-core/src/commands/migrate/apply.rs
  CLI/crates/k1s0-core/src/commands/migrate/scanner.rs
  CLI/crates/k1s0-core/src/commands/migrate/types.rs
  CLI/crates/k1s0-core/src/commands/test_cmd.rs
  CLI/crates/k1s0-core/src/commands/validate/config_schema.rs
  CLI/crates/k1s0-core/src/commands/validate/navigation.rs
  CLI/crates/k1s0-core/src/config/mod.rs
  CLI/crates/k1s0-gui/src/auth_session.rs
  CLI/crates/k1s0-gui/src/commands.rs
  CLI/crates/k1s0-gui/src/lib.rs
  CLI/crates/k1s0-gui/ui/src/App.tsx
  CLI/crates/k1s0-gui/ui/src/lib/auth-provider.tsx
  CLI/crates/k1s0-gui/ui/src/lib/auth.tsx
  CLI/crates/k1s0-gui/ui/src/lib/tauri-commands.ts
  CLI/crates/k1s0-gui/ui/src/lib/workspace-provider.tsx
  CLI/crates/k1s0-gui/ui/src/lib/workspace.tsx
  CLI/crates/k1s0-gui/ui/src/pages/BuildPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DepsPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DevPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/GeneratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/InitPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/MigratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/TestPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/DevPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/GeneratePage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/MigratePage.test.tsx
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat(docker): Docker Compose設定の改善
  docs/architecture/api/proto設計.md
  docs/infrastructure/docker/compose-システムサービス設計.md
  docs/servers/auth/database.md
  docs/servers/config/database.md
  docs/servers/tenant/database.md
Due: none

feat: サービスカタログサーバーの実装設計とAPI定義を追加
  docs/cli/migration/テンプレートマイグレーション設計.md
  docs/diagrams/building-blocks-architecture.drawio
  docs/diagrams/building-blocks-architecture.svg
  docs/diagrams/building-blocks-component-model.drawio
  docs/diagrams/building-blocks-component-model.svg
  docs/diagrams/service-catalog-architecture.drawio
  docs/diagrams/service-catalog-architecture.svg
  docs/diagrams/service-catalog-data-pipeline.drawio
  docs/diagrams/service-catalog-data-pipeline.svg
  docs/diagrams/service-catalog-er.drawio
  docs/diagrams/service-catalog-er.svg
  docs/diagrams/template-migration-flow.drawio
  docs/diagrams/template-migration-flow.svg
  docs/diagrams/template-migration-three-way-merge.drawio
  docs/diagrams/template-migration-three-way-merge.svg
  docs/libraries/_common/building-blocks.md
  docs/libraries/auth-security/secret-store.md
  docs/libraries/config/binding.md
  docs/libraries/data/statestore.md
  docs/libraries/messaging/pubsub.md
  docs/servers/service-catalog/database.md
  docs/servers/service-catalog/deploy.md
  docs/servers/service-catalog/implementation.md
  docs/servers/service-catalog/server.md
Due: none

feat: Kialiデモ環境のリセットとフラグ管理機能を追加
  infra/demo/kiali/demo-service/__pycache__/server.cpython-310.pyc
  infra/demo/kiali/demo-service/server.py
  infra/demo/kiali/demo.ps1
  infra/demo/kiali/demo.sh
  infra/demo/kiali/manifests/01-stub-services.yaml
  infra/demo/kiali/manifests/02-istio.yaml
  infra/demo/kiali/manifests/02-virtualservices.yaml
  infra/demo/kiali/manifests/11-alertmanager.yaml
  infra/demo/kiali/manifests/12-flagger-canary.yaml
  infra/demo/kiali/manifests/13-fault-injection.yaml
  infra/demo/kiali/reset-demo-state.sh
  infra/demo/kiali/run-fault-cronjob.sh
  infra/demo/kiali/setup.ps1
  infra/demo/kiali/setup.sh
  infra/demo/kiali/start-flagger-rollout.sh
  infra/demo/kiali/teardown.ps1
  infra/demo/kiali/ui/server.ts
  infra/demo/kiali/ui/src/components/DashboardViewer.tsx
  infra/demo/kiali/ui/src/components/ScenarioPanel.tsx
  infra/demo/kiali/ui/src/components/StatusBar.tsx
Due: ts-lint, prettier

feat: コマンド実行の進捗表示機能を追加
  CLI/crates/k1s0-cli/src/commands/template_migrate.rs
  CLI/crates/k1s0-core/src/commands/build.rs
  CLI/crates/k1s0-core/src/commands/command_runner.rs
  CLI/crates/k1s0-core/src/commands/deploy.rs
  CLI/crates/k1s0-core/src/commands/init.rs
  CLI/crates/k1s0-core/src/commands/mod.rs
  CLI/crates/k1s0-core/src/commands/template_migrate/differ.rs
  CLI/crates/k1s0-core/src/commands/test_cmd.rs
  CLI/crates/k1s0-gui/ui/src/pages/GeneratePage.tsx
  docs/cli/gui/TauriGUI設計.md
  infra/demo/kiali/manifests/12-flagger-canary.yaml
  infra/demo/kiali/manifests/13-fault-injection.yaml
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: CorrelationId, TraceId, CorrelationContext, CorrelationHeadersの統合テストを追加
  .pre-commit-config.yaml
  CLI/crates/k1s0-core/src/commands/dev/migration.rs
  docs/architecture/conventions/コーディング規約.md
  docs/architecture/messaging/メッセージング設計.md
  docs/cli/codegen/イベントコード生成設計.md
  docs/cli/config/config-editor設計.md
  docs/cli/config/navigation設計.md
  docs/infrastructure/docker/Dockerイメージ戦略.md
  docs/infrastructure/docker/docker-compose設計.md
  docs/libraries/_common/building-blocks.md
  docs/libraries/auth-security/secret-store.md
  docs/libraries/codegen/client-sdk-generator.md
  docs/libraries/codegen/event-codegen.md
  docs/libraries/codegen/multi-language-sdk.md
  docs/libraries/config/binding.md
  docs/libraries/data/migration-evolution.md
  docs/libraries/data/statestore.md
  docs/libraries/messaging/pubsub.md
  docs/libraries/observability/telemetry-macros.md
  docs/servers/navigation/server.md
  docs/templates/engine/テンプレートエンジン仕様.md
  regions/system/library/dart/kafka/lib/src/topic.dart
  regions/system/library/dart/kafka/test/kafka_test.dart
  regions/system/library/go/kafka/kafka_test.go
  regions/system/library/go/kafka/topic.go
  regions/system/library/go/telemetry/logger.go
  regions/system/library/go/telemetry/telemetry_test.go
  regions/system/library/rust/auth/src/lib.rs
  regions/system/library/rust/auth/src/rbac.rs
  regions/system/library/rust/config/tests/config_load_test.rs
  regions/system/library/rust/correlation/tests/correlation_test.rs
  regions/system/library/rust/kafka/src/lib.rs
  regions/system/library/rust/kafka/src/topic.rs
  regions/system/library/rust/kafka/tests/topic_test.rs
  regions/system/library/rust/messaging/src/dlq.rs
  regions/system/library/rust/messaging/src/lib.rs
  regions/system/library/typescript/kafka/__tests__/kafka.test.ts
  regions/system/library/typescript/kafka/src/index.ts
  regions/system/server/rust/auth/src/adapter/middleware/auth.rs
  regions/system/server/rust/config/src/adapter/middleware/auth.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

fix: ComponentErrorのthrowをconstに変更
  regions/system/library/dart/building_blocks/lib/src/config.dart
  regions/system/library/dart/file_client/test/s3_client_test.dart
Due: dart-analyze, dart-format

feat: テストケースを追加し、カテゴリとアイテムの管理機能を強化
  regions/business/accounting/server/rust/domain-master/src/usecase/get_item_versions.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_categories.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_tenant_extensions.rs
Due: rust-fmt, rust-clippy

feat: サービスカタログ、テナント、バルクの設定管理を追加
  regions/system/server/rust/app-registry/src/infrastructure/config.rs
  regions/system/server/rust/app-registry/src/infrastructure/mod.rs
  regions/system/server/rust/app-registry/src/main.rs
  regions/system/server/rust/auth/src/infrastructure/config.rs
  regions/system/server/rust/auth/src/infrastructure/mod.rs
  regions/system/server/rust/auth/src/main.rs
  regions/system/server/rust/service-catalog/src/infrastructure/config.rs
  regions/system/server/rust/service-catalog/src/infrastructure/mod.rs
  regions/system/server/rust/service-catalog/src/main.rs
  regions/system/server/rust/tenant/src/infrastructure/config.rs
  regions/system/server/rust/tenant/src/infrastructure/mod.rs
  regions/system/server/rust/tenant/src/main.rs
  regions/system/server/rust/vault/src/infrastructure/config.rs
  regions/system/server/rust/vault/src/infrastructure/mod.rs
  regions/system/server/rust/vault/src/main.rs
Due: rust-fmt, rust-clippy

feat: ナビゲーションとサービスカタログのクエリおよびミューテーションを追加
  regions/system/server/rust/event-monitor/src/usecase/delete_flow.rs
  regions/system/server/rust/event-monitor/src/usecase/execute_replay.rs
  regions/system/server/rust/event-monitor/src/usecase/get_flow.rs
  regions/system/server/rust/event-monitor/src/usecase/get_flow_instance.rs
  regions/system/server/rust/event-monitor/src/usecase/get_flow_instances.rs
  regions/system/server/rust/event-monitor/src/usecase/get_flow_kpi.rs
  regions/system/server/rust/event-monitor/src/usecase/get_kpi_summary.rs
  regions/system/server/rust/event-monitor/src/usecase/get_slo_burn_rate.rs
  regions/system/server/rust/event-monitor/src/usecase/get_slo_status.rs
  regions/system/server/rust/event-monitor/src/usecase/list_events.rs
  regions/system/server/rust/event-monitor/src/usecase/list_flows.rs
  regions/system/server/rust/event-monitor/src/usecase/preview_replay.rs
  regions/system/server/rust/event-monitor/src/usecase/trace_by_correlation.rs
  regions/system/server/rust/event-monitor/src/usecase/update_flow.rs
  regions/system/server/rust/graphql-gateway/build.rs
  regions/system/server/rust/graphql-gateway/src/adapter/graphql_handler.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/catalog_service.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/mod.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/navigation.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/payload.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/config/mod.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/mod.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/navigation_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/service_catalog_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/startup.rs
  regions/system/server/rust/graphql-gateway/src/usecase/mod.rs
  regions/system/server/rust/graphql-gateway/src/usecase/navigation_query.rs
  regions/system/server/rust/graphql-gateway/src/usecase/service_catalog_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/service_catalog_query.rs
  regions/system/server/rust/graphql-gateway/tests/usecase_test.rs
Due: rust-fmt, rust-clippy

feat: GraphQL Gatewayの認証、通知、スケジューリング、ボールト、ワークフロー機能を追加
  docs/servers/event-monitor/server.md
  docs/servers/graphql-gateway/implementation.md
  docs/servers/graphql-gateway/server.md
  regions/system/server/rust/graphql-gateway/build.rs
  regions/system/server/rust/graphql-gateway/src/adapter/graphql_handler.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/auth.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/mod.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/notification.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/payload.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/scheduler.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/session.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/vault.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/workflow.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/config/mod.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/auth_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/mod.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/notification_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/scheduler_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/session_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/vault_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/workflow_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/startup.rs
  regions/system/server/rust/graphql-gateway/src/usecase/auth_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/auth_query.rs
  regions/system/server/rust/graphql-gateway/src/usecase/mod.rs
  regions/system/server/rust/graphql-gateway/src/usecase/notification_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/notification_query.rs
  regions/system/server/rust/graphql-gateway/src/usecase/scheduler_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/scheduler_query.rs
  regions/system/server/rust/graphql-gateway/src/usecase/session_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/session_query.rs
  regions/system/server/rust/graphql-gateway/src/usecase/vault_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/vault_query.rs
  regions/system/server/rust/graphql-gateway/src/usecase/workflow_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/workflow_query.rs
Due: rust-fmt, rust-clippy

feat: GraphQL Gatewayに認証、セッション、ボールト、スケジューラー、通知、ワークフロー機能を追加
  docs/servers/event-monitor/server.md
  docs/servers/graphql-gateway/implementation.md
  docs/servers/graphql-gateway/server.md
Due: none

feat: gRPCクライアントの追加
  docs/servers/graphql-gateway/implementation.md
  docs/servers/graphql-gateway/server.md
Due: none

feat: GraphQL Gatewayにナビゲーション、サービスカタログ、認証、セッション、ボールト、スケジューラー、通知、ワークフローサービスのgRPCエンドポイントを追加
  docs/servers/event-monitor/server.md
  docs/servers/graphql-gateway/server.md
Due: none

feat: GatewayClientsとGatewayResolversを使用してrouter関数の引数を整理
  docs/servers/graphql-gateway/implementation.md
Due: none

feat: GraphQL Gatewayに新しいgRPCエンドポイントを追加
  docs/servers/graphql-gateway/implementation.md
  docs/servers/graphql-gateway/server.md
Due: none

feat: GraphQL Gatewayに新しいgRPCエンドポイントを追加
  docs/servers/graphql-gateway/implementation.md
Due: none

feat: /readyzエンドポイントのバックエンド疎通確認対象を拡張
  docs/servers/graphql-gateway/implementation.md
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
