Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

feat: Paymentサービスのアラートに関するRunbookを追加
  .github/workflows/_build.yaml
  docs/architecture/observability/runbooks/services/payment.md
Due: prettier

feat: OrderサービスのアラートRunbookを追加
  docs/architecture/observability/runbooks/services/order.md
Due: none

feat: サービス固有のRunbook一覧を追加
  docs/architecture/observability/runbooks/README.md
Due: none

feat: バックアップ検証ワークフローと関連スクリプトの追加
  .github/workflows/_test.yaml
  .github/workflows/backup-verification.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  docker-compose.dev.yaml
  docker-compose.yaml
  regions/service/inventory/database/postgres/migrations/007_create_inventory_reservations.down.sql
  regions/service/inventory/database/postgres/migrations/007_create_inventory_reservations.up.sql
  regions/service/inventory/server/rust/inventory/src/domain/entity/inventory_reservation.rs
  regions/service/inventory/server/rust/inventory/src/domain/entity/mod.rs
  regions/service/inventory/server/rust/inventory/src/domain/repository/inventory_repository.rs
  regions/service/inventory/server/rust/inventory/src/infrastructure/database/inventory_repository.rs
  regions/system/library/rust/messaging/src/dlq.rs
  regions/system/server/rust/api-registry/src/domain/service/api_registry_service.rs
  regions/system/server/rust/graphql-gateway/config/config.yaml
  scripts/verify-backup-restore.sh
Due: rust-fmt, rust-clippy, prettier

feat: 在庫予約機能の追加と補償トランザクションの実装
  regions/service/inventory/server/rust/inventory/src/infrastructure/database/inventory_repository.rs
Due: rust-fmt, rust-clippy

feat: 在庫予約機能の追加と補償トランザクションの実装
  docs/servers/service/inventory/database.md
  regions/service/inventory/server/rust/inventory/src/usecase/handle_order_event.rs
  regions/service/inventory/server/rust/inventory/tests/integration_test.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/error.rs
  regions/system/server/rust/master-maintenance/src/domain/error.rs
Due: rust-fmt, rust-clippy

feat: inventory_reservationsテーブルの追加とマイグレーションの拡張
  docs/servers/service/inventory/database.md
Due: none

feat: 在庫予約エンティティの追加
  docs/servers/service/inventory/implementation.md
Due: none

feat: CRUD操作の改善とエラーハンドリングの強化
  regions/system/server/rust/master-maintenance/src/usecase/crud_records.rs
Due: rust-fmt, rust-clippy

feat: TypeScriptライブラリをworkspaceに追加し、テスト環境用のコンストラクタを実装
  .github/workflows/_test.yaml
  .github/workflows/security.yaml
  README.md
  docker-compose.yaml
  docs/architecture/adr/0007-saga-compensation-inventory-reservations.md
  docs/infrastructure/cicd/CI-CD設計.md
  docs/servers/service/inventory/implementation.md
  pnpm-workspace.yaml
  regions/system/server/rust/app-registry/src/adapter/repository/app_postgres.rs
  regions/system/server/rust/app-registry/src/adapter/repository/download_stats_postgres.rs
  regions/system/server/rust/app-registry/src/adapter/repository/version_postgres.rs
  regions/system/server/rust/auth/src/domain/entity/mod.rs
  regions/system/server/rust/auth/src/domain/entity/role.rs
  regions/system/server/rust/event-monitor/build.rs
  regions/system/server/rust/event-monitor/src/infrastructure/dlq_client.rs
  regions/system/server/rust/event-monitor/src/infrastructure/startup.rs
  regions/system/server/rust/event-monitor/src/proto/mod.rs
  regions/system/server/rust/master-maintenance/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/error.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/mod.rs
  regions/system/server/rust/master-maintenance/src/domain/error.rs
  regions/system/server/rust/master-maintenance/src/usecase/crud_records.rs
  regions/system/server/rust/master-maintenance/src/usecase/manage_table_definitions.rs
  scripts/check-modules-consistency.sh
  scripts/check-tier-deps.sh
  scripts/coverage.sh
  scripts/detect-affected-modules.sh
  scripts/generate-event-codegen.sh
  scripts/generate-module-status.sh
  scripts/list-modules.sh
  scripts/pin-docker-digests.sh
Due: rust-fmt, rust-clippy, prettier

feat: DLQ Managerクライアントの接続設定を改善
  regions/system/server/rust/event-monitor/src/infrastructure/config.rs
  regions/system/server/rust/event-monitor/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

feat: DLQ Manager設定の接続パラメータを明確化
  docs/architecture/adr/0008-jwt-key-rotation.md
  regions/system/server/rust/event-monitor/src/infrastructure/config.rs
Due: rust-fmt, rust-clippy

feat: 決済開始入力のバリデーションを強化
  regions/service/payment/server/rust/payment/src/domain/service/payment_service.rs
Due: rust-fmt, rust-clippy

feat: 冪等性チェックの強化とエラーハンドリングの追加
  regions/service/payment/server/rust/payment/src/usecase/initiate_payment.rs
Due: rust-fmt, rust-clippy

feat: 決済開始入力のバリデーションテストを追加
  docs/architecture/adr/0009-auth-navigation-boundary.md
  regions/service/payment/server/rust/payment/src/domain/service/payment_service.rs
Due: rust-fmt, rust-clippy

feat: 冪等性チェックのテストを追加
  infra/terraform/modules/vault/auth.tf
  regions/service/payment/server/rust/payment/src/usecase/initiate_payment.rs
Due: rust-fmt, rust-clippy

feat: トークンの最大有効期限を24時間に制限
  .github/workflows/deploy.yaml
  docs/infrastructure/kafka-sasl-ssl.md
  infra/terraform/modules/vault/auth.tf
  scripts/check-library-parity.sh
Due: prettier

feat: Kubernetes ResourceQuotaの環境別設定を追加
  infra/kubernetes/resource-quotas/namespace-quotas.yaml
Due: prettier

feat: 各種設定とテストの改善
  .pre-commit-config.yaml
  docs/architecture/overview/maturity-levels.md
  infra/kong/plugins/auth.yaml
  regions/system/server/rust/auth/tests/integration_test.rs
Due: rust-fmt, rust-clippy, prettier

feat: E2E テストの並列ワーカー数を CI 環境で 4 に設定
  tests/e2e/playwright.config.ts
Due: ts-lint, prettier

feat: 認証エラーメッセージを日本語に変更
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/category_handler.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/item_handler.rs
Due: rust-fmt, rust-clippy

feat: アイテム取得ハンドラーのエラーメッセージを日本語に変更
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/item_handler.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/tenant_client.rs
Due: rust-fmt, rust-clippy

feat: テナントハンドラーのエラーメッセージを日本語に変更
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/tenant_handler.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/feature_flag_client.rs
Due: rust-fmt, rust-clippy

feat: マルチテナント対応のためのテーブルとRLSポリシーの追加
  docs/architecture/adr/README.md
  docs/architecture/multi-tenancy.md
  docs/servers/_common/Go共通実装.md
  docs/servers/business/domain-master/server.md
  regions/business/accounting/server/rust/domain-master/src/domain/error.rs
  regions/service/inventory/database/postgres/migrations/008_add_tenant_id_and_rls.down.sql
  regions/service/inventory/database/postgres/migrations/008_add_tenant_id_and_rls.up.sql
  regions/service/order/database/postgres/migrations/009_add_tenant_id_and_rls.down.sql
  regions/service/order/database/postgres/migrations/009_add_tenant_id_and_rls.up.sql
  regions/service/payment/database/postgres/migrations/007_add_tenant_id_and_rls.down.sql
  regions/service/payment/database/postgres/migrations/007_add_tenant_id_and_rls.up.sql
  regions/service/payment/server/rust/payment/src/usecase/handle_order_event.rs
Due: rust-fmt, rust-clippy

feat: 決済操作に関する Kafka Consumer の機能強化
  regions/service/payment/server/rust/payment/src/infrastructure/kafka/payment_consumer.rs
  regions/service/payment/server/rust/payment/src/usecase/handle_order_event.rs
Due: rust-fmt, rust-clippy

feat: テスト用のモックリポジトリを追加し、失敗処理用のユースケースを統合
  regions/service/payment/server/rust/payment/src/infrastructure/kafka/payment_consumer.rs
Due: rust-fmt, rust-clippy

feat: order.cancelled トピックの処理に関するテストを追加
  regions/service/payment/server/rust/payment/src/infrastructure/kafka/payment_consumer.rs
Due: rust-fmt, rust-clippy

feat: order.cancelled トピックを追加
  regions/service/payment/server/rust/payment/src/infrastructure/config.rs
Due: rust-fmt, rust-clippy

feat: order.cancelled トピックのデフォルト名を追加
  regions/service/payment/server/rust/payment/src/infrastructure/config.rs
Due: rust-fmt, rust-clippy

feat: order.created と order.cancelled を購読して決済を開始・中断する機能を追加
  regions/service/payment/server/rust/payment/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

feat: テスト戦略とモックの統一ガイドラインを追加
  docs/architecture/conventions/testing-strategy.md
  regions/service/payment/server/rust/payment/config/default.yaml
  regions/system/library/rust/codegen/src/event_codegen/generator.rs
Due: rust-fmt, rust-clippy, prettier

feat: レートリミット戦略のドキュメントを追加し、Kongを単一の管理主体として明記
  docs/architecture/overview/module-status.md
  docs/infrastructure/rate-limiting-strategy.md
  infra/helm/services/system/kong/values-prod.yaml
  infra/istio/virtual-service.yaml
  infra/terraform/modules/vault/auth.tf
  regions/service/payment/server/rust/payment/src/domain/error.rs
  regions/service/payment/server/rust/payment/src/usecase/initiate_payment.rs
  regions/system/library/go/binding/binding.go
  regions/system/library/go/building-blocks/file_binding.go
  regions/system/library/rust/bb-secretstore/src/vault.rs
  regions/system/server/rust/auth/tests/grpc_integration_test.rs
Due: go-lint, rust-fmt, rust-clippy, prettier

feat: 決済リポジトリのエラーハンドリングを改善
  regions/service/payment/server/rust/payment/src/infrastructure/database/payment_repository.rs
  regions/service/payment/server/rust/payment/src/usecase/initiate_payment.rs
Due: rust-fmt, rust-clippy

feat: anyhowのコンテキストを追加
  regions/service/payment/server/rust/payment/src/infrastructure/config.rs
Due: rust-fmt, rust-clippy

fix: テレメトリ初期化とシャットダウンシグナルのエラーハンドリングを改善
  regions/service/payment/server/rust/payment/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

feat: 冪等性違反のエラーハンドリングを追加
  regions/service/payment/server/rust/payment/src/adapter/grpc/payment_grpc.rs
Due: rust-fmt, rust-clippy

fix: テレメトリ初期化とシャットダウンシグナルのエラーハンドリングを改善
  regions/service/payment/server/rust/payment/src/infrastructure/startup.rs
  regions/service/payment/server/rust/payment/src/usecase/handle_order_event.rs
Due: rust-fmt, rust-clippy

feat: デフォルトのgRPCおよびHTTP/RESTポート番号を追加
  regions/system/library/rust/server-common/src/lib.rs
Due: rust-fmt, rust-clippy
