Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

docs(knowledge/framework): .NET MAUI 概要 Knowledge を新規追加（アーキテクチャ / クロスプラットフォーム配信 drawio 2 枚）
  docs/90_knowledge/framework/img/maui_basics_architecture.drawio
  docs/90_knowledge/framework/img/maui_basics_architecture.svg
  docs/90_knowledge/framework/img/maui_basics_deployment.drawio
  docs/90_knowledge/framework/img/maui_basics_deployment.svg
  docs/90_knowledge/framework/maui_basics.md
Due: none

docs(knowledge/language): Dart 概要 Knowledge を新規追加（コンパイルパイプライン / 非同期モデル drawio 2 枚）
  docs/90_knowledge/language/dart_basics.md
  docs/90_knowledge/language/img/dart_basics_async.drawio
  docs/90_knowledge/language/img/dart_basics_async.svg
  docs/90_knowledge/language/img/dart_basics_compilation.drawio
  docs/90_knowledge/language/img/dart_basics_compilation.svg
Due: none

docs(knowledge/language): TypeScript 概要 Knowledge を新規追加（コンパイルフロー / 階層構造 drawio 2 枚）
  docs/90_knowledge/language/img/typescript_basics_compilation.drawio
  docs/90_knowledge/language/img/typescript_basics_compilation.svg
  docs/90_knowledge/language/img/typescript_basics_type-system.drawio
  docs/90_knowledge/language/img/typescript_basics_type-system.svg
  docs/90_knowledge/language/typescript_basics.md
Due: none

docs(knowledge/framework): Flutter 概要 Knowledge を新規追加（アーキテクチャ / 3 ツリーモデル drawio 2 枚）
  docs/90_knowledge/framework/flutter_basics.md
  docs/90_knowledge/framework/img/flutter_basics_architecture.drawio
  docs/90_knowledge/framework/img/flutter_basics_architecture.svg
  docs/90_knowledge/framework/img/flutter_basics_three-trees.drawio
  docs/90_knowledge/framework/img/flutter_basics_three-trees.svg
Due: none

docs(knowledge/protocol): HOL ブロッキング 概要 Knowledge を新規追加（発生 3 層 / 解消アプローチ drawio 2 枚）
  docs/90_knowledge/protocol/hol-blocking_basics.md
  docs/90_knowledge/protocol/img/hol-blocking_basics_layers.drawio
  docs/90_knowledge/protocol/img/hol-blocking_basics_layers.svg
  docs/90_knowledge/protocol/img/hol-blocking_basics_mitigation.drawio
  docs/90_knowledge/protocol/img/hol-blocking_basics_mitigation.svg
Due: none

docs(knowledge/protocol): TOML 概要 Knowledge を新規追加（型分類 / JSON・YAML 比較 drawio 2 枚）
  docs/90_knowledge/README.md
  docs/90_knowledge/protocol/img/toml_basics_comparison.drawio
  docs/90_knowledge/protocol/img/toml_basics_comparison.svg
  docs/90_knowledge/protocol/img/toml_basics_types.drawio
  docs/90_knowledge/protocol/img/toml_basics_types.svg
  docs/90_knowledge/protocol/toml_basics.md
Due: none

feat(tier1/rust): Audit / PII / Decision の 3 Rust サービスを実動状態に実装
  docs/90_knowledge/README.md
  docs/90_knowledge/architecture/img/onion-architecture_basics_dependency.drawio
  docs/90_knowledge/architecture/img/onion-architecture_basics_dependency.svg
  docs/90_knowledge/architecture/img/onion-architecture_basics_layers.drawio
  docs/90_knowledge/architecture/img/onion-architecture_basics_layers.svg
  docs/90_knowledge/architecture/onion-architecture_basics.md
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/store.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/lib.rs
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/decision/src/registry.rs
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/lib.rs
  src/tier1/rust/crates/pii/src/main.rs
  src/tier1/rust/crates/pii/src/masker.rs
Due: rust-fmt, rust-clippy

docs(knowledge/architecture): レイヤードアーキテクチャ 基本 Knowledge を新規追加（4 層構造 / Closed vs Open drawio 2 枚）
  docs/90_knowledge/README.md
  docs/90_knowledge/architecture/img/layered-architecture_basics_layer-isolation.drawio
  docs/90_knowledge/architecture/img/layered-architecture_basics_layer-isolation.svg
  docs/90_knowledge/architecture/img/layered-architecture_basics_layers.drawio
  docs/90_knowledge/architecture/img/layered-architecture_basics_layers.svg
  docs/90_knowledge/architecture/layered-architecture_basics.md
Due: none

docs(knowledge/language): Swift 概要 Knowledge を新規追加（コンパイルパイプライン / 値型と参照型 drawio 2 枚）
  docs/90_knowledge/language/img/swift_basics_compilation.drawio
  docs/90_knowledge/language/img/swift_basics_compilation.svg
  docs/90_knowledge/language/img/swift_basics_value-vs-reference.drawio
  docs/90_knowledge/language/img/swift_basics_value-vs-reference.svg
  docs/90_knowledge/language/swift_basics.md
Due: none

feat(tier1/state,pubsub): BulkGet / Transact / BulkPublish を実装、Unimplemented を解消
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/state.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_test.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/state_test.go
Due: go-lint

docs(knowledge/other): メタデータ 概要 Knowledge を新規追加（NISO 3 大分類 / 本体データとの関係 drawio 2 枚）
  docs/90_knowledge/README.md
  docs/90_knowledge/other/img/metadata_basics_categories.drawio
  docs/90_knowledge/other/img/metadata_basics_categories.svg
  docs/90_knowledge/other/img/metadata_basics_relation.drawio
  docs/90_knowledge/other/img/metadata_basics_relation.svg
  docs/90_knowledge/other/metadata_basics.md
Due: none

feat(tier1/pubsub,invoke): Subscribe / InvokeStream の streaming RPC を実装、Unimplemented 全消化
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/pubsub.go
  src/tier1/go/internal/adapter/dapr/pubsub_test.go
  src/tier1/go/internal/adapter/dapr/state_test.go
  src/tier1/go/internal/state/dapr_handlers_test.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_test.go
Due: go-lint

docs(knowledge/tool): Dockerfile 概要 Knowledge を新規追加（パイプライン / レイヤキャッシュ drawio 2 枚）
  docs/90_knowledge/tool/dockerfile_basics.md
  docs/90_knowledge/tool/img/dockerfile_basics_layer-cache.drawio
  docs/90_knowledge/tool/img/dockerfile_basics_layer-cache.svg
  docs/90_knowledge/tool/img/dockerfile_basics_pipeline.drawio
  docs/90_knowledge/tool/img/dockerfile_basics_pipeline.svg
Due: none

docs(knowledge/tool): README に dockerfile_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

docs(knowledge/other): 生成 AI トークン 概要 Knowledge を新規追加（トークン化パイプライン / コンテキストウィンドウ消費 drawio 2 枚）
  docs/90_knowledge/other/generative-ai_token.md
  docs/90_knowledge/other/img/generative-ai_token_context-window.drawio
  docs/90_knowledge/other/img/generative-ai_token_context-window.svg
  docs/90_knowledge/other/img/generative-ai_token_pipeline.drawio
  docs/90_knowledge/other/img/generative-ai_token_pipeline.svg
Due: none

docs(knowledge/other): README に generative-ai_token エントリを追加
  docs/90_knowledge/README.md
Due: none

docs(knowledge/infra): Proxy 概要 Knowledge を新規追加（Forward vs Reverse / Reverse Proxy 機能パイプライン drawio 2 枚）
  docs/90_knowledge/infra/img/proxy_basics_forward-vs-reverse.drawio
  docs/90_knowledge/infra/img/proxy_basics_forward-vs-reverse.svg
  docs/90_knowledge/infra/img/proxy_basics_reverse-functions.drawio
  docs/90_knowledge/infra/img/proxy_basics_reverse-functions.svg
  docs/90_knowledge/infra/proxy_basics.md
Due: none

docs(knowledge/infra): README に proxy_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

fix(docs): 台帳と 3 マトリクスの整合を完全化、trace-check 全 PASS
  docs/05_実装/99_索引/00_IMP-ID一覧/01_IMP-ID台帳_全12接頭辞.md
  docs/05_実装/99_索引/10_ADR対応表/01_ADR-IMP対応マトリクス.md
  docs/05_実装/99_索引/20_DS-SW-COMP対応表/01_DS-SW-COMP-IMP対応マトリクス.md
  docs/05_実装/99_索引/30_NFR対応表/01_NFR-IMP対応マトリクス.md
Due: none

docs(knowledge/protocol): API 基本 Knowledge を新規追加（契約モデル / 3 スコープ drawio 2 枚）
  docs/90_knowledge/protocol/api_basics.md
  docs/90_knowledge/protocol/img/api_basics_contract.drawio
  docs/90_knowledge/protocol/img/api_basics_contract.svg
  docs/90_knowledge/protocol/img/api_basics_scopes.drawio
  docs/90_knowledge/protocol/img/api_basics_scopes.svg
Due: none

docs(knowledge/protocol): README に api_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

docs(knowledge/protocol): MCP 概要 Knowledge を新規追加（参加者構造 / JSON-RPC ライフサイクル drawio 2 枚）
  docs/90_knowledge/protocol/img/mcp_basics_architecture.drawio
  docs/90_knowledge/protocol/img/mcp_basics_architecture.svg
  docs/90_knowledge/protocol/img/mcp_basics_lifecycle.drawio
  docs/90_knowledge/protocol/img/mcp_basics_lifecycle.svg
  docs/90_knowledge/protocol/mcp_basics.md
Due: none

docs(knowledge/protocol): README に mcp_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

docs(knowledge/protocol): JWT 基本 Knowledge を新規追加（3 部構成 / 発行検証フロー drawio 2 枚）
  docs/90_knowledge/protocol/img/jwt_basics_flow.drawio
  docs/90_knowledge/protocol/img/jwt_basics_flow.svg
  docs/90_knowledge/protocol/img/jwt_basics_structure.drawio
  docs/90_knowledge/protocol/img/jwt_basics_structure.svg
  docs/90_knowledge/protocol/jwt_basics.md
Due: none

docs(knowledge/protocol): README に jwt_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

docs(knowledge/framework): Gin 概要 Knowledge を新規追加（コンポーネント構成 / リクエスト処理フロー drawio 2 枚）
  docs/90_knowledge/framework/gin_basics.md
  docs/90_knowledge/framework/img/gin_basics_architecture.drawio
  docs/90_knowledge/framework/img/gin_basics_architecture.svg
  docs/90_knowledge/framework/img/gin_basics_request-flow.drawio
  docs/90_knowledge/framework/img/gin_basics_request-flow.svg
Due: none

docs(knowledge/framework): README に gin_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

docs(knowledge/library): Tokio 基本 Knowledge を新規追加（runtime / lifecycle drawio 2 枚）
  docs/90_knowledge/library/img/tokio_basics_lifecycle.drawio
  docs/90_knowledge/library/img/tokio_basics_lifecycle.svg
  docs/90_knowledge/library/img/tokio_basics_runtime.drawio
  docs/90_knowledge/library/img/tokio_basics_runtime.svg
  docs/90_knowledge/library/tokio_basics.md
Due: none

docs(knowledge/library): README に tokio_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

docs(knowledge/framework): Axum 概要 Knowledge を新規追加（依存スタック / リクエスト処理フロー drawio 2 枚）
  docs/90_knowledge/framework/axum_basics.md
  docs/90_knowledge/framework/img/axum_basics_request-flow.drawio
  docs/90_knowledge/framework/img/axum_basics_request-flow.svg
  docs/90_knowledge/framework/img/axum_basics_stack.drawio
  docs/90_knowledge/framework/img/axum_basics_stack.svg
Due: none

docs(knowledge/framework): README に axum_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

feat(tier1/go): cmd 三 Pod を skeleton から実動状態に昇格、in-memory backend で外部依存ゼロ起動を保証
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/adapter/dapr/inmemory.go
  src/tier1/go/internal/adapter/openbao/inmemory.go
  src/tier1/go/internal/adapter/openbao/lister.go
  src/tier1/go/internal/adapter/openbao/openbao.go
  src/tier1/go/internal/adapter/openbao/secrets.go
  src/tier1/go/internal/adapter/temporal/inmemory.go
  src/tier1/go/internal/otel/stdout.go
  src/tier1/go/internal/secret/integration_test.go
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/secret/register_test.go
  src/tier1/go/internal/state/inmemory_dapr_integration_test.go
  src/tier1/go/internal/state/log_telemetry_integration_test.go
  src/tier1/go/internal/workflow/integration_test.go
Due: go-lint

docs(knowledge/framework): Next.js 概要 Knowledge を新規追加（レンダリング戦略 / App Router マッピング drawio 2 枚）
  docs/90_knowledge/framework/img/nextjs_basics_rendering.drawio
  docs/90_knowledge/framework/img/nextjs_basics_rendering.svg
  docs/90_knowledge/framework/img/nextjs_basics_routing.drawio
  docs/90_knowledge/framework/img/nextjs_basics_routing.svg
  docs/90_knowledge/framework/nextjs_basics.md
Due: none

docs(knowledge/framework): README に nextjs_basics エントリを追加
  docs/90_knowledge/README.md
Due: none

feat(tier1/decision): ZEN Engine 統合で ADR-RULE-001 に準拠（evalexpr 撤去）
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/decision/src/registry.rs
Due: rust-fmt, rust-clippy

feat(tier1/rust): 3 Rust Pod に LISTEN_ADDR 環境変数 override を追加
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/pii/src/main.rs
Due: rust-fmt, rust-clippy

feat(tier1/audit): VerifyChain RPC を追加し FR-T1-AUDIT-002 を充足
  src/contracts/tier1/k1s0/tier1/audit/v1/audit_service.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/AuditService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/AuditServiceGrpc.cs
  src/sdk/go/proto/v1/k1s0/tier1/audit/v1/audit_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/audit/v1/audit_service_grpc.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.audit.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.audit.v1.tonic.rs
  src/sdk/typescript/src/proto/k1s0/tier1/audit/v1/audit_service_connect.ts
  src/sdk/typescript/src/proto/k1s0/tier1/audit/v1/audit_service_pb.ts
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/store.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat(tier1/secret): GetDynamic RPC を追加し FR-T1-SECRETS-002 を充足
  src/contracts/tier1/k1s0/tier1/secrets/v1/secrets_service.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/SecretsService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/SecretsServiceGrpc.cs
  src/sdk/go/proto/v1/k1s0/tier1/secrets/v1/secrets_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/secrets/v1/secrets_service_grpc.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.secrets.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.secrets.v1.tonic.rs
  src/sdk/typescript/src/proto/k1s0/tier1/secrets/v1/secrets_service_connect.ts
  src/sdk/typescript/src/proto/k1s0/tier1/secrets/v1/secrets_service_pb.ts
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/internal/adapter/openbao/dynamic.go
  src/tier1/go/internal/adapter/openbao/dynamic_test.go
  src/tier1/go/internal/secret/register.go
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat(tier1/secret): 30 秒 TTL の Get キャッシュ層を追加（FR-T1-SECRETS-001）
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/internal/adapter/openbao/cache.go
  src/tier1/go/internal/adapter/openbao/cache_test.go
Due: go-lint

docs(knowledge/infra): Kubernetes Namespace 概論 Knowledge を新規追加
  docs/90_knowledge/README.md
  docs/90_knowledge/infra/img/kubernetes_namespace_dns.drawio
  docs/90_knowledge/infra/img/kubernetes_namespace_dns.svg
  docs/90_knowledge/infra/img/kubernetes_namespace_overview.drawio
  docs/90_knowledge/infra/img/kubernetes_namespace_overview.svg
  docs/90_knowledge/infra/kubernetes_namespace.md
Due: none
