Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

chore(security): SPIRE umbrella chart install + Kyverno spire-* namespace 例外追加 (ADR-SEC-003)
  docs/SHIP_STATUS.md
  infra/security/kyverno/baseline-policies.yaml
Due: prettier

build(examples): tier2-go-service Dockerfile を repo-root context に対応 + go 1.25 化
  docs/SHIP_STATUS.md
  examples/tier2-go-service/Dockerfile
  examples/tier2-go-service/go.mod
  examples/tier2-go-service/go.sum
Due: none

fix(tier1): Rust HTTP gateway 405 / timestamp 直列化 + secret NotFound translation の 3 種類の bug
  src/tier1/go/internal/adapter/openbao/secrets.go
  src/tier1/rust/Cargo.toml
  src/tier1/rust/crates/audit/src/http.rs
  src/tier1/rust/crates/common/Cargo.toml
  src/tier1/rust/crates/common/src/http_gateway.rs
  src/tier1/rust/crates/common/src/lib.rs
  src/tier1/rust/crates/common/src/timestamp.rs
Due: go-lint, rust-fmt, rust-clippy

fix(sdk/dotnet)+infra(envoy-grpcweb): SDK 4 言語 E2E 検証で発覚した build / 経路 bug を修正
  infra/mesh/envoy-grpcweb/README.md
  infra/mesh/envoy-grpcweb/configmap.yaml
  infra/mesh/envoy-grpcweb/deployment.yaml
  infra/mesh/envoy-grpcweb/service.yaml
  src/sdk/dotnet/src/K1s0.Sdk.Proto/K1s0.Sdk.Proto.csproj
Due: prettier

test(audit): VerifyChain RPC の first_bad_sequence + 削除検知ケースを追加 (NFR-H-INT-001/002)
  src/tier1/rust/crates/audit/src/store.rs
Due: rust-fmt, rust-clippy

fix(tier1/pubsub): BulkPublish が docs §「PubSub API」の partial success 仕様に違反していた
  src/tier1/go/internal/state/pubsub.go
Due: go-lint

chore(gitops)+infra: gitea local stack + Argo CD AppProject sourceRepos 追加で 3 環境 Synced/Healthy 検証
  infra/gitops/local-stack/README.md
  infra/gitops/local-stack/argocd-repo-secret.yaml
  infra/gitops/local-stack/gitea-deployment.yaml
  infra/gitops/local-stack/gitea-service.yaml
  infra/security/kyverno/baseline-policies.yaml
Due: prettier

feat(security): Kyverno ImageVerify (cosign keyed) policy + local registry IaC を追加 (F6)
  infra/registry/local/README.md
  infra/registry/local/deployment.yaml
  infra/registry/local/service.yaml
  infra/security/kyverno/baseline-policies.yaml
  infra/security/kyverno/image-verify.yaml
Due: prettier

feat(sdk-go): Feature.EvaluateXxxWithDefault を追加 (NFR-A-CONT-006)
  src/sdk/go/k1s0/feature.go
Due: go-lint

docs(SHIP_STATUS): F1〜F10 検証実績 (10 領域) + 9 種類の bug 修正の総括を追加 + ADR ref typo 修正
  docs/SHIP_STATUS.md
  infra/mesh/envoy-grpcweb/README.md
Due: none

fix(tier1): Decision.RegisterRule の empty input + State.Set new_etag 不在 の 2 bug
  src/tier1/go/internal/adapter/dapr/state.go
  src/tier1/go/internal/adapter/dapr/state_test.go
  src/tier1/rust/crates/decision/src/http.rs
Due: go-lint, rust-fmt, rust-clippy

fix(tier1/state)!: cross-tenant boundary violation を handler 段で二重防御 (NFR-E-AC-003)
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/state/context.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/feature_admin.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/log.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/telemetry.go
Due: go-lint

docs(knowledge/infra): kind クラスタアーキテクチャ + Postgres 展開例を追加
  docs/90_knowledge/infra/img/kind_architecture_overview.drawio
  docs/90_knowledge/infra/img/kind_architecture_overview.svg
  docs/90_knowledge/infra/kind_architecture.md
Due: none

docs(knowledge/infra): kind 基本 (概要・他解との比較) を追加
  docs/90_knowledge/infra/img/kind_basics_comparison.drawio
  docs/90_knowledge/infra/img/kind_basics_comparison.svg
  docs/90_knowledge/infra/kind_basics.md
Due: none

feat(tier1/audit): PostgresAuditStore で WORM 永続化 (NFR-H-INT-001 / DS-SW-COMP-007)
  src/tier1/rust/Cargo.toml
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/postgres_store.rs
  src/tier1/rust/crates/audit/src/store.rs
Due: rust-fmt, rust-clippy

docs(SHIP_STATUS): G1〜G10 検証実績 (10 領域) + 4 種類の bug 修正の総括を追加
  docs/SHIP_STATUS.md
Due: none

docs(knowledge/infra): kind と Kubernetes プロジェクトの関係を追加
  docs/90_knowledge/infra/img/kind_kubernetes-relationship_overview.drawio
  docs/90_knowledge/infra/img/kind_kubernetes-relationship_overview.svg
  docs/90_knowledge/infra/kind_kubernetes-relationship.md
Due: none

fix(tier1)!: cross-tenant boundary を Go secret/workflow + Rust audit にも横展開 (H1)
  src/tier1/go/internal/common/auth.go
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/workflow/register.go
  src/tier1/rust/crates/audit/src/server.rs
  src/tier1/rust/crates/common/src/auth.rs
  src/tier1/rust/crates/common/src/grpc_layer.rs
Due: go-lint, rust-fmt, rust-clippy

test(tier1): G3 / G1 / F4 / H1 の regression を unit test として CI に固定 (H2)
  src/tier1/go/internal/common/auth.go
  src/tier1/go/internal/common/cross_tenant_regression_test.go
  src/tier1/go/internal/state/regression_test.go
  src/tier1/rust/crates/common/src/auth.rs
  src/tier1/rust/crates/decision/src/http.rs
Due: go-lint, rust-fmt, rust-clippy

feat(infra/k8s/multinode): multi-node kind + Calico CNI prescription を追加 + 実機検証 (H3a)
  infra/k8s/multinode/README.md
  infra/k8s/multinode/kind-multinode.yaml
  infra/k8s/multinode/test-netpol-deny-all.yaml
  infra/k8s/multinode/test-topology-spread.yaml
Due: prettier

docs(knowledge/infra): kind マルチノードクラスタ + HA / 配置制御を追加
  docs/90_knowledge/infra/img/kind_multi-node_decision.drawio
  docs/90_knowledge/infra/img/kind_multi-node_decision.svg
  docs/90_knowledge/infra/img/kind_multi-node_topology.drawio
  docs/90_knowledge/infra/img/kind_multi-node_topology.svg
  docs/90_knowledge/infra/kind_multi-node.md
Due: none

docs(SHIP_STATUS): H1〜H3 検証実績 + production carry-over verification matrix を追加
  docs/SHIP_STATUS.md
Due: none

docs(infra/k8s/multinode): I1〜I3 application-level multi-node 検証結果を追加
  infra/k8s/multinode/README.md
Due: none

test(tier1): G2 etag fallback + G8 PostgresAuditStore WORM trigger regression を追加 (J4)
  src/tier1/go/internal/adapter/dapr/g2_etag_regression_test.go
  src/tier1/rust/crates/audit/src/postgres_store.rs
Due: go-lint, rust-fmt, rust-clippy

test(tier1/audit): gRPC handler の cross-tenant + auth=off 経路に integration test (J5)
  src/tier1/rust/crates/audit/src/server.rs
Due: rust-fmt, rust-clippy

chore(infra)+kyverno: MinIO (ADR-DATA-003) を kind に deploy + S3 round-trip 検証 (J1)
  infra/security/kyverno/baseline-policies.yaml
Due: prettier

chore(infra)+kyverno: Valkey (ADR-DATA-004) を kind に deploy + Dapr state.redis 結線 (J2)
  infra/security/kyverno/baseline-policies.yaml
Due: prettier

chore(infra)+kyverno: Envoy Gateway (ADR-MIG-002) + Gateway API CRD で HTTPRoute 動作確認 (J3)
  infra/mesh/envoy-gateway/local-stack/README.md
  infra/mesh/envoy-gateway/local-stack/gateway.yaml
  infra/security/kyverno/baseline-policies.yaml
Due: prettier

docs(README): k1s0 の名称由来 "Keep It Simple, 0 Vendor Lock-in" を明記
  README.md
Due: none

docs(README)+tools/banner: タイピング演出のバナー GIF を追加 (1280x320 / 7.85s / 301KB)
  README.md
  docs/assets/banner.gif
  tools/banner/generate_banner.py
Due: none

feat(infra/local-stack)!: ADR-POL-002 で local-stack を Single Source of Truth 化 (drift 6 カテゴリ根治)
  .github/workflows/drift-check.yml
  docs/02_構想設計/adr/ADR-POL-002-local-stack-single-source-of-truth.md
  infra/gitops/local-stack/gitea-deployment.yaml
  infra/registry/local/deployment.yaml
  infra/security/kyverno/block-non-canonical-helm-releases.yaml
  infra/security/kyverno/kustomization.yaml
  tools/local-stack/backup-cluster.sh
  tools/local-stack/demo/rollout-canary-demo.yaml
  tools/local-stack/demo/spiffe-helper-test.yaml
  tools/local-stack/known-releases.sh
  tools/local-stack/manifests/56-argo-rollouts/values.yaml
  tools/local-stack/manifests/57-envoy-gateway/values.yaml
  tools/local-stack/manifests/66-temporal/values.yaml
  tools/local-stack/manifests/90-observability/values-otel-collector.yaml
  tools/local-stack/manifests/90-observability/values-prometheus.yaml
  tools/local-stack/up.sh
Due: prettier

fix(infra/local-stack): ADR-POL-002 P4 rebuild で発覚した 6 種類の隠れ drift を一括修正
  docs/02_構想設計/adr/README.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/04_概要設計/90_付録/02_ADR索引.md
  docs/05_実装/99_索引/10_ADR対応表/01_ADR-IMP対応マトリクス.md
  docs/40_運用ライフサイクル/03_ローカルクラスタ再構築.md
  docs/SHIP_STATUS.md
  tools/local-stack/kind-cluster.yaml
  tools/local-stack/manifests/00-namespaces.yaml
  tools/local-stack/manifests/30-istio-ambient/values-ambient.yaml
  tools/local-stack/up.sh
  tools/local-stack/verify-cluster.sh
Due: prettier

fix(infra/local-stack): ADR-POL-002 P4 後半 6 件の追加 drift fix + 検証実績を SHIP_STATUS H4e に記録
  docs/SHIP_STATUS.md
  infra/gitops/local-stack/gitea-deployment.yaml
  infra/gitops/local-stack/gitea-service.yaml
  infra/registry/local/service.yaml
  tools/local-stack/manifests/75-valkey/values.yaml
  tools/local-stack/manifests/85-backstage/values.yaml
  tools/local-stack/manifests/90-observability/values-otel-collector.yaml
  tools/local-stack/up.sh
Due: prettier

fix(infra/local-stack/verify-cluster): false-positive 修正で PASS 24/FAIL 0 を達成
  tools/local-stack/verify-cluster.sh
Due: none

fix(infra/local-stack)+docs(onboarding,ci): ADR-POL-002 finishing 4 件で SoT 統一を完成
  .github/PULL_REQUEST_TEMPLATE.md
  docs/05_実装/50_開発者体験設計/50_オンボーディング/01_オンボーディング.md
  docs/SHIP_STATUS.md
  infra/security/kyverno/block-non-canonical-helm-releases.yaml
  tools/local-stack/up.sh
Due: prettier

feat(deploy/apps): tier2/tier3 業務サービス 8 件を ApplicationSet で個別 Application 化 (ADR-POL-002 E 群解消)
  deploy/apps/application-sets/tier2-dotnet-service.yaml
  deploy/apps/application-sets/tier2-go-service.yaml
  deploy/apps/application-sets/tier3-bff.yaml
  deploy/apps/application-sets/tier3-web-app.yaml
Due: prettier

fix(infra/local-stack): ADR-POL-002 finishing カテゴリ B 4 件で SoT 統一を完成
  deploy/apps/application-sets/infra.yaml
  tools/local-stack/restore-cluster.sh
  tools/local-stack/up.sh
Due: prettier

fix(infra/local-stack/verify-cluster): ApplicationSet expected を multi-service 化に追従
  tools/local-stack/verify-cluster.sh
Due: none

docs(knowledge/tool): kubectl 基礎の学習ドキュメントを追加
  docs/90_knowledge/tool/img/kubectl_basics_architecture.drawio
  docs/90_knowledge/tool/img/kubectl_basics_architecture.svg
  docs/90_knowledge/tool/img/kubectl_basics_command-pattern.drawio
  docs/90_knowledge/tool/img/kubectl_basics_command-pattern.svg
  docs/90_knowledge/tool/kubectl_basics.md
Due: none

feat(infra/local-stack): backstage を PodSecurity 対応で完全稼働 + ops-backstage の SoT 整理 (ADR-POL-002 finishing カテゴリ B-5)
  deploy/apps/application-sets/ops.yaml
  docs/SHIP_STATUS.md
  tools/local-stack/manifests/60-cnpg/k1s0-cluster.yaml
  tools/local-stack/manifests/85-backstage/values.yaml
Due: prettier

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
