Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

docs(ops): align ops/ structure with docs canonical spec (Phase 3-4 + scaffolds)
  ops/chaos/README.md
  ops/dr/README.md
  ops/dr/scenarios/RB-DR-001-cluster-rebuild.md
  ops/oncall/README.md
  ops/oncall/contacts.md
  ops/oncall/escalation.md
  ops/oncall/rotation/README.md
  ops/oncall/sops-key/README.md
  ops/runbooks/README.md
  ops/runbooks/incidents/RB-DB-002-postgres-primary-failover.md
  ops/runbooks/incidents/RB-MSG-001-kafka-broker-failover.md
  ops/runbooks/incidents/RB-SEC-002-cert-expiry.md
  ops/runbooks/incidents/auth-abuse-detection.md
  ops/runbooks/incidents/dlq-backlog.md
  ops/runbooks/incidents/legal-disclosure.md
  ops/runbooks/incidents/pii-leak-detection.md
  ops/runbooks/incidents/pii-regulatory-disclosure.md
  ops/runbooks/incidents/severity-decision-tree.md
  ops/runbooks/incidents/tenant-boundary-breach.md
  ops/runbooks/postmortems/README.md
  ops/runbooks/secret-rotation.md
  ops/runbooks/templates/runbook-template.md
Due: none

fix(codegen): tier1.descriptor.binpb を buf generate 経路で再生成し reflection drift を構造的に解消
  ops/runbooks/incidents/RB-AUTH-002-auth-abuse-detection.md
  ops/runbooks/incidents/RB-COMP-001-legal-disclosure.md
  ops/runbooks/incidents/RB-COMP-002-pii-regulatory-disclosure.md
  ops/runbooks/incidents/RB-INC-001-severity-decision-tree.md
  ops/runbooks/incidents/RB-MSG-002-dlq-backlog.md
  ops/runbooks/incidents/RB-SEC-005-pii-leak-detection.md
  ops/runbooks/incidents/RB-SEC-006-tenant-boundary-breach.md
  ops/runbooks/incidents/RB-WF-001-temporal-nondeterminism.md
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/tier1.descriptor.binpb
  tools/codegen/buf/run.sh
Due: none

fix(infra/envoy-grpcweb): kubectl get -o yaml 由来の壊れた manifest を清書し YAML 構文と admission を有効化
  infra/mesh/envoy-grpcweb/deployment.yaml
  infra/mesh/envoy-grpcweb/service.yaml
Due: prettier

chore(hooks): docs-read-guard に環境変数 K1S0_DOCS_READ_GUARD_DISABLE による無効化経路を追加
  .claude/hooks/docs-read-guard.py
Due: none

docs(ops): convert 8 ops-only Runbooks to canonical RB-* (Phase 5)
  ops/runbooks/incidents/RB-AUTH-002-auth-abuse-detection.md
  ops/runbooks/incidents/RB-COMP-001-legal-disclosure.md
  ops/runbooks/incidents/RB-COMP-002-pii-regulatory-disclosure.md
  ops/runbooks/incidents/RB-INC-001-severity-decision-tree.md
  ops/runbooks/incidents/RB-MSG-002-dlq-backlog.md
  ops/runbooks/incidents/RB-SEC-005-pii-leak-detection.md
  ops/runbooks/incidents/RB-SEC-006-tenant-boundary-breach.md
  ops/runbooks/incidents/RB-WF-001-temporal-nondeterminism.md
Due: none

docs(ops): add 4 missing RB-* Runbooks (Phase 6 1/3): RB-DB-001 / SEC-001 / AUTH-001 / NET-001
  ops/runbooks/incidents/RB-AUTH-001-keycloak-db-failover.md
  ops/runbooks/incidents/RB-DB-001-valkey-node-failover.md
  ops/runbooks/incidents/RB-NET-001-istio-ztunnel-failover.md
  ops/runbooks/incidents/RB-SEC-001-openbao-raft-failover.md
Due: none

docs(ops): complete Phase 6 — add 7 missing RB-* + RB-OPS-003 NTP drift
  ops/runbooks/incidents/RB-API-001-tier1-latency-high.md
  ops/runbooks/incidents/RB-BKP-001-backup-failure.md
  ops/runbooks/incidents/RB-NET-002-envoy-dos.md
  ops/runbooks/incidents/RB-OPS-001-cicd-pipeline-down.md
  ops/runbooks/incidents/RB-OPS-002-argocd-out-of-sync.md
  ops/runbooks/incidents/RB-OPS-003-ntp-drift.md
  ops/runbooks/incidents/RB-SEC-003-audit-tampering.md
  ops/runbooks/monthly/RB-AUD-001-audit-hash-monthly.md
Due: none

build(tier1/rust): zig-as-cc 環境で rquickjs ビルドが詰む問題を吸収する shim を追加
  src/tier1/rust/.cargo/config.toml
  tools/build/cc-zigshim.sh
Due: none

docs(ops): Phase 7 — daily/weekly/monthly Runbooks (7 files)
  ops/runbooks/daily/backup-verification.md
  ops/runbooks/daily/certificate-expiry-check.md
  ops/runbooks/daily/morning-health-check.md
  ops/runbooks/monthly/dr-drill.md
  ops/runbooks/monthly/patch-management.md
  ops/runbooks/templates/.gitkeep
  ops/runbooks/weekly/.gitkeep
  ops/runbooks/weekly/chaos-experiment-review.md
  ops/runbooks/weekly/slo-burn-rate-review.md
Due: none

docs(ops): Phase 8 & 9 — chaos/dr/scripts 実体ファイル全件整備
  ops/chaos/experiments/cpu-hog/.gitkeep
  ops/chaos/experiments/cpu-hog/tier1-facade.yaml
  ops/chaos/experiments/disk-fill/.gitkeep
  ops/chaos/experiments/disk-fill/cnpg-primary.yaml
  ops/chaos/experiments/network-latency/.gitkeep
  ops/chaos/experiments/network-latency/tier1-tier2.yaml
  ops/chaos/experiments/pod-delete/.gitkeep
  ops/chaos/experiments/pod-delete/cnpg-primary.yaml
  ops/chaos/experiments/pod-delete/kafka-broker.yaml
  ops/chaos/experiments/pod-delete/tier1-facade.yaml
  ops/chaos/probes/.gitkeep
  ops/chaos/probes/http-probe-tier1.yaml
  ops/chaos/probes/k8s-probe-dapr.yaml
  ops/chaos/workflows/.gitkeep
  ops/chaos/workflows/monthly-game-day.yaml
  ops/chaos/workflows/quarterly-region-failure.yaml
  ops/dr/drills/.gitkeep
  ops/dr/drills/DR-drill-2026-Q2.md
  ops/dr/scenarios/.gitkeep
  ops/dr/scenarios/kafka-topic-restore.md
  ops/dr/scenarios/minio-tenant-restore.md
  ops/dr/scenarios/pg-restore.md
  ops/dr/scripts/.gitkeep
  ops/dr/scripts/rebuild-cluster-from-scratch.sh
  ops/dr/scripts/restore-minio-from-archive.sh
  ops/dr/scripts/restore-pg-from-barman.sh
  ops/scripts/bootstrap-cluster.sh
  ops/scripts/harvest-logs.sh
  ops/scripts/lib/.gitkeep
  ops/scripts/lib/common.sh
  ops/scripts/rotate-tls-certs.sh
Due: prettier

docs(spec): Phase 10 — ops 整備実態を docs 正典に反映
  docs/04_概要設計/55_運用ライフサイクル方式設計/09_Runbook目録方式.md
  docs/05_実装/00_ディレクトリ設計/60_operationレイアウト/05_ops配置_Runbook_Chaos_DR.md
Due: none

docs(ops): fix residual old-name cross-refs in oncall/secret-rotation
  ops/oncall/README.md
  ops/oncall/escalation.md
  ops/runbooks/secret-rotation.md
Due: none

fix(infra/kafka): Strimzi 0.51.0 互換のため Kafka 3.9.0 → 4.1.0 に更新し dev で StorageClass を明示
  infra/data/kafka/cluster/kafka-cluster.yaml
  tools/local-stack/manifests/65-kafka/k1s0-kafka.yaml
Due: prettier

docs(spec): テナントオンボーディング方式の ApplicationSet 配置 path を ADR-DIR-002 規約に整合
  docs/04_概要設計/75_事業運用方式設計/03_テナントオンボーディング方式.md
Due: none

fix(local-stack/dapr): 不存在の component type configuration.flagd を排除して daprd 起動 fatal を解消
  tools/local-stack/dapr/components/README.md
  tools/local-stack/dapr/components/configstore-flagd.yaml
Due: prettier

fix(tier1/pubsub): Dapr Component name を docs 正典 kafka-pubsub に整合し env で上書き可能に
  src/tier1/go/internal/state/pubsub.go
  tools/local-stack/dapr/components/README.md
  tools/local-stack/dapr/components/pubsub-kafka.yaml
Due: go-lint, prettier

fix(tier1/feature): ADR-FM-001 整合 — Dapr Configuration 廃止し OpenFeature flagd 直結に置換
  infra/feature-management/flagd/flagd-deployment.yaml
  src/tier1/go/go.mod
  src/tier1/go/go.sum
  src/tier1/go/internal/adapter/dapr/feature.go
  src/tier1/go/internal/adapter/dapr/feature_json.go
  src/tier1/go/internal/adapter/dapr/feature_test.go
  tools/local-stack/manifests/50-flagd/manifest.yaml
Due: go-lint, prettier

chore(claude): 自己監査と短絡修正対策の skill / hook / command を導入
  .claude/commands/audit.md
  .claude/hooks/anti-shortcut.py
  .claude/settings.json
  .claude/skills/anti-shortcut-discipline/SKILL.md
  .claude/skills/audit-protocol/SKILL.md
  .claude/skills/principal-architect-mindset/SKILL.md
  .gitignore
Due: prettier

feat(audit): 自己監査の判定基準と検出ロジック（4 軸）を新設
  docs/00_format/audit_criteria.md
  tools/audit/lib/coverage.sh
  tools/audit/lib/k8s.sh
  tools/audit/lib/oss.sh
  tools/audit/lib/slack.sh
  tools/audit/run.sh
Due: none

docs(comments): 真の手抜きコメント 12 件を中立表現に書き換え
  deploy/image-updater/README.md
  examples/tier1-go-facade/cmd/example-facade/main.go
  src/tier1/go/internal/common/runtime.go
  src/tier1/go/internal/state/context.go
  src/tier2/go/shared/otel/init.go
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Services/K1s0SdkAdapter.cs
  src/tier3/native/apps/K1s0.Native.Admin/Services/K1s0Service.cs
  src/tier3/web/apps/portal/src/pages/StateExplorerPage.tsx
  tests/e2e/README.md
  tests/e2e/helpers/cluster.go
  tests/e2e/scenarios/tenant_onboarding_test.go
Due: go-lint, ts-lint, prettier

docs(adr): orphan 11 件を 0 件に解消 — 3 件統合 + 8 件新規起票 + 索引 3 ファイル同期
  docs/02_構想設計/adr/ADR-CNCF-001-cncf-conformance.md
  docs/02_構想設計/adr/ADR-DAPR-001-dapr-operator.md
  docs/02_構想設計/adr/ADR-INFRA-001-kubernetes-cluster-bootstrap.md
  docs/02_構想設計/adr/ADR-NET-001-cni-selection.md
  docs/02_構想設計/adr/ADR-SCALE-001-keda-event-driven-autoscaling.md
  docs/02_構想設計/adr/ADR-TIER3-001-bff-pattern.md
  docs/02_構想設計/adr/ADR-TIER3-002-spa-plus-bff.md
  docs/02_構想設計/adr/ADR-TIER3-003-dotnet-maui-native.md
  docs/02_構想設計/adr/README.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/04_概要設計/90_付録/02_ADR索引.md
  examples/README.md
  examples/tier2-go-service/catalog-info.yaml
  infra/mesh/envoy-gateway/README.md
  infra/mesh/envoy-gateway/values.yaml
  src/platform/README.md
  src/platform/backstage-plugins/README.md
  src/platform/backstage-plugins/k1s0-catalog/README.md
  src/platform/backstage-plugins/k1s0-scaffolder/README.md
Due: prettier

fix(local-stack): kind 環境の StorageClass drift を patch_kind_storageclasses で構造的に解消
  tools/local-stack/lib/apply-layers.sh
  tools/local-stack/up.sh
Due: none

docs(audit): 監査スナップショット初版 — A〜E 全効果反映後の最終状態
  docs/AUDIT.md
Due: none

feat(audit): Phase 2/3 — A 軸 3 段確認本実装 + D 軸 OSSF Scorecard 18 項目対応
  .claude/skills/oss-completeness-criteria/SKILL.md
  docs/AUDIT.md
  tools/audit/lib/coverage.sh
  tools/audit/lib/oss.sh
Due: none

feat(audit): 信頼性を構造的に強化 — Claude PASS 削除 / trace 軸新設 / 生証跡 git 化 / regression test
  .claude/audit-evidence/2026-05-02/coverage-adr.txt
  .claude/audit-evidence/2026-05-02/coverage-ds.txt
  .claude/audit-evidence/2026-05-02/coverage-fr.txt
  .claude/audit-evidence/2026-05-02/coverage-imp.txt
  .claude/audit-evidence/2026-05-02/coverage-nfr.txt
  .claude/audit-evidence/2026-05-02/ids-adr.txt
  .claude/audit-evidence/2026-05-02/ids-ds.txt
  .claude/audit-evidence/2026-05-02/ids-fr.txt
  .claude/audit-evidence/2026-05-02/ids-imp.txt
  .claude/audit-evidence/2026-05-02/ids-nfr.txt
  .claude/audit-evidence/2026-05-02/k8s-context.txt
  .claude/audit-evidence/2026-05-02/k8s-namespaces.txt
  .claude/audit-evidence/2026-05-02/k8s-pods.txt
  .claude/audit-evidence/2026-05-02/k8s-snapshot.txt
  .claude/audit-evidence/2026-05-02/meta.txt
  .claude/audit-evidence/2026-05-02/orphans-adr.txt
  .claude/audit-evidence/2026-05-02/oss-checklist.txt
  .claude/audit-evidence/2026-05-02/slack-gitkeep-integrity.txt
  .claude/audit-evidence/2026-05-02/slack-locations.txt
  .claude/audit-evidence/2026-05-02/slack-scope.txt
  .claude/audit-evidence/2026-05-02/slack.txt
  .claude/audit-evidence/2026-05-02/trace-ds.txt
  .claude/audit-evidence/2026-05-02/trace-imp.txt
  .claude/audit-evidence/2026-05-02/trace-nfr.txt
  .claude/skills/audit-protocol/SKILL.md
  .gitignore
  docs/AUDIT.md
  tests/audit/test_audit_lib.sh
  tools/audit/lib/k8s.sh
  tools/audit/lib/oss.sh
  tools/audit/lib/slack.sh
  tools/audit/lib/trace.sh
  tools/audit/run.sh
Due: none

fix(audit): ADR ID 正規表現を旧形式 4 桁通し番号対応に拡張
  tests/audit/test_audit_lib.sh
  tools/audit/lib/coverage.sh
  tools/audit/lib/trace.sh
Due: none

feat(audit): docs-side ADR orphan 検出を新設 + self-detection 不具合解消
  tests/audit/test_audit_lib.sh
  tools/audit/lib/coverage.sh
Due: none

docs(audit): 判定基準正典と audit-protocol skill に orphan 2 系統を明記
  .claude/skills/audit-protocol/SKILL.md
  docs/00_format/audit_criteria.md
Due: none

docs(audit): AUDIT.md を #6 監査結果に更新 + evidence 再生成
  .claude/audit-evidence/2026-05-02/coverage-adr.txt
  .claude/audit-evidence/2026-05-02/coverage-ds.txt
  .claude/audit-evidence/2026-05-02/coverage-fr.txt
  .claude/audit-evidence/2026-05-02/coverage-imp.txt
  .claude/audit-evidence/2026-05-02/coverage-nfr.txt
  .claude/audit-evidence/2026-05-02/docs-orphans-adr.txt
  .claude/audit-evidence/2026-05-02/ids-adr.txt
  .claude/audit-evidence/2026-05-02/k8s-namespaces.txt
  .claude/audit-evidence/2026-05-02/k8s-pods.txt
  .claude/audit-evidence/2026-05-02/k8s-snapshot.txt
  .claude/audit-evidence/2026-05-02/meta.txt
  .claude/audit-evidence/2026-05-02/oss-checklist.txt
  .claude/audit-evidence/2026-05-02/slack-gitkeep-integrity.txt
  .claude/audit-evidence/2026-05-02/slack-scope.txt
  .claude/audit-evidence/2026-05-02/slack.txt
  .claude/audit-evidence/2026-05-02/trace-ds.txt
  .claude/audit-evidence/2026-05-02/trace-imp.txt
  .claude/audit-evidence/2026-05-02/trace-nfr.txt
  docs/AUDIT.md
Due: none

docs(audit): AUDIT.md の数値不整合 2 件を訂正 + Test 17 追加 + #7 evidence
  .claude/audit-evidence/2026-05-02/coverage-adr.txt
  .claude/audit-evidence/2026-05-02/coverage-ds.txt
  .claude/audit-evidence/2026-05-02/coverage-fr.txt
  .claude/audit-evidence/2026-05-02/coverage-imp.txt
  .claude/audit-evidence/2026-05-02/coverage-nfr.txt
  .claude/audit-evidence/2026-05-02/k8s-namespaces.txt
  .claude/audit-evidence/2026-05-02/k8s-pods.txt
  .claude/audit-evidence/2026-05-02/k8s-snapshot.txt
  .claude/audit-evidence/2026-05-02/meta.txt
  .claude/audit-evidence/2026-05-02/oss-checklist.txt
  .claude/audit-evidence/2026-05-02/slack-gitkeep-integrity.txt
  .claude/audit-evidence/2026-05-02/slack.txt
  .claude/audit-evidence/2026-05-02/trace-ds.txt
  .claude/audit-evidence/2026-05-02/trace-imp.txt
  .claude/audit-evidence/2026-05-02/trace-nfr.txt
  docs/AUDIT.md
  tests/audit/test_audit_lib.sh
Due: none

fix(audit): coverage.sh の ADR ID 列挙を構造修正 — semantic 混在の解消
  .claude/audit-evidence/2026-05-02/coverage-adr.txt
  .claude/audit-evidence/2026-05-02/ids-adr.txt
  .claude/audit-evidence/2026-05-02/meta.txt
  docs/AUDIT.md
  tests/audit/test_audit_lib.sh
  tools/audit/lib/coverage.sh
Due: none

docs(adr): ADR-OPS-001 起票（Runbook 標準化）— docs-orphan 41 → 40
  .claude/audit-evidence/2026-05-02/coverage-adr.txt
  .claude/audit-evidence/2026-05-02/coverage-ds.txt
  .claude/audit-evidence/2026-05-02/coverage-fr.txt
  .claude/audit-evidence/2026-05-02/coverage-imp.txt
  .claude/audit-evidence/2026-05-02/coverage-nfr.txt
  .claude/audit-evidence/2026-05-02/docs-orphans-adr.txt
  .claude/audit-evidence/2026-05-02/ids-adr.txt
  .claude/audit-evidence/2026-05-02/k8s-namespaces.txt
  .claude/audit-evidence/2026-05-02/k8s-pods.txt
  .claude/audit-evidence/2026-05-02/k8s-snapshot.txt
  .claude/audit-evidence/2026-05-02/meta.txt
  .claude/audit-evidence/2026-05-02/oss-checklist.txt
  .claude/audit-evidence/2026-05-02/slack-gitkeep-integrity.txt
  .claude/audit-evidence/2026-05-02/slack.txt
  .claude/audit-evidence/2026-05-02/trace-ds.txt
  .claude/audit-evidence/2026-05-02/trace-imp.txt
  .claude/audit-evidence/2026-05-02/trace-nfr.txt
  docs/02_構想設計/adr/ADR-OPS-001-runbook-standardization.md
  docs/02_構想設計/adr/README.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/04_概要設計/90_付録/02_ADR索引.md
  tests/audit/test_audit_lib.sh
Due: none

docs(adr): ADR-TEST-001〜009 起票（テスト戦略系列 9 本）— CI 留保 + 11 層ピラミッド + 二層 E2E + matrix pairwise + chaos/scale/soak + upgrade/DR + 5 軸コンプライアンス + 観測性 E2E
  docs/02_構想設計/adr/ADR-TEST-001-ci-deferral-and-portable-qualify.md
  docs/02_構想設計/adr/ADR-TEST-002-devcontainer-and-hardware-baseline.md
  docs/02_構想設計/adr/ADR-TEST-003-test-pyramid-l0-l10.md
  docs/02_構想設計/adr/ADR-TEST-004-two-tier-e2e-and-release-gate.md
  docs/02_構想設計/adr/ADR-TEST-005-environment-matrix-pairwise.md
  docs/02_構想設計/adr/ADR-TEST-006-chaos-scale-soak.md
  docs/02_構想設計/adr/ADR-TEST-007-upgrade-and-dr.md
  docs/02_構想設計/adr/ADR-TEST-008-compliance-integration.md
  docs/02_構想設計/adr/ADR-TEST-009-observability-e2e.md
Due: none

docs(adr): 08_ADR索引.md に TEST 系列追加 — 番号体系登録 + テスト戦略カテゴリ + 9 本エントリ登録
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
Due: none

revert: ADR-TEST-001〜009 + 索引登録を撤回 — 既存 GitHub Actions / verify-local.sh / 役別 devcontainer プロファイル制との矛盾発覚により再設計
  docs/02_構想設計/adr/ADR-TEST-001-ci-deferral-and-portable-qualify.md
  docs/02_構想設計/adr/ADR-TEST-002-devcontainer-and-hardware-baseline.md
  docs/02_構想設計/adr/ADR-TEST-003-test-pyramid-l0-l10.md
  docs/02_構想設計/adr/ADR-TEST-004-two-tier-e2e-and-release-gate.md
  docs/02_構想設計/adr/ADR-TEST-005-environment-matrix-pairwise.md
  docs/02_構想設計/adr/ADR-TEST-006-chaos-scale-soak.md
  docs/02_構想設計/adr/ADR-TEST-007-upgrade-and-dr.md
  docs/02_構想設計/adr/ADR-TEST-008-compliance-integration.md
  docs/02_構想設計/adr/ADR-TEST-009-observability-e2e.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
Due: none

docs(adr): ADR-TEST-001 起票（Test Pyramid + testcontainers でテスト戦略を正典化）— docs-orphan 40 → 38（ADR-TEST-001 + ADR-DEVEX-003 吸収）
  docs/02_構想設計/adr/ADR-TEST-001-test-pyramid-and-testcontainers.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/05_実装/00_ディレクトリ設計/70_共通資産/02_tests配置.md
Due: none

docs(adr): ADR-TEST-002 起票（E2E を kind + tools/local-stack + reusable workflow で自動化）
  docs/02_構想設計/adr/ADR-TEST-002-e2e-automation-via-local-stack.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
Due: none

docs(adr): ADR-TEST-003 起票（Sonobuoy + kind multi-node + Calico で CNCF Conformance を月次実行）+ 02_test_layer_responsibility.md 新設 + ADR-TEST-002 参照パス修正
  docs/02_構想設計/adr/ADR-TEST-002-e2e-automation-via-local-stack.md
  docs/02_構想設計/adr/ADR-TEST-003-cncf-conformance-sonobuoy.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/05_実装/30_CI_CD設計/30_quality_gate/02_test_layer_responsibility.md
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
