Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

refactor: バナーをタグライン 1 行に簡素化
  img/k1s0_banner_terminal.svg
Due: none

fix: バナーのカーソル演出を改善
  img/k1s0_banner_terminal.svg
Due: none

feat: ドキュメント lint とリリースゲートの整合性チェックを追加
  .github/workflows/docs_lint.yml
  ARCHITECTURE.md
  tools/docs_lint/run_lint.py
  tools/lock_yaml_generator/generate_release_gate.py
  tools/lock_yaml_generator/samples/release_gate.lock.yaml
Due: prettier

feat: プロジェクトの構成とドキュメントの更新
  .gitignore
  ARCHITECTURE.md
  LICENSE
  README.md
  src/README.md
  src/_crosscutting/01_http2_enforcement/README.md
  src/_crosscutting/02_kek_shamir_distribution/README.md
  src/_crosscutting/03_apicurio_gitops_sot/README.md
  src/_crosscutting/04_protoc_gen_go_fsm/README.md
  src/_crosscutting/05_slo_protection_layers/README.md
  src/_crosscutting/06_bff_auth_edge/README.md
  src/_crosscutting/07_tauri_companion_sidecar/README.md
  src/_crosscutting/08_pii_dedicated_cluster/README.md
  src/_crosscutting/09_audit_ingest_gap_monitor/README.md
  src/_crosscutting/10_ops_edge_cluster/README.md
  src/_crosscutting/11_companion_otel_extension/README.md
  src/_crosscutting/12_ua_aware_adapter/README.md
  src/_crosscutting/13_dotnet8_connect_inhouse/README.md
  src/_crosscutting/README.md
  src/_meta/README.md
  src/client/README.md
  src/data/README.md
  src/formal/README.md
  src/infra/README.md
  src/ops/README.md
  src/security/README.md
  src/test/README.md
  src/tier1/README.md
  src/tier2/README.md
  src/tier3/README.md
Due: none

feat: 環境構築関連のドキュメントとLintスクリプトの追加・更新
  docs/00_format/conventions/frontmatter.md
  docs/00_format/frontmatter_schema.yaml
  docs/01_企画/08_開発体制/README.md
  docs/05_環境構築/00_k1s0作者/01_責務とスコープ.md
  docs/05_環境構築/00_k1s0作者/02_前提OS環境.md
  docs/05_環境構築/00_k1s0作者/03_必須ランタイム.md
  docs/05_環境構築/00_k1s0作者/04_リポジトリ取得手順.md
  docs/05_環境構築/00_k1s0作者/05_docs_lint実行手順.md
  docs/05_環境構築/00_k1s0作者/06_markdownlint_textlint適用.md
  docs/05_環境構築/00_k1s0作者/07_drawio作図ツール手順.md
  docs/05_環境構築/00_k1s0作者/08_lock_yaml生成器手順.md
  docs/05_環境構築/00_k1s0作者/09_frontmatter規約適用.md
  docs/05_環境構築/00_k1s0作者/10_crosslinkと依存グラフ.md
  docs/05_環境構築/00_k1s0作者/11_19軸登録手順.md
  docs/05_環境構築/00_k1s0作者/12_CI完全再現.md
  docs/05_環境構築/00_k1s0作者/13_署名とReleaseGate.md
  docs/05_環境構築/00_k1s0作者/14_Claude_Code連携.md
  docs/05_環境構築/00_k1s0作者/README.md
  docs/05_環境構築/README.md
  docs/README.md
  tools/docs_lint/run_lint.py
  tools/docs_lint/run_lint.sh
Due: prettier

feat: 環境構築ドキュメントの更新と新規追加
  docs/05_環境構築/03_tier3/05_主要OSS導入.md
  docs/05_環境構築/05_data/05_主要OSS導入.md
  docs/05_環境構築/06_security/05_主要OSS導入.md
  docs/05_環境構築/07_ops/05_主要OSS導入.md
  docs/05_環境構築/09_test/03_必須ランタイム.md
  docs/05_環境構築/10_formal/05_主要OSS導入.md
  docs/05_環境構築/90_WSL2ローカル再現範囲.md
  docs/05_環境構築/README.md
Due: none

feat: 環境構築関連ドキュメントの更新
  .gitignore
  docs/05_環境構築/00_k1s0作者/13_署名とReleaseGate.md
  docs/05_環境構築/04_infra/11_軸固有環境設定.md
  docs/05_環境構築/05_data/11_軸固有環境設定.md
  docs/05_環境構築/10_formal/05_主要OSS導入.md
  docs/05_環境構築/11_プラットフォーム運営者/05_主要OSS導入.md
Due: none

feat: 環境構築関連ドキュメントの更新
  docs/05_環境構築/00_k1s0作者/14_Claude_Code連携.md
  docs/05_環境構築/01_tier1/11_軸固有環境設定.md
  docs/05_環境構築/01_tier1/14_Claude_Code連携.md
  docs/05_環境構築/02_tier2/14_Claude_Code連携.md
  docs/05_環境構築/03_tier3/14_Claude_Code連携.md
  docs/05_環境構築/04_infra/14_Claude_Code連携.md
  docs/05_環境構築/05_data/14_Claude_Code連携.md
  docs/05_環境構築/06_security/14_Claude_Code連携.md
  docs/05_環境構築/07_ops/14_Claude_Code連携.md
  docs/05_環境構築/08_client/14_Claude_Code連携.md
  docs/05_環境構築/09_test/14_Claude_Code連携.md
  docs/05_環境構築/10_formal/06_開発エディタIDE設定.md
  docs/05_環境構築/10_formal/07_テスト検証環境.md
  docs/05_環境構築/10_formal/08_lintとformat適用.md
Due: none

feat: ドキュメントのメタ情報を追加・更新
  docs/00_format/conventions/crosslink.md
  docs/00_format/conventions/frontmatter.md
  docs/00_format/conventions/numbering.md
  docs/00_format/conventions/section_marker.md
  docs/00_format/linters/docs_xref_check.md
  docs/00_format/style_guide.md
  docs/01_企画/05_ターゲットと利用シナリオ/02_tier2担当者シナリオ/09_業務マスタCSV一括import.md
  docs/01_企画/05_ターゲットと利用シナリオ/02_tier2担当者シナリオ/10_Scheduler_CronWorkflow追加.md
  docs/01_企画/05_ターゲットと利用シナリオ/03_tier3担当者シナリオ/12_検索一覧UX実装.md
  docs/01_企画/05_ターゲットと利用シナリオ/03_tier3担当者シナリオ/13_通知UI_4種実装.md
  docs/01_企画/05_ターゲットと利用シナリオ/03_tier3担当者シナリオ/14_状態遷移UI_FSM実装.md
  docs/03_概要設計/11_formal設計方針/README.md
  docs/README.md
Due: none

feat: 実装ロードマップ関連のドキュメントを追加
  docs/01_企画/10_実装ロードマップ/01_実装Phase定義.md
  docs/01_企画/10_実装ロードマップ/02_release_gate対応表.md
  docs/01_企画/10_実装ロードマップ/03_軸内実装順序.md
  docs/01_企画/10_実装ロードマップ/04_crosscutting_blocking表.md
  docs/01_企画/10_実装ロードマップ/README.md
  docs/01_企画/README.md
Due: none

feat: ドキュメントの削除と整理
  docs/01_企画/10_実装ロードマップ/01_実装Phase定義.md
  docs/01_企画/10_実装ロードマップ/02_release_gate対応表.md
  docs/01_企画/10_実装ロードマップ/03_軸内実装順序.md
  docs/01_企画/10_実装ロードマップ/04_crosscutting_blocking表.md
  docs/01_企画/10_実装ロードマップ/README.md
Due: none

feat: コードの変更を追加
  docs/01_企画/システム構成図_初心者用.drawio
  docs/01_企画/システム構成図_初心者用.svg
  docs/01_企画/システム構成図_初心者用_操作の流れ.drawio
  docs/01_企画/システム構成図_初心者用_操作の流れ.svg
  docs/01_企画/システム構成図_詳しい版.drawio
  docs/01_企画/システム構成図_詳しい版.svg
  docs/01_企画/システム構成図_詳しい版_安全の仕組み.drawio
  docs/01_企画/システム構成図_詳しい版_安全の仕組み.svg
  docs/01_企画/システム構成図_詳しい版_操作シーケンス.drawio
  docs/01_企画/システム構成図_詳しい版_操作シーケンス.svg
Due: none

feat: コード変更の追加
  docs/img/システム構成図.drawio
  docs/img/システム構成図.svg
  docs/img/システム構成図_初心者用.drawio
  docs/img/システム構成図_初心者用.svg
  docs/img/システム構成図_初心者用_操作の流れ.drawio
  docs/img/システム構成図_初心者用_操作の流れ.svg
  docs/img/システム構成図_詳しい版.drawio
  docs/img/システム構成図_詳しい版.svg
  docs/img/システム構成図_詳しい版_安全の仕組み.drawio
  docs/img/システム構成図_詳しい版_安全の仕組み.svg
  docs/img/システム構成図_詳しい版_操作シーケンス.drawio
  docs/img/システム構成図_詳しい版_操作シーケンス.svg
Due: none

feat: ドキュメントの更新と新規追加
  CLAUDE.md
  docs/00_format/README.md
  docs/00_format/conventions/numbering.md
  docs/00_format/frontmatter_schema.yaml
  docs/03_概要設計/01_アーキテクチャ概観/02_19軸論.md
  docs/03_概要設計/01_アーキテクチャ概観/03_defense_in_depth.md
  docs/03_概要設計/01_アーキテクチャ概観/04_5proof_class論.md
  docs/04_詳細設計/01_適合仕様/00_軸登録適合仕様.md
  docs/README.md
Due: prettier

feat: axis_registry_conformanceの追加とドキュメントの更新
  docs/03_概要設計/07_security設計方針/README.md
  docs/03_概要設計/08_ops設計方針/README.md
  docs/03_概要設計/10_test設計方針/README.md
  docs/04_詳細設計/01_適合仕様/00_軸登録適合仕様.md
  docs/04_詳細設計/01_適合仕様/01_Bidi適合仕様.md
  docs/04_詳細設計/01_適合仕様/02_移行Pair適合仕様.md
  docs/04_詳細設計/01_適合仕様/03_観測適合仕様.md
  docs/04_詳細設計/01_適合仕様/04_認証適合仕様.md
  docs/04_詳細設計/01_適合仕様/05_鍵管理適合仕様.md
  docs/04_詳細設計/01_適合仕様/06_スキーマ進化適合仕様.md
  docs/04_詳細設計/01_適合仕様/07_SLO適合仕様.md
  docs/04_詳細設計/01_適合仕様/08_OSSライフサイクル適合仕様.md
  docs/04_詳細設計/01_適合仕様/09_テナント容量適合仕様.md
  docs/04_詳細設計/01_適合仕様/10_テナント分離適合仕様.md
  docs/04_詳細設計/01_適合仕様/11_クライアント状態適合仕様.md
  docs/04_詳細設計/01_適合仕様/12_クラスタ位相適合仕様.md
  docs/04_詳細設計/01_適合仕様/13_時刻整合適合仕様.md
  docs/04_詳細設計/01_適合仕様/14_データ保全適合仕様.md
  docs/04_詳細設計/01_適合仕様/15_脅威モデル適合仕様.md
  docs/04_詳細設計/01_適合仕様/16_build_provenance適合仕様.md
  docs/04_詳細設計/01_適合仕様/17_運用ループ適合仕様.md
  docs/04_詳細設計/01_適合仕様/18_クライアントSDK配布適合仕様.md
  docs/04_詳細設計/01_適合仕様/19_検証規律適合仕様.md
  docs/04_詳細設計/01_適合仕様/20_形式検証適合仕様.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/01_HTTP2_enforcement.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/02_KEK_shamir_distribution.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/03_apicurio_gitops_sot.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/04_protoc_gen_go_fsm.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/05_SLO_protection_layers.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/06_BFF_auth_edge.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/07_Tauri_companion_sidecar.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/08_PII_dedicated_cluster.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/09_audit_ingest_gap_monitor.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/10_ops_edge_cluster.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/11_companion_otel_extension.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/12_UA_aware_adapter.md
  docs/04_詳細設計/03_クロスカッティング適合仕様/13_dotnet8_connect_inhouse.md
  docs/05_環境構築/00_k1s0作者/01_責務とスコープ.md
  docs/05_環境構築/00_k1s0作者/11_19軸登録手順.md
Due: none

feat: 不要なproof_status.lock.yamlファイルの削除
  samples/lock_inputs/formal_green/proof_status.lock.yaml
  samples/lock_inputs/formal_red/proof_status.lock.yaml
Due: prettier

feat: 新しい機能を追加
  docs/05_環境構築/00_k1s0作者/15_v1_0_0最終ツリー予想.md
Due: none

feat: CLAUDE.mdファイルを新規作成
  src/CLAUDE.md
  src/_crosscutting/CLAUDE.md
  src/_meta/CLAUDE.md
  src/client/CLAUDE.md
  src/data/CLAUDE.md
  src/formal/CLAUDE.md
  src/infra/CLAUDE.md
  src/ops/CLAUDE.md
  src/security/CLAUDE.md
  src/test/CLAUDE.md
  src/tier1/CLAUDE.md
  src/tier2/CLAUDE.md
  src/tier3/CLAUDE.md
Due: none

feat: src/ディレクトリのコーディングポリシーを追加し、lintツールの設定を更新
  ARCHITECTURE.md
  src/CLAUDE.md
  src/_crosscutting/CLAUDE.md
  src/_meta/CLAUDE.md
  src/client/CLAUDE.md
  src/data/CLAUDE.md
  src/formal/CLAUDE.md
  src/infra/CLAUDE.md
  src/ops/CLAUDE.md
  src/security/CLAUDE.md
  src/test/CLAUDE.md
  src/tier1/CLAUDE.md
  src/tier2/CLAUDE.md
  src/tier3/CLAUDE.md
  tools/docs_lint/run_lint.py
Due: none

feat: 各行コメント記載義務を追加
  src/CLAUDE.md
Due: none

feat: root build pipeline and kind cluster bootstrap
  .github/workflows/kyverno_validate.yml
  .github/workflows/lock_yaml_generator.yml
  .github/workflows/release_gate.yml
  ARCHITECTURE.md
  Makefile
  src/infra/kind/bootstrap.sh
  src/infra/kind/kind-config-ops-edge.yaml
  src/infra/kind/kind-config.yaml
  tools/build/Dockerfile
  tools/build/Dockerfile.stainless
  tools/build/Dockerfile.tla
  tools/build/docker-compose.yml
Due: prettier

feat: infrastructure and data layer with topology clock drills and rls verification
  src/_meta/lock/clock_causality_proof.lock.yaml
  src/_meta/lock/preservation_substrates.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/_meta/lock/restore_drill.lock.yaml
  src/_meta/lock/topology_class.lock.yaml
  src/data/lock/preservation_substrates.lock.yaml
  src/data/lock/restore_drill.lock.yaml
  src/infra/lock/clock_causality_proof.lock.yaml
  src/infra/lock/topology_class.lock.yaml
  src/security/kyverno/policies/block-manual-secret-creation.yaml
  src/security/kyverno/policies/require-istio-strict-mtls.yaml
Due: prettier

feat: actual compilation, formal proofs, and k8s verification completed
  .gitignore
  src/_crosscutting/03_apicurio_gitops_sot/controller/go.mod
  src/_crosscutting/03_apicurio_gitops_sot/controller/go.sum
  src/_crosscutting/04_protoc_gen_go_fsm/plugin/go.mod
  src/_crosscutting/04_protoc_gen_go_fsm/plugin/go.sum
  src/_crosscutting/06_bff_auth_edge/bff/Cargo.lock
  src/_crosscutting/06_bff_auth_edge/bff/Cargo.toml
  src/_crosscutting/07_tauri_companion_sidecar/sidecar/Cargo.lock
  src/_crosscutting/07_tauri_companion_sidecar/sidecar/Cargo.toml
  src/_crosscutting/07_tauri_companion_sidecar/sidecar/src/main.rs
  src/_crosscutting/09_audit_ingest_gap_monitor/monitor/Cargo.lock
  src/_crosscutting/09_audit_ingest_gap_monitor/monitor/Cargo.toml
  src/_meta/lock/axis_registry.lock.yaml
  src/_meta/lock/cross_cutting_registry.lock.yaml
  src/_meta/lock/docs_lint.lock.yaml
  src/_meta/lock/ownership_table.lock.yaml
  src/_meta/lock/repository_layout.lock.yaml
  src/data/lock/preservation_substrates.lock.yaml
  src/data/lock/restore_drill.lock.yaml
  src/formal/dafny/AtomicThreeTableWrite.dfy
  src/formal/lock/assumption.lock.yaml
  src/formal/lock/counter_example.lock.yaml
  src/formal/lock/proof_inventory.lock.yaml
  src/formal/lock/proof_review.lock.yaml
  src/formal/lock/proof_status.lock.yaml
  src/formal/tla/tier1_bidi_handshake.cfg
  src/formal/tla/tier1_bidi_handshake.tla
  src/infra/lock/clock_causality_proof.lock.yaml
  src/infra/lock/failover_drill.lock.yaml
  src/infra/lock/topology_class.lock.yaml
  src/infra/topology/classes.yaml
  src/security/lock/artifact_inventory.lock.yaml
  src/security/lock/threat_model.lock.yaml
  src/test/lock/coverage_matrix.lock.yaml
  src/test/lock/regression_corpus.lock.yaml
  src/tier1/lock/capabilities.lock.yaml
  tools/lock_yaml_generator/generate_proof_inventory.py
  tools/lock_yaml_generator/generate_topology_class.py
Due: rust-fmt, rust-clippy, prettier

feat: complete all drill verifications and finalize lock artifacts
  src/_meta/lock/axis_registry.lock.yaml
  src/_meta/lock/cross_cutting_registry.lock.yaml
  src/_meta/lock/docs_lint.lock.yaml
  src/_meta/lock/ownership_table.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/_meta/lock/repository_layout.lock.yaml
  src/data/lock/preservation_substrates.lock.yaml
  src/data/lock/restore_drill.lock.yaml
  src/data/preservation/classes.yaml
  src/data/preservation/drill.yaml
  src/formal/lock/assumption.lock.yaml
  src/formal/lock/counter_example.lock.yaml
  src/formal/lock/proof_inventory.lock.yaml
  src/formal/lock/proof_review.lock.yaml
  src/formal/lock/proof_status.lock.yaml
  src/infra/clock_integrity/classes.yaml
  src/infra/lock/clock_causality_proof.lock.yaml
  src/infra/lock/failover_drill.lock.yaml
  src/infra/lock/topology_class.lock.yaml
  src/infra/topology/classes.yaml
  src/security/lock/artifact_inventory.lock.yaml
  src/security/lock/threat_model.lock.yaml
  src/test/lock/coverage_matrix.lock.yaml
  src/test/lock/regression_corpus.lock.yaml
  src/tier1/lock/capabilities.lock.yaml
  tools/lock_yaml_generator/cli.py
  tools/lock_yaml_generator/generate_clock_integrity.py
  tools/lock_yaml_generator/generate_preservation_substrates.py
  tools/lock_yaml_generator/lock_registry.py
Due: prettier

chore: add tier1 root .gitignore for Rust target/
  src/tier1/.gitignore
Due: none

feat: tier1 9 spec complete - migration_pair/observation/auth/kek/schema
  src/_meta/lock/axis_registry.lock.yaml
  src/_meta/lock/cross_cutting_registry.lock.yaml
  src/_meta/lock/docs_lint.lock.yaml
  src/_meta/lock/ownership_table.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/_meta/lock/repository_layout.lock.yaml
  src/tier1/lock/backends.lock.yaml
  src/tier1/lock/backends_input.yaml
  src/tier1/lock/capabilities.lock.yaml
  src/tier1/lock/dry_run.lock.yaml
  src/tier1/lock/dry_run_input.yaml
  src/tier1/lock/enforcement_points.lock.yaml
  src/tier1/lock/idp_capabilities.lock.yaml
  src/tier1/lock/instruments.lock.yaml
  src/tier1/lock/oss_inventory.lock.yaml
  src/tier1/lock/registries.lock.yaml
  src/tier1/lock/registries_input.yaml
  src/tier1/lock/signals.lock.yaml
  src/tier1/lock/signals_input.yaml
  src/tier1/server/gateway/Cargo.toml
  src/tier1/server/gateway/src/main.rs
  tools/lock_yaml_generator/generate_backends.py
  tools/lock_yaml_generator/generate_dry_run.py
  tools/lock_yaml_generator/generate_registries.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
  tools/lock_yaml_generator/generate_signals.py
  tools/lock_yaml_generator/lock_registry.py
Due: rust-fmt, rust-clippy, prettier

feat: P10 tier2 implementation complete
  src/_meta/lock/axis_registry.lock.yaml
  src/_meta/lock/cross_cutting_registry.lock.yaml
  src/_meta/lock/docs_lint.lock.yaml
  src/_meta/lock/ownership_table.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/_meta/lock/repository_layout.lock.yaml
  src/tier2/csharp/TenantContext.cs
  src/tier2/csharp/k1s0.Tier2.TenantContext.csproj
  src/tier2/go/go.mod
  src/tier2/go/go.sum
  src/tier2/go/tenantcontext/tenant_context.go
  src/tier2/lock/migration.lock.yaml
  src/tier2/pack/_stub_service/stub.rs
  src/tier2/pack/manufacturing/domain/entity.rs
  src/tier2/pack/manufacturing/regulations/iso9001.yaml
  src/tier2/pack/manufacturing/stress_test/fixture.rs
  src/tier2/pack/manufacturing/vocabulary.yaml
  src/tier2/rust/.gitignore
  src/tier2/rust/Cargo.lock
  src/tier2/rust/Cargo.toml
  src/tier2/rust/src/atomic_triple_write.rs
  src/tier2/rust/src/lib.rs
  src/tier2/rust/src/outbox.rs
  src/tier2/rust/src/repository.rs
  src/tier2/rust/src/tenant_context.rs
  src/tier2/tenant_isolation/guc_session_context.sql
  src/tier2/tenant_isolation/pgaudit_config.yaml
  src/tier2/tenant_isolation/rls_policies.sql
  src/tier2/tenant_isolation/table_classes.yaml
  src/tier2/tenant_isolation/transaction_units.yaml
  src/tier2/typescript/package.json
  src/tier2/typescript/src/tenantContext.ts
  tools/lock_yaml_generator/generate_migration.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
  tools/lock_yaml_generator/lock_registry.py
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

fix: tier2 4件の漏れ修正（go.work/rls_policies.sql/audit_event/pgaudit）
  src/data/lock/preservation_substrates.lock.yaml
  src/data/lock/restore_drill.lock.yaml
  src/formal/lock/assumption.lock.yaml
  src/formal/lock/counter_example.lock.yaml
  src/formal/lock/proof_inventory.lock.yaml
  src/formal/lock/proof_review.lock.yaml
  src/formal/lock/proof_status.lock.yaml
  src/infra/lock/clock_causality_proof.lock.yaml
  src/infra/lock/failover_drill.lock.yaml
  src/infra/lock/topology_class.lock.yaml
  src/security/lock/artifact_inventory.lock.yaml
  src/security/lock/threat_model.lock.yaml
  src/test/lock/coverage_matrix.lock.yaml
  src/test/lock/regression_corpus.lock.yaml
  src/tier1/go.work
  src/tier1/lock/backends.lock.yaml
  src/tier1/lock/capabilities.lock.yaml
  src/tier1/lock/dry_run.lock.yaml
  src/tier1/lock/enforcement_points.lock.yaml
  src/tier1/lock/idp_capabilities.lock.yaml
  src/tier1/lock/instruments.lock.yaml
  src/tier1/lock/oss_inventory.lock.yaml
  src/tier1/lock/registries.lock.yaml
  src/tier1/lock/signals.lock.yaml
  src/tier1/server/Cargo.lock
  src/tier2/tenant_isolation/rls_policies.sql
Due: prettier
