Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: CRIT-005 対応として Kustomize のリソースから audit-policy.yaml と encryption-config.yaml を除外
  .github/workflows/_validate.yaml
  docs/infrastructure/kubernetes/kubernetes設計.md
  infra/kubernetes/overlays/prod/kustomization.yaml
  infra/kubernetes/security/kustomization.yaml
Due: prettier

work
  CLI/crates/k1s0-cli/src/commands/generate_config_types.rs
  CLI/crates/k1s0-core/src/commands/dev/seed.rs
  CLI/crates/k1s0-core/src/commands/init.rs
  CLI/crates/k1s0-core/src/template/mod.rs
  docker-compose.dev.yaml
  docker-compose.yaml
  docs/architecture/adr/0080-external-audit-remediation-2026-04-03-v3.md
  docs/cli/README.md
  docs/servers/system/auth/database.md
  docs/servers/system/featureflag/database.md
  docs/servers/system/featureflag/server.md
  infra/docker/init-db/00-create-app-user.sh
  infra/docker/keycloak/k1s0-realm.json
  infra/helm/charts/k1s0-common/values.yaml
  infra/helm/services/system/quota/values.yaml
  infra/kong/kong.dev.yaml
  infra/kong/kong.yaml
  regions/service/activity/database/postgres/migrations/005_add_outbox_rls.down.sql
  regions/service/activity/database/postgres/migrations/005_add_outbox_rls.up.sql
  regions/service/activity/server/rust/activity/src/infrastructure/database/activity_repository.rs
  regions/service/board/database/postgres/migrations/004_add_outbox_rls.down.sql
  regions/service/board/database/postgres/migrations/004_add_outbox_rls.up.sql
  regions/service/board/server/rust/board/src/infrastructure/database/board_column_repository.rs
  regions/service/task/database/postgres/migrations/009_add_outbox_rls.down.sql
  regions/service/task/database/postgres/migrations/009_add_outbox_rls.up.sql
  regions/service/task/server/rust/task/src/infrastructure/database/task_repository.rs
  regions/system/client/flutter/system_client/lib/src/auth/auth_provider.dart
  regions/system/client/flutter/system_client/lib/src/http/api_client.dart
  regions/system/client/react/system-client/src/auth/AuthProvider.tsx
  regions/system/server/rust/dlq-manager/config/config.docker.yaml
  regions/system/server/rust/dlq-manager/src/infrastructure/kafka/mod.rs
  regions/system/server/rust/featureflag/src/adapter/repository/featureflag_postgres.rs
  regions/system/server/rust/rule-engine/src/infrastructure/database.rs
  regions/system/server/rust/workflow/src/adapter/repository/definition_postgres.rs
  regions/system/server/rust/workflow/src/adapter/repository/instance_postgres.rs
  regions/system/server/rust/workflow/src/adapter/repository/postgres_support.rs
  regions/system/server/rust/workflow/src/adapter/repository/task_postgres.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

work
  .github/workflows/security.yaml
  .gitignore
  infra/ansible/inventory/.env.ansible.example
  regions/system/client/flutter/system_client/lib/src/http/api_client.dart
Due: prettier, dart-analyze, dart-format

feat: gRPC テナント分離設計の実装と CSRF 保護の追加
  .github/workflows/proto.yaml
  .gitleaks.toml
  CLI/crates/k1s0-cli/src/commands/init.rs
  api/proto/gen/dart/k1s0/system/servicecatalog/v1/service_catalog.pb.dart
  api/proto/gen/dart/k1s0/system/servicecatalog/v1/service_catalog.pbenum.dart
  api/proto/gen/dart/k1s0/system/servicecatalog/v1/service_catalog.pbgrpc.dart
  api/proto/gen/dart/k1s0/system/servicecatalog/v1/service_catalog.pbjson.dart
  api/proto/gen/go/k1s0/system/servicecatalog/v1/service_catalog.pb.go
  api/proto/gen/go/k1s0/system/servicecatalog/v1/service_catalog_grpc.pb.go
  api/proto/gen/rust/k1s0/system/navigation/v1/k1s0.system.navigation.v1.rs
  api/proto/gen/rust/k1s0/system/servicecatalog/v1/k1s0.system.servicecatalog.v1.rs
  api/proto/gen/rust/k1s0/system/servicecatalog/v1/k1s0.system.servicecatalog.v1.tonic.rs
  api/proto/gen/ts/k1s0/system/servicecatalog/v1/service_catalog.client.ts
  api/proto/gen/ts/k1s0/system/servicecatalog/v1/service_catalog.ts
  api/proto/k1s0/system/servicecatalog/v1/service_catalog.proto
  docker-compose.yaml
  docs/architecture/adr/0109-vault-eventmonitor-maintenance-tenant-isolation.md
  docs/architecture/adr/0110-outbox-bypassrls-publisher-role.md
  docs/architecture/multi-tenancy.md
  docs/cli/flow/CLIフロー.md
  docs/infrastructure/cicd/CI-CD設計.md
  docs/infrastructure/docker/compose-インフラサービス設計.md
  docs/infrastructure/kubernetes/デプロイ手順書.md
  docs/servers/service/activity/server.md
  docs/servers/service/board/server.md
  docs/servers/system/bff-proxy/server.md
  docs/servers/system/notification/server.md
  docs/servers/system/service-catalog/implementation.md
  infra/keycloak/realm-k1s0.json
  regions/service/activity/server/rust/activity/src/adapter/grpc/activity_grpc.rs
  regions/service/board/server/rust/board/src/adapter/grpc/board_grpc.rs
  regions/system/client/flutter/system_client/lib/src/auth/auth_provider.dart
  regions/system/server/go/bff-proxy/cmd/server/main.go
  regions/system/server/go/bff-proxy/internal/middleware/csrf_test.go
  regions/system/server/go/bff-proxy/internal/usecase/auth_usecase.go
  regions/system/server/rust/graphql-gateway/build.rs
  regions/system/server/rust/notification/src/adapter/grpc/notification_grpc.rs
  regions/system/server/rust/notification/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/vault/src/adapter/grpc/vault_grpc.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: deprecated警告を抑制し、データ変換でのキャストを許容する設定を追加
  regions/system/server/rust/dlq-manager/src/adapter/grpc/tonic_service.rs
Due: rust-fmt, rust-clippy

feat: CLAUDE設定ファイルを追加
  .claude/setting.json
Due: prettier

feat: README.mdを新規作成
  README.md
Due: none

feat: コーディング規約を新規作成
  CLAUDE.md
Due: none

feat: README.mdを新規作成
  setup/README.md
Due: none

fix: README.mdのGUIモジュールの技術スタックからLinuxを削除
  setup/README.md
Due: none

fix: README.mdのGUIモジュールの技術スタックからMUIを削除
  setup/README.md
Due: none

feat: .gitignoreファイルを新規作成
  setup/.gitignore
Due: none

fix: コーディング規約の文言を修正し、技術スタックを追加
  CLAUDE.md
  setup/.gitignore
Due: none

feat: CHANGELOG.mdのフォーマット規約を新規作成
  docs/00_format/CHANGELOG.md
Due: none

feat: README.mdファイルの内容を更新し、CLIおよびGUIモジュールの詳細を追加
  setup/README.md
  setup/cli/README.md
  setup/common/README.md
  setup/gui/README.md
Due: none

feat: README.mdの内容を更新し、フロントエンドおよびビルドツールの詳細を追加
  setup/gui/README.md
Due: none

feat: README.mdの内容を更新し、プラットフォーム、前提条件、テスト、ダウンロードセクションを追加
  setup/cli/README.md
  setup/common/README.md
  setup/gui/README.md
Due: none

feat: README.mdの利用方法セクションを更新
  setup/common/README.md
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
