Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format, python-lint, swift-format, dotnet-format, dotnet-build

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

      - id: python-lint
        name: Python Lint
        entry: ruff check
        language: system
        files: '\.py$'

      - id: swift-format
        name: Swift Format Check
        entry: swift-format lint --recursive
        language: system
        files: '\.swift$'
        pass_filenames: false

      - id: dotnet-format
        name: dotnet format
        entry: bash -c 'for proj in regions/system/library/csharp/*/K1s0.System.*.csproj; do [ -f "$proj" ] && dotnet format "$proj" --verify-no-changes; done'
        language: system
        files: '\.cs$'
        pass_filenames: false

      - id: dotnet-build
        name: dotnet build
        entry: bash -c 'for proj in regions/system/library/csharp/*/K1s0.System.*.csproj; do [ -f "$proj" ] && dotnet build "$proj" -c Release --no-restore; done'
        language: system
        files: '\.cs$'
        pass_filenames: false

feat: バナーSVGのサイズ変更と要素の調整
  docs/diagrams/banner.svg
Due: none

feat: .claudeignoreの最適化
  .claudeignore
Due: none

feat: E2Eテスト関連のコードと設定の整理
  CLI/crates/k1s0-gui/ui/src/lib/__tests__/tauri-commands.test.ts
  CLI/crates/k1s0-gui/ui/src/lib/tauri-commands.ts
  CLI/crates/k1s0-gui/ui/src/pages/TestPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/TestPage.test.tsx
  regions/system/server/rust/config/src/usecase/update_config.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: ValidationErrorクラスのコード修正
  regions/system/library/dart/validation/lib/src/error.dart
Due: dart-analyze, dart-format

feat: コードの最適化と不要なインポートの削除
  CLI/crates/k1s0-core/src/commands/test_cmd.rs
  regions/system/library/dart/encryption/test/encryption_test.dart
  regions/system/library/dart/migration/lib/src/runner.dart
  regions/system/library/dart/retry/test/retry_test.dart
  regions/system/library/dart/search_client/lib/src/client.dart
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: ドキュメントの修正と最適化
  docs/system-dlq-manager-server-デプロイ設計.md
  docs/system-file-server設計.md
  docs/system-graphql-gateway-デプロイ設計.md
  docs/system-master-maintenance-server設計.md
  docs/system-vault-server設計.md
  docs/terraform設計.md
  docs/テンプレート仕様-BFF.md
  docs/テンプレート仕様-レンダリングテスト-Rust.md
Due: none

feat: 設定ファイルのセクション名を修正
  docs/system-vault-server設計.md
Due: none

feat: RESTポートの設定に関する注意事項を削除
  docs/system-vault-server設計.md
Due: none

feat: KafkaとVaultの有効化設定を追加
  docs/system-vault-server設計.md
  docs/メッセージング設計.md
Due: none

feat: 検索エンジンの実装に関する注意事項を削除
  docs/system-search-server設計.md
Due: none

feat: フィルタとファセットの実装予定に関する注意事項を削除
  docs/system-search-server設計.md
Due: none

feat: 検索APIにフィルタとファセットのフィールドを追加
  docs/system-search-server設計.md
Due: none

feat: 検索ドメインサービスのファセット集計ロジックを明確化
  docs/system-search-server設計.md
Due: none

feat: 検索リポジトリ実装のフェーズを更新
  docs/system-search-server設計.md
Due: none

feat: テナントメンバー管理機能の実装を更新
  docs/system-ratelimit-server設計.md
  docs/system-tenant-server設計.md
Due: none

feat: クォータポリシーのAPIエンドポイントを実装
  docs/system-quota-server設計.md
Due: none

feat: ストリームとフラグ、ポリシー、ジョブの削除機能を実装
  regions/system/server/rust/event-store/src/adapter/handler/event_handler.rs
  regions/system/server/rust/event-store/src/adapter/handler/mod.rs
  regions/system/server/rust/event-store/src/main.rs
  regions/system/server/rust/featureflag/src/adapter/handler/flag_handler.rs
  regions/system/server/rust/featureflag/src/adapter/handler/mod.rs
  regions/system/server/rust/featureflag/src/main.rs
  regions/system/server/rust/featureflag/src/usecase/delete_flag.rs
  regions/system/server/rust/featureflag/src/usecase/mod.rs
  regions/system/server/rust/policy/src/adapter/handler/mod.rs
  regions/system/server/rust/policy/src/adapter/handler/policy_handler.rs
  regions/system/server/rust/policy/src/main.rs
  regions/system/server/rust/policy/src/usecase/delete_policy.rs
  regions/system/server/rust/policy/src/usecase/mod.rs
  regions/system/server/rust/scheduler/src/adapter/handler/job_handler.rs
  regions/system/server/rust/scheduler/src/adapter/handler/mod.rs
  regions/system/server/rust/scheduler/src/main.rs
  regions/system/server/rust/scheduler/src/usecase/delete_job.rs
  regions/system/server/rust/scheduler/src/usecase/mod.rs
Due: rust-fmt, rust-clippy

feat: クォータ、レートリミット、スケジューラー、ボールトのAPIを拡張
  regions/system/server/rust/quota/src/adapter/handler/mod.rs
  regions/system/server/rust/quota/src/adapter/handler/quota_handler.rs
  regions/system/server/rust/quota/src/main.rs
  regions/system/server/rust/quota/src/usecase/reset_quota_usage.rs
  regions/system/server/rust/ratelimit/src/adapter/handler/mod.rs
  regions/system/server/rust/ratelimit/src/adapter/handler/ratelimit_handler.rs
  regions/system/server/rust/ratelimit/src/adapter/repository/cached_ratelimit_repository.rs
  regions/system/server/rust/ratelimit/src/adapter/repository/ratelimit_postgres.rs
  regions/system/server/rust/ratelimit/src/domain/repository/rate_limit_repository.rs
  regions/system/server/rust/ratelimit/src/main.rs
  regions/system/server/rust/ratelimit/src/usecase/mod.rs
  regions/system/server/rust/scheduler/src/adapter/handler/job_handler.rs
  regions/system/server/rust/scheduler/src/adapter/handler/mod.rs
  regions/system/server/rust/scheduler/src/main.rs
  regions/system/server/rust/vault/src/adapter/handler/mod.rs
  regions/system/server/rust/vault/src/adapter/handler/vault_handler.rs
Due: rust-fmt, rust-clippy

feat: レートリミット機能の改善とスケジューラ機能の追加
  regions/system/database/scheduler-db/migrations/004_add_job_fields.down.sql
  regions/system/database/scheduler-db/migrations/004_add_job_fields.up.sql
  regions/system/server/rust/quota/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/quota/src/adapter/handler/quota_handler.rs
  regions/system/server/rust/quota/src/infrastructure/kafka_producer.rs
  regions/system/server/rust/quota/src/main.rs
  regions/system/server/rust/quota/src/usecase/increment_quota_usage.rs
  regions/system/server/rust/ratelimit/src/adapter/grpc/ratelimit_grpc.rs
  regions/system/server/rust/ratelimit/src/adapter/handler/mod.rs
  regions/system/server/rust/ratelimit/src/adapter/handler/ratelimit_handler.rs
  regions/system/server/rust/ratelimit/src/adapter/repository/cached_ratelimit_repository.rs
  regions/system/server/rust/ratelimit/src/adapter/repository/ratelimit_postgres.rs
  regions/system/server/rust/ratelimit/src/domain/entity/rate_limit_rule.rs
  regions/system/server/rust/ratelimit/src/domain/repository/rate_limit_repository.rs
  regions/system/server/rust/ratelimit/src/infrastructure/cache.rs
  regions/system/server/rust/ratelimit/src/infrastructure/redis_store.rs
  regions/system/server/rust/ratelimit/src/main.rs
  regions/system/server/rust/ratelimit/src/usecase/check_rate_limit.rs
  regions/system/server/rust/ratelimit/src/usecase/create_rule.rs
  regions/system/server/rust/ratelimit/src/usecase/get_rule.rs
  regions/system/server/rust/ratelimit/src/usecase/get_usage.rs
  regions/system/server/rust/ratelimit/src/usecase/list_rules.rs
  regions/system/server/rust/ratelimit/src/usecase/mod.rs
  regions/system/server/rust/ratelimit/src/usecase/reset_rate_limit.rs
  regions/system/server/rust/ratelimit/src/usecase/update_rule.rs
  regions/system/server/rust/scheduler/src/adapter/handler/job_handler.rs
  regions/system/server/rust/scheduler/src/adapter/handler/mod.rs
  regions/system/server/rust/scheduler/src/adapter/repository/scheduler_job_postgres.rs
  regions/system/server/rust/scheduler/src/domain/entity/scheduler_job.rs
  regions/system/server/rust/scheduler/src/infrastructure/cache.rs
  regions/system/server/rust/scheduler/src/main.rs
  regions/system/server/rust/scheduler/src/usecase/create_job.rs
  regions/system/server/rust/scheduler/src/usecase/list_jobs.rs
  regions/system/server/rust/scheduler/src/usecase/mod.rs
  regions/system/server/rust/scheduler/src/usecase/trigger_job.rs
  regions/system/server/rust/scheduler/src/usecase/update_job.rs
Due: rust-fmt, rust-clippy

feat: gRPC JWT 認証インターセプターの実装とテスト追加
  regions/system/library/go/auth/go.mod
  regions/system/library/go/auth/go.sum
  regions/system/library/go/auth/grpc_interceptor.go
  regions/system/library/go/auth/grpc_interceptor_test.go
Due: go-lint

feat: レートリミット機能のスキーマとテストの追加
  regions/system/database/ratelimit-db/migrations/001_create_schema.down.sql
  regions/system/database/ratelimit-db/migrations/001_create_schema.up.sql
  regions/system/database/ratelimit-db/migrations/002_create_rate_limit_rules.down.sql
  regions/system/database/ratelimit-db/migrations/002_create_rate_limit_rules.up.sql
  regions/system/server/rust/ratelimit/Cargo.toml
  regions/system/server/rust/ratelimit/tests/db_integration_test.rs
Due: rust-fmt, rust-clippy

feat: OPAクライアントの実装と評価ポリシー機能の強化
  regions/system/server/rust/policy/Cargo.toml
  regions/system/server/rust/policy/src/adapter/grpc/policy_grpc.rs
  regions/system/server/rust/policy/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/policy/src/adapter/handler/policy_handler.rs
  regions/system/server/rust/policy/src/infrastructure/mod.rs
  regions/system/server/rust/policy/src/infrastructure/opa_client.rs
  regions/system/server/rust/policy/src/main.rs
  regions/system/server/rust/policy/src/usecase/evaluate_policy.rs
  regions/system/server/rust/quota/Cargo.toml
  regions/system/server/rust/quota/src/adapter/handler/mod.rs
  regions/system/server/rust/quota/src/infrastructure/mod.rs
  regions/system/server/rust/quota/src/infrastructure/redis_store.rs
  regions/system/server/rust/quota/src/main.rs
  regions/system/server/rust/search/Cargo.toml
  regions/system/server/rust/search/src/adapter/repository/mod.rs
  regions/system/server/rust/search/src/adapter/repository/search_opensearch.rs
  regions/system/server/rust/search/src/main.rs
Due: rust-fmt, rust-clippy

feat: レートリミット機能の使用状況取得とリセット機能の追加
  api/proto/k1s0/system/dlq/v1/dlq.proto
  api/proto/k1s0/system/ratelimit/v1/ratelimit.proto
  regions/system/server/rust/ratelimit/src/adapter/grpc/ratelimit_grpc.rs
  regions/system/server/rust/ratelimit/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/ratelimit/src/main.rs
  regions/system/server/rust/ratelimit/src/proto/k1s0.system.ratelimit.v1.rs
  regions/system/server/rust/ratelimit/src/usecase/mod.rs
  regions/system/server/rust/vault/src/adapter/handler/mod.rs
  regions/system/server/rust/vault/src/adapter/handler/vault_handler.rs
  regions/system/server/rust/vault/src/adapter/repository/access_log_postgres.rs
  regions/system/server/rust/vault/src/domain/repository/access_log_repo.rs
  regions/system/server/rust/vault/src/main.rs
  regions/system/server/rust/vault/src/usecase/list_audit_logs.rs
  regions/system/server/rust/vault/src/usecase/mod.rs
Due: rust-fmt, rust-clippy

feat: フラグ削除APIのパスを修正
  docs/system-library-ratelimit-client設計.md
  regions/system/server/rust/featureflag/src/adapter/handler/flag_handler.rs
  regions/system/server/rust/featureflag/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy

feat: 通知機能にメール、Slack、Webhookの配信クライアントを追加
  docs/system-featureflag-server設計.md
  regions/system/server/rust/api-registry/src/adapter/handler/schema_handler.rs
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/config/src/adapter/handler/config_handler.rs
  regions/system/server/rust/config/src/main.rs
  regions/system/server/rust/config/src/usecase/delete_config.rs
  regions/system/server/rust/config/src/usecase/update_config.rs
  regions/system/server/rust/notification/Cargo.toml
  regions/system/server/rust/notification/src/adapter/grpc/notification_grpc.rs
  regions/system/server/rust/notification/src/adapter/handler/notification_handler.rs
  regions/system/server/rust/notification/src/domain/mod.rs
  regions/system/server/rust/notification/src/domain/service/delivery_client.rs
  regions/system/server/rust/notification/src/domain/service/mod.rs
  regions/system/server/rust/notification/src/infrastructure/delivery/email_client.rs
  regions/system/server/rust/notification/src/infrastructure/delivery/mod.rs
  regions/system/server/rust/notification/src/infrastructure/delivery/slack_client.rs
  regions/system/server/rust/notification/src/infrastructure/delivery/webhook_client.rs
  regions/system/server/rust/notification/src/infrastructure/mod.rs
  regions/system/server/rust/notification/src/main.rs
  regions/system/server/rust/notification/src/usecase/send_notification.rs
  regions/system/server/rust/vault/Cargo.toml
  regions/system/server/rust/vault/src/adapter/gateway/mod.rs
  regions/system/server/rust/vault/src/adapter/gateway/vault_client.rs
  regions/system/server/rust/vault/src/adapter/mod.rs
  regions/system/server/rust/vault/src/adapter/repository/mod.rs
  regions/system/server/rust/vault/src/adapter/repository/vault_secret_store.rs
  regions/system/server/rust/vault/src/main.rs
Due: rust-fmt, rust-clippy

feat: mcpServersの設定を削除
  .mcp.json
Due: prettier

feat: メッセージング設計と可観測性設計のガイドを追加
  docs/architecture/api/APIゲートウェイ設計.guide.md
  docs/architecture/api/APIゲートウェイ設計.md
  docs/architecture/api/GraphQL設計.guide.md
  docs/architecture/api/GraphQL設計.md
  docs/architecture/api/REST-API設計.guide.md
  docs/architecture/api/REST-API設計.md
  docs/architecture/api/gRPC設計.guide.md
  docs/architecture/api/gRPC設計.md
  docs/architecture/api/proto設計.guide.md
  docs/architecture/api/proto設計.md
  docs/architecture/auth/RBAC設計.guide.md
  docs/architecture/auth/RBAC設計.md
  docs/architecture/auth/認証設計.guide.md
  docs/architecture/auth/認証設計.md
  docs/architecture/messaging/メッセージング設計.guide.md
  docs/architecture/messaging/メッセージング設計.md
  docs/architecture/observability/ログ設計.guide.md
  docs/architecture/observability/ログ設計.md
  docs/architecture/observability/可観測性設計.guide.md
  docs/architecture/observability/可観測性設計.md
Due: none
