Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

feat: ドキュメントの更新と改善
  docs/libraries/_common/概要.md
  docs/libraries/data/cache.md
  docs/libraries/data/distributed-lock.md
  docs/libraries/data/eventstore.md
  docs/libraries/data/migration.md
  docs/libraries/data/pagination.md
  docs/libraries/data/schemaregistry.md
Due: none

feat: マイグレーションとページネーションの改善
  docs/libraries/data/migration.md
  docs/libraries/data/pagination.md
  docs/libraries/data/schemaregistry.md
Due: none

feat(notification-client): メタデータを含む通知リクエストの拡張
  docs/libraries/messaging/dlq-client.md
  docs/libraries/messaging/event-bus.md
  docs/libraries/messaging/kafka.md
  docs/libraries/messaging/messaging.md
  docs/libraries/messaging/notification-client.md
  docs/libraries/messaging/outbox.md
  docs/libraries/messaging/webhook-client.md
  regions/system/library/dart/dlq_client/lib/src/types.dart
  regions/system/library/dart/notification_client/lib/src/client.dart
  regions/system/library/dart/websocket/lib/src/ws_client.dart
  regions/system/library/dart/websocket/test/ws_client_test.dart
  regions/system/library/go/dlq-client/types.go
  regions/system/library/go/notification-client/notificationclient.go
  regions/system/library/rust/dlq-client/src/types.rs
  regions/system/library/typescript/dlq-client/src/types.ts
  regions/system/library/typescript/notification-client/package-lock.json
  regions/system/library/typescript/notification-client/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat(audit-client): 監査イベントにメタデータを追加し、エラーハンドリングを強化
  docs/libraries/_common/概要.md
  docs/libraries/observability/audit-client.md
  docs/libraries/observability/correlation.md
  docs/libraries/observability/health.md
  docs/libraries/observability/telemetry.md
  docs/libraries/observability/tracing.md
  regions/system/library/dart/audit_client/lib/src/client.dart
  regions/system/library/dart/audit_client/lib/src/event.dart
  regions/system/library/dart/audit_client/pubspec.yaml
  regions/system/library/dart/telemetry/lib/src/init.dart
  regions/system/library/go/audit-client/auditclient.go
  regions/system/library/go/audit-client/auditclient_test.go
  regions/system/library/typescript/audit-client/package-lock.json
  regions/system/library/typescript/audit-client/src/index.ts
Due: go-lint, ts-lint, prettier, dart-analyze, dart-format

feat: ドキュメントの更新と改善
  docs/libraries/auth-security/authlib.md
  docs/libraries/client-sdk/graphql-client.md
  docs/libraries/client-sdk/ratelimit-client.md
  docs/libraries/config/config.md
  docs/libraries/data/distributed-lock.md
  docs/libraries/observability/health.md
  docs/libraries/testing/test-helper.md
Due: none

feat: テナントサーバーの設計とAPIを更新
  docs/servers/api-registry/server.md
  docs/servers/auth/server.md
  docs/servers/bff-proxy/server.md
  docs/servers/config/server.md
  docs/servers/dlq-manager/server.md
  docs/servers/event-store/server.md
  docs/servers/featureflag/server.md
  docs/servers/file/server.md
  docs/servers/navigation/server.md
  docs/servers/notification/server.md
  docs/servers/policy/server.md
  docs/servers/quota/server.md
  docs/servers/ratelimit/server.md
  docs/servers/saga/server.md
  docs/servers/scheduler/server.md
  docs/servers/search/server.md
  docs/servers/session/server.md
  docs/servers/tenant/server.md
  docs/servers/vault/server.md
  docs/servers/workflow/server.md
Due: none

feat: 監査ログの構造体を更新し、ユーザー情報を強化
  docs/servers/_common/deploy.md
  docs/servers/_common/implementation.md
Due: none

feat: リポジトリインターフェースの追加
  regions/system/server/rust/master-maintenance/src/domain/repository/display_config_repository.rs
  regions/system/server/rust/master-maintenance/src/domain/repository/import_job_repository.rs
  regions/system/server/rust/master-maintenance/src/domain/repository/mod.rs
  regions/system/server/rust/master-maintenance/src/domain/repository/table_relationship_repository.rs
Due: rust-fmt, rust-clippy

feat: テーブル定義、リレーションシップ、インポート/エクスポート機能の追加
  CLI/crates/k1s0-cli/templates/docker-compose/docker-compose.yaml.tera
  docker-compose.yaml
  docs/infrastructure/cicd/CI-CD設計.md
  docs/infrastructure/docker/docker-compose設計.md
  docs/templates/infrastructure/DockerCompose.md
  infra/kubernetes/verify/kafka.yaml
  regions/system/server/rust/master-maintenance/src/adapter/grpc/master_maintenance_grpc.rs
  regions/system/server/rust/master-maintenance/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/display_config_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/import_export_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/mod.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/relationship_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/middleware/rbac.rs
  regions/system/server/rust/master-maintenance/src/domain/repository/display_config_repository.rs
  regions/system/server/rust/master-maintenance/src/domain/repository/import_job_repository.rs
  regions/system/server/rust/master-maintenance/src/domain/repository/table_relationship_repository.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/change_log_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/column_definition_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/consistency_rule_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/display_config_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/dynamic_record_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/import_job_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/mod.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/table_relationship_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/rule_engine/zen_engine_adapter.rs
  regions/system/server/rust/master-maintenance/src/main.rs
  regions/system/server/rust/master-maintenance/src/usecase/import_export.rs
  regions/system/server/rust/master-maintenance/src/usecase/manage_display_configs.rs
  regions/system/server/rust/master-maintenance/src/usecase/manage_relationships.rs
  regions/system/server/rust/master-maintenance/src/usecase/manage_table_definitions.rs
  regions/system/server/rust/master-maintenance/src/usecase/mod.rs
Due: rust-fmt, rust-clippy, prettier

feat: gRPCおよびProtoファイルのディレクトリ構成を更新
  docs/architecture/api/gRPC設計.md
  docs/architecture/api/proto設計.md
  docs/architecture/messaging/メッセージング設計.md
Due: none

feat: APIゲートウェイ設計とGraphQL設計にトラフィックフローを追加
  docs/architecture/api/APIゲートウェイ設計.md
  docs/architecture/api/GraphQL設計.md
  docs/architecture/auth/認証設計.md
  docs/infrastructure/docker/docker-compose設計.md
Due: none

feat: ドキュメントとライブラリの更新
  docs/architecture/api/APIゲートウェイ設計.md
  docs/architecture/api/GraphQL設計.md
  docs/architecture/auth/サービス間認証設計.md
  docs/architecture/overview/tier-architecture.md
  docs/infrastructure/service-mesh/サービスメッシュ設計.md
  docs/libraries/data/pagination.md
  docs/servers/graphql-gateway/deploy.md
  regions/system/library/dart/pagination/lib/src/cursor.dart
  regions/system/library/go/pagination/pagination.go
  regions/system/library/rust/pagination/src/cursor.rs
  regions/system/library/typescript/pagination/__tests__/pagination.test.ts
  regions/system/library/typescript/pagination/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: .gitignoreとドキュメントの更新
  .gitignore
  docs/infrastructure/kubernetes/helm設計.md
  docs/servers/graphql-gateway/server.md
Due: none

feat: JWKSプロバイダーの実装とエンドポイントの追加
  docs/architecture/auth/JWT設計.md
  docs/architecture/auth/認証設計.md
  docs/servers/auth/server.md
  regions/system/server/rust/auth/src/adapter/handler/jwks_handler.rs
  regions/system/server/rust/auth/src/adapter/handler/mod.rs
  regions/system/server/rust/auth/src/infrastructure/jwks_provider.rs
  regions/system/server/rust/auth/src/infrastructure/mod.rs
  regions/system/server/rust/auth/src/main.rs
Due: rust-fmt, rust-clippy

feat: gRPCポートを50051に変更し、JWT検証の責務を明確化
  docs/architecture/auth/JWT設計.md
  docs/architecture/auth/RBAC設計.md
  docs/architecture/auth/認証認可設計.md
  docs/servers/graphql-gateway/deploy.md
  docs/servers/graphql-gateway/implementation.md
  docs/servers/policy/server.md
  docs/servers/workflow/server.md
  infra/helm/services/system/graphql-gateway/values-dev.yaml
  infra/helm/services/system/graphql-gateway/values-prod.yaml
  infra/helm/services/system/graphql-gateway/values-staging.yaml
  regions/system/server/rust/auth/src/adapter/handler/audit_handler.rs
  regions/system/server/rust/auth/src/adapter/handler/auth_handler.rs
  regions/system/server/rust/auth/src/adapter/handler/navigation_handler.rs
  regions/system/server/rust/auth/src/adapter/middleware/auth.rs
  regions/system/server/rust/auth/src/adapter/middleware/rbac.rs
  regions/system/server/rust/auth/tests/integration_test.rs
  regions/system/server/rust/graphql-gateway/src/infra/config/mod.rs
  regions/system/server/rust/policy/build.rs
  regions/system/server/rust/policy/src/infrastructure/config.rs
  regions/system/server/rust/policy/src/main.rs
  regions/system/server/rust/policy/src/proto/k1s0.system.policy.v1.rs
  regions/system/server/rust/workflow/src/infrastructure/config.rs
  regions/system/server/rust/workflow/src/main.rs
Due: rust-fmt, rust-clippy, prettier

feat: gRPCポートを50051に変更
  regions/system/server/rust/api-registry/src/infrastructure/config.rs
  regions/system/server/rust/event-store/src/infrastructure/config.rs
  regions/system/server/rust/featureflag/src/infrastructure/config.rs
  regions/system/server/rust/featureflag/src/main.rs
  regions/system/server/rust/notification/src/infrastructure/config.rs
  regions/system/server/rust/notification/src/main.rs
  regions/system/server/rust/quota/build.rs
  regions/system/server/rust/quota/src/infrastructure/config.rs
  regions/system/server/rust/quota/src/main.rs
  regions/system/server/rust/quota/src/proto/k1s0.system.quota.v1.rs
  regions/system/server/rust/scheduler/build.rs
  regions/system/server/rust/scheduler/src/infrastructure/config.rs
  regions/system/server/rust/scheduler/src/main.rs
  regions/system/server/rust/scheduler/src/proto/k1s0.system.scheduler.v1.rs
  regions/system/server/rust/search/build.rs
  regions/system/server/rust/search/src/infrastructure/config.rs
  regions/system/server/rust/search/src/main.rs
  regions/system/server/rust/search/src/proto/k1s0.system.search.v1.rs
  regions/system/server/rust/session/src/infrastructure/config.rs
  regions/system/server/rust/session/src/main.rs
Due: rust-fmt, rust-clippy

feat: JWKSエンドポイントの追加とレスポンス仕様の明確化
  docs/servers/auth/server.md
Due: none

feat: 整合性チェック機能の改善とルール情報の追加
  docs/servers/master-maintenance/server.md
  regions/system/server/rust/master-maintenance/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/master-maintenance/src/domain/value_object/rule_result.rs
  regions/system/server/rust/master-maintenance/src/usecase/check_consistency.rs
Due: rust-fmt, rust-clippy

feat: ナビゲーション機能の実装
  regions/system/Cargo.toml
  regions/system/server/rust/navigation/Cargo.toml
  regions/system/server/rust/navigation/build.rs
  regions/system/server/rust/navigation/config/config.yaml
  regions/system/server/rust/navigation/config/navigation.yaml
  regions/system/server/rust/navigation/src/adapter/grpc/mod.rs
  regions/system/server/rust/navigation/src/adapter/grpc/navigation_grpc.rs
  regions/system/server/rust/navigation/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/navigation/src/adapter/handler/health.rs
  regions/system/server/rust/navigation/src/adapter/handler/mod.rs
  regions/system/server/rust/navigation/src/adapter/mod.rs
  regions/system/server/rust/navigation/src/domain/entity/mod.rs
  regions/system/server/rust/navigation/src/domain/entity/navigation.rs
  regions/system/server/rust/navigation/src/domain/mod.rs
  regions/system/server/rust/navigation/src/domain/service/mod.rs
  regions/system/server/rust/navigation/src/domain/service/navigation_filter.rs
  regions/system/server/rust/navigation/src/infrastructure/config.rs
  regions/system/server/rust/navigation/src/infrastructure/mod.rs
  regions/system/server/rust/navigation/src/infrastructure/navigation_loader.rs
  regions/system/server/rust/navigation/src/lib.rs
  regions/system/server/rust/navigation/src/main.rs
  regions/system/server/rust/navigation/src/proto/k1s0.system.navigation.v1.rs
  regions/system/server/rust/navigation/src/proto/mod.rs
  regions/system/server/rust/navigation/src/usecase/get_navigation.rs
  regions/system/server/rust/navigation/src/usecase/mod.rs
Due: rust-fmt, rust-clippy, prettier

feat: サーバー実装の進捗を更新
  docs/servers/navigation/server.md
Due: none

feat: Docker Compose 環境変数の設定とドキュメントの更新
  .env.example
  docker-compose.override.yaml.example
  docker-compose.yaml
  docs/infrastructure/devenv/devcontainer設計.md
  docs/infrastructure/devenv/共用開発サーバー設計.md
  docs/infrastructure/docker/compose-可観測性サービス設計.md
  docs/infrastructure/docker/docker-compose設計.md
Due: prettier

feat: 共用開発サーバー対応と.env 戦略の追加
  docs/infrastructure/docker/docker-compose設計.md
Due: none

feat: 共用開発サーバー設計へのリンクを追加
  docs/infrastructure/docker/docker-compose設計.md
Due: none

feat: ページネーション機能を追加
  .mcp.json
  regions/system/server/rust/notification/src/adapter/grpc/notification_grpc.rs
  regions/system/server/rust/notification/src/adapter/handler/notification_handler.rs
  regions/system/server/rust/notification/src/adapter/repository/channel_postgres.rs
  regions/system/server/rust/notification/src/adapter/repository/notification_log_postgres.rs
  regions/system/server/rust/notification/src/adapter/repository/template_postgres.rs
  regions/system/server/rust/notification/src/domain/repository/notification_channel_repository.rs
  regions/system/server/rust/notification/src/domain/repository/notification_log_repository.rs
  regions/system/server/rust/notification/src/domain/repository/notification_template_repository.rs
  regions/system/server/rust/notification/src/main.rs
  regions/system/server/rust/notification/src/usecase/list_channels.rs
  regions/system/server/rust/notification/src/usecase/list_templates.rs
  regions/system/server/rust/policy/src/adapter/handler/policy_handler.rs
  regions/system/server/rust/policy/src/adapter/repository/cached_policy_repository.rs
  regions/system/server/rust/policy/src/adapter/repository/policy_postgres.rs
  regions/system/server/rust/policy/src/domain/repository/policy_repository.rs
  regions/system/server/rust/policy/src/main.rs
Due: rust-fmt, rust-clippy, prettier

feat: ナビゲーション設計と暗号化ライブラリのドキュメントを更新
  docs/cli/config/navigation設計.md
  docs/libraries/auth-security/encryption.md
  docs/servers/scheduler/server.md
Due: none

feat: Codexサーバーの引数を更新
  .mcp.json
Due: prettier

feat: 各種ファイルの更新と新規追加
  CLI/crates/k1s0-gui/regions/system/server/go/auth/go.mod
  CLI/regions/business/accounting/client/react/accounting-web/package.json
  docs/architecture/api/API設計.md
  docs/architecture/auth/認証設計.md
  docs/architecture/overview/ディレクトリ構成図.md
  docs/libraries/_common/server-common.md
  docs/libraries/_common/概要.md
  docs/libraries/auth-security/authlib.md
  docs/servers/api-registry/server.md
  docs/servers/auth/server.md
  docs/servers/notification/server.md
  docs/templates/codegen/コード生成パイプライン.md
  docs/templates/testing/レンダリングテスト-Rust.md
  docs/templates/testing/レンダリングテスト.md
  regions/system/Cargo.toml
  regions/system/client/react/system-client/package.json
  regions/system/server/rust/api-registry/src/adapter/handler/schema_handler.rs
  regions/system/server/rust/notification/src/adapter/handler/notification_handler.rs
Due: rust-fmt, rust-clippy, prettier

feat: 複数の機能追加と修正
  api/proto/k1s0/system/apiregistry/v1/api_registry.proto
  api/proto/k1s0/system/file/v1/file.proto
  api/proto/k1s0/system/notification/v1/notification.proto
  docs/libraries/_common/server-common.md
  docs/libraries/messaging/messaging.md
  docs/servers/api-registry/server.md
  docs/servers/auth/server.md
  regions/system/library/dart/cache/lib/src/client.dart
  regions/system/library/dart/cache/pubspec.yaml
  regions/system/library/dart/messaging/lib/src/producer.dart
  regions/system/library/dart/messaging/lib/src/types.dart
  regions/system/library/dart/messaging/test/messaging_test.dart
  regions/system/library/dart/serviceauth/lib/src/client.dart
  regions/system/library/dart/serviceauth/test/serviceauth_test.dart
  regions/system/library/go/messaging/messaging.go
  regions/system/library/go/messaging/messaging_test.go
  regions/system/library/go/messaging/noop.go
  regions/system/library/go/pagination/pagination.go
  regions/system/library/go/pagination/pagination_test.go
  regions/system/library/rust/auth/src/lib.rs
  regions/system/library/rust/messaging/src/event.rs
  regions/system/library/rust/messaging/src/producer.rs
  regions/system/library/typescript/cache/__tests__/cache.test.ts
  regions/system/library/typescript/cache/package.json
  regions/system/library/typescript/cache/src/index.ts
  regions/system/library/typescript/messaging/__tests__/messaging.test.ts
  regions/system/library/typescript/messaging/src/index.ts
  regions/system/library/typescript/pagination/__tests__/pagination.test.ts
  regions/system/library/typescript/pagination/src/index.ts
  regions/system/server/rust/api-registry/src/adapter/grpc/apiregistry_grpc.rs
  regions/system/server/rust/api-registry/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/api-registry/src/adapter/handler/schema_handler.rs
  regions/system/server/rust/api-registry/src/proto/k1s0.system.apiregistry.v1.rs
  regions/system/server/rust/notification/src/adapter/grpc/notification_grpc.rs
  regions/system/server/rust/notification/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/notification/src/proto/k1s0.system.notification.v1.rs
  regions/system/server/rust/policy/src/adapter/grpc/policy_grpc.rs
  regions/system/server/rust/policy/src/adapter/handler/policy_handler.rs
  regions/system/server/rust/policy/src/usecase/evaluate_policy.rs
  regions/system/server/rust/quota/src/adapter/handler/quota_handler.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: ファイル、通知、ポリシー、クォータサービスの機能追加と修正
  api/proto/k1s0/system/file/v1/file.proto
  api/proto/k1s0/system/notification/v1/notification.proto
  api/proto/k1s0/system/policy/v1/policy.proto
  api/proto/k1s0/system/quota/v1/quota.proto
  regions/system/server/rust/file/src/adapter/grpc/file_grpc.rs
  regions/system/server/rust/file/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/file/src/main.rs
  regions/system/server/rust/policy/src/adapter/grpc/policy_grpc.rs
  regions/system/server/rust/policy/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/policy/src/adapter/handler/policy_handler.rs
  regions/system/server/rust/policy/src/usecase/create_policy.rs
  regions/system/server/rust/policy/src/usecase/evaluate_policy.rs
  regions/system/server/rust/quota/src/adapter/grpc/quota_grpc.rs
  regions/system/server/rust/quota/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/quota/src/main.rs
Due: rust-fmt, rust-clippy

feat: チャンネルとテンプレートの管理機能を追加
  docs/libraries/auth-security/serviceauth.md
  docs/libraries/data/cache.md
  docs/libraries/data/pagination.md
  docs/libraries/messaging/messaging.md
  docs/servers/file/server.md
  regions/system/server/rust/file/src/proto/k1s0.system.file.v1.rs
  regions/system/server/rust/notification/src/adapter/grpc/notification_grpc.rs
  regions/system/server/rust/notification/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/notification/src/main.rs
  regions/system/server/rust/notification/src/proto/k1s0.system.notification.v1.rs
  regions/system/server/rust/policy/src/proto/k1s0.system.policy.v1.rs
  regions/system/server/rust/quota/src/proto/k1s0.system.quota.v1.rs
Due: rust-fmt, rust-clippy

feat(notification): 通知管理サーバーの機能を拡張し、テンプレート機能を追加
  api/proto/k1s0/system/file/v1/file.proto
  api/proto/k1s0/system/quota/v1/quota.proto
  docs/libraries/auth-security/serviceauth.md
  docs/libraries/messaging/messaging.md
  docs/servers/file/server.md
  docs/servers/notification/server.md
  docs/servers/policy/server.md
  docs/servers/quota/server.md
  regions/system/server/rust/file/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/file/src/adapter/handler/file_handler.rs
  regions/system/server/rust/file/src/proto/k1s0.system.file.v1.rs
  regions/system/server/rust/notification/src/adapter/grpc/notification_grpc.rs
  regions/system/server/rust/notification/src/adapter/handler/notification_handler.rs
  regions/system/server/rust/notification/src/infrastructure/kafka_consumer.rs
  regions/system/server/rust/notification/src/main.rs
  regions/system/server/rust/notification/src/usecase/send_notification.rs
  regions/system/server/rust/policy/src/adapter/grpc/policy_grpc.rs
  regions/system/server/rust/policy/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/policy/src/usecase/evaluate_policy.rs
  regions/system/server/rust/quota/src/adapter/grpc/quota_grpc.rs
  regions/system/server/rust/quota/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/quota/src/proto/k1s0.system.quota.v1.rs
Due: rust-fmt, rust-clippy

feat: エラーハンドリングとAPIレスポンスの改善
  api/proto/k1s0/system/file/v1/file.proto
  docs/servers/bff-proxy/deploy.md
  docs/servers/bff-proxy/implementation.md
  docs/servers/bff-proxy/server.md
  docs/servers/dlq-manager/server.md
  docs/servers/event-store/server.md
  docs/servers/featureflag/server.md
  docs/servers/file/server.md
  docs/servers/graphql-gateway/server.md
  docs/servers/notification/server.md
  docs/servers/quota/server.md
  docs/servers/ratelimit/server.md
  docs/servers/saga/server.md
  docs/servers/scheduler/server.md
  docs/servers/session/server.md
  docs/servers/tenant/server.md
  docs/servers/vault/server.md
  docs/servers/workflow/server.md
  regions/system/server/rust/config/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/dlq-manager/src/adapter/handler/dlq_handler.rs
  regions/system/server/rust/file/src/adapter/grpc/file_grpc.rs
  regions/system/server/rust/file/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/file/src/proto/k1s0.system.file.v1.rs
  regions/system/server/rust/notification/src/adapter/handler/notification_handler.rs
  regions/system/server/rust/scheduler/src/adapter/grpc/scheduler_grpc.rs
  regions/system/server/rust/scheduler/src/adapter/handler/job_handler.rs
  regions/system/server/rust/scheduler/src/adapter/repository/scheduler_execution_postgres.rs
  regions/system/server/rust/scheduler/src/domain/entity/scheduler_execution.rs
  regions/system/server/rust/scheduler/src/infrastructure/kafka_producer.rs
  regions/system/server/rust/scheduler/src/main.rs
  regions/system/server/rust/scheduler/src/usecase/delete_job.rs
  regions/system/server/rust/search/src/adapter/handler/search_handler.rs
  regions/system/server/rust/tenant/src/adapter/handler/tenant_handler.rs
Due: rust-fmt, rust-clippy
