Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

feat: Swagger UIの統合とDocker Compose構成の改善
  .github/workflows/ci.yaml
  README.md
  docker-compose.yaml
  justfile
  regions/system/Cargo.lock
  regions/system/Cargo.toml
  regions/system/library/rust/telemetry/src/metrics.rs
  regions/system/server/rust/app-registry/src/adapter/handler/mod.rs
  regions/system/server/rust/auth/src/adapter/handler/mod.rs
  regions/system/server/rust/config/src/adapter/handler/mod.rs
  regions/system/server/rust/dlq-manager/src/adapter/handler/mod.rs
  regions/system/server/rust/event-store/src/adapter/handler/mod.rs
  regions/system/server/rust/ratelimit/src/adapter/handler/mod.rs
  regions/system/server/rust/saga/src/adapter/handler/mod.rs
  regions/system/server/rust/service-catalog/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy, prettier

feat: README.mdとCargo.tomlの更新
  README.md
  go.work
  go.work.sum
  regions/system/Cargo.toml
Due: none

feat: モジュール管理のための新しいスクリプトと設定ファイルを追加
  .github/workflows/_go-service-ci.yaml
  .github/workflows/_rust-service-ci.yaml
  .github/workflows/_service-deploy.yaml
  .github/workflows/app-registry-ci.yaml
  .github/workflows/app-registry-deploy.yaml
  .github/workflows/auth-ci.yaml
  .github/workflows/auth-deploy.yaml
  .github/workflows/bff-proxy-ci.yaml
  .github/workflows/bff-proxy-deploy.yaml
  .github/workflows/ci.yaml
  .github/workflows/config-ci.yaml
  .github/workflows/config-deploy.yaml
  .github/workflows/dlq-manager-ci.yaml
  .github/workflows/dlq-manager-deploy.yaml
  .github/workflows/order-ci.yaml
  .github/workflows/saga-ci.yaml
  .github/workflows/saga-deploy.yaml
  justfile
  modules.yaml
  scripts/detect-affected-modules.sh
  scripts/list-modules.sh
Due: prettier

feat: モジュール探索ロジックの更新とjustfileの整合性向上
  docs/architecture/overview/ディレクトリ構成図.md
  docs/infrastructure/justfile.md
Due: none

feat: CI/CD 設計の更新
  docs/infrastructure/cicd/CI-CD設計.md
Due: none

feat: CI/CD 設計のキャッシュ設定を更新
  docs/infrastructure/cicd/CI-CD設計.md
Due: none

feat: モジュールレジストリとReusable Workflowのアーキテクチャを追加
  docs/infrastructure/cicd/CI-CD設計.md
Due: none

feat: CI/CDテンプレート仕様に注意書きを追加
  docs/templates/infrastructure/CICD.md
Due: none

feat: axum ルーティングの旧記法を新記法に更新
  CLI/crates/k1s0-cli/templates/server/rust/src/adapter/handler/rest.rs.tera
  docs/infrastructure/cicd/CI-CD設計.md
Due: none

fix: service-catalog サーバーのエンドポイントのパスパラメータをコロン(:)から波括弧({})に変更
  docs/architecture/developer-portal/デベロッパーポータル設計.md
Due: none

feat(docs): k1s0-proto-build共通クレートの使用に関するドキュメントを更新
  docs/architecture/conventions/コーディング規約.md
  docs/libraries/_common/概要.md
  docs/servers/_common/Rust共通実装.md
  docs/templates/server/サーバー-Rust.md
Due: none

feat(docs): service tierの共通化パターンに関するドキュメントを追加
  docs/architecture/api/proto設計.md
Due: none

feat: 統合テストの設定とバリデーションロジックの改善
  .github/workflows/integration-test.yaml
  CLI/crates/k1s0-cli/templates/client/react/package.json.tera
  CLI/crates/k1s0-cli/templates/client/react/tsconfig.json.tera
  CLI/crates/k1s0-cli/templates/client/react/tsconfig.node.json.tera
  README.md
  regions/business/accounting/client/react/domain-master/src/features/categories/CategoryForm.tsx
  regions/business/accounting/client/react/domain-master/src/features/items/ItemForm.tsx
  regions/business/accounting/client/react/domain-master/tsconfig.json
  regions/service/inventory/client/react/inventory/tests/App.test.tsx
  regions/service/inventory/client/react/inventory/tsconfig.json
  regions/service/inventory/client/react/inventory/tsconfig.node.json
  regions/service/order/client/react/order/tests/App.test.tsx
  regions/service/order/client/react/order/tsconfig.json
  regions/service/order/client/react/order/tsconfig.node.json
  regions/service/payment/client/react/payment/package-lock.json
  regions/service/payment/client/react/payment/tests/App.test.tsx
  regions/service/payment/client/react/payment/tsconfig.json
  regions/service/payment/client/react/payment/tsconfig.node.json
  regions/system/client/react/system-client/package-lock.json
  regions/system/server/rust/tenant/tests/integration_test.rs
  scripts/ci-list-integration-servers.sh
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat(docs): CI/CD設計とReactテンプレートのドキュメントを更新
  docs/infrastructure/cicd/CI-CD設計.md
  docs/templates/client/React.md
Due: none

fix: JWKS verifierの作成時にエラーメッセージを追加
  docs/architecture/api/APIゲートウェイ設計.md
  docs/architecture/api/images/bff-proxy-session-flow.drawio
  docs/architecture/api/images/bff-proxy-session-flow.svg
  docs/architecture/messaging/images/messaging-schema-versioning.drawio
  docs/architecture/messaging/images/messaging-schema-versioning.svg
  docs/architecture/messaging/メッセージング設計.md
  docs/architecture/testing/e2e-strategy.md
  docs/architecture/testing/performance-strategy.md
  docs/architecture/testing/test-strategy.md
  docs/cli/flow/CLIフロー.md
  docs/cli/flow/images/cli-scaffold-decision-tree.drawio
  docs/cli/flow/images/cli-scaffold-decision-tree.svg
  docs/infrastructure/cicd/CI-CD設計.md
  docs/infrastructure/cicd/images/cicd-reusable-workflow-arch.drawio
  docs/infrastructure/cicd/images/cicd-reusable-workflow-arch.svg
  docs/infrastructure/kubernetes/images/k8s-ingress-routing.drawio
  docs/infrastructure/kubernetes/images/k8s-ingress-routing.svg
  docs/infrastructure/kubernetes/kubernetes設計.md
  docs/infrastructure/security/secrets-management.md
  docs/infrastructure/security/security-scanning.md
  docs/libraries/_common/images/outbox-pattern-flow.drawio
  docs/libraries/_common/images/outbox-pattern-flow.svg
  docs/libraries/_common/イベント駆動設計.md
  docs/libraries/auth-security/auth.md
  docs/servers/_common/Rust共通実装.md
  docs/servers/_common/images/clean-architecture-layers.drawio
  docs/servers/_common/images/clean-architecture-layers.svg
  docs/servers/_common/images/rust-server-startup-sequence.drawio
  docs/servers/_common/images/rust-server-startup-sequence.svg
  docs/servers/_common/implementation.md
Due: none

feat: レート制限クライアントのエラー型の追加と設定の改善
  regions/system/library/rust/ratelimit-client/src/error.rs
  regions/system/server/rust/graphql-gateway/Cargo.toml
  regions/system/server/rust/graphql-gateway/config/config.dev.example.yaml
  regions/system/server/rust/graphql-gateway/config/config.dev.yaml
  regions/system/server/rust/graphql-gateway/config/config.docker.yaml
  regions/system/server/rust/graphql-gateway/config/config.yaml
Due: rust-fmt, rust-clippy, prettier

feat: レート制限設定の追加
  regions/system/server/rust/graphql-gateway/src/infrastructure/config/mod.rs
Due: rust-fmt, rust-clippy

feat: レート制限ミドルウェアの追加
  regions/system/Cargo.lock
  regions/system/server/rust/graphql-gateway/src/adapter/middleware/mod.rs
  regions/system/server/rust/graphql-gateway/src/adapter/middleware/ratelimit_middleware.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

feat: gRPCサービスのエラーハンドリングを改善
  regions/system/server/rust/ai-gateway/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/config/src/adapter/handler/error.rs
Due: rust-fmt, rust-clippy

feat: paginationのtotal_countの型を修正
  regions/system/server/rust/auth/src/adapter/grpc/audit_grpc.rs
  regions/system/server/rust/auth/src/adapter/grpc/auth_grpc.rs
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/adapter/handler/config_handler.rs
  regions/system/server/rust/config/src/adapter/handler/config_schema_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/grpc/tonic_service.rs
Due: rust-fmt, rust-clippy

feat: 不要なコードを削除し、デフォルト実装を追加
  regions/system/server/rust/ai-agent/src/domain/service/tool_registry.rs
  regions/system/server/rust/ai-agent/src/infrastructure/in_memory.rs
  regions/system/server/rust/ai-gateway/src/adapter/grpc/ai_grpc.rs
  regions/system/server/rust/ai-gateway/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/ai-gateway/src/domain/entity/provider.rs
  regions/system/server/rust/ai-gateway/src/domain/repository/model_repository.rs
  regions/system/server/rust/ai-gateway/src/infrastructure/config.rs
  regions/system/server/rust/event-monitor/src/domain/repository/flow_definition_repository.rs
  regions/system/server/rust/event-monitor/src/infrastructure/cache.rs
  regions/system/server/rust/event-store/src/domain/entity/event.rs
  regions/system/server/rust/file/src/domain/entity/file.rs
  regions/system/server/rust/file/src/usecase/delete_file.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/circuit_breaker.rs
  regions/system/server/rust/policy/src/adapter/grpc/policy_grpc.rs
  regions/system/server/rust/policy/src/domain/entity/policy_evaluation.rs
  regions/system/server/rust/policy/src/infrastructure/cache.rs
  regions/system/server/rust/policy/src/infrastructure/kafka_producer.rs
  regions/system/server/rust/policy/src/usecase/evaluate_policy.rs
  regions/system/server/rust/saga/src/adapter/grpc/saga_grpc.rs
  regions/system/server/rust/workflow/src/usecase/start_instance.rs
Due: rust-fmt, rust-clippy

feat: 不要なコードに対する警告を追加
  regions/system/server/rust/ai-agent/src/adapter/handler/agent_handler.rs
  regions/system/server/rust/ai-agent/src/domain/repository/agent_repository.rs
  regions/system/server/rust/ai-agent/src/domain/service/tool_registry.rs
  regions/system/server/rust/ai-agent/src/usecase/review_step.rs
  regions/system/server/rust/ai-gateway/src/infrastructure/redis_cache.rs
  regions/system/server/rust/ai-gateway/src/usecase/complete.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/graphql_context.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/circuit_breaker.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/config/mod.rs
Due: rust-fmt, rust-clippy
