Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: セッション管理サーバーとファイル管理サーバーのレスポンスに新しいフィールドを追加
  api/proto/k1s0/system/file/v1/file.proto
  api/proto/k1s0/system/saga/v1/saga.proto
  api/proto/k1s0/system/scheduler/v1/scheduler.proto
  docs/servers/dlq-manager/deploy.md
  docs/servers/dlq-manager/implementation.md
  docs/servers/dlq-manager/server.md
  docs/servers/file/server.md
  docs/servers/policy/server.md
  docs/servers/saga/server.md
  docs/servers/scheduler/server.md
  docs/servers/session/server.md
  docs/servers/vault/server.md
  regions/system/server/rust/file/src/adapter/grpc/file_grpc.rs
  regions/system/server/rust/file/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/file/src/proto/k1s0.system.file.v1.rs
  regions/system/server/rust/saga/src/adapter/grpc/saga_grpc.rs
  regions/system/server/rust/saga/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/saga/src/proto/k1s0.system.saga.v1.rs
  regions/system/server/rust/scheduler/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/scheduler/src/proto/k1s0.system.scheduler.v1.rs
  regions/system/server/rust/session/src/adapter/handler/session_handler.rs
Due: rust-fmt, rust-clippy

feat: ページネーションのバリデーション範囲を変更
  docs/libraries/data/pagination.md
  docs/servers/ratelimit/server.md
  docs/servers/saga/server.md
  docs/servers/workflow/server.md
  regions/system/library/go/pagination/pagination.go
  regions/system/library/go/pagination/pagination_test.go
Due: go-lint

feat: APIおよび設定の改善とバリデーションの強化
  api/proto/k1s0/system/auth/v1/auth.proto
  api/proto/k1s0/system/config/v1/config.proto
  api/proto/k1s0/system/saga/v1/saga.proto
  docs/libraries/auth-security/authlib.md
  docs/libraries/data/pagination.md
  docs/libraries/observability/health.md
  docs/libraries/testing/validation.md
  docs/servers/api-registry/server.md
  docs/servers/auth/server.md
  docs/servers/config/server.md
  docs/servers/dlq-manager/server.md
  docs/servers/notification/server.md
  regions/system/library/rust/config/src/lib.rs
  regions/system/library/rust/config/src/tests.rs
  regions/system/library/rust/config/src/vault_test.rs
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/proto/k1s0.system.config.v1.rs
  regions/system/server/rust/graphql-gateway/src/adapter/graphql_handler.rs
  regions/system/server/rust/notification/config/config.yaml
  regions/system/server/rust/notification/src/infrastructure/config.rs
  regions/system/server/rust/notification/src/infrastructure/kafka_producer.rs
Due: rust-fmt, rust-clippy, prettier

feat: Keycloakのロール・パーミッション管理機能を追加
  api/proto/k1s0/system/auth/v1/auth.proto
  docs/architecture/api/gRPC設計.md
  docs/architecture/auth/RBAC設計.md
  docs/architecture/overview/ディレクトリ構成図.md
  docs/libraries/_common/server-common.md
  docs/libraries/client-sdk/search-client.md
  docs/libraries/config/config.md
  docs/libraries/messaging/notification-client.md
  docs/libraries/messaging/webhook-client.md
  regions/system/library/rust/auth/src/lib.rs
  regions/system/library/rust/dlq-client/src/client.rs
  regions/system/library/rust/dlq-client/src/lib.rs
  regions/system/library/rust/dlq-client/src/types.rs
  regions/system/library/rust/dlq-client/tests/integration_test.rs
  regions/system/library/rust/messaging/Cargo.toml
  regions/system/library/rust/messaging/src/event.rs
  regions/system/library/rust/messaging/src/lib.rs
  regions/system/library/rust/ratelimit-client/src/grpc.rs
  regions/system/library/rust/scheduler-client/src/lib.rs
  regions/system/library/rust/scheduler-client/src/memory.rs
  regions/system/library/rust/search-client/Cargo.toml
  regions/system/library/rust/search-client/src/client.rs
  regions/system/library/rust/search-client/src/lib.rs
  regions/system/library/rust/server-common/src/error.rs
  regions/system/server/rust/auth/config/config.prod.yaml
  regions/system/server/rust/auth/config/config.yaml
  regions/system/server/rust/auth/src/adapter/handler/mod.rs
  regions/system/server/rust/auth/src/adapter/middleware/auth.rs
  regions/system/server/rust/auth/src/adapter/middleware/rbac.rs
  regions/system/server/rust/auth/src/domain/service/mod.rs
  regions/system/server/rust/auth/src/domain/service/role_permission_table.rs
  regions/system/server/rust/auth/src/infrastructure/keycloak_role_permission_source.rs
  regions/system/server/rust/auth/src/infrastructure/mod.rs
  regions/system/server/rust/auth/src/main.rs
  regions/system/server/rust/auth/src/usecase/check_permission.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/mod.rs
  regions/system/server/rust/master-maintenance/src/usecase/crud_records.rs
  regions/system/server/rust/session/src/main.rs
  regions/system/server/rust/vault/src/adapter/handler/vault_handler.rs
  regions/system/server/rust/workflow/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy, prettier

feat: CI/CDワークフローの更新とデータベースマイグレーションの追加
  .github/workflows/auth-ci.yaml
  .github/workflows/auth-deploy.yaml
  .github/workflows/bff-proxy-ci.yaml
  .github/workflows/bff-proxy-deploy.yaml
  .github/workflows/ci.yaml
  .github/workflows/config-ci.yaml
  .github/workflows/config-deploy.yaml
  .github/workflows/dlq-manager-ci.yaml
  .github/workflows/dlq-manager-deploy.yaml
  .github/workflows/integration-test.yaml
  .github/workflows/saga-ci.yaml
  .github/workflows/saga-deploy.yaml
  .github/workflows/security.yaml
  .gitignore
  CLI/regions/system/database/auth-db/migrations/000001_init.down.sql
  CLI/regions/system/database/auth-db/migrations/000001_init.up.sql
  api/proto/README.md
  scripts/check-proto-generated.sh
Due: prettier

feat: ワークフローのイベント発行機能を追加
  regions/system/server/rust/workflow/src/adapter/handler/mod.rs
  regions/system/server/rust/workflow/src/infrastructure/kafka_producer.rs
  regions/system/server/rust/workflow/src/main.rs
  regions/system/server/rust/workflow/src/usecase/approve_task.rs
  regions/system/server/rust/workflow/src/usecase/reject_task.rs
  regions/system/server/rust/workflow/src/usecase/start_instance.rs
Due: rust-fmt, rust-clippy

feat: テストのURIを修正し、Kafka統合テストにtrace_idとtopic_changedを追加
  regions/system/server/rust/config/tests/integration_test.rs
  regions/system/server/rust/config/tests/kafka_integration_test.rs
Due: rust-fmt, rust-clippy

feat: gRPC認証ミドルウェアを追加し、RBACチェックを強化
  regions/system/server/rust/workflow/Cargo.toml
  regions/system/server/rust/workflow/src/adapter/middleware/grpc_auth.rs
  regions/system/server/rust/workflow/src/adapter/middleware/mod.rs
  regions/system/server/rust/workflow/src/adapter/middleware/rbac.rs
  regions/system/server/rust/workflow/src/main.rs
Due: rust-fmt, rust-clippy

feat: TelemetryConfigを使用したLogger生成の改善
  docs/libraries/messaging/messaging.md
  docs/libraries/observability/telemetry.md
  docs/servers/workflow/server.md
  regions/system/library/dart/telemetry/lib/src/logger.dart
  regions/system/library/dart/telemetry/test/middleware_test.dart
  regions/system/library/dart/telemetry/test/telemetry_test.dart
  regions/system/server/rust/workflow/src/adapter/handler/mod.rs
  regions/system/server/rust/workflow/src/adapter/handler/workflow_handler.rs
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: レート制限サービスのメッセージを拡張し、キャッシュライブラリのAPIを更新
  api/proto/k1s0/system/ratelimit/v1/ratelimit.proto
  docs/libraries/data/cache.md
  docs/libraries/observability/telemetry.md
  docs/libraries/testing/validation.md
  docs/servers/workflow/server.md
Due: none

feat: GraphQlHttpClientをgraphql_client.dartに追加し、ClientErrorをgraphql_query.dartに追加 - graphql_client.dartにGraphQlHttpClientを追加 - graphql_query.dartにClientErrorを追加
  docs/libraries/client-sdk/graphql-client.md
Due: none

feat: サービストポロジーダッシュボードの更新
  infra/demo/kiali/dashboards/service-topology.json
Due: prettier

feat: JaegerとGrafanaの設定を更新し、トラフィック生成スクリプトを改良
  infra/demo/kiali/dashboards/service-topology.json
  infra/demo/kiali/manifests/06-jaeger.yaml
  infra/demo/kiali/manifests/09-grafana.yaml
  infra/demo/kiali/traffic-gen.sh
  infra/demo/kiali/ui/server.ts
  infra/demo/kiali/ui/src/components/DashboardViewer.tsx
  infra/demo/kiali/ui/src/components/TopologyView.tsx
Due: ts-lint, prettier

feat: WebSocketのURLをプロトコルに応じて動的に設定するように変更
  infra/demo/kiali/ui/src/App.tsx
Due: ts-lint, prettier

feat: WebSocket接続の安定性を向上させるための修正
  infra/demo/kiali/ui/src/hooks/useWebSocket.ts
Due: ts-lint, prettier

feat: StrictModeを削除し、Appコンポーネントを直接レンダリングするように変更
  infra/demo/kiali/ui/src/main.tsx
Due: ts-lint, prettier

feat: 冪等性ライブラリのバックエンド可用性とインターフェースの差異を追加
  docs/libraries/_common/server-common.md
  docs/libraries/auth-security/encryption.md
  docs/libraries/client-sdk/file-client.md
  docs/libraries/data/cache.md
  docs/libraries/data/distributed-lock.md
  docs/libraries/messaging/dlq-client.md
  docs/libraries/messaging/messaging.md
  docs/libraries/messaging/notification-client.md
  docs/libraries/observability/telemetry.md
  docs/libraries/resilience/circuit-breaker.md
  docs/libraries/resilience/idempotency.md
  docs/libraries/resilience/resiliency.md
  regions/system/library/dart/circuit_breaker/lib/src/circuit_breaker.dart
  regions/system/library/dart/notification_client/lib/src/notification.dart
  regions/system/library/rust/resiliency/Cargo.toml
  regions/system/library/rust/resiliency/src/error.rs
  regions/system/library/rust/resiliency/src/policy.rs
  regions/system/library/typescript/circuit-breaker/src/index.ts
  regions/system/library/typescript/dlq-client/src/client.ts
Due: rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat(migration): マイグレーション管理機能を追加
  .gitignore
  CLI/Cargo.lock
  CLI/crates/k1s0-cli/src/commands/deps.rs
  CLI/crates/k1s0-cli/src/commands/dev.rs
  CLI/crates/k1s0-cli/src/commands/migrate.rs
  CLI/crates/k1s0-cli/src/commands/mod.rs
  CLI/crates/k1s0-cli/src/main.rs
  CLI/crates/k1s0-core/Cargo.toml
  CLI/crates/k1s0-core/src/commands/deps/cache.rs
  CLI/crates/k1s0-core/src/commands/deps/mod.rs
  CLI/crates/k1s0-core/src/commands/deps/output.rs
  CLI/crates/k1s0-core/src/commands/deps/rules.rs
  CLI/crates/k1s0-core/src/commands/deps/scanner.rs
  CLI/crates/k1s0-core/src/commands/deps/types.rs
  CLI/crates/k1s0-core/src/commands/dev/compose.rs
  CLI/crates/k1s0-core/src/commands/dev/detect.rs
  CLI/crates/k1s0-core/src/commands/dev/docker.rs
  CLI/crates/k1s0-core/src/commands/dev/migration.rs
  CLI/crates/k1s0-core/src/commands/dev/mod.rs
  CLI/crates/k1s0-core/src/commands/dev/port.rs
  CLI/crates/k1s0-core/src/commands/dev/seed.rs
  CLI/crates/k1s0-core/src/commands/dev/state.rs
  CLI/crates/k1s0-core/src/commands/dev/types.rs
  CLI/crates/k1s0-core/src/commands/migrate/apply.rs
  CLI/crates/k1s0-core/src/commands/migrate/ci.rs
  CLI/crates/k1s0-core/src/commands/migrate/create.rs
  CLI/crates/k1s0-core/src/commands/migrate/mod.rs
  CLI/crates/k1s0-core/src/commands/migrate/repair.rs
  CLI/crates/k1s0-core/src/commands/migrate/scanner.rs
  CLI/crates/k1s0-core/src/commands/migrate/status.rs
  CLI/crates/k1s0-core/src/commands/migrate/tool.rs
  CLI/crates/k1s0-core/src/commands/migrate/types.rs
  CLI/crates/k1s0-core/src/commands/mod.rs
  CLI/crates/k1s0-gui/src/commands.rs
  CLI/crates/k1s0-gui/src/lib.rs
  docs/cli/deps/依存関係マップ設計.md
  docs/cli/dev/ローカル開発環境設計.md
  docs/cli/migration/マイグレーション管理設計.md
  docs/libraries/messaging/kafka.md
  docs/libraries/testing/validation.md
Due: rust-fmt, rust-clippy

feat(dev): マイグレーションとシードデータの状態を収集する機能を追加
  CLI/crates/k1s0-core/src/commands/deps/output.rs
  CLI/crates/k1s0-core/src/commands/dev/mod.rs
Due: rust-fmt, rust-clippy

feat(tests): 状態管理のテストにマイグレーションとシードの状態を追加
  CLI/crates/k1s0-core/src/commands/dev/compose.rs
  CLI/crates/k1s0-core/src/commands/dev/state.rs
Due: rust-fmt, rust-clippy

feat(tests): KafkaサービスのYAML生成テストを強化
  CLI/crates/k1s0-core/src/commands/dev/compose.rs
Due: rust-fmt, rust-clippy

feat(tests): RedisサービスのYAML生成テストを強化
  CLI/crates/k1s0-core/src/commands/dev/compose.rs
Due: rust-fmt, rust-clippy

feat(tests): KeycloakサービスのYAML生成テストを強化
  CLI/crates/k1s0-core/src/commands/dev/compose.rs
Due: rust-fmt, rust-clippy

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
