Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

fix: CLAUDE.md の内容を更新
  CLAUDE.md
Due: none

feat: README.mdの内容を大幅に更新
  README.md
Due: none

fix: helm/kustomize/Dapr マニフェスト層の動作不能バグを修正
  deploy/charts/tier1-facade/.helmignore
  deploy/charts/tier1-facade/templates/_helpers.tpl
  deploy/charts/tier1-facade/templates/deployment.yaml
  deploy/charts/tier1-facade/templates/service.yaml
  deploy/kustomize/base/kustomization.yaml
  deploy/kustomize/overlays/dev/kustomization.yaml
  deploy/kustomize/overlays/prod/kustomization.yaml
  deploy/kustomize/overlays/staging/kustomization.yaml
  infra/dapr/components/configuration/default.yaml
  infra/data/cloudnativepg/kustomization.yaml
  infra/data/kafka/kustomization.yaml
  infra/environments/dev/kustomization.yaml
  infra/environments/prod/kustomization.yaml
  infra/environments/staging/kustomization.yaml
  infra/feature-management/flagd/kustomization.yaml
  infra/k8s/bootstrap/kustomization.yaml
  infra/k8s/namespaces/kustomization.yaml
  infra/k8s/networking/kustomization.yaml
  infra/k8s/storage/kustomization.yaml
  infra/mesh/istio-ambient/kustomization.yaml
  infra/security/cert-manager/kustomization.yaml
  infra/security/kyverno/kustomization.yaml
Due: prettier

fix: Rust ワークスペース全体のビルド不能・テスト不能バグを修正
  src/platform/scaffold/Cargo.toml
  src/platform/scaffold/src/engine.rs
  src/platform/scaffold/src/error.rs
  src/platform/scaffold/src/lib.rs
  src/platform/scaffold/src/main.rs
  src/platform/scaffold/src/template.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/lib.rs
  src/sdk/rust/crates/k1s0-sdk-proto/tests/smoke.rs
  src/sdk/rust/crates/k1s0-sdk/Cargo.toml
  src/sdk/rust/crates/k1s0-sdk/src/audit.rs
  src/sdk/rust/crates/k1s0-sdk/src/binding.rs
  src/sdk/rust/crates/k1s0-sdk/src/client.rs
  src/sdk/rust/crates/k1s0-sdk/src/decision.rs
  src/sdk/rust/crates/k1s0-sdk/src/decision_admin.rs
  src/sdk/rust/crates/k1s0-sdk/src/feature.rs
  src/sdk/rust/crates/k1s0-sdk/src/feature_admin.rs
  src/sdk/rust/crates/k1s0-sdk/src/invoke.rs
  src/sdk/rust/crates/k1s0-sdk/src/lib.rs
  src/sdk/rust/crates/k1s0-sdk/src/log.rs
  src/sdk/rust/crates/k1s0-sdk/src/pii.rs
  src/sdk/rust/crates/k1s0-sdk/src/pubsub.rs
  src/sdk/rust/crates/k1s0-sdk/src/secrets.rs
  src/sdk/rust/crates/k1s0-sdk/src/state.rs
  src/sdk/rust/crates/k1s0-sdk/src/telemetry.rs
  src/sdk/rust/crates/k1s0-sdk/src/workflow.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/pii/src/main.rs
  src/tier1/rust/crates/proto-gen/src/lib.rs
Due: rust-fmt, rust-clippy

fix: .NET tier2 / analyzer の AnalysisMode=All 違反を解消
  src/platform/analyzer/src/K1s0.DependencyDirection.Analyzer/AnalyzerReleases.Shipped.md
  src/platform/analyzer/src/K1s0.DependencyDirection.Analyzer/AnalyzerReleases.Unshipped.md
  src/platform/analyzer/src/K1s0.DependencyDirection.Analyzer/DependencyDirectionAnalyzer.cs
  src/platform/analyzer/src/K1s0.DependencyDirection.Analyzer/Diagnostics.cs
  src/platform/analyzer/src/K1s0.DependencyDirection.Analyzer/K1s0.DependencyDirection.Analyzer.csproj
  src/platform/analyzer/tests/K1s0.DependencyDirection.Analyzer.Tests/DependencyDirectionAnalyzerTests.cs
  src/platform/analyzer/tests/K1s0.DependencyDirection.Analyzer.Tests/K1s0.DependencyDirection.Analyzer.Tests.csproj
  src/tier2/dotnet/Directory.Build.props
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Application/UseCases/DecideApprovalUseCase.cs
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Application/UseCases/SubmitApprovalUseCase.cs
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Domain/ValueObjects/ApprovalStatus.cs
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Infrastructure/Persistence/InMemoryApprovalRepository.cs
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Api/Controllers/InvoiceEndpoints.cs
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Application/UseCases/GenerateInvoiceUseCase.cs
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Domain/Entities/Invoice.cs
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Infrastructure/Persistence/InMemoryInvoiceRepository.cs
  src/tier2/dotnet/services/TaxCalculator/src/TaxCalculator.Application/UseCases/CalculateTaxUseCase.cs
  src/tier2/dotnet/services/TaxCalculator/src/TaxCalculator.Domain/Services/TaxCalculation.cs
  tools/ci/verify-local.sh
Due: none

chore: src/sdk/rust/Cargo.lock を prost-types 依存追加に追従
  src/sdk/rust/Cargo.lock
Due: none

fix: tier3 portal の eager loadConfig() で smoke test が落ちる問題を解消
  src/tier3/web/apps/portal/src/pages/StateExplorerPage.tsx
  src/tier3/web/pnpm-lock.yaml
Due: ts-lint, prettier

fix: pre-commit hook が proto 生成物を誤検出する問題を修正
  tools/git-hooks/file-length-guard.py
  tools/git-hooks/japanese-header-guard.py
Due: none

fix: 概要設計の要件 ID 参照ミスを 2 件修正
  docs/04_概要設計/20_ソフトウェア方式設計/02_外部インタフェース方式設計/06_API別詳細方式/04_Secrets_API方式.md
  docs/04_概要設計/55_運用ライフサイクル方式設計/03_環境構成管理方式.md
Due: none

chore: tier3 web apps/packages の dist/ と coverage/ も gitignore に追加
  .gitignore
Due: none

fix(ci): buf v2 workspace path 指定漏れと codegen check の監視先誤りを修正
  .github/workflows/_reusable-lint.yml
  tools/ci/verify-local.sh
  tools/codegen/buf/run.sh
  tools/codegen/grpc-docs/run.sh
  tools/codegen/openapi/run.sh
Due: prettier

docs(grpc-reference): 自動生成された tier1 gRPC reference を追加
  docs/02_構想設計/02_tier1設計/grpc-reference/v1/k1s0-tier1-grpc.md
Due: none

fix(lint): markdownlint の nested ignore とルール緩和を整備
  .github/workflows/_reusable-lint.yml
  .markdownlint-cli2.jsonc
Due: prettier

feat(tier1): t1-state Pod に Log / Telemetry skeleton handler を追加
  docs/SHIP_STATUS.md
  src/tier1/go/cmd/state/main.go
  src/tier1/go/internal/state/log.go
  src/tier1/go/internal/state/register.go
  src/tier1/go/internal/state/telemetry.go
Due: go-lint

fix(grpc-docs): markdownlint auto-fix で混入した整形を再生成で巻き戻す
  docs/02_構想設計/02_tier1設計/grpc-reference/v1/k1s0-tier1-grpc.md
Due: none

fix(backstage-plugins): k1s0-catalog の peerDependencies 構文エラーを修正、ロックファイルを生成
  src/platform/backstage-plugins/k1s0-catalog/package.json
  src/platform/backstage-plugins/k1s0-catalog/pnpm-lock.yaml
  src/platform/backstage-plugins/k1s0-scaffolder/pnpm-lock.yaml
Due: prettier

fix(tier3/web): ESLint flat config を整備して `pnpm run lint` を実動作させる
  src/tier3/web/eslint.config.mjs
  src/tier3/web/package.json
  src/tier3/web/pnpm-lock.yaml
Due: prettier

chore(codegen): BSR remote plugin の rate limit に対する retry/backoff を追加
  tools/codegen/buf/run.sh
  tools/codegen/grpc-docs/run.sh
  tools/codegen/openapi/run.sh
Due: none

fix(sparse): tier1-rust-dev cone の path を docs に整合 (cli → scaffold)
  .sparse-checkout/roles/tier1-rust-dev.txt
Due: none

fix(docs): IMP-ID 台帳の所属ファイル参照を実体ファイル名に整合 (5 件)
  docs/05_実装/99_索引/00_IMP-ID一覧/01_IMP-ID台帳_全12接頭辞.md
Due: none

feat(ci): path-filter を docs 設計通りのサブディレクトリ構造化、golden test 実装
  .github/workflows/pr.yml
  tests/ci/path-filter-golden/PR-001.expected.json
  tests/ci/path-filter-golden/PR-001.json
  tests/ci/path-filter-golden/PR-002.expected.json
  tests/ci/path-filter-golden/PR-002.json
  tests/ci/path-filter-golden/PR-003.expected.json
  tests/ci/path-filter-golden/PR-003.json
  tests/ci/path-filter-golden/PR-004.expected.json
  tests/ci/path-filter-golden/PR-004.json
  tests/ci/path-filter-golden/PR-005.expected.json
  tests/ci/path-filter-golden/PR-005.json
  tests/ci/path-filter-golden/PR-006.expected.json
  tests/ci/path-filter-golden/PR-006.json
  tests/ci/path-filter-golden/PR-007.expected.json
  tests/ci/path-filter-golden/PR-007.json
  tests/ci/path-filter-golden/README.md
  tools/ci/actions/README.md
  tools/ci/path-filter/filters.yaml
  tools/ci/path-filter/run-golden-test.sh
  tools/ci/verify-local.sh
Due: prettier

feat(ops): IMP-REL-RB-050〜053/059 を満たす rollback.sh を実装
  ops/scripts/rollback.sh
Due: none

feat(trace): IMP-TRACE-CI/CAT 系の整合性検証スクリプトを実装
  tools/catalog-check/README.md
  tools/catalog-check/check-lifecycle.sh
  tools/catalog-check/check-owner-system.sh
  tools/catalog-check/check-required-fields.sh
  tools/catalog-check/check-template-version.sh
  tools/catalog-check/offpath-allowlist.yaml
  tools/catalog-check/scan-offpath.sh
  tools/trace-check/README.md
  tools/trace-check/check-cross-ref.sh
  tools/trace-check/check-duplicate.sh
  tools/trace-check/check-grand-total.sh
  tools/trace-check/check-orphan.sh
  tools/trace-check/check-reserve.sh
  tools/trace-check/reserve-ranges.yaml
Due: prettier

fix(docs): IMP-ID 台帳のサマリ集計を実数に整合 (BUILD/OBS)
  docs/05_実装/99_索引/00_IMP-ID一覧/01_IMP-ID台帳_全12接頭辞.md
Due: none

fix(catalog): catalog-info.yaml 16 件に IMP-TRACE-CAT-021 annotation を追加
  examples/tier2-dotnet-service/catalog-info.yaml
  examples/tier2-go-service/catalog-info.yaml
  examples/tier3-bff-graphql/catalog-info.yaml
  examples/tier3-native-maui/catalog-info.yaml
  src/tier2/dotnet/services/ApprovalFlow/catalog-info.yaml
  src/tier2/dotnet/services/InvoiceGenerator/catalog-info.yaml
  src/tier2/dotnet/services/TaxCalculator/catalog-info.yaml
  src/tier2/go/services/notification-hub/catalog-info.yaml
  src/tier2/go/services/stock-reconciler/catalog-info.yaml
  src/tier3/bff/cmd/admin-bff/catalog-info.yaml
  src/tier3/bff/cmd/portal-bff/catalog-info.yaml
  src/tier3/native/apps/K1s0.Native.Admin/catalog-info.yaml
  src/tier3/native/apps/K1s0.Native.Hub/catalog-info.yaml
  src/tier3/web/apps/admin/catalog-info.yaml
  src/tier3/web/apps/docs-site/catalog-info.yaml
  src/tier3/web/apps/portal/catalog-info.yaml
Due: prettier

feat(golden): scaffold 4 ServiceType の expected.tar.gz を生成、compare-outputs.sh を template 引数に整合
  tests/golden/diff-tool/compare-outputs.sh
  tests/golden/scaffold-outputs/tier2-dotnet-service/.gitkeep
  tests/golden/scaffold-outputs/tier2-dotnet-service/expected.tar.gz
  tests/golden/scaffold-outputs/tier2-go-service/.gitkeep
  tests/golden/scaffold-outputs/tier2-go-service/expected.tar.gz
  tests/golden/scaffold-outputs/tier3-bff/.gitkeep
  tests/golden/scaffold-outputs/tier3-bff/expected.tar.gz
  tests/golden/scaffold-outputs/tier3-web/.gitkeep
  tests/golden/scaffold-outputs/tier3-web/expected.tar.gz
Due: none

feat(ops): NFR-A-REC-002 を満たす Runbook 15 本を新規追加 (IMP-OBS-RB-080-091〜0105)
  ops/runbooks/daily/.gitkeep
  ops/runbooks/daily/error-code-alert-policy.md
  ops/runbooks/incidents/.gitkeep
  ops/runbooks/incidents/auth-abuse-detection.md
  ops/runbooks/incidents/cluster-total-disaster-dr.md
  ops/runbooks/incidents/dlq-backlog.md
  ops/runbooks/incidents/escalation-contacts.md
  ops/runbooks/incidents/kafka-broker-down.md
  ops/runbooks/incidents/legal-disclosure.md
  ops/runbooks/incidents/mtls-cert-expiry.md
  ops/runbooks/incidents/pii-leak-detection.md
  ops/runbooks/incidents/pii-regulatory-disclosure.md
  ops/runbooks/incidents/postgresql-primary-down.md
  ops/runbooks/incidents/severity-decision-tree.md
  ops/runbooks/incidents/temporal-determinism-error.md
  ops/runbooks/incidents/tenant-boundary-breach.md
  ops/runbooks/monthly/.gitkeep
  ops/runbooks/monthly/infra-disposal.md
Due: none

feat(scaffold): tools/codegen/scaffold/ に snapshot 再生成補助スクリプトを実装
  tools/codegen/scaffold/.gitkeep
  tools/codegen/scaffold/README.md
  tools/codegen/scaffold/regenerate-golden.sh
Due: none

fix(trace): trace-check スクリプトの精度向上（定義行限定 + 範囲展開）
  tools/trace-check/check-cross-ref.sh
  tools/trace-check/check-duplicate.sh
Due: none

feat(tier1/state): StateService.Get/Set/Delete を Dapr SDK で実装、13 単体テスト追加
  src/tier1/go/go.mod
  src/tier1/go/go.sum
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/state.go
  src/tier1/go/internal/adapter/dapr/state_test.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/state_test.go
Due: go-lint

test(tier1/state): in-process gRPC で StateService の round-trip 動作を証明
  src/tier1/go/internal/state/integration_test.go
Due: go-lint

feat(tier1/pubsub): PubSubService.Publish を Dapr SDK PublishEvent で実装、9 単体+gRPC テスト追加
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/pubsub.go
  src/tier1/go/internal/adapter/dapr/pubsub_test.go
  src/tier1/go/internal/state/pubsub_test.go
Due: go-lint

feat(tier1/dapr): Invoke / Binding / Feature の 3 API を Dapr SDK で実装
  src/tier1/go/internal/adapter/dapr/binding.go
  src/tier1/go/internal/adapter/dapr/binding_test.go
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/feature.go
  src/tier1/go/internal/adapter/dapr/feature_test.go
  src/tier1/go/internal/adapter/dapr/invoke.go
  src/tier1/go/internal/adapter/dapr/invoke_test.go
  src/tier1/go/internal/state/dapr_handlers_test.go
Due: go-lint

feat(tier1/log,telemetry): OTel SDK で Log / Metric / Span を実装、19 テスト追加
  src/tier1/go/go.mod
  src/tier1/go/go.sum
  src/tier1/go/internal/otel/errors.go
  src/tier1/go/internal/otel/log.go
  src/tier1/go/internal/otel/log_test.go
  src/tier1/go/internal/otel/metric.go
  src/tier1/go/internal/otel/timestamp.go
  src/tier1/go/internal/otel/trace.go
  src/tier1/go/internal/state/log.go
  src/tier1/go/internal/state/log_telemetry_test.go
  src/tier1/go/internal/state/register.go
  src/tier1/go/internal/state/telemetry.go
Due: go-lint

feat(tier1/secrets): SecretsService.Get/Rotate を OpenBao SDK で実装、12 単体+gRPC テスト追加
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/go.mod
  src/tier1/go/go.sum
  src/tier1/go/internal/adapter/openbao/openbao.go
  src/tier1/go/internal/adapter/openbao/secrets.go
  src/tier1/go/internal/adapter/openbao/secrets_test.go
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/secret/register_test.go
Due: go-lint

feat(tier1/workflow): WorkflowService 6 RPC を Temporal SDK で実装、17 テスト追加
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/go.mod
  src/tier1/go/go.sum
  src/tier1/go/internal/adapter/temporal/sdk_shim.go
  src/tier1/go/internal/adapter/temporal/temporal.go
  src/tier1/go/internal/adapter/temporal/workflow.go
  src/tier1/go/internal/adapter/temporal/workflow_test.go
  src/tier1/go/internal/workflow/register.go
  src/tier1/go/internal/workflow/register_test.go
Due: go-lint

docs(knowledge/framework): React Native 0.78 の概要 Knowledge を新規追加
  docs/90_knowledge/framework/img/react-native_basics_architecture.drawio
  docs/90_knowledge/framework/img/react-native_basics_architecture.svg
  docs/90_knowledge/framework/img/react-native_basics_components.drawio
  docs/90_knowledge/framework/img/react-native_basics_components.svg
  docs/90_knowledge/framework/react-native_basics.md
Due: none

docs(knowledge/framework): Blazor 概要 Knowledge を追加（ホスティングモデル比較 / レンダーモード選択フロー drawio 2 枚）
  docs/90_knowledge/framework/blazor_basics.md
  docs/90_knowledge/framework/img/blazor_basics_hosting.drawio
  docs/90_knowledge/framework/img/blazor_basics_hosting.svg
  docs/90_knowledge/framework/img/blazor_basics_render-modes.drawio
  docs/90_knowledge/framework/img/blazor_basics_render-modes.svg
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
