Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: Kongのバージョンを3.7から3.8に更新
  infra/helm/services/system/kong/values.yaml
Due: prettier

feat: APIゲートウェイ設計の設定を更新
  docs/architecture/api/APIゲートウェイ設計.md
Due: none

feat: Tier別レート制限オーバーライド例を追加
  docs/architecture/api/APIゲートウェイ設計.md
Due: none

feat: PostgreSQLのレプリカ構成に関するコメントを追加
  docs/architecture/api/APIゲートウェイ設計.md
Due: none

feat: 環境別CORSオリジンの設定を追加
  docs/architecture/api/APIゲートウェイ設計.md
Due: none

feat: Kongプラグインとサービス設定の更新
  CLI/crates/k1s0-cli/templates/kong/kong-plugins.yaml.tera
  CLI/crates/k1s0-cli/templates/kong/kong-service.yaml.tera
  docs/architecture/api/REST-API設計.md
  docs/templates/middleware/Kong.md
  infra/docker/kong/kong.yaml
Due: prettier

feat: Kong設定の更新とプラグイン追加
  docs/architecture/api/APIゲートウェイ設計.md
  docs/architecture/auth/認証認可設計.md
  infra/kong/kong.dev.yaml
  infra/kong/kong.yaml
  infra/kong/plugins/global.yaml
Due: prettier

feat: Kongのレート制限設定を環境変数に置換し、サービス定義を更新
  .github/workflows/kong-sync.yaml
  docs/architecture/api/APIゲートウェイ設計.md
  docs/architecture/auth/認証認可設計.md
  infra/helm/services/system/kong/Chart.yaml
  infra/kong/kong.yaml
  infra/kong/services/system.yaml
Due: prettier

feat: 環境変数にKONG_CORS_ORIGINSとKONG_KEYCLOAK_ISSUERを追加し、Kong設定を更新
  .github/workflows/kong-sync.yaml
  docs/architecture/api/APIゲートウェイ設計.md
  infra/kong/kong.dev.yaml
  infra/kong/kong.yaml
Due: prettier

feat: 環境変数の追加とKong設定の更新
  .github/workflows/kong-sync.yaml
  infra/kong/kong.dev.yaml
  infra/kong/kong.yaml
  infra/kong/plugins/global.yaml
  infra/kong/services/system.yaml
Due: prettier

feat: エラーハンドリングとGraphQLのペイロードを改善
  docs/architecture/api/APIゲートウェイ設計.md
  docs/architecture/api/API設計.md
  docs/architecture/api/GraphQL設計.md
  docs/architecture/api/REST-API設計.md
  docs/architecture/api/gRPC設計.md
  docs/architecture/api/proto設計.md
  docs/architecture/auth/RBAC設計.md
  docs/servers/auth/server.md
  docs/servers/graphql-gateway/implementation.md
  docs/servers/graphql-gateway/server.md
  regions/system/library/rust/server-common/Cargo.toml
  regions/system/library/rust/server-common/src/error.rs
  regions/system/server/rust/api-registry/src/adapter/handler/error.rs
  regions/system/server/rust/auth/Cargo.toml
  regions/system/server/rust/auth/src/adapter/handler/mod.rs
  regions/system/server/rust/graphql-gateway/Cargo.toml
  regions/system/server/rust/graphql-gateway/config/config.yaml
  regions/system/server/rust/graphql-gateway/src/adapter/graphql_handler.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/mod.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/payload.rs
  regions/system/server/rust/graphql-gateway/src/domain/model/tenant.rs
  regions/system/server/rust/graphql-gateway/src/infra/config/mod.rs
  regions/system/server/rust/graphql-gateway/src/infra/grpc/tenant_client.rs
  regions/system/server/rust/graphql-gateway/src/usecase/tenant_mutation.rs
  regions/system/server/rust/graphql-gateway/src/usecase/tenant_query.rs
  regions/system/server/rust/session/Cargo.toml
  regions/system/server/rust/session/src/adapter/handler/session_handler.rs
  regions/system/server/rust/tenant/Cargo.toml
  regions/system/server/rust/tenant/src/adapter/handler/tenant_handler.rs
Due: rust-fmt, rust-clippy, prettier

feat: EventMetadataにschemaVersionを追加し、EventEnvelopeにkeyを追加
  api/proto/k1s0/event/business/accounting/v1/accounting_events.proto
  api/proto/k1s0/event/service/inventory/v1/inventory_events.proto
  api/proto/k1s0/event/service/order/v1/order_events.proto
  docs/architecture/messaging/メッセージング設計.md
  regions/system/library/dart/messaging/lib/src/types.dart
  regions/system/library/dart/messaging/test/messaging_test.dart
  regions/system/library/go/messaging/messaging.go
  regions/system/library/go/messaging/messaging_test.go
  regions/system/library/typescript/messaging/__tests__/messaging.test.ts
  regions/system/library/typescript/messaging/src/index.ts
Due: go-lint, ts-lint, prettier, dart-analyze, dart-format

feat: Kafkaイベント名を更新し、トピックのパーティション数を変更
  docs/architecture/observability/可観測性設計.md
  docs/diagrams/architecture.drawio
  docs/diagrams/infrastructure.drawio
  docs/infrastructure/docker/compose-インフラサービス設計.md
  docs/servers/saga/server.md
  regions/system/server/rust/saga/config/config.dev.yaml
  regions/system/server/rust/saga/config/config.docker.yaml
  regions/system/server/rust/saga/config/config.prod.yaml
  regions/system/server/rust/saga/config/config.staging.yaml
  regions/system/server/rust/saga/config/config.yaml
  regions/system/server/rust/saga/src/infrastructure/kafka_producer.rs
Due: rust-fmt, rust-clippy, prettier

feat: SLOバーンレートアラートの追加と関連設定の更新
  docs/architecture/observability/SLO設計.md
  docs/architecture/observability/可観測性設計.md
  infra/docker/prometheus/recording_rules.yaml
  infra/observability/auth/prometheusrule.yaml
  infra/observability/config/prometheusrule.yaml
  infra/observability/prometheus/alerts/slo-burn-rate-alerts.yaml
  infra/observability/prometheus/prometheus-config.yaml
Due: prettier

feat: ロギング機能の強化とフォーマットの選択肢追加
  docs/architecture/observability/トレーシング設計.md
  docs/architecture/observability/ログ設計.md
  docs/architecture/observability/可観測性設計.md
  docs/libraries/observability/telemetry.md
  docs/servers/_common/Rust共通実装.md
  regions/system/library/dart/telemetry/lib/src/init.dart
  regions/system/library/go/telemetry/logger.go
  regions/system/library/go/telemetry/telemetry_test.go
  regions/system/library/rust/telemetry/src/lib.rs
  regions/system/library/rust/telemetry/src/logger.rs
  regions/system/library/rust/telemetry/src/tests.rs
  regions/system/library/typescript/telemetry/__tests__/telemetry.test.ts
  regions/system/library/typescript/telemetry/package.json
  regions/system/library/typescript/telemetry/src/logger.ts
  regions/system/library/typescript/telemetry/src/telemetry.ts
  regions/system/server/rust/api-registry/src/main.rs
  regions/system/server/rust/auth/src/main.rs
  regions/system/server/rust/config/src/main.rs
  regions/system/server/rust/dlq-manager/src/main.rs
  regions/system/server/rust/event-store/src/main.rs
  regions/system/server/rust/featureflag/src/main.rs
  regions/system/server/rust/file/src/main.rs
  regions/system/server/rust/graphql-gateway/src/main.rs
  regions/system/server/rust/notification/src/main.rs
  regions/system/server/rust/policy/src/main.rs
  regions/system/server/rust/quota/src/main.rs
  regions/system/server/rust/ratelimit/src/main.rs
  regions/system/server/rust/saga/src/main.rs
  regions/system/server/rust/scheduler/src/main.rs
  regions/system/server/rust/search/src/main.rs
  regions/system/server/rust/session/src/main.rs
  regions/system/server/rust/tenant/src/main.rs
  regions/system/server/rust/vault/src/main.rs
  regions/system/server/rust/workflow/src/main.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: 可観測性サービスとインフラサービスの設定を更新
  docs/architecture/observability/ログ設計.md
  docs/architecture/observability/可観測性設計.md
  docs/architecture/observability/監視アラート設計.md
  docs/infrastructure/docker/compose-インフラサービス設計.md
  docs/infrastructure/docker/compose-可観測性サービス設計.md
Due: none

feat: Prometheus設定の更新とアラートメッセージの改善
  docs/infrastructure/docker/compose-可観測性サービス設計.md
  infra/observability/prometheus/alerts/system-tier-alerts.yaml
Due: prettier

feat: 可観測性関連の設定とドキュメントの更新
  docs/architecture/observability/トレーシング設計.md
  docs/architecture/observability/ログ設計.md
  docs/architecture/observability/可観測性設計.md
  docs/architecture/observability/監視アラート設計.md
  docs/infrastructure/docker/compose-可観測性サービス設計.md
  docs/infrastructure/docker/docker-compose設計.md
  docs/infrastructure/kubernetes/helm設計.md
  docs/templates/infrastructure/DockerCompose.md
  docs/templates/server/サーバー-可観測性.md
  infra/docker/grafana/dashboards/k1s0-overview.json
  infra/docker/grafana/dashboards/k1s0-service.json
  infra/docker/prometheus/prometheus.yaml
Due: prettier

feat: 可観測性関連のドキュメントと設定の更新
  docs/architecture/observability/トレーシング設計.md
  docs/architecture/observability/可観測性設計.md
  docs/architecture/observability/監視アラート設計.md
  docs/infrastructure/docker/compose-可観測性サービス設計.md
  infra/docker/loki/loki-config.yaml
Due: prettier

feat: ドキュメントの更新とファイルパスの修正
  docs/architecture/overview/tier-architecture.md
  docs/architecture/overview/ディレクトリ構成図.md
  docs/infrastructure/cicd/CI-CD設計.md
Due: none

feat: 設定スキーマ型生成、ナビゲーション型生成、バリデーション機能の追加
  CLI/crates/k1s0-cli/src/commands/generate_config_types.rs
  CLI/crates/k1s0-cli/src/commands/generate_navigation.rs
  CLI/crates/k1s0-cli/src/commands/mod.rs
  CLI/crates/k1s0-cli/src/commands/validate.rs
  CLI/crates/k1s0-cli/src/main.rs
  CLI/crates/k1s0-core/src/commands/generate/config_types.rs
  CLI/crates/k1s0-core/src/commands/validate/config_schema.rs
  CLI/crates/k1s0-core/src/commands/validate/navigation.rs
  docs/cli/config/config-editor設計.md
Due: rust-fmt, rust-clippy

feat: 設定スキーマ型生成、ナビゲーション型生成、バリデーション機能の追加
  CLI/crates/k1s0-core/src/commands/generate/config_types.rs
  CLI/crates/k1s0-core/src/commands/generate/navigation.rs
  CLI/crates/k1s0-gui/src/commands.rs
  CLI/crates/k1s0-gui/src/lib.rs
  CLI/crates/k1s0-gui/ui/src/components/Sidebar.tsx
  CLI/crates/k1s0-gui/ui/src/lib/tauri-commands.ts
  CLI/crates/k1s0-gui/ui/src/pages/ConfigTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/NavigationTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ValidatePage.tsx
  CLI/crates/k1s0-gui/ui/src/router.tsx
  docs/cli/flow/CLIフロー.md
  docs/cli/gui/TauriGUI設計.md
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: サービスメッシュとTerraformの設定を更新
  .github/workflows/tauri-build.yaml
  docker-compose.yaml
  docs/architecture/observability/可観測性設計.md
  docs/infrastructure/cicd/CI-CD設計.md
  docs/infrastructure/devenv/devcontainer設計.md
  docs/infrastructure/docker/compose-インフラサービス設計.md
  docs/infrastructure/docker/compose-可観測性サービス設計.md
  docs/infrastructure/docker/docker-compose設計.md
  docs/infrastructure/kubernetes/helm設計.md
  docs/infrastructure/kubernetes/kubernetes設計.md
  docs/infrastructure/security/Vault設計.md
  docs/infrastructure/service-mesh/サービスメッシュ設計.md
  docs/infrastructure/terraform/terraform設計.md
  infra/docker/prometheus/prometheus.yaml
  infra/helm/services/system/auth/values.yaml
  infra/kong/kong.dev.yaml
  infra/kubernetes/namespaces/k1s0-business.yaml
  infra/kubernetes/namespaces/k1s0-service.yaml
  infra/kubernetes/namespaces/k1s0-system.yaml
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/variables.tf
  infra/terraform/environments/prod/main.tf
  infra/terraform/environments/prod/variables.tf
  infra/terraform/environments/staging/main.tf
  infra/terraform/environments/staging/variables.tf
  infra/terraform/modules/vault/policies/system.hcl
Due: prettier

feat: VirtualServiceとdocker-compose設定の更新
  docs/infrastructure/docker/docker-compose設計.md
  infra/istio/virtual-service.yaml
  infra/istio/virtualservices/default.yaml
Due: prettier

feat(dlq-client): DLQクライアントの実装とテストを追加
  docs/libraries/_common/概要.md
  docs/templates/codegen/ライブラリ.md
  regions/system/Cargo.toml
  regions/system/library/go/dlq-client/client.go
  regions/system/library/go/dlq-client/dlq_test.go
  regions/system/library/go/dlq-client/error.go
  regions/system/library/go/dlq-client/go.mod
  regions/system/library/go/dlq-client/go.sum
  regions/system/library/go/dlq-client/types.go
  regions/system/library/rust/dlq-client/Cargo.toml
  regions/system/library/rust/dlq-client/src/client.rs
  regions/system/library/rust/dlq-client/src/error.rs
  regions/system/library/rust/dlq-client/src/lib.rs
  regions/system/library/rust/dlq-client/src/types.rs
  regions/system/library/rust/dlq-client/tests/integration_test.rs
  regions/system/server/rust/dlq-manager/Cargo.toml
Due: go-lint, rust-fmt, rust-clippy

feat: RSA暗号化機能の追加とVaultクライアントのHTTP実装
  docs/libraries/_common/概要.md
  docs/libraries/auth-security/authlib.md
  docs/libraries/auth-security/encryption.md
  docs/libraries/auth-security/serviceauth.md
  docs/libraries/auth-security/vault-client.md
  regions/system/library/dart/encryption/lib/encryption.dart
  regions/system/library/dart/encryption/lib/src/rsa.dart
  regions/system/library/dart/encryption/pubspec.yaml
  regions/system/library/dart/encryption/test/rsa_test.dart
  regions/system/library/dart/vault_client/lib/src/http_client.dart
  regions/system/library/dart/vault_client/lib/vault_client.dart
  regions/system/library/dart/vault_client/pubspec.yaml
  regions/system/library/dart/vault_client/test/http_client_test.dart
  regions/system/library/go/encryption/encryption.go
  regions/system/library/go/encryption/encryption_test.go
  regions/system/library/go/vault-client/vault_client.go
  regions/system/library/go/vault-client/vault_client_test.go
  regions/system/library/rust/encryption/Cargo.toml
  regions/system/library/rust/encryption/src/error.rs
  regions/system/library/rust/encryption/src/lib.rs
  regions/system/library/rust/encryption/src/rsa.rs
  regions/system/library/rust/vault-client/Cargo.toml
  regions/system/library/rust/vault-client/src/http.rs
  regions/system/library/rust/vault-client/src/lib.rs
  regions/system/library/typescript/encryption/__tests__/encryption.test.ts
  regions/system/library/typescript/encryption/src/index.ts
  regions/system/library/typescript/vault-client/__tests__/vault-client.test.ts
  regions/system/library/typescript/vault-client/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: gRPCクライアントの実装を追加
  docs/libraries/client-sdk/file-client.md
  docs/libraries/client-sdk/graphql-client.md
  docs/libraries/client-sdk/quota-client.md
  docs/libraries/client-sdk/ratelimit-client.md
  docs/libraries/client-sdk/scheduler-client.md
  docs/libraries/client-sdk/search-client.md
  docs/libraries/client-sdk/session-client.md
  docs/libraries/client-sdk/tenant-client.md
  regions/system/library/dart/file_client/lib/src/client.dart
  regions/system/library/dart/file_client/pubspec.yaml
  regions/system/library/dart/ratelimit_client/lib/src/client.dart
  regions/system/library/dart/scheduler_client/lib/scheduler_client.dart
  regions/system/library/dart/scheduler_client/lib/src/grpc_client.dart
  regions/system/library/dart/scheduler_client/pubspec.yaml
  regions/system/library/dart/search_client/lib/search_client.dart
  regions/system/library/dart/search_client/lib/src/grpc_search_client.dart
  regions/system/library/dart/tenant_client/lib/src/client.dart
  regions/system/library/go/file-client/file_client.go
  regions/system/library/go/quota-client/http_client.go
  regions/system/library/go/ratelimit-client/ratelimit_client.go
  regions/system/library/go/scheduler-client/grpc_client.go
  regions/system/library/go/search-client/grpc_search_client.go
  regions/system/library/go/tenant-client/tenantclient.go
  regions/system/library/rust/file-client/Cargo.toml
  regions/system/library/rust/file-client/src/client.rs
  regions/system/library/rust/file-client/src/lib.rs
  regions/system/library/typescript/file-client/src/index.ts
  regions/system/library/typescript/quota-client/src/index.ts
  regions/system/library/typescript/ratelimit-client/src/index.ts
  regions/system/library/typescript/scheduler-client/src/index.ts
  regions/system/library/typescript/search-client/src/index.ts
  regions/system/library/typescript/tenant-client/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: クライアントライブラリのHTTP実装を追加および修正
  docs/libraries/client-sdk/quota-client.md
  docs/libraries/client-sdk/ratelimit-client.md
  docs/libraries/client-sdk/search-client.md
  docs/libraries/client-sdk/tenant-client.md
  regions/system/library/dart/ratelimit_client/lib/src/client.dart
  regions/system/library/dart/ratelimit_client/pubspec.yaml
  regions/system/library/go/quota-client/http_client.go
  regions/system/library/go/ratelimit-client/ratelimit_client.go
  regions/system/library/go/search-client/search_client.go
  regions/system/library/rust/tenant-client/Cargo.toml
  regions/system/library/rust/tenant-client/src/client.rs
  regions/system/library/rust/tenant-client/src/lib.rs
  regions/system/library/typescript/ratelimit-client/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: 依存関係のバージョンを更新し、HTTP接続実装を追加
  docs/libraries/client-sdk/quota-client.md
  docs/libraries/client-sdk/ratelimit-client.md
  docs/libraries/client-sdk/search-client.md
  docs/libraries/client-sdk/tenant-client.md
  regions/system/library/rust/tenant-client/Cargo.toml
  regions/system/library/rust/tenant-client/src/client.rs
Due: rust-fmt, rust-clippy

feat: GraphQLクライアントとテナントクライアントの機能追加
  docs/libraries/_common/概要.md
  docs/libraries/client-sdk/file-client.md
  docs/libraries/client-sdk/graphql-client.md
  docs/libraries/client-sdk/quota-client.md
  docs/libraries/client-sdk/scheduler-client.md
  docs/libraries/client-sdk/session-client.md
  docs/libraries/client-sdk/tenant-client.md
  regions/system/library/dart/graphql_client/lib/src/graphql_client.dart
  regions/system/library/dart/graphql_client/test/graphql_client_test.dart
  regions/system/library/dart/tenant_client/lib/src/client.dart
  regions/system/library/dart/tenant_client/lib/src/tenant.dart
  regions/system/library/dart/tenant_client/test/tenant_client_test.dart
  regions/system/library/go/graphql-client/graphql_client.go
  regions/system/library/go/graphql-client/graphql_client_test.go
  regions/system/library/go/tenant-client/tenantclient.go
  regions/system/library/go/tenant-client/tenantclient_test.go
  regions/system/library/rust/graphql-client/Cargo.toml
  regions/system/library/rust/graphql-client/src/client.rs
  regions/system/library/rust/tenant-client/Cargo.toml
  regions/system/library/rust/tenant-client/src/client.rs
  regions/system/library/rust/tenant-client/src/lib.rs
  regions/system/library/rust/tenant-client/src/tenant.rs
  regions/system/library/typescript/graphql-client/__tests__/client.test.ts
  regions/system/library/typescript/graphql-client/src/client.ts
  regions/system/library/typescript/tenant-client/__tests__/tenant-client.test.ts
  regions/system/library/typescript/tenant-client/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: テナントクライアントのHTTP接続実装を追加
  docs/libraries/_common/概要.md
  docs/libraries/client-sdk/file-client.md
  docs/libraries/client-sdk/ratelimit-client.md
  docs/libraries/client-sdk/scheduler-client.md
  docs/libraries/client-sdk/search-client.md
  docs/libraries/client-sdk/session-client.md
  docs/libraries/client-sdk/tenant-client.md
  regions/system/library/dart/tenant_client/lib/src/client.dart
  regions/system/library/go/tenant-client/tenantclient.go
  regions/system/library/rust/tenant-client/src/client.rs
  regions/system/library/rust/tenant-client/src/lib.rs
  regions/system/library/typescript/tenant-client/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: gRPCクライアントをreqwestに置き換え、HTTP REST APIを実装
  docs/libraries/client-sdk/quota-client.md
  docs/libraries/client-sdk/ratelimit-client.md
  docs/libraries/client-sdk/scheduler-client.md
  docs/libraries/client-sdk/search-client.md
  docs/libraries/client-sdk/tenant-client.md
  regions/system/library/dart/scheduler_client/lib/src/grpc_client.dart
  regions/system/library/dart/tenant_client/lib/src/client.dart
  regions/system/library/dart/tenant_client/pubspec.yaml
  regions/system/library/go/tenant-client/tenantclient.go
  regions/system/library/rust/ratelimit-client/Cargo.toml
  regions/system/library/rust/ratelimit-client/src/client.rs
  regions/system/library/rust/ratelimit-client/src/grpc.rs
  regions/system/library/rust/scheduler-client/Cargo.toml
  regions/system/library/rust/scheduler-client/src/grpc.rs
  regions/system/library/rust/scheduler-client/src/lib.rs
  regions/system/library/rust/search-client/Cargo.toml
  regions/system/library/rust/search-client/src/client.rs
  regions/system/library/rust/search-client/src/lib.rs
  regions/system/library/rust/tenant-client/src/client.rs
Due: go-lint, rust-fmt, rust-clippy, prettier, dart-analyze, dart-format

feat: クライアントSDKの改善とテスト用モックの追加
  docs/libraries/client-sdk/file-client.md
  docs/libraries/client-sdk/graphql-client.md
  docs/libraries/client-sdk/quota-client.md
  docs/libraries/client-sdk/ratelimit-client.md
  docs/libraries/client-sdk/scheduler-client.md
  docs/libraries/client-sdk/search-client.md
  docs/libraries/client-sdk/session-client.md
  docs/libraries/client-sdk/tenant-client.md
  regions/system/library/dart/file_client/lib/file_client.dart
  regions/system/library/dart/file_client/lib/src/mock_client.dart
  regions/system/library/dart/quota_client/lib/src/client.dart
  regions/system/library/dart/quota_client/lib/src/error.dart
  regions/system/library/go/file-client/mock_file_client.go
  regions/system/library/rust/ratelimit-client/src/in_memory.rs
  regions/system/library/rust/ratelimit-client/src/lib.rs
  regions/system/library/typescript/file-client/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: クライアントSDKのファイルクライアントとクォータクライアントの改善
  docs/libraries/client-sdk/file-client.md
  docs/libraries/client-sdk/quota-client.md
  docs/libraries/client-sdk/ratelimit-client.md
Due: none

feat: 設定ライブラリとフィーチャーフラグライブラリの改善
  docs/cli/config/config設計.md
  docs/libraries/_common/概要.md
  docs/libraries/config/config.md
  docs/libraries/config/featureflag.md
Due: none

feat: pg依存関係の追加と型定義の更新
  docs/libraries/data/pagination.md
  docs/libraries/data/schemaregistry.md
  regions/system/library/rust/migration/src/runner.rs
  regions/system/library/typescript/distributed-lock/package-lock.json
  regions/system/library/typescript/migration/package-lock.json
Due: rust-fmt, rust-clippy, prettier

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
