Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

fix: README.md と tier3 全体配置の文言を修正
  docs/05_実装/00_ディレクトリ設計/10_ルートレイアウト/01_ルート直下ファイル.md
  docs/05_実装/00_ディレクトリ設計/10_ルートレイアウト/02_src配下の層別分割.md
  docs/05_実装/00_ディレクトリ設計/40_tier3レイアウト/01_tier3全体配置.md
Due: none

feat: IMP-CODEGEN索引の新規作成
  docs/05_実装/10_ビルド設計/30_TypeScript_pnpm_workspace/01_TypeScript_pnpm_workspace.md
  docs/05_実装/10_ビルド設計/30_TypeScript_pnpm_workspace/img/30_pnpm_workspace構造.drawio
  docs/05_実装/10_ビルド設計/30_TypeScript_pnpm_workspace/img/30_pnpm_workspace構造.svg
  docs/05_実装/10_ビルド設計/40_dotnet_sln境界/01_dotnet_sln境界.md
  docs/05_実装/10_ビルド設計/40_dotnet_sln境界/img/40_dotnet_sln3分割.drawio
  docs/05_実装/10_ビルド設計/40_dotnet_sln境界/img/40_dotnet_sln3分割.svg
  docs/05_実装/10_ビルド設計/50_選択ビルド判定/01_選択ビルド判定.md
  docs/05_実装/10_ビルド設計/50_選択ビルド判定/img/50_path_filter_4段判定.drawio
  docs/05_実装/10_ビルド設計/50_選択ビルド判定/img/50_path_filter_4段判定.svg
  docs/05_実装/10_ビルド設計/60_キャッシュ戦略/01_キャッシュ戦略.md
  docs/05_実装/10_ビルド設計/60_キャッシュ戦略/img/60_3層キャッシュマトリクス.drawio
  docs/05_実装/10_ビルド設計/60_キャッシュ戦略/img/60_3層キャッシュマトリクス.svg
  docs/05_実装/10_ビルド設計/90_対応IMP-BUILD索引/01_対応IMP-BUILD索引.md
  docs/05_実装/20_コード生成設計/20_OpenAPI/01_OpenAPI生成パイプライン.md
  docs/05_実装/20_コード生成設計/20_OpenAPI/img/20_OpenAPI生成パイプライン.drawio
  docs/05_実装/20_コード生成設計/20_OpenAPI/img/20_OpenAPI生成パイプライン.svg
  docs/05_実装/20_コード生成設計/40_Golden_snapshot/01_Golden_snapshot.md
  docs/05_実装/20_コード生成設計/40_Golden_snapshot/img/40_Golden_snapshot構造.drawio
  docs/05_実装/20_コード生成設計/40_Golden_snapshot/img/40_Golden_snapshot構造.svg
  docs/05_実装/20_コード生成設計/90_対応IMP-CODEGEN索引/01_対応IMP-CODEGEN索引.md
Due: none

feat: ADRおよびNFRドキュメントの更新
  docs/05_実装/30_CI_CD設計/20_path_filter選択ビルド/01_path_filter選択ビルド.md
  docs/05_実装/30_CI_CD設計/20_path_filter選択ビルド/img/20_path_filter選択ビルド構造.drawio
  docs/05_実装/30_CI_CD設計/20_path_filter選択ビルド/img/20_path_filter選択ビルド構造.svg
  docs/05_実装/30_CI_CD設計/30_quality_gate/01_quality_gate.md
  docs/05_実装/30_CI_CD設計/30_quality_gate/img/30_quality_gate構造.drawio
  docs/05_実装/30_CI_CD設計/30_quality_gate/img/30_quality_gate構造.svg
  docs/05_実装/30_CI_CD設計/50_branch_protection/01_branch_protection.md
  docs/05_実装/30_CI_CD設計/50_branch_protection/img/50_branch_protection構造.drawio
  docs/05_実装/30_CI_CD設計/50_branch_protection/img/50_branch_protection構造.svg
  docs/05_実装/30_CI_CD設計/90_対応IMP-CI索引/01_対応IMP-CI索引.md
  docs/05_実装/50_開発者体験設計/30_Scaffold_CLI運用/01_Scaffold_CLI運用.md
  docs/05_実装/50_開発者体験設計/30_Scaffold_CLI運用/img/30_Scaffold_CLI運用フロー.drawio
  docs/05_実装/50_開発者体験設計/30_Scaffold_CLI運用/img/30_Scaffold_CLI運用フロー.svg
  docs/05_実装/50_開発者体験設計/40_Backstage連携/01_Backstage連携.md
  docs/05_実装/50_開発者体験設計/40_Backstage連携/img/40_Backstage_catalog構造.drawio
  docs/05_実装/50_開発者体験設計/40_Backstage連携/img/40_Backstage_catalog構造.svg
  docs/05_実装/50_開発者体験設計/50_オンボーディング/01_オンボーディング.md
  docs/05_実装/50_開発者体験設計/50_オンボーディング/img/50_オンボーディングフロー.drawio
  docs/05_実装/50_開発者体験設計/50_オンボーディング/img/50_オンボーディングフロー.svg
  docs/05_実装/50_開発者体験設計/90_対応IMP-DEV索引/01_対応IMP-DEV索引.md
  docs/05_実装/50_開発者体験設計/README.md
  docs/05_実装/99_索引/00_IMP-ID一覧/01_IMP-ID台帳_全12接頭辞.md
  docs/05_実装/99_索引/10_ADR対応表/01_ADR-IMP対応マトリクス.md
  docs/05_実装/99_索引/20_DS-SW-COMP対応表/01_DS-SW-COMP-IMP対応マトリクス.md
  docs/05_実装/99_索引/30_NFR対応表/01_NFR-IMP対応マトリクス.md
Due: none

feat: 99章に整合性CIとcatalog-info検証を追加
  docs/05_実装/99_索引/00_IMP-ID一覧/01_IMP-ID台帳_全12接頭辞.md
  docs/05_実装/99_索引/10_ADR対応表/01_ADR-IMP対応マトリクス.md
  docs/05_実装/99_索引/20_DS-SW-COMP対応表/01_DS-SW-COMP-IMP対応マトリクス.md
  docs/05_実装/99_索引/30_NFR対応表/01_NFR-IMP対応マトリクス.md
  docs/05_実装/99_索引/50_整合性CI/01_整合性CI設計.md
  docs/05_実装/99_索引/50_整合性CI/img/50_整合性CI_検証パイプライン.drawio
  docs/05_実装/99_索引/50_整合性CI/img/50_整合性CI_検証パイプライン.svg
  docs/05_実装/99_索引/60_catalog-info検証/01_catalog-info検証設計.md
  docs/05_実装/99_索引/60_catalog-info検証/img/60_catalog-info検証_5検証_2trigger.drawio
  docs/05_実装/99_索引/60_catalog-info検証/img/60_catalog-info検証_5検証_2trigger.svg
  docs/05_実装/99_索引/90_改訂履歴/01_改訂履歴.md
  docs/05_実装/99_索引/README.md
Due: none

fix: README.mdの余分な空白を削除
  README.md
Due: none

feat: IMP-DEV関連のドキュメント更新とDev Containerの実装
  .devcontainer/devcontainer.json
  docs/02_構想設計/adr/ADR-DEV-002-windows-wsl2-docker-runtime.md
  docs/02_構想設計/adr/README.md
  docs/04_概要設計/90_付録/02_ADR索引.md
  docs/05_実装/50_開発者体験設計/05_ローカル環境基盤/01_WindowsWSL2環境構成.md
  docs/05_実装/50_開発者体験設計/05_ローカル環境基盤/img/01_WSL2DockerCEスタック.drawio
  docs/05_実装/50_開発者体験設計/05_ローカル環境基盤/img/01_WSL2DockerCEスタック.svg
  docs/05_実装/50_開発者体験設計/10_DevContainer_10役/01_DevContainer_10役設計.md
  docs/05_実装/50_開発者体験設計/90_対応IMP-DEV索引/01_対応IMP-DEV索引.md
  docs/05_実装/50_開発者体験設計/README.md
  docs/05_実装/99_索引/00_IMP-ID一覧/01_IMP-ID台帳_全12接頭辞.md
  docs/05_実装/99_索引/10_ADR対応表/01_ADR-IMP対応マトリクス.md
  tools/devcontainer/README.md
  tools/devcontainer/postCreate.sh
  tools/devcontainer/profiles/tier1-rust-dev/Dockerfile
Due: prettier

fix: Docker CE導入手順のグループ設定に関する注意事項を追加
  docs/05_実装/50_開発者体験設計/05_ローカル環境基盤/01_WindowsWSL2環境構成.md
Due: none

feat: planディレクトリを.gitignoreに追加
  .gitignore
Due: none

feat: React (Vite) に基づく実装の更新
  docs/02_構想設計/adr/ADR-BS-001-backstage.md
  docs/03_要件定義/50_開発者体験/02_ゴールデンパス.md
  docs/03_要件定義/50_開発者体験/05_ローカル開発環境.md
  docs/03_要件定義/60_事業契約/02_国際化_i18n_l10n.md
  docs/05_実装/00_ディレクトリ設計/30_tier2レイアウト/05_テンプレート配置.md
  docs/05_実装/00_ディレクトリ設計/40_tier3レイアウト/01_tier3全体配置.md
  docs/05_実装/00_ディレクトリ設計/40_tier3レイアウト/02_web_pnpm_workspace配置.md
  docs/05_実装/00_ディレクトリ設計/60_operationレイアウト/01_deploy配置_GitOps.md
  docs/05_実装/00_ディレクトリ設計/60_operationレイアウト/03_Helm_charts配置.md
  docs/05_実装/00_ディレクトリ設計/70_共通資産/03_examples配置.md
  docs/05_実装/00_ディレクトリ設計/70_共通資産/05_devcontainer配置.md
Due: none

feat: gRPCおよびOpenAPIドキュメント生成スクリプトの追加
  Makefile
  buf.gen.docs.yaml
  buf.gen.openapi.yaml
  tools/codegen/grpc-docs/run.sh
  tools/codegen/openapi/run.sh
Due: prettier

feat: tier1 Go ファサードの初期実装
  .github/workflows/pr.yml
  docs/02_構想設計/02_tier1設計/openapi/v1/k1s0-tier1.swagger.yaml
  src/tier1/go/.golangci.yaml
  src/tier1/go/README.md
  src/tier1/go/cmd/k1s0d/main.go
  src/tier1/go/go.mod
  src/tier1/go/go.sum
Due: go-lint, prettier

feat: tier1 Go の 3 Pod 構成を実装
  .claude/scheduled_tasks.lock
  src/tier1/go/README.md
  src/tier1/go/cmd/secret/.gitkeep
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/.gitkeep
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/.gitkeep
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/proto/.gitkeep
  src/tier1/go/internal/server/runtime/runtime.go
Due: go-lint

feat: Go モジュールパスの更新と README の情報追加
  buf.gen.internal.yaml
  src/tier1/go/README.md
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/go.mod
Due: go-lint, prettier

feat: tier1 Goファサードの設定と共通ランタイムの実装
  README.md
  buf.gen.docs.yaml
  buf.gen.internal.yaml
  buf.gen.openapi.yaml
  buf.gen.yaml
  src/contracts/tier1/k1s0/tier1/binding/v1/binding_service.proto
  src/contracts/tier1/k1s0/tier1/decision/v1/decision_service.proto
  src/contracts/tier1/k1s0/tier1/feature/v1/feature_service.proto
  src/contracts/tier1/k1s0/tier1/log/v1/log_service.proto
  src/contracts/tier1/k1s0/tier1/pii/v1/pii_service.proto
  src/contracts/tier1/k1s0/tier1/pubsub/v1/pubsub_service.proto
  src/contracts/tier1/k1s0/tier1/secrets/v1/secrets_service.proto
  src/contracts/tier1/k1s0/tier1/serviceinvoke/v1/serviceinvoke_service.proto
  src/contracts/tier1/k1s0/tier1/state/v1/state_service.proto
  src/contracts/tier1/k1s0/tier1/telemetry/v1/telemetry_service.proto
  src/contracts/tier1/k1s0/tier1/workflow/v1/workflow_service.proto
  src/tier1/go/.golangci.yaml
  src/tier1/go/README.md
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/common/config.go
  src/tier1/go/internal/common/runtime.go
  src/tier1/go/internal/otel/otel.go
Due: go-lint, prettier

feat: tier1 APIの公開数を11から12に更新
  README.md
  src/contracts/buf.yaml
  src/contracts/tier1/k1s0/tier1/health/v1/health_service.proto
  src/tier1/go/README.md
Due: prettier

feat: tier1 APIの公開リストに"pii"を追加
  src/contracts/buf.yaml
  src/contracts/tier1/k1s0/tier1/health/v1/health_service.proto
Due: prettier

feat: tier1 GoファサードのDockerfileと共通ユーティリティの追加
  src/tier1/go/.dockerignore
  src/tier1/go/Dockerfile.secret
  src/tier1/go/Dockerfile.state
  src/tier1/go/Dockerfile.workflow
  src/tier1/go/README.md
  src/tier1/go/internal/common/retry.go
  src/tier1/go/internal/common/timeout.go
Due: go-lint

feat: tier1 API のバージョンを 12 に更新
  .claude/commands/requirement.md
  .claude/skills/docs-requirement-writing/SKILL.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  buf.gen.docs.yaml
  buf.gen.openapi.yaml
  src/tier1/go/go.mod
  src/tier1/go/internal/common/config_test.go
  src/tier1/go/internal/common/retry_test.go
  src/tier1/go/internal/common/timeout_test.go
  tools/codegen/buf/run.sh
  tools/codegen/openapi/run.sh
Due: go-lint, prettier

feat: 不要な.gitkeepファイルを削除
  examples/sdk-integration-hello/.gitkeep
  examples/tier2-dotnet-service-hello/.gitkeep
  examples/tier2-go-service-hello/.gitkeep
  examples/tier3-native-hello/.gitkeep
  examples/tier3-web-hello/.gitkeep
Due: none

docs: SHIP_STATUS.md で実装マチュリティと採用初期ロードマップを開示
  README.md
  docs/SHIP_STATUS.md
Due: none

feat: Golden Path examples 7 プロジェクト枠と 3 種最小実装を配置
  examples/README.md
  examples/tier1-go-facade/.dockerignore
  examples/tier1-go-facade/Dockerfile
  examples/tier1-go-facade/README.md
  examples/tier1-go-facade/cmd/example-facade/main.go
  examples/tier1-go-facade/go.mod
  examples/tier1-go-facade/go.sum
  examples/tier1-rust-service/Cargo.toml
  examples/tier1-rust-service/README.md
  examples/tier1-rust-service/src/lib.rs
  examples/tier1-rust-service/src/main.rs
  examples/tier2-dotnet-service/README.md
  examples/tier2-go-service/README.md
  examples/tier3-bff-graphql/README.md
  examples/tier3-native-maui/README.md
  examples/tier3-web-portal/README.md
  examples/tier3-web-portal/index.html
  examples/tier3-web-portal/package.json
  examples/tier3-web-portal/src/App.tsx
  examples/tier3-web-portal/src/main.tsx
  examples/tier3-web-portal/tsconfig.json
  examples/tier3-web-portal/vite.config.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: tier1-facade Helm chart と Argo CD ApplicationSet/AppProject を配置
  deploy/apps/application-sets/.gitkeep
  deploy/apps/application-sets/tier1-facade.yaml
  deploy/apps/projects/.gitkeep
  deploy/apps/projects/k1s0-tier1.yaml
  deploy/charts/tier1-facade/.gitkeep
  deploy/charts/tier1-facade/.helmignore
  deploy/charts/tier1-facade/Chart.yaml
  deploy/charts/tier1-facade/README.md
  deploy/charts/tier1-facade/templates/_helpers.tpl
  deploy/charts/tier1-facade/templates/configmap.yaml
  deploy/charts/tier1-facade/templates/deployment.yaml
  deploy/charts/tier1-facade/templates/service.yaml
  deploy/charts/tier1-facade/templates/serviceaccount.yaml
  deploy/charts/tier1-facade/values.yaml
Due: prettier

docs: OSS ガバナンス文書（CoC / Governance / PR・Issue テンプレ）を追加
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  GOVERNANCE.md
Due: prettier

feat: tier1 Go 3 Pod に 7 公開 API ハンドラを登録
  docs/SHIP_STATUS.md
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/go.mod
  src/tier1/go/internal/adapter/dapr/binding.go
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/feature.go
  src/tier1/go/internal/adapter/dapr/invoke.go
  src/tier1/go/internal/adapter/dapr/pubsub.go
  src/tier1/go/internal/adapter/dapr/state.go
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/state/context.go
  src/tier1/go/internal/state/errors.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/register.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/workflow/register.go
Due: go-lint

feat: tier1 Rust 3 Pod 最小実装と workspace 配置
  docs/SHIP_STATUS.md
  src/tier1/rust/Cargo.toml
  src/tier1/rust/crates/audit/.gitkeep
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/decision/.gitkeep
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/pii/.gitkeep
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/main.rs
  src/tier1/rust/crates/proto-gen/.gitkeep
  src/tier1/rust/crates/proto-gen/Cargo.toml
  src/tier1/rust/crates/proto-gen/src/lib.rs
Due: rust-fmt, rust-clippy

feat: infra/data 4 backend を production-grade defaults で正規化
  docs/SHIP_STATUS.md
  infra/data/README.md
  infra/data/cloudnativepg/.gitkeep
  infra/data/cloudnativepg/README.md
  infra/data/cloudnativepg/cluster.yaml
  infra/data/cloudnativepg/values.yaml
  infra/data/kafka/.gitkeep
  infra/data/kafka/README.md
  infra/data/kafka/kafka-cluster.yaml
  infra/data/kafka/strimzi-values.yaml
  infra/data/minio/.gitkeep
  infra/data/minio/README.md
  infra/data/minio/values.yaml
  infra/data/valkey/.gitkeep
  infra/data/valkey/README.md
  infra/data/valkey/values.yaml
Due: prettier

feat: infra/observability LGTM 6 component を production-grade で正規化
  infra/observability/README.md
  infra/observability/grafana/.gitkeep
  infra/observability/grafana/values.yaml
  infra/observability/loki/.gitkeep
  infra/observability/loki/values.yaml
  infra/observability/mimir/.gitkeep
  infra/observability/mimir/values.yaml
  infra/observability/otel-collector/.gitkeep
  infra/observability/otel-collector/values-gateway.yaml
  infra/observability/otel-collector/values.yaml
  infra/observability/pyroscope/.gitkeep
  infra/observability/pyroscope/values.yaml
  infra/observability/tempo/.gitkeep
  infra/observability/tempo/values.yaml
Due: prettier

docs: SHIP_STATUS.md の infra/observability マチュリティを「雛形あり」に更新
  docs/SHIP_STATUS.md
Due: none

feat: infra mesh + security 5 component を production-grade で正規化
  docs/SHIP_STATUS.md
  infra/mesh/istio-ambient/.gitkeep
  infra/mesh/istio-ambient/README.md
  infra/mesh/istio-ambient/peer-authentication.yaml
  infra/mesh/istio-ambient/values.yaml
  infra/security/cert-manager/.gitkeep
  infra/security/cert-manager/README.md
  infra/security/cert-manager/cluster-issuer.yaml
  infra/security/cert-manager/values.yaml
  infra/security/keycloak/.gitkeep
  infra/security/keycloak/README.md
  infra/security/keycloak/values.yaml
  infra/security/kyverno/.gitkeep
  infra/security/kyverno/README.md
  infra/security/kyverno/baseline-policies.yaml
  infra/security/kyverno/values.yaml
  infra/security/spire/.gitkeep
  infra/security/spire/README.md
  infra/security/spire/values.yaml
Due: prettier

fix: renovate workflow の action 参照を v46.1.11 SHA pin に修正
  .github/workflows/renovate.yml
Due: prettier

feat: infra 残り 8 component を production-grade で正規化
  docs/SHIP_STATUS.md
  infra/dapr/components/binding/.gitkeep
  infra/dapr/components/configuration/.gitkeep
  infra/dapr/components/pubsub/.gitkeep
  infra/dapr/components/secrets/.gitkeep
  infra/dapr/components/state/.gitkeep
  infra/dapr/control-plane/.gitkeep
  infra/dapr/control-plane/values.yaml
  infra/feature-management/flagd/.gitkeep
  infra/feature-management/flagd/flagd-deployment.yaml
  infra/feature-management/flagd/values.yaml
  infra/k8s/bootstrap/.gitkeep
  infra/k8s/bootstrap/README.md
  infra/k8s/bootstrap/cluster-api.yaml
  infra/k8s/bootstrap/kubeadm-init-config.yaml
  infra/k8s/namespaces/.gitkeep
  infra/k8s/namespaces/namespaces.yaml
  infra/k8s/networking/.gitkeep
  infra/k8s/networking/calico-values.yaml
  infra/k8s/networking/metallb-values.yaml
  infra/k8s/storage/.gitkeep
  infra/k8s/storage/storage-classes.yaml
  infra/scaling/keda/.gitkeep
  infra/scaling/keda/values.yaml
  infra/security/openbao/.gitkeep
  infra/security/openbao/values.yaml
Due: prettier

fix: infra/dapr/components/ の .gitkeep を復元
  infra/dapr/components/binding/.gitkeep
  infra/dapr/components/configuration/.gitkeep
  infra/dapr/components/pubsub/.gitkeep
  infra/dapr/components/secrets/.gitkeep
  infra/dapr/components/state/.gitkeep
Due: none
