Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

feat: データベースマイグレーション機能の追加
  regions/system/library/dart/migration/lib/migration.dart
  regions/system/library/dart/migration/lib/src/evolution/analyzer.dart
  regions/system/library/dart/migration/lib/src/evolution/declarative.dart
  regions/system/library/dart/migration/lib/src/evolution/diff.dart
  regions/system/library/dart/migration/lib/src/evolution/reverse.dart
  regions/system/library/dart/migration/lib/src/evolution/schema.dart
  regions/system/library/dart/migration/pubspec.yaml
  regions/system/library/dart/migration/test/evolution/analyzer_test.dart
  regions/system/library/dart/migration/test/evolution/declarative_test.dart
  regions/system/library/dart/migration/test/evolution/diff_test.dart
  regions/system/library/dart/migration/test/evolution/reverse_test.dart
  regions/system/library/go/migration/analyzer.go
  regions/system/library/go/migration/analyzer_test.go
  regions/system/library/go/migration/declarative.go
  regions/system/library/go/migration/declarative_test.go
  regions/system/library/go/migration/diff.go
  regions/system/library/go/migration/diff_test.go
  regions/system/library/go/migration/go.mod
  regions/system/library/go/migration/go.sum
  regions/system/library/go/migration/migration_test.go
  regions/system/library/go/migration/reverse.go
  regions/system/library/go/migration/reverse_test.go
  regions/system/library/go/migration/schema.go
  regions/system/library/go/migration/schema_test.go
  regions/system/library/typescript/migration/__tests__/analyzer.test.ts
  regions/system/library/typescript/migration/__tests__/declarative.test.ts
  regions/system/library/typescript/migration/__tests__/diff.test.ts
  regions/system/library/typescript/migration/__tests__/reverse.test.ts
  regions/system/library/typescript/migration/package-lock.json
  regions/system/library/typescript/migration/package.json
  regions/system/library/typescript/migration/src/analyzer.ts
  regions/system/library/typescript/migration/src/declarative.ts
  regions/system/library/typescript/migration/src/diff.ts
  regions/system/library/typescript/migration/src/index.ts
  regions/system/library/typescript/migration/src/reverse.ts
  regions/system/library/typescript/migration/src/schema.ts
  regions/system/server/rust/app-registry/src/infrastructure/s3_client.rs
  regions/system/server/rust/app-registry/tests/integration_test.rs
  regions/system/server/rust/service-catalog/tests/integration_test.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: Migrationドキュメントの更新とGo/TypeScript/Dart実装の追加
  docs/libraries/data/migration-evolution.md
Due: none

feat: アプリアップデーターの初期実装
  docs/infrastructure/distribution/アプリ配布基盤設計.md
  docs/libraries/_common/概要.md
  docs/libraries/client-sdk/app-updater.md
  docs/libraries/codegen/client-sdk-generator.md
  docs/libraries/codegen/multi-language-sdk.md
  regions/system/Cargo.toml
  regions/system/library/go/app-updater/app_updater.go
  regions/system/library/go/app-updater/app_updater_test.go
  regions/system/library/go/app-updater/checksum_verifier.go
  regions/system/library/go/app-updater/checksum_verifier_test.go
  regions/system/library/go/app-updater/go.mod
  regions/system/library/go/app-updater/go.sum
  regions/system/library/rust/app-updater/Cargo.toml
  regions/system/library/rust/app-updater/src/checksum.rs
  regions/system/library/rust/app-updater/src/client.rs
  regions/system/library/rust/app-updater/src/config.rs
  regions/system/library/rust/app-updater/src/error.rs
  regions/system/library/rust/app-updater/src/lib.rs
  regions/system/library/rust/app-updater/src/model.rs
  regions/system/library/rust/app-updater/src/version.rs
  regions/system/library/rust/app-updater/tests/app_updater_test.rs
  regions/system/library/typescript/app-updater/__tests__/checksum.test.ts
  regions/system/library/typescript/app-updater/__tests__/client.test.ts
  regions/system/library/typescript/app-updater/package-lock.json
  regions/system/library/typescript/app-updater/package.json
  regions/system/library/typescript/app-updater/src/checksum.ts
  regions/system/library/typescript/app-updater/src/client.ts
  regions/system/library/typescript/app-updater/src/config.ts
  regions/system/library/typescript/app-updater/src/error.ts
  regions/system/library/typescript/app-updater/src/index.ts
  regions/system/library/typescript/app-updater/src/types.ts
  regions/system/library/typescript/app-updater/src/version.ts
  regions/system/library/typescript/app-updater/tsconfig.json
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: インメモリのPubSub、SecretStore、StateStoreの実装を追加
  analysis_options.yaml
  api/proto/go.mod
  api/proto/go.sum
  regions/system/client/flutter/system_client/test/http/api_client_test.dart
  regions/system/library/dart/event_bus/lib/src/bus.dart
  regions/system/library/dart/migration/lib/src/evolution/analyzer.dart
  regions/system/library/dart/migration/lib/src/evolution/reverse.dart
  regions/system/library/dart/migration/lib/src/evolution/schema.dart
  regions/system/library/dart/resiliency/pubspec.yaml
  regions/system/library/dart/webhook_client/lib/src/client.dart
  regions/system/library/go/building-blocks/inmemory_binding.go
  regions/system/library/go/building-blocks/inmemory_binding_test.go
  regions/system/library/go/building-blocks/inmemory_pubsub.go
  regions/system/library/go/building-blocks/inmemory_pubsub_test.go
  regions/system/library/go/building-blocks/inmemory_secretstore.go
  regions/system/library/go/building-blocks/inmemory_secretstore_test.go
  regions/system/library/go/building-blocks/inmemory_statestore.go
  regions/system/library/go/building-blocks/inmemory_statestore_test.go
  regions/system/library/go/config/go.mod
  regions/system/library/go/config/watch.go
Due: go-lint, prettier, dart-analyze, dart-format

feat: 各ライブラリの設計文書を更新し、エラーハンドリングやポリシー設定を追加
  docs/libraries/_common/building-blocks.md
  docs/libraries/config/binding.md
  docs/libraries/config/config.md
  docs/libraries/data/statestore.md
  docs/libraries/messaging/pubsub.md
  regions/system/library/dart/resiliency/lib/resiliency.dart
  regions/system/library/dart/resiliency/lib/src/bulkhead.dart
  regions/system/library/dart/resiliency/lib/src/decorator.dart
  regions/system/library/dart/resiliency/lib/src/error.dart
  regions/system/library/dart/resiliency/lib/src/policy.dart
  regions/system/library/dart/resiliency/test/resiliency_test.dart
  regions/system/library/go/building-blocks/pubsub_test.go
  regions/system/library/go/building-blocks/statestore_test.go
Due: go-lint, dart-analyze, dart-format

feat: エラーメッセージとポリシー設定のドキュメントを英語に翻訳
  regions/system/library/dart/resiliency/lib/src/error.dart
  regions/system/library/dart/resiliency/lib/src/policy.dart
  regions/system/library/go/building-blocks/pubsub_test.go
  regions/system/library/go/building-blocks/statestore_test.go
Due: go-lint, dart-analyze, dart-format

feat: アプリアップデーターの機能を強化し、エラーハンドリングを改善
  regions/system/library/rust/app-updater/src/checksum.rs
  regions/system/library/rust/app-updater/src/client.rs
  regions/system/library/rust/app-updater/src/config.rs
  regions/system/library/rust/app-updater/src/error.rs
  regions/system/library/rust/app-updater/src/lib.rs
  regions/system/library/rust/app-updater/src/model.rs
  regions/system/library/rust/app-updater/src/version.rs
  regions/system/library/rust/building-blocks/src/lib.rs
  regions/system/library/typescript/app-updater/src/checksum.ts
  regions/system/library/typescript/app-updater/src/client.ts
  regions/system/library/typescript/app-updater/src/config.ts
  regions/system/library/typescript/app-updater/src/error.ts
  regions/system/library/typescript/app-updater/src/index.ts
  regions/system/library/typescript/app-updater/src/types.ts
  regions/system/library/typescript/app-updater/src/version.ts
  regions/system/server/rust/app-registry/src/adapter/handler/app_handler.rs
  regions/system/server/rust/app-registry/src/usecase/create_app.rs
  regions/system/server/rust/app-registry/src/usecase/delete_app.rs
  regions/system/server/rust/app-registry/src/usecase/update_app.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: インメモリ実装の追加
  CLAUDE.md
  regions/system/library/dart/app_updater/lib/src/app_updater.dart
  regions/system/library/dart/app_updater/lib/src/checksum_verifier.dart
  regions/system/library/dart/app_updater/lib/src/config.dart
  regions/system/library/dart/app_updater/lib/src/error.dart
  regions/system/library/dart/app_updater/lib/src/model.dart
  regions/system/library/dart/app_updater/lib/src/platform_detector.dart
  regions/system/library/dart/app_updater/lib/src/registry_api_client.dart
  regions/system/library/dart/building_blocks/lib/building_blocks.dart
  regions/system/library/dart/building_blocks/lib/src/inmemory_binding.dart
  regions/system/library/dart/building_blocks/lib/src/inmemory_pubsub.dart
  regions/system/library/dart/building_blocks/lib/src/inmemory_secretstore.dart
  regions/system/library/dart/building_blocks/lib/src/inmemory_statestore.dart
  regions/system/library/go/building-blocks/env_secretstore.go
  regions/system/library/go/building-blocks/file_binding.go
  regions/system/library/go/building-blocks/file_secretstore.go
  regions/system/library/go/building-blocks/http_binding.go
  regions/system/library/go/building-blocks/kafka_pubsub.go
  regions/system/library/go/building-blocks/redis_statestore.go
  regions/system/library/go/building-blocks/vault_secretstore.go
  regions/system/library/rust/bb-binding/Cargo.toml
  regions/system/library/rust/bb-binding/src/http.rs
  regions/system/library/rust/bb-binding/src/lib.rs
  regions/system/library/typescript/building-blocks/package-lock.json
  regions/system/library/typescript/building-blocks/src/index.ts
  regions/system/library/typescript/building-blocks/src/inmemory_binding.ts
  regions/system/library/typescript/building-blocks/src/inmemory_pubsub.ts
  regions/system/library/typescript/building-blocks/src/inmemory_secretstore.ts
  regions/system/library/typescript/building-blocks/src/inmemory_statestore.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: Redis, Vault, InMemory ストレージおよび PubSub のテストを追加
  docs/libraries/auth-security/secret-store.md
  docs/libraries/config/binding.md
  docs/libraries/data/statestore.md
  docs/libraries/messaging/pubsub.md
  regions/system/library/dart/building_blocks/test/inmemory_binding_test.dart
  regions/system/library/dart/building_blocks/test/inmemory_pubsub_test.dart
  regions/system/library/dart/building_blocks/test/inmemory_secretstore_test.dart
  regions/system/library/dart/building_blocks/test/inmemory_statestore_test.dart
  regions/system/library/go/building-blocks/env_secretstore_test.go
  regions/system/library/go/building-blocks/file_binding_test.go
  regions/system/library/go/building-blocks/file_secretstore_test.go
  regions/system/library/go/building-blocks/http_binding_test.go
  regions/system/library/go/building-blocks/kafka_pubsub_test.go
  regions/system/library/go/building-blocks/redis_pubsub.go
  regions/system/library/go/building-blocks/redis_pubsub_test.go
  regions/system/library/go/building-blocks/redis_statestore_test.go
  regions/system/library/go/building-blocks/vault_secretstore_test.go
  regions/system/library/typescript/building-blocks/src/config.ts
  regions/system/library/typescript/building-blocks/src/inmemory_binding.test.ts
  regions/system/library/typescript/building-blocks/src/inmemory_pubsub.test.ts
  regions/system/library/typescript/building-blocks/src/inmemory_secretstore.test.ts
  regions/system/library/typescript/building-blocks/src/inmemory_statestore.test.ts
Due: go-lint, ts-lint, prettier, dart-analyze, dart-format

feat: 各テストファイルにテストの目的を説明するコメントを追加
  regions/system/library/dart/building_blocks/test/inmemory_binding_test.dart
  regions/system/library/dart/building_blocks/test/inmemory_pubsub_test.dart
  regions/system/library/dart/building_blocks/test/inmemory_secretstore_test.dart
  regions/system/library/dart/building_blocks/test/inmemory_statestore_test.dart
  regions/system/library/go/building-blocks/env_secretstore_test.go
  regions/system/library/go/building-blocks/file_binding_test.go
  regions/system/library/go/building-blocks/file_secretstore_test.go
  regions/system/library/go/building-blocks/http_binding_test.go
  regions/system/library/go/building-blocks/kafka_pubsub_test.go
  regions/system/library/go/building-blocks/redis_pubsub_test.go
  regions/system/library/go/building-blocks/redis_statestore_test.go
  regions/system/library/go/building-blocks/vault_secretstore_test.go
  regions/system/library/typescript/building-blocks/src/config.ts
  regions/system/library/typescript/building-blocks/src/inmemory_binding.test.ts
  regions/system/library/typescript/building-blocks/src/inmemory_pubsub.test.ts
  regions/system/library/typescript/building-blocks/src/inmemory_secretstore.test.ts
  regions/system/library/typescript/building-blocks/src/inmemory_statestore.test.ts
Due: go-lint, ts-lint, prettier, dart-analyze, dart-format

feat: テストの改善とコメントの追加
  regions/system/library/rust/websocket/src/client.rs
  regions/system/library/rust/websocket/src/config.rs
  regions/system/library/rust/websocket/src/message.rs
  regions/system/library/rust/websocket/src/state.rs
Due: rust-fmt, rust-clippy

feat: WebSocketクライアントの実装を追加
  regions/system/library/dart/websocket/lib/src/native_ws_client.dart
  regions/system/library/dart/websocket/lib/websocket.dart
  regions/system/library/go/dlq-client/dlq_test.go
  regions/system/library/go/websocket/go.mod
  regions/system/library/go/websocket/go.sum
  regions/system/library/go/websocket/native_ws_client.go
  regions/system/library/rust/websocket/Cargo.toml
  regions/system/library/rust/websocket/src/lib.rs
  regions/system/library/rust/websocket/src/native_client.rs
  regions/system/library/typescript/websocket/src/index.ts
  regions/system/library/typescript/websocket/src/native_client.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: WebSocketクライアントの受信処理を改善
  regions/system/library/dart/websocket/lib/src/native_ws_client.dart
  regions/system/library/go/websocket/native_ws_client.go
  regions/system/library/typescript/websocket/src/native_client.ts
Due: go-lint, ts-lint, prettier, dart-analyze, dart-format

feat: WebSocketクライアントの本番用実装を追加
  docs/libraries/messaging/websocket.md
Due: none

feat: クライアントSDKのRust実装を追加
  CLI/crates/k1s0-cli/templates/client-sdk/rust/Cargo.toml.tera
  CLI/crates/k1s0-cli/templates/client-sdk/rust/src/grpc_client.rs.tera
  CLI/crates/k1s0-cli/templates/client-sdk/rust/src/http_client.rs.tera
  CLI/crates/k1s0-cli/templates/client-sdk/rust/src/lib.rs.tera
  CLI/crates/k1s0-cli/templates/client-sdk/rust/src/mock_client.rs.tera
  docs/libraries/codegen/client-sdk-generator.md
  docs/libraries/codegen/multi-language-sdk.md
  scripts/generate-client-sdk.sh
Due: none

feat: ComponentRegistryの追加とテストの実装
  docs/libraries/_common/building-blocks.md
  regions/system/library/dart/building_blocks/lib/building_blocks.dart
  regions/system/library/dart/building_blocks/lib/src/registry.dart
  regions/system/library/dart/building_blocks/test/registry_test.dart
  regions/system/library/go/building-blocks/registry.go
  regions/system/library/go/building-blocks/registry_test.go
  regions/system/library/typescript/building-blocks/src/index.ts
  regions/system/library/typescript/building-blocks/src/registry.test.ts
  regions/system/library/typescript/building-blocks/src/registry.ts
Due: go-lint, ts-lint, prettier, dart-analyze, dart-format

feat: OIDCクライアントの改善と設定のバリデーション追加
  regions/system/server/go/bff-proxy/cmd/server/main.go
  regions/system/server/go/bff-proxy/go.mod
  regions/system/server/go/bff-proxy/go.sum
  regions/system/server/go/bff-proxy/internal/handler/auth_handler.go
  regions/system/server/go/bff-proxy/internal/handler/auth_test.go
  regions/system/server/go/bff-proxy/internal/oauth/client.go
Due: go-lint

refactor: 不要なrespondErrorWithMessage関数を削除
  regions/system/server/go/bff-proxy/internal/handler/error_response.go
Due: go-lint

feat: Goバージョンを1.24に更新し、依存関係を追加
  .devcontainer/devcontainer.json
  .github/workflows/ci.yaml
  docs/servers/bff-proxy/server.md
  docs/servers/domain-master/server.md
Due: prettier

feat: 状態管理のための statestore パッケージを追加
  docs/libraries/_common/building-blocks.md
  docs/libraries/_common/概要.md
  docs/libraries/auth-security/secret-store.md
  docs/libraries/codegen/event-codegen.md
  docs/libraries/config/binding.md
  docs/libraries/data/statestore.md
  docs/libraries/messaging/pubsub.md
  docs/libraries/observability/telemetry-macros.md
  regions/system/library/go/binding/binding.go
  regions/system/library/go/binding/binding_test.go
  regions/system/library/go/binding/go.mod
  regions/system/library/go/binding/go.sum
  regions/system/library/go/codegen/event_codegen.go
  regions/system/library/go/codegen/event_codegen_test.go
  regions/system/library/go/codegen/go.sum
  regions/system/library/go/pubsub/go.mod
  regions/system/library/go/pubsub/go.sum
  regions/system/library/go/pubsub/pubsub.go
  regions/system/library/go/pubsub/pubsub_test.go
  regions/system/library/go/secret-store/go.mod
  regions/system/library/go/secret-store/go.sum
  regions/system/library/go/secret-store/secretstore.go
  regions/system/library/go/secret-store/secretstore_test.go
  regions/system/library/go/statestore/go.mod
  regions/system/library/go/statestore/go.sum
  regions/system/library/go/statestore/statestore.go
  regions/system/library/go/statestore/statestore_test.go
  regions/system/library/go/telemetry-macros/go.mod
  regions/system/library/go/telemetry-macros/go.sum
  regions/system/library/go/telemetry-macros/trace.go
  regions/system/library/go/telemetry-macros/trace_test.go
Due: go-lint

feat: AIクライアントの初期実装を追加
  docs/libraries/client-sdk/bb-ai-client.md
  docs/templates/infrastructure/Helm.md
  infra/helm/charts/k1s0-common/templates/_deployment.tpl
  infra/helm/charts/k1s0-common/templates/_destinationrule.tpl
  infra/helm/charts/k1s0-common/templates/_istio-annotations.tpl
  infra/helm/charts/k1s0-common/templates/_istio-resources.tpl
  infra/helm/charts/k1s0-common/templates/_virtualservice.tpl
  infra/helm/charts/k1s0-common/values.yaml
  regions/system/library/dart/bb-ai-client/analysis_options.yaml
  regions/system/library/dart/bb-ai-client/lib/bb_ai_client.dart
  regions/system/library/dart/bb-ai-client/lib/src/client.dart
  regions/system/library/dart/bb-ai-client/lib/src/http_client.dart
  regions/system/library/dart/bb-ai-client/lib/src/memory_client.dart
  regions/system/library/dart/bb-ai-client/lib/src/types.dart
  regions/system/library/dart/bb-ai-client/pubspec.yaml
  regions/system/library/dart/bb-ai-client/test/bb_ai_client_test.dart
  regions/system/library/rust/bb-ai-client/src/client.rs
  regions/system/library/rust/bb-ai-client/src/lib.rs
  regions/system/library/rust/bb-ai-client/src/memory.rs
  regions/system/library/rust/bb-ai-client/src/traits.rs
  regions/system/library/rust/bb-ai-client/src/types.rs
  regions/system/library/rust/bb-ai-client/tests/bb_ai_client_test.rs
  regions/system/library/typescript/bb-ai-client/__tests__/bb-ai-client.test.ts
  regions/system/library/typescript/bb-ai-client/package-lock.json
  regions/system/library/typescript/bb-ai-client/package.json
  regions/system/library/typescript/bb-ai-client/src/index.ts
  regions/system/library/typescript/bb-ai-client/tsconfig.json
  regions/system/library/typescript/bb-ai-client/vitest.config.ts
Due: rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat(tests): 決済管理アプリの基本ウィジェットテストを追加
  regions/service/inventory/client/flutter/inventory/test/widget_test.dart
  regions/service/payment/client/flutter/payment/test/widget_test.dart
Due: dart-analyze, dart-format

feat: 多言語対応ライブラリの情報を追加
  docs/libraries/_common/server-common.md
  docs/libraries/_common/概要.md
  docs/libraries/codegen/codegen.md
  docs/servers/inventory/server.md
  docs/servers/order/server.md
  docs/servers/payment/server.md
Due: none

feat: 設定管理方針ドキュメントを追加
  docs/architecture/conventions/設定管理方針.md
Due: none

feat: タスク管理ハンドラとワークフローCRUDハンドラの実装
  CLI/crates/k1s0-core/src/commands/generate/conflict.rs
  CLI/crates/k1s0-core/src/commands/generate/context.rs
  CLI/crates/k1s0-core/src/commands/generate/execute.rs
  CLI/crates/k1s0-core/src/commands/generate/infra_gen.rs
  CLI/crates/k1s0-core/src/commands/generate/mod.rs
  CLI/crates/k1s0-core/src/commands/generate/paths.rs
  CLI/crates/k1s0-core/src/commands/generate/post_process.rs
  CLI/crates/k1s0-core/src/commands/generate/template.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/mod.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/test_bff.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/test_conflict.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/test_context.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/test_execute.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/test_paths.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/test_post_process.rs
  CLI/crates/k1s0-core/src/commands/generate/tests/test_scan.rs
  CLI/crates/k1s0-core/src/commands/template_migrate/executor.rs
  CLI/crates/k1s0-core/src/commands/template_migrate/planner.rs
  CLI/crates/k1s0-gui/ui/src/lib/generate-wizard.ts
  CLI/crates/k1s0-gui/ui/src/lib/useGenerateForm.ts
  CLI/crates/k1s0-gui/ui/src/pages/GeneratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepConfirm.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepDetail.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepKind.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepLangFw.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepPlacement.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepTier.tsx
  docs/architecture/overview/ディレクトリ構成図.md
  docs/cli/gui/TauriGUI設計.md
  docs/libraries/_common/多言語提供方針.md
  docs/libraries/_common/概要.md
  docs/servers/workflow/server.md
  docs/templates/codegen/コード生成パイプライン.md
  docs/templates/server/サーバー-Rust.md
  regions/service/payment/server/rust/payment/tests/api_integration_test.rs
  regions/system/server/rust/workflow/src/adapter/handler/dto.rs
  regions/system/server/rust/workflow/src/adapter/handler/instance_handler.rs
  regions/system/server/rust/workflow/src/adapter/handler/mod.rs
  regions/system/server/rust/workflow/src/adapter/handler/task_handler.rs
  regions/system/server/rust/workflow/src/adapter/handler/workflow_handler.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: GoおよびRustのバージョンを更新
  docs/architecture/overview/コンセプト.md
Due: none

feat(auth): BFFのOAuth2/OIDC認可コードフローを実装し、セッション管理を強化
  .editorconfig
  .gitattributes
  README.md
  docs/architecture/conventions/version-policy.md
  docs/infrastructure/devenv/devcontainer設計.md
  docs/infrastructure/docker/Dockerイメージ戦略.md
  docs/libraries/client-sdk/app-updater.md
  docs/servers/bff-proxy/deploy.md
  docs/servers/bff-proxy/implementation.md
  docs/servers/bff-proxy/server.md
  docs/templates/client/BFF.md
  docs/templates/codegen/ライブラリ.md
  docs/templates/infrastructure/CICD.md
  docs/templates/infrastructure/Dockerfile.md
  docs/templates/infrastructure/devcontainer.md
  regions/system/client/flutter/system_client/.flutter-plugins-dependencies
  regions/system/client/flutter/system_client/lib/src/auth/auth_provider.dart
  regions/system/client/flutter/system_client/lib/src/http/api_client.dart
  regions/system/client/flutter/system_client/lib/system_client.dart
  regions/system/client/flutter/system_client/pubspec.yaml
  regions/system/client/flutter/system_client/test/auth/auth_provider_test.dart
  regions/system/client/flutter/system_client/test/http/api_client_test.dart
  regions/system/client/react/system-client/src/auth/AuthContext.tsx
  regions/system/client/react/system-client/src/auth/AuthProvider.test.tsx
  regions/system/client/react/system-client/src/auth/AuthProvider.tsx
  regions/system/client/react/system-client/src/auth/useAuth.test.tsx
  regions/system/client/react/system-client/src/http/apiClient.test.ts
  regions/system/client/react/system-client/src/http/apiClient.ts
  regions/system/client/react/system-client/src/index.ts
  regions/system/server/go/bff-proxy/cmd/server/main.go
  regions/system/server/go/bff-proxy/internal/handler/auth_flow_test.go
  regions/system/server/go/bff-proxy/internal/handler/auth_handler.go
Due: go-lint, ts-lint, prettier, dart-analyze, dart-format
