Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

fix(infra): CI failure (file-length / shellcheck / markdownlint) を解消
  docs/40_運用ライフサイクル/03_ローカルクラスタ再構築.md
  tools/local-stack/backup-cluster.sh
  tools/local-stack/lib/apply-layers.sh
  tools/local-stack/restore-cluster.sh
  tools/local-stack/up.sh
Due: none

fix(infra): ci failure 5 件解消 (markdownlint/links/grpc-docs/openapi)
  .markdownlint-cli2.jsonc
  docs/02_構想設計/02_tier1設計/grpc-reference/v1/k1s0-tier1-grpc.md
  docs/02_構想設計/02_tier1設計/openapi/v1/k1s0-tier1.swagger.yaml
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/05_実装/30_CI_CD設計/15_monorepo_orchestration.md
  docs/05_実装/30_CI_CD設計/60_ローカル開発ツール/01_ローカル検査と自動修正設計.md
Due: prettier

ci: gitguardian config schema を公式 (ggshield) 形式に修正
  .gitguardian.yaml
Due: prettier

ci: commitlint legacy ignores + gitguardian dev credentials allowlist
  .gitguardian.yaml
  commitlint.config.js
Due: ts-lint, prettier

fix(infra): known-releases.sh で lib/apply-layers.sh も scan 対象に追加
  tools/local-stack/known-releases.sh
Due: none

fix(infra): markdownlint config 緩和 + grpc-docs trailing whitespace 解消
  .markdownlint-cli2.jsonc
  docs/02_構想設計/02_tier1設計/grpc-reference/v1/k1s0-tier1-grpc.md
Due: none

fix(infra): grpc-docs 生成物と pre-commit / lint-docs の循環を解消
  .pre-commit-config.yaml
  docs/02_構想設計/02_tier1設計/grpc-reference/v1/k1s0-tier1-grpc.md
  docs/SHIP_STATUS.md
Due: prettier

fix(claude): docs-read-guard hook を絶対パス化
  .claude/settings.json
Due: prettier

feat(pii): Pseudonymize RPC と ADDRESS 検出を追加 (FR-T1-PII-001 / 002)
  src/contracts/tier1/k1s0/tier1/pii/v1/pii_service.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/PiiService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/PiiServiceGrpc.cs
  src/sdk/go/proto/v1/k1s0/tier1/pii/v1/pii_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/pii/v1/pii_service_grpc.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.pii.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.pii.v1.tonic.rs
  src/sdk/typescript/src/proto/k1s0/tier1/pii/v1/pii_service_connect.ts
  src/sdk/typescript/src/proto/k1s0/tier1/pii/v1/pii_service_pb.ts
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/http.rs
  src/tier1/rust/crates/pii/src/lib.rs
  src/tier1/rust/crates/pii/src/main.rs
  src/tier1/rust/crates/pii/src/masker.rs
  src/tier1/rust/crates/pii/src/pseudonymize.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

fix(audit): hash 表現を URL-safe base64 化 (FR-T1-AUDIT-001)
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/http.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/postgres_store.rs
  src/tier1/rust/crates/audit/src/store.rs
  src/tier1/rust/crates/audit/src/store_tests.rs
Due: rust-fmt, rust-clippy

refactor(tier1-go): 500 行超過 2 ファイルを分割
  src/tier1/go/internal/adapter/dapr/inmemory.go
  src/tier1/go/internal/adapter/dapr/inmemory_misc.go
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/common/http_gateway_routes.go
Due: go-lint

feat(decision): 評価/登録の rich audit を発火 (FR-T1-DECISION-003)
  src/tier1/rust/crates/common/src/audit.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
Due: rust-fmt, rust-clippy

feat(secrets): Transit Encrypt/Decrypt/RotateKey を実装 (FR-T1-SECRETS-003)
  src/contracts/tier1/k1s0/tier1/secrets/v1/secrets_service.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/SecretsService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/SecretsServiceGrpc.cs
  src/sdk/go/proto/v1/k1s0/tier1/secrets/v1/secrets_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/secrets/v1/secrets_service_grpc.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.secrets.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.secrets.v1.tonic.rs
  src/sdk/typescript/src/proto/k1s0/tier1/secrets/v1/secrets_service_connect.ts
  src/sdk/typescript/src/proto/k1s0/tier1/secrets/v1/secrets_service_pb.ts
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/internal/adapter/openbao/transit.go
  src/tier1/go/internal/adapter/openbao/transit_inmemory.go
  src/tier1/go/internal/adapter/openbao/transit_test.go
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/secret/transit_test.go
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat(decision): JDM ファイルのホットリロード機構 (FR-T1-DECISION-004)
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/lib.rs
  src/tier1/rust/crates/decision/src/loader.rs
  src/tier1/rust/crates/decision/src/loader_tests.rs
  src/tier1/rust/crates/decision/src/main.rs
Due: rust-fmt, rust-clippy

feat(audit): 7年保存階層と retention runner を実装 (FR-T1-AUDIT-003)
  src/tier1/rust/crates/audit/src/archival.rs
  src/tier1/rust/crates/audit/src/archival_tests.rs
  src/tier1/rust/crates/audit/src/archive.rs
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/retention.rs
  src/tier1/rust/crates/audit/src/store.rs
Due: rust-fmt, rust-clippy

feat(invoke): FR-T1-INVOKE-002/003/005 を実装で潰す
  src/tier1/go/cmd/state/main.go
  src/tier1/go/internal/common/http_invoke_proxy.go
  src/tier1/go/internal/common/http_invoke_proxy_test.go
  src/tier1/go/internal/common/retry.go
  src/tier1/go/internal/common/retry_do_test.go
  src/tier1/go/internal/common/retry_test.go
  src/tier1/go/internal/state/http_misc_handlers.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/invoke_proxy_integration_test.go
  src/tier1/go/internal/state/invoke_test.go
Due: go-lint

refactor(tier1-go): handler 層の Unimplemented dead branch を全削除
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/secret/register_test.go
  src/tier1/go/internal/secret/transit_test.go
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/state/errors.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/log.go
  src/tier1/go/internal/state/log_telemetry_test.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_test.go
  src/tier1/go/internal/state/register.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/state_test.go
  src/tier1/go/internal/state/telemetry.go
  src/tier1/go/internal/workflow/http_workflow_integration_test.go
  src/tier1/go/internal/workflow/register.go
  src/tier1/go/internal/workflow/register_test.go
Due: go-lint

feat(tier1): docs⇄impl 監査で 11 API の受け入れ基準ギャップを実装で潰す
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/go.mod
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/feature_failsoft_test.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_metadata_test.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/state_limits_test.go
  src/tier1/go/internal/state/telemetry.go
  src/tier1/go/internal/state/telemetry_tenant_test.go
  src/tier1/go/internal/workflow/register.go
Due: go-lint

feat(tier1): FR-T1-INVOKE-004 / FR-T1-FEATURE-003,004 残課題を実装で潰す
  src/tier1/go/cmd/state/main.go
  src/tier1/go/internal/common/circuit_breaker.go
  src/tier1/go/internal/common/circuit_breaker_test.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/feature_admin.go
  src/tier1/go/internal/state/feature_circuit_breaker.go
  src/tier1/go/internal/state/feature_circuit_breaker_test.go
  src/tier1/go/internal/state/feature_variants_test.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/invoke_circuit_breaker_test.go
  src/tier1/go/internal/state/register.go
Due: go-lint

feat(tier3-bff): k1s0client / REST / GraphQL を tier1 14 サービスに結線
  src/tier3/bff/internal/graphql/fake_facade_test.go
  src/tier3/bff/internal/graphql/server.go
  src/tier3/bff/internal/graphql/server_test.go
  src/tier3/bff/internal/k1s0client/audit.go
  src/tier3/bff/internal/k1s0client/binding.go
  src/tier3/bff/internal/k1s0client/client.go
  src/tier3/bff/internal/k1s0client/decision.go
  src/tier3/bff/internal/k1s0client/feature.go
  src/tier3/bff/internal/k1s0client/invoke.go
  src/tier3/bff/internal/k1s0client/log.go
  src/tier3/bff/internal/k1s0client/pii.go
  src/tier3/bff/internal/k1s0client/pubsub.go
  src/tier3/bff/internal/k1s0client/secrets.go
  src/tier3/bff/internal/k1s0client/state.go
  src/tier3/bff/internal/k1s0client/telemetry.go
  src/tier3/bff/internal/k1s0client/workflow.go
  src/tier3/bff/internal/rest/audit.go
  src/tier3/bff/internal/rest/binding.go
  src/tier3/bff/internal/rest/decision.go
  src/tier3/bff/internal/rest/endpoints_smoke_test.go
  src/tier3/bff/internal/rest/fake_facade_test.go
  src/tier3/bff/internal/rest/feature.go
  src/tier3/bff/internal/rest/invoke.go
  src/tier3/bff/internal/rest/log.go
  src/tier3/bff/internal/rest/pii.go
  src/tier3/bff/internal/rest/pubsub.go
  src/tier3/bff/internal/rest/router.go
  src/tier3/bff/internal/rest/router_test.go
  src/tier3/bff/internal/rest/secrets.go
  src/tier3/bff/internal/rest/state.go
  src/tier3/bff/internal/rest/state_test.go
  src/tier3/bff/internal/rest/telemetry.go
  src/tier3/bff/internal/rest/workflow.go
Due: go-lint

feat(tier3-web): @k1s0/api-client を BFF 14 サービス結線に追従
  src/tier3/web/packages/api-client/src/__tests__/client.test.ts
  src/tier3/web/packages/api-client/src/client.ts
  src/tier3/web/packages/api-client/src/index.ts
  src/tier3/web/packages/api-client/src/types.ts
Due: ts-lint, prettier

feat(tier3-native): K1s0.Native.Admin に UI 層を追加して Hub と対称化
  src/tier3/native/Native.sln
  src/tier3/native/apps/K1s0.Native.Admin.Tests/AdminViewModelTests.cs
  src/tier3/native/apps/K1s0.Native.Admin.Tests/K1s0.Native.Admin.Tests.csproj
  src/tier3/native/apps/K1s0.Native.Admin/App.xaml.cs
  src/tier3/native/apps/K1s0.Native.Admin/AppShell.xaml
  src/tier3/native/apps/K1s0.Native.Admin/AppShell.xaml.cs
  src/tier3/native/apps/K1s0.Native.Admin/MauiProgram.cs
  src/tier3/native/apps/K1s0.Native.Admin/Pages/AdminPage.xaml
  src/tier3/native/apps/K1s0.Native.Admin/Pages/AdminPage.xaml.cs
  src/tier3/native/apps/K1s0.Native.Admin/Services/IK1s0Service.cs
  src/tier3/native/apps/K1s0.Native.Admin/Services/K1s0Service.cs
  src/tier3/native/apps/K1s0.Native.Admin/ViewModels/AdminViewModel.cs
Due: none

feat(tier3-legacy-wrap): wrappers/K1s0.Legacy.PayrollWrapper を実装
  src/tier3/legacy-wrap/LegacyWrap.sln
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/Dockerfile
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/K1s0.Legacy.PayrollWrapper.csproj
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/README.md
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Controllers/PayrollController.cs
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Legacy/PayrollLegacy.cs
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Models/PayrollRecord.cs
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Program.cs
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Services/IK1s0SdkAdapter.cs
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Services/K1s0SdkAdapter.cs
  src/tier3/legacy-wrap/wrappers/K1s0.Legacy.PayrollWrapper/src/Services/PayrollService.cs
Due: none

feat(tier2-dotnet): shared に Errors / Otel / Dapr 3 プロジェクトを追加し Go と対称化
  src/tier2/dotnet/Directory.Packages.props
  src/tier2/dotnet/Tier2.sln
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Api/ApprovalFlow.Api.csproj
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Api/Program.cs
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Api/InvoiceGenerator.Api.csproj
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Api/Program.cs
  src/tier2/dotnet/services/TaxCalculator/src/TaxCalculator.Api/Program.cs
  src/tier2/dotnet/services/TaxCalculator/src/TaxCalculator.Api/TaxCalculator.Api.csproj
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Dapr/DaprServiceExtensions.cs
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Dapr/K1s0.Tier2.Common.Dapr.csproj
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Errors/Category.cs
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Errors/DomainException.cs
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Errors/DomainExceptionMiddleware.cs
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Errors/ErrorBody.cs
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Errors/K1s0.Tier2.Common.Errors.csproj
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Errors/MiddlewareExtensions.cs
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Otel/K1s0.Tier2.Common.Otel.csproj
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Otel/OtelExtensions.cs
Due: none

docs(examples): マチュリティ表 / 各 README を実態 (最小完動済) に整合させる
  examples/.gitignore
  examples/README.md
  examples/tier1-go-facade/README.md
  examples/tier2-dotnet-service/README.md
  examples/tier2-go-service/README.md
  examples/tier3-bff-graphql/README.md
Due: none

feat(templates): Backstage skeleton を Clean Architecture 4 層 / shared 利用 / Dockerfile に対応
  src/tier2/templates/dotnet-service/skeleton/{{name}}/Program.cs.hbs
  src/tier2/templates/dotnet-service/skeleton/{{name}}/{{namespace}}.csproj.hbs
  src/tier2/templates/go-service/skeleton/{{name}}/internal/application/usecase.go.hbs
  src/tier2/templates/go-service/skeleton/{{name}}/internal/domain/entity.go.hbs
  src/tier2/templates/go-service/skeleton/{{name}}/internal/domain/entity_test.go.hbs
  src/tier2/templates/go-service/skeleton/{{name}}/internal/infrastructure/k1s0_repository.go.hbs
  src/tier2/templates/go-service/skeleton/{{name}}/internal/service.go.hbs
  src/tier3/templates/bff/skeleton/{{name}}/internal/graphql/server.go.hbs
  src/tier3/templates/bff/skeleton/{{name}}/internal/k1s0client/client.go.hbs
  src/tier3/templates/web/skeleton/{{name}}/Dockerfile.hbs
  src/tier3/templates/web/skeleton/{{name}}/package.json.hbs
  src/tier3/templates/web/skeleton/{{name}}/src/App.tsx.hbs
Due: none

docs(tools配置): tools/banner/ ディレクトリを構成図に追記
  docs/05_実装/00_ディレクトリ設計/70_共通資産/01_tools配置.md
Due: none

feat(tier1-rust): otel-util crate 実装で DS-SW-COMP-109 リリース時点要件を充足
  src/tier1/rust/Cargo.toml
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/otel-util/.gitkeep
  src/tier1/rust/crates/otel-util/Cargo.toml
  src/tier1/rust/crates/otel-util/src/lib.rs
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/main.rs
Due: rust-fmt, rust-clippy

fix(tier1): FR-T1-LOG-002 W3C Trace Context 自動継承を成立させる
  src/tier1/go/internal/common/interceptor.go
  src/tier1/go/internal/common/interceptor_otel_test.go
  src/tier1/go/internal/otel/otel.go
Due: go-lint

feat(tier1): FR-T1-FEATURE-001 / 004 評価結果 30 秒 TTL キャッシュを実装
  src/tier1/go/cmd/state/main.go
  src/tier1/go/internal/adapter/dapr/feature_cache.go
  src/tier1/go/internal/adapter/dapr/feature_cache_test.go
  src/tier1/go/internal/state/register.go
Due: go-lint

refactor(tier1-rust): decision/main.rs を 500 行制限に収めるため service モジュールに分割
  src/tier1/rust/crates/decision/src/lib.rs
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/decision/src/service.rs
  src/tier1/rust/crates/decision/src/service_tests.rs
Due: rust-fmt, rust-clippy

feat(tier1-rust): FR-T1-AUDIT-003 retention runner を t1-audit Pod に常駐 task として組み込む
  src/tier1/rust/crates/audit/src/archival.rs
  src/tier1/rust/crates/audit/src/archival_tests.rs
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/retention_loop.rs
  src/tier1/rust/crates/audit/src/store.rs
Due: rust-fmt, rust-clippy

feat(tier1): FR-T1-STATE-005 / PUBSUB-005 値・イベントサイズ 1 MiB 上限を handler で強制
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_size_test.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/state_limits_test.go
Due: go-lint

feat(tier1-rust): FR-T1-AUDIT-002 hash chain 整合性検証 task を t1-audit Pod に常駐させる
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/retention_loop.rs
  src/tier1/rust/crates/audit/src/verify_loop.rs
Due: rust-fmt, rust-clippy

feat(tier1): FR-T1-FEATURE-003 Feature Flag Circuit Breaker を main に wire-up する
  src/tier1/go/cmd/state/main.go
  src/tier1/go/internal/state/feature_cb_loader.go
  src/tier1/go/internal/state/feature_cb_loader_test.go
  src/tier1/go/internal/state/feature_cb_prom.go
Due: go-lint

fix(sdk-typescript): dist/ を proto 定義に追従させる（Encrypt / Decrypt / RotateKey / Pseudonymize 欠落復旧）
  src/sdk/typescript/dist/client.d.ts
  src/sdk/typescript/dist/client.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.js
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/common/v1/common_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/common/v1/common_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/common/v1/common_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/common/v1/common_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_connect.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_connect.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_connect.js
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_connect.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/pii/v1/pii_service_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/pubsub/v1/pubsub_service_connect.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/pubsub/v1/pubsub_service_connect.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/pubsub/v1/pubsub_service_connect.js
  src/sdk/typescript/dist/proto/k1s0/tier1/pubsub/v1/pubsub_service_connect.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.js
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/serviceinvoke/v1/serviceinvoke_service_connect.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/serviceinvoke/v1/serviceinvoke_service_connect.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/serviceinvoke/v1/serviceinvoke_service_connect.js
  src/sdk/typescript/dist/proto/k1s0/tier1/serviceinvoke/v1/serviceinvoke_service_connect.js.map
Due: ts-lint, prettier

fix(pii): PiiFinding offset を proto 仕様 (char 単位) に整合 + 4 SDK に Pseudonymize facade を追加
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/PiiFacade.cs
  src/sdk/go/k1s0/pii.go
  src/sdk/rust/crates/k1s0-sdk/src/pii.rs
  src/sdk/typescript/src/pii.ts
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/http.rs
  src/tier1/rust/crates/pii/src/main.rs
  src/tier1/rust/crates/pii/src/masker.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

fix(decision): tenant_id を registry / handler 全経路に伝搬し cross-tenant 越境を構造的に塞ぐ (NFR-E-AC-003)
  src/tier1/rust/crates/decision/src/http.rs
  src/tier1/rust/crates/decision/src/loader.rs
  src/tier1/rust/crates/decision/src/loader_tests.rs
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/decision/src/registry.rs
  src/tier1/rust/crates/decision/src/registry_tests.rs
  src/tier1/rust/crates/decision/src/service.rs
  src/tier1/rust/crates/decision/src/service_tests.rs
Due: rust-fmt, rust-clippy

feat(secrets): OpenBao Transit Engine の production 結線を実装 (FR-T1-SECRETS-003)
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/internal/adapter/openbao/openbao.go
  src/tier1/go/internal/adapter/openbao/transit_production.go
  src/tier1/go/internal/adapter/openbao/transit_production_test.go
Due: go-lint

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
