Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

docs(knowledge/infra): Kubernetes Pod 概論 Knowledge を新規追加（内部構造 / Phase 遷移 drawio 2 枚）
  docs/90_knowledge/README.md
  docs/90_knowledge/infra/img/kubernetes_pod_lifecycle.drawio
  docs/90_knowledge/infra/img/kubernetes_pod_lifecycle.svg
  docs/90_knowledge/infra/img/kubernetes_pod_structure.drawio
  docs/90_knowledge/infra/img/kubernetes_pod_structure.svg
  docs/90_knowledge/infra/kubernetes_pod.md
Due: none

feat(sdk): Go / Rust SDK に VerifyChain と GetDynamic の wrapper を追加
  src/sdk/go/k1s0/audit.go
  src/sdk/go/k1s0/secrets.go
  src/sdk/rust/crates/k1s0-sdk/src/audit.rs
  src/sdk/rust/crates/k1s0-sdk/src/secrets.rs
Due: go-lint, rust-fmt, rust-clippy

docs(knowledge/other): メタ認知 概論 Knowledge を新規追加（二層モデル / 3 要素 drawio 2 枚）
  docs/90_knowledge/README.md
  docs/90_knowledge/other/img/metacognition_basics_components.drawio
  docs/90_knowledge/other/img/metacognition_basics_components.svg
  docs/90_knowledge/other/img/metacognition_basics_model.drawio
  docs/90_knowledge/other/img/metacognition_basics_model.svg
  docs/90_knowledge/other/metacognition_basics.md
Due: none

feat(tier1/rust): 3 Pod に gRPC reflection を追加
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/tier1.descriptor.binpb
  src/sdk/rust/crates/k1s0-sdk-proto/src/lib.rs
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/main.rs
Due: rust-fmt, rust-clippy

feat(sdk): TypeScript / .NET SDK にも VerifyChain と GetDynamic wrapper を追加
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/AuditFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/SecretsFacade.cs
  src/sdk/typescript/src/audit.ts
  src/sdk/typescript/src/secrets.ts
Due: ts-lint, prettier

feat(tier1/audit): Export server-streaming RPC を追加（FR-T1-AUDIT-002 疑似 IF）
  src/contracts/tier1/k1s0/tier1/audit/v1/audit_service.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/AuditService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/AuditServiceGrpc.cs
  src/sdk/go/proto/v1/k1s0/tier1/audit/v1/audit_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/audit/v1/audit_service_grpc.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/tier1.descriptor.binpb
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.audit.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.audit.v1.tonic.rs
  src/sdk/typescript/src/proto/k1s0/tier1/audit/v1/audit_service_connect.ts
  src/sdk/typescript/src/proto/k1s0/tier1/audit/v1/audit_service_pb.ts
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/main.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat(tier1/workflow): 短期=Dapr Workflow / 長期=Temporal の backend 振り分けを実装
  src/contracts/tier1/k1s0/tier1/workflow/v1/workflow_service.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/WorkflowService.cs
  src/sdk/go/k1s0/workflow.go
  src/sdk/go/proto/v1/k1s0/tier1/workflow/v1/workflow_service.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/tier1.descriptor.binpb
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.workflow.v1.rs
  src/sdk/typescript/src/proto/k1s0/tier1/workflow/v1/workflow_service_pb.ts
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/adapter/daprwf/daprwf.go
  src/tier1/go/internal/adapter/daprwf/inmemory.go
  src/tier1/go/internal/workflow/register.go
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat(tier1/secret): GetDynamic を OpenBao Database Engine の本番経路に結線
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/internal/adapter/openbao/dynamic.go
  src/tier1/go/internal/adapter/openbao/dynamic_test.go
  src/tier1/go/internal/adapter/openbao/openbao.go
Due: go-lint

feat(tier1/secret): Secret 自動ローテーションを実装（FR-T1-SECRETS-004）
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/internal/secret/rotator.go
  src/tier1/go/internal/secret/rotator_test.go
Due: go-lint

feat(tier1): docs 整合性監査 — テナント越境防止強制と 500 行ルール違反解消
  docs/SHIP_STATUS.md
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/state/context.go
  src/tier1/go/internal/state/dapr_handlers_test.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/inmemory_dapr_integration_test.go
  src/tier1/go/internal/state/integration_test.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/log.go
  src/tier1/go/internal/state/log_telemetry_integration_test.go
  src/tier1/go/internal/state/log_telemetry_test.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_test.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/state_test.go
  src/tier1/go/internal/state/telemetry.go
  src/tier1/go/internal/workflow/integration_test.go
  src/tier1/go/internal/workflow/register.go
  src/tier1/go/internal/workflow/register_test.go
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/export.rs
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/decision/src/registry.rs
  src/tier1/rust/crates/decision/src/registry_tests.rs
Due: go-lint, rust-fmt, rust-clippy

fix(sdk): Workflow Start に backend hint を結線（Rust / TS / .NET）
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/WorkflowFacade.cs
  src/sdk/rust/crates/k1s0-sdk/src/workflow.rs
  src/sdk/typescript/src/workflow.ts
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat(tier1/workflow): Dapr Workflow Beta1 production adapter を結線（FR-T1-WORKFLOW-001）
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/adapter/daprwf/production.go
  src/tier1/go/internal/adapter/daprwf/production_test.go
Due: go-lint

chore: 中身のあるディレクトリの stale .gitkeep を 27 件削除
  src/tier2/dotnet/services/ApprovalFlow/.gitkeep
  src/tier2/dotnet/services/InvoiceGenerator/.gitkeep
  src/tier2/dotnet/services/TaxCalculator/.gitkeep
  src/tier2/go/services/notification-hub/.gitkeep
  src/tier2/go/services/stock-reconciler/.gitkeep
  src/tier3/bff/cmd/admin-bff/.gitkeep
  src/tier3/bff/cmd/portal-bff/.gitkeep
  src/tier3/bff/internal/graphql/.gitkeep
  src/tier3/bff/internal/k1s0client/.gitkeep
  src/tier3/bff/internal/rest/.gitkeep
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/.gitkeep
  src/tier3/native/apps/K1s0.Native.Admin/.gitkeep
  src/tier3/native/apps/K1s0.Native.Hub/.gitkeep
  src/tier3/native/shared/K1s0.Native.Shared/.gitkeep
  tools/ci/.gitkeep
  tools/codegen/buf/.gitkeep
  tools/codegen/openapi/.gitkeep
  tools/devcontainer/profiles/docs-writer/.gitkeep
  tools/devcontainer/profiles/infra-ops/.gitkeep
  tools/devcontainer/profiles/platform-cli-dev/.gitkeep
  tools/devcontainer/profiles/tier1-go-dev/.gitkeep
  tools/devcontainer/profiles/tier1-rust-dev/.gitkeep
  tools/devcontainer/profiles/tier2-dev/.gitkeep
  tools/devcontainer/profiles/tier3-native-dev/.gitkeep
  tools/devcontainer/profiles/tier3-web-dev/.gitkeep
  tools/git-hooks/.gitkeep
  tools/sparse/.gitkeep
Due: none

chore(tests/fuzz): cargo-fuzz workspace の Cargo.lock を追跡対象に追加
  tests/fuzz/rust/Cargo.lock
Due: none

fix(tier1/go): HealthService 結線と NFR-E-AC-003 テナント分離の実装側不備を解消
  docs/SHIP_STATUS.md
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/inmemory.go
  src/tier1/go/internal/adapter/dapr/inmemory_tenant_test.go
  src/tier1/go/internal/adapter/daprwf/inmemory.go
  src/tier1/go/internal/adapter/daprwf/inmemory_tenant_test.go
  src/tier1/go/internal/adapter/openbao/openbao.go
  src/tier1/go/internal/adapter/temporal/temporal.go
  src/tier1/go/internal/adapter/temporal/workflow.go
  src/tier1/go/internal/common/runtime.go
  src/tier1/go/internal/health/health.go
  src/tier1/go/internal/health/health_test.go
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/secret/register_test.go
  src/tier1/go/internal/workflow/register.go
Due: go-lint

fix(tier1/rust): HealthService 結線（decision / audit / pii の 3 Pod）
  src/tier1/rust/Cargo.toml
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/health/Cargo.toml
  src/tier1/rust/crates/health/src/lib.rs
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/main.rs
Due: rust-fmt, rust-clippy

chore: docs SHIP_STATUS と dead path の整合性是正
  docs/SHIP_STATUS.md
  src/contracts/tier1/v1/.gitkeep
Due: none

docs(SHIP_STATUS): tier1 Rust HealthService 結線を反映
  docs/SHIP_STATUS.md
Due: none

fix(tier1/go): L2 テナント分離（NFR-E-AC-003）の adapter 層実装
  src/tier1/go/internal/adapter/dapr/pubsub.go
  src/tier1/go/internal/adapter/dapr/pubsub_test.go
  src/tier1/go/internal/adapter/dapr/state.go
  src/tier1/go/internal/adapter/dapr/state_test.go
  src/tier1/go/internal/adapter/dapr/tenant_prefix.go
  src/tier1/go/internal/adapter/dapr/tenant_prefix_test.go
Due: go-lint

feat(tier1/go): 共通 ObservabilityInterceptor の実装
  src/tier1/go/go.mod
  src/tier1/go/go.sum
  src/tier1/go/internal/common/interceptor.go
  src/tier1/go/internal/common/interceptor_otel_test.go
  src/tier1/go/internal/common/interceptor_test.go
  src/tier1/go/internal/common/runtime.go
Due: go-lint

feat(tier1/go): L1 認証 + テナント上書き AuthInterceptor の実装
  src/tier1/go/internal/common/auth.go
  src/tier1/go/internal/common/auth_test.go
  src/tier1/go/internal/common/runtime.go
Due: go-lint

fix(tier1/go): extractTenantID を reflection 化、結合テストで実 proto 経路を検証
  src/tier1/go/internal/common/interceptor.go
  src/tier1/go/internal/state/full_stack_integration_test.go
Due: go-lint

fix(tier1/go): Dapr Workflow production adapter で workflow_id にテナント prefix 適用
  src/tier1/go/internal/adapter/daprwf/production.go
  src/tier1/go/internal/adapter/daprwf/production_test.go
Due: go-lint

feat(tier1/go): 特権操作の Audit auto-emission interceptor
  src/tier1/go/internal/common/audit.go
  src/tier1/go/internal/common/audit_test.go
  src/tier1/go/internal/common/runtime.go
Due: go-lint

fix(tier1/go): OpenBao Secrets adapter で path に L2 テナント prefix を強制
  src/sdk/typescript/dist/audit.d.ts
  src/sdk/typescript/dist/audit.d.ts.map
  src/sdk/typescript/dist/audit.js
  src/sdk/typescript/dist/audit.js.map
  src/sdk/typescript/dist/client.d.ts
  src/sdk/typescript/dist/client.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.js
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_connect.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.js
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_connect.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/secrets/v1/secrets_service_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.js.map
  src/sdk/typescript/dist/secrets.d.ts
  src/sdk/typescript/dist/secrets.d.ts.map
  src/sdk/typescript/dist/secrets.js
  src/sdk/typescript/dist/secrets.js.map
  src/sdk/typescript/dist/workflow.d.ts
  src/sdk/typescript/dist/workflow.d.ts.map
  src/sdk/typescript/dist/workflow.js
  src/sdk/typescript/dist/workflow.js.map
  src/tier1/go/internal/adapter/openbao/secrets.go
  src/tier1/go/internal/adapter/openbao/secrets_test.go
  src/tier1/go/internal/secret/integration_test.go
Due: go-lint, ts-lint, prettier

feat(tier1/go): テナント単位レート制限 RateLimitInterceptor
  src/tier1/go/internal/common/ratelimit.go
  src/tier1/go/internal/common/ratelimit_test.go
  src/tier1/go/internal/common/runtime.go
Due: go-lint

feat(tier1/go): State.Set の ETag 必須化（First-Write-Wins concurrency）
  src/tier1/go/internal/adapter/dapr/inmemory.go
  src/tier1/go/internal/adapter/dapr/state.go
  src/tier1/go/internal/state/etag_enforcement_test.go
  src/tier1/go/internal/state/state.go
Due: go-lint

fix(tier3/bff): auth middleware に Keycloak OIDC JWT 検証を実装（バックドア除去）
  src/tier3/bff/go.mod
  src/tier3/bff/go.sum
  src/tier3/bff/internal/auth/middleware.go
  src/tier3/bff/internal/auth/middleware_test.go
Due: go-lint

feat(sdk-go,bff): per-request テナント上書きで BFF JWT を tier1 に伝搬
  src/sdk/go/k1s0/audit.go
  src/sdk/go/k1s0/binding.go
  src/sdk/go/k1s0/decision.go
  src/sdk/go/k1s0/decision_admin.go
  src/sdk/go/k1s0/feature.go
  src/sdk/go/k1s0/feature_admin.go
  src/sdk/go/k1s0/invoke.go
  src/sdk/go/k1s0/log.go
  src/sdk/go/k1s0/pii.go
  src/sdk/go/k1s0/secrets.go
  src/sdk/go/k1s0/state.go
  src/sdk/go/k1s0/telemetry.go
  src/sdk/go/k1s0/tenant_override.go
  src/sdk/go/k1s0/tenant_override_test.go
  src/sdk/go/k1s0/workflow.go
  src/tier3/bff/internal/k1s0client/client.go
Due: go-lint

feat(tier1/go): t1-audit Pod への AuditEmitter gRPC 結線
  src/tier1/go/internal/common/audit_grpc.go
  src/tier1/go/internal/common/audit_grpc_test.go
  src/tier1/go/internal/common/runtime.go
Due: go-lint

feat(tier1/go): HTTP/JSON 互換 gateway の State API 実装
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/common/http_gateway_test.go
  src/tier1/go/internal/state/http_state_handlers.go
  src/tier1/go/internal/state/http_state_integration_test.go
Due: go-lint

feat(tier1/go): HTTP/JSON gateway を PubSub / Secrets API に展開
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/secret/http_secrets_handlers.go
  src/tier1/go/internal/secret/http_secrets_integration_test.go
  src/tier1/go/internal/state/http_pubsub_handlers.go
  src/tier1/go/internal/state/http_pubsub_integration_test.go
Due: go-lint

feat(tier1/go): HTTP/JSON gateway を Go 側残全 API（6 API）に展開
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/state/http_misc_handlers.go
  src/tier1/go/internal/state/http_misc_integration_test.go
  src/tier1/go/internal/workflow/http_workflow_handlers.go
  src/tier1/go/internal/workflow/http_workflow_integration_test.go
Due: go-lint

feat(tier1/go): cmd/state に HTTP/JSON gateway を結線（実 Pod 起動）
  src/tier1/go/cmd/state/main.go
Due: go-lint

feat(tier1/go): cmd/secret + cmd/workflow に HTTP/JSON gateway を結線
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/workflow/main.go
Due: go-lint

test(integration/go): tier1-facade の t.Skip を実バイナリ結合テストに置換
  tests/integration/go/go.mod
  tests/integration/go/go.sum
  tests/integration/go/tier1-facade/service_invoke_integration_test.go
Due: go-lint

feat(tier1/go): idempotency_key dedup 実装（PubSub.Publish + Secrets.Rotate）
  src/tier1/go/internal/common/idempotency.go
  src/tier1/go/internal/common/idempotency_test.go
  src/tier1/go/internal/secret/register.go
  src/tier1/go/internal/state/idempotency_pubsub_test.go
  src/tier1/go/internal/state/pubsub.go
Due: go-lint

feat(tier1/go): cmd/state + cmd/secret に idempotency cache を注入
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/internal/state/register.go
Due: go-lint

fix(tier1/go): HTTP/JSON gateway に gRPC interceptor chain を結線（重大な見落とし）
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/common/http_gateway_chain_test.go
Due: go-lint

fix(tier1/go): HTTP gateway にも AuditInterceptor を attach（chain 完全化）
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/go/internal/common/runtime.go
Due: go-lint
