Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

feat: タスク更新ユースケースを追加
  regions/service/task/server/rust/task/src/usecase/update_task.rs
Due: rust-fmt, rust-clippy

feat: update_task モジュールを追加
  regions/service/task/server/rust/task/src/usecase/mod.rs
Due: rust-fmt, rust-clippy

feat: axum ルーティングに delete メソッドを追加
  regions/service/task/server/rust/task/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy

feat: AppStateにupdate_task_ucを追加
  regions/service/task/server/rust/task/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy

feat: タスク更新エンドポイントを追加
  regions/service/task/server/rust/task/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy

feat: タスク取得エンドポイントに更新メソッドを追加
  regions/service/task/server/rust/task/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy

feat: タスクエンティティにUpdateTaskを追加
  regions/service/task/server/rust/task/src/adapter/handler/task_handler.rs
Due: rust-fmt, rust-clippy

feat: タスク更新エンドポイントを追加
  regions/service/task/server/rust/task/src/adapter/handler/task_handler.rs
Due: rust-fmt, rust-clippy

feat: タスク更新ユースケースを追加
  regions/service/task/server/rust/task/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

feat: タスクの部分更新エンドポイントを追加
  docs/servers/service/task/server.md
Due: none

feat: 開発環境向けJVMヒープ制限を追加
  docker-compose.yaml
Due: prettier

feat: event-monitor スキーマとテーブルの作成
  CLI/crates/k1s0-cli/tests/server_template_rendering.rs
  CLI/crates/k1s0-cli/tests/snapshots/snapshot_tests__library_dart.snap
  CLI/crates/k1s0-cli/tests/snapshots/snapshot_tests__library_go.snap
  CLI/crates/k1s0-cli/tests/snapshots/snapshot_tests__library_rust.snap
  CLI/crates/k1s0-core/src/template/mod.rs
  docker-compose.dev.yaml
  docker-compose.yaml
  docs/infrastructure/devenv/troubleshooting.md
  docs/infrastructure/docker/docker-compose設計.md
  docs/infrastructure/kubernetes/helm設計.md
  docs/infrastructure/kubernetes/kubernetes設計.md
  docs/infrastructure/security/Vault設計.md
  docs/libraries/observability/health.md
  docs/servers/_common/Rust共通実装.md
  docs/servers/system/event-monitor/database.md
  infra/docker/init-db/18-event-monitor-schema.sql
  infra/kong/kong.yaml
  infra/kong/plugins/global.yaml
  infra/kong/services/business.yaml
  infra/kong/services/service.yaml
  infra/kong/services/system.yaml
  infra/kubernetes/security/audit-policy.yaml
  infra/kubernetes/security/encryption-config.yaml
  regions/service/activity/server/rust/activity/config/default.yaml
  regions/service/activity/server/rust/activity/src/adapter/handler/health.rs
  regions/service/activity/server/rust/activity/src/adapter/handler/mod.rs
  regions/service/activity/server/rust/activity/src/infrastructure/startup.rs
  regions/service/board/server/rust/board/config/default.yaml
  regions/service/board/server/rust/board/src/adapter/handler/health.rs
  regions/service/board/server/rust/board/src/adapter/handler/mod.rs
  regions/service/board/server/rust/board/src/infrastructure/startup.rs
  regions/service/task/server/rust/task/src/adapter/handler/health.rs
  regions/service/task/server/rust/task/src/adapter/handler/mod.rs
  regions/service/task/server/rust/task/src/infrastructure/startup.rs
  regions/system/server/rust/auth/config/config.docker.yaml
Due: rust-fmt, rust-clippy, prettier

feat: CRDインストール手順を追加
  docs/infrastructure/kubernetes/helm設計.md
Due: none

feat(docs): Docker Desktopのイメージビルドに関するトラブルシューティングを更新
  .env.dev
  CLI/crates/k1s0-cli/src/main.rs
  README.md
  docker-compose.dev.yaml
  docker-compose.yaml
  docs/architecture/adr/0040-grpc-port-range-hyper-v-avoidance.md
  docs/architecture/overview/images/service-dependency-topology.drawio
  docs/architecture/overview/images/service-dependency-topology.svg
  docs/architecture/overview/サービス依存関係マップ.md
  docs/infrastructure/devenv/troubleshooting.md
  docs/infrastructure/docker/compose-システムサービス設計.md
  docs/infrastructure/docker/docker-compose設計.md
  docs/infrastructure/docker/ポート割り当て.md
  docs/infrastructure/justfile.md
  infra/docker/init-db/01-create-databases.sql
  infra/docker/init-db/01z-create-roles.sh
  infra/docker/init-db/04-saga-schema.sql
  infra/messaging/kafka/create-topics.sh
  infra/messaging/kafka/topics.yaml
  justfile
  regions/system/database/app-registry-db/migrations/005_seed_initial_data.up.sql
  regions/system/server/rust/auth/config/config.docker.yaml
  regions/system/server/rust/graphql-gateway/config/config.docker.yaml
  regions/system/server/rust/quota/src/infrastructure/config.rs
Due: rust-fmt, rust-clippy, prettier

feat: 各サービスのCIパイプラインを追加し、buf validateを適用
  .github/workflows/api-registry-ci.yaml
  .github/workflows/event-monitor-ci.yaml
  .github/workflows/event-store-ci.yaml
  .github/workflows/featureflag-ci.yaml
  .github/workflows/file-ci.yaml
  .github/workflows/graphql-gateway-ci.yaml
  .github/workflows/master-maintenance-ci.yaml
  .github/workflows/navigation-ci.yaml
  .github/workflows/notification-ci.yaml
  .github/workflows/policy-ci.yaml
  .github/workflows/quota-ci.yaml
  .github/workflows/ratelimit-ci.yaml
  .github/workflows/rule-engine-ci.yaml
  .github/workflows/scheduler-ci.yaml
  .github/workflows/search-ci.yaml
  .github/workflows/service-catalog-ci.yaml
  .github/workflows/session-ci.yaml
  .github/workflows/tenant-ci.yaml
  .github/workflows/vault-ci.yaml
  .github/workflows/workflow-ci.yaml
  api/proto/buf.yaml
  api/proto/k1s0/service/task/v1/task.proto
  api/proto/k1s0/system/auth/v1/auth.proto
  docker-compose.yaml
  docs/architecture/adr/0022-grpc-message-validation-plan.md
  docs/architecture/adr/0042-bff-proxy-upstream-strategy.md
  docs/architecture/adr/0044-file-event-topic-strategy.md
  docs/infrastructure/cicd/CI-CD設計.md
  infra/messaging/kafka/create-topics.sh
  infra/messaging/kafka/topics.yaml
  regions/system/server/rust/graphql-gateway/src/adapter/graphql_handler.rs
  regions/system/server/rust/graphql-gateway/src/domain/error.rs
Due: rust-fmt, rust-clippy, prettier

feat: コードの整理と初期値設定の修正
  regions/business/taskmanagement/client/flutter/project_master/lib/providers/project_type_provider.dart
  regions/service/activity/client/flutter/activity/lib/screens/activity_form_screen.dart
  regions/service/activity/client/flutter/activity/test/models/activity_test.dart
  regions/service/activity/client/flutter/activity/test/repositories/activity_repository_test.dart
  regions/service/board/client/flutter/board/test/models/board_column_test.dart
  regions/service/board/client/flutter/board/test/repositories/board_repository_test.dart
  regions/service/task/client/flutter/task/lib/screens/task_form_screen.dart
  regions/service/task/client/flutter/task/test/models/task_test.dart
  regions/service/task/client/flutter/task/test/repositories/task_repository_test.dart
  regions/system/client/flutter/system_client/test/config/config_interpreter_test.dart
  regions/system/client/flutter/system_client/test/config/config_types_test.dart
  regions/system/client/flutter/system_client/test/widgets/app_button_test.dart
  regions/system/library/dart/resiliency/lib/resiliency.dart
Due: dart-analyze, dart-format

feat: 新しい機能を追加
  reports/技術審査報告書_2026-03-27.md
Due: none

feat: テンプレートファイルのコンテンツスナップショットテストを追加
  CLI/crates/k1s0-cli/tests/template_content_tests.rs
Due: rust-fmt, rust-clippy

feat: 監査対応のためのコード変更を実施
  api/proto/k1s0/system/vault/v1/vault.proto
  justfile
  regions/system/library/rust/codegen/src/templates/migration_down.tera
  regions/system/library/rust/codegen/src/templates/migration_up.tera
  regions/system/server/rust/auth/config/config.docker.yaml
  regions/system/server/rust/auth/config/config.yaml
  regions/system/server/rust/auth/src/adapter/handler/mod.rs
  regions/system/server/rust/auth/src/infrastructure/config.rs
  regions/system/server/rust/auth/src/infrastructure/startup.rs
  regions/system/server/rust/vault/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/vault/src/adapter/grpc/vault_grpc.rs
  regions/system/server/rust/vault/src/adapter/repository/access_log_postgres.rs
  regions/system/server/rust/vault/src/domain/repository/access_log_repo.rs
  regions/system/server/rust/vault/src/infrastructure/startup.rs
  regions/system/server/rust/vault/src/proto/k1s0.system.vault.v1.rs
  regions/system/server/rust/vault/tests/integration_test.rs
  regions/system/server/rust/vault/tests/usecase_test.rs
  scripts/sync-paths-ignore.sh
Due: rust-fmt, rust-clippy, prettier
