Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format, python-lint, swift-format, dotnet-format, dotnet-build

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

python-lint:
  name: Python Lint
  entry: ruff check
  language: system

swift-format:
  name: Swift Format Check
  entry: swift-format lint --recursive
  language: system
  pass_filenames: false

dotnet-format:
  name: dotnet format
  entry: bash -c 'for proj in regions/system/library/csharp/*/K1s0.System.*.csproj; do [ -f "$proj" ] && dotnet format "$proj" --verify-no-changes; done'
  language: system
  pass_filenames: false

dotnet-build:
  name: dotnet build
  entry: bash -c 'for proj in regions/system/library/csharp/*/K1s0.System.*.csproj; do [ -f "$proj" ] && dotnet build "$proj" -c Release --no-restore; done'
  language: system
  pass_filenames: false

fix: Rustサーバーのフォーマット修正とE2Eテストruffエラー修正
  e2e/tests/system_api/test_cross_service.py
  regions/system/library/rust/telemetry/src/lib.rs
  regions/system/library/rust/telemetry/src/metrics.rs
  regions/system/library/rust/telemetry/src/middleware/grpc_layer.rs
  regions/system/library/rust/telemetry/src/middleware/http_layer.rs
  regions/system/library/rust/telemetry/src/middleware/mod.rs
  regions/system/server/rust/auth/src/adapter/handler/mod.rs
  regions/system/server/rust/auth/src/adapter/repository/user_postgres.rs
  regions/system/server/rust/auth/src/infrastructure/kafka_producer.rs
  regions/system/server/rust/auth/src/main.rs
  regions/system/server/rust/auth/tests/db_integration_test.rs
  regions/system/server/rust/auth/tests/jwks_test.rs
  regions/system/server/rust/config/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/config/src/adapter/handler/config_handler.rs
  regions/system/server/rust/config/src/adapter/middleware/rbac.rs
  regions/system/server/rust/config/src/adapter/repository/config_postgres.rs
  regions/system/server/rust/config/src/infrastructure/kafka_producer.rs
  regions/system/server/rust/config/src/main.rs
  regions/system/server/rust/dlq-manager/src/infrastructure/kafka/producer.rs
  regions/system/server/rust/dlq-manager/src/main.rs
  regions/system/server/rust/saga/src/adapter/handler/saga_handler.rs
  regions/system/server/rust/saga/src/infrastructure/grpc_caller.rs
  regions/system/server/rust/saga/src/main.rs
  regions/system/server/rust/saga/src/test_support.rs
  regions/system/server/rust/saga/tests/integration_test.rs
Due: rust-fmt, rust-clippy, python-lint

feat: Python実装の追加とドキュメントの更新
  docker-compose.yaml
  docs/helm設計.md
  docs/system-library-authlib設計.md
  docs/system-library-config設計.md
  docs/system-library-correlation設計.md
  docs/system-library-dlq-client設計.md
  docs/system-library-kafka設計.md
  docs/system-library-messaging設計.md
  docs/system-library-outbox設計.md
  docs/system-library-saga設計.md
  docs/system-library-schemaregistry設計.md
  docs/system-library-serviceauth設計.md
  docs/system-library-telemetry設計.md
  docs/system-library-概要.md
  e2e/tests/docs_compliance/test_helm.py
  regions/system/server/go/bff-proxy/internal/handler/proxy_test.go
  regions/system/server/rust/auth/src/adapter/grpc/audit_grpc.rs
  regions/system/server/rust/auth/src/adapter/grpc/auth_grpc.rs
  regions/system/server/rust/auth/src/usecase/get_user.rs
  regions/system/server/rust/auth/src/usecase/record_audit_log.rs
  regions/system/server/rust/auth/src/usecase/validate_token.rs
  regions/system/server/rust/auth/tests/grpc_integration_test.rs
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/usecase/delete_config.rs
  regions/system/server/rust/config/src/usecase/get_config.rs
  regions/system/server/rust/config/src/usecase/get_service_config.rs
  regions/system/server/rust/config/src/usecase/list_configs.rs
  regions/system/server/rust/config/src/usecase/update_config.rs
Due: go-lint, rust-fmt, rust-clippy, prettier, python-lint

feat: system-vault-serverの設計ドキュメントを追加
  docs/system-featureflag-server設計.md
  docs/system-library-cache設計.md
  docs/system-library-eventstore設計.md
  docs/system-library-featureflag設計.md
  docs/system-library-idempotency設計.md
  docs/system-library-retry設計.md
  docs/system-library-概要.md
  docs/system-ratelimit-server設計.md
  docs/system-tenant-server設計.md
  docs/system-vault-server設計.md
Due: none

feat: system-search-serverの設計ドキュメントを追加
  docs/system-graphql-gateway設計.md
  docs/system-library-audit-client設計.md
  docs/system-library-circuit-breaker設計.md
  docs/system-library-distributed-lock設計.md
  docs/system-library-encryption設計.md
  docs/system-library-event-bus設計.md
  docs/system-library-health設計.md
  docs/system-library-notification-client設計.md
  docs/system-library-pagination設計.md
  docs/system-library-validation設計.md
  docs/system-library-webhook-client設計.md
  docs/system-notification-server設計.md
  docs/system-policy-server設計.md
  docs/system-scheduler-server設計.md
  docs/system-search-server設計.md
Due: none

feat: k1s0-scheduler-client ライブラリの設計と実装を追加
  docs/system-library-migration設計.md
  docs/system-library-scheduler-client設計.md
Due: none

feat: WebSocketライブラリの設計文書を追加
  docs/system-library-graphql-client設計.md
  docs/system-library-session-client設計.md
  docs/system-library-tracing設計.md
  docs/system-library-websocket設計.md
  docs/system-library-概要.md
  docs/system-session-server設計.md
Due: none

feat: テストファイル内のイベント生成メソッドをリファクタリングし、const修飾子を追加
  docs/diagrams/architecture.drawio
  docs/diagrams/infrastructure.drawio
  regions/system/library/dart/audit_client/test/audit_client_test.dart
  regions/system/library/dart/cache/lib/src/client.dart
  regions/system/library/dart/event_bus/test/event_bus_test.dart
  regions/system/library/dart/featureflag/lib/src/client.dart
  regions/system/library/dart/graphql_client/test/graphql_client_test.dart
  regions/system/library/dart/migration/lib/src/runner.dart
  regions/system/library/dart/resiliency/lib/src/decorator.dart
  regions/system/library/dart/scheduler_client/test/scheduler_client_test.dart
  regions/system/library/dart/search_client/test/search_client_test.dart
  regions/system/library/dart/session_client/test/session_client_test.dart
  regions/system/library/dart/websocket/test/ws_client_test.dart
Due: dart-analyze, dart-format

feat: .claudeignoreファイルを追加
  .claudeignore
Due: none

feat: Dockerfileのビルドプロセスを改善
  regions/system/Cargo.toml
  regions/system/library/rust/auth/Cargo.lock
  regions/system/library/rust/config/Cargo.lock
  regions/system/library/rust/correlation/Cargo.lock
  regions/system/library/rust/dlq/Cargo.lock
  regions/system/library/rust/kafka/Cargo.lock
  regions/system/library/rust/messaging/Cargo.lock
  regions/system/library/rust/outbox/Cargo.lock
  regions/system/library/rust/saga/Cargo.lock
  regions/system/library/rust/schemaregistry/Cargo.lock
  regions/system/library/rust/serviceauth/Cargo.lock
  regions/system/library/rust/telemetry/Cargo.lock
  regions/system/server/rust/api-registry/Dockerfile
  regions/system/server/rust/auth/Cargo.lock
  regions/system/server/rust/auth/Dockerfile
  regions/system/server/rust/config/Cargo.lock
  regions/system/server/rust/config/Dockerfile
  regions/system/server/rust/dlq-manager/Cargo.lock
  regions/system/server/rust/dlq-manager/Dockerfile
  regions/system/server/rust/event-store/Dockerfile
  regions/system/server/rust/featureflag/Dockerfile
  regions/system/server/rust/file/Dockerfile
  regions/system/server/rust/notification/Dockerfile
  regions/system/server/rust/quota/Dockerfile
  regions/system/server/rust/ratelimit/Dockerfile
  regions/system/server/rust/saga/Cargo.lock
  regions/system/server/rust/saga/Dockerfile
  regions/system/server/rust/scheduler/Dockerfile
  regions/system/server/rust/search/Dockerfile
  regions/system/server/rust/tenant/Dockerfile
  regions/system/server/rust/vault/Dockerfile
  regions/system/server/rust/workflow/Dockerfile
Due: none

feat: 依存関係の追加とプロジェクト構成の更新
  e2e/pyproject.toml
  e2e/pytest.ini
  e2e/requirements.txt
  e2e/uv.lock
  regions/system/library/python/pyproject.toml
  regions/system/library/python/uv.lock
Due: none

feat: system libraryの依存関係を追加し、テンプレートコンテキストを更新
  CLI/crates/k1s0-cli/templates/server/go/cmd/main.go.tera
  CLI/crates/k1s0-cli/templates/server/go/go.mod.tera
  CLI/crates/k1s0-cli/templates/server/rust/Cargo.toml.tera
  CLI/crates/k1s0-cli/templates/server/rust/src/main.rs.tera
  CLI/crates/k1s0-cli/tests/server_template_rendering.rs
  CLI/crates/k1s0-core/src/template/context.rs
Due: rust-fmt, rust-clippy

feat: システムクライアントの初期実装
  docs/system-client設計.md
  docs/tier-architecture.md
  docs/テンプレート仕様-Flutter.md
  docs/テンプレート仕様-React.md
  docs/ディレクトリ構成図.md
  regions/system/client/flutter/system_client/analysis_options.yaml
  regions/system/client/flutter/system_client/lib/src/auth/auth_provider.dart
  regions/system/client/flutter/system_client/lib/src/auth/auth_state.dart
  regions/system/client/flutter/system_client/lib/src/http/api_client.dart
  regions/system/client/flutter/system_client/lib/src/routing/auth_guard.dart
  regions/system/client/flutter/system_client/lib/src/widgets/app_button.dart
  regions/system/client/flutter/system_client/lib/src/widgets/app_scaffold.dart
  regions/system/client/flutter/system_client/lib/src/widgets/loading_indicator.dart
  regions/system/client/flutter/system_client/lib/system_client.dart
  regions/system/client/flutter/system_client/pubspec.yaml
  regions/system/client/flutter/system_client/test/auth/auth_provider_test.dart
  regions/system/client/flutter/system_client/test/http/api_client_test.dart
  regions/system/client/flutter/system_client/test/routing/auth_guard_test.dart
  regions/system/client/react/system-client/package-lock.json
  regions/system/client/react/system-client/package.json
  regions/system/client/react/system-client/src/auth/AuthContext.tsx
  regions/system/client/react/system-client/src/auth/AuthProvider.tsx
  regions/system/client/react/system-client/src/auth/useAuth.test.tsx
  regions/system/client/react/system-client/src/auth/useAuth.ts
  regions/system/client/react/system-client/src/components/AppButton.test.tsx
  regions/system/client/react/system-client/src/components/AppButton.tsx
  regions/system/client/react/system-client/src/components/ErrorBoundary.tsx
  regions/system/client/react/system-client/src/components/LoadingSpinner.tsx
  regions/system/client/react/system-client/src/http/apiClient.test.ts
  regions/system/client/react/system-client/src/http/apiClient.ts
  regions/system/client/react/system-client/src/index.ts
  regions/system/client/react/system-client/src/routing/ProtectedRoute.test.tsx
  regions/system/client/react/system-client/src/routing/ProtectedRoute.tsx
  regions/system/client/react/system-client/tests/setup.ts
  regions/system/client/react/system-client/tsconfig.json
  regions/system/client/react/system-client/vite.config.ts
Due: ts-lint, prettier, dart-analyze, dart-format

feat: ナビゲーション設計の追加
  docs/diagrams/navigation-architecture.drawio
  docs/diagrams/navigation-architecture.svg
  docs/diagrams/navigation-server-flow.drawio
  docs/diagrams/navigation-server-flow.svg
  docs/navigation設計.md
Due: none

feat(navigation): ナビゲーション管理サービスのgRPC定義とクライアント実装を追加
  CLI/crates/k1s0-cli/templates/client/flutter/assets/navigation.yaml.tera
  CLI/crates/k1s0-cli/templates/client/flutter/lib/navigation/__generated__/route_ids.dart.tera
  CLI/crates/k1s0-cli/templates/client/react/navigation.yaml.tera
  CLI/crates/k1s0-cli/templates/client/react/src/navigation/__generated__/component-registry.ts.tera
  CLI/crates/k1s0-cli/templates/client/react/src/navigation/__generated__/route-types.ts.tera
  CLI/crates/k1s0-cli/templates/config/navigation-schema.json
  CLI/crates/k1s0-core/src/commands/generate/mod.rs
  CLI/crates/k1s0-core/src/commands/generate/navigation.rs
  CLI/crates/k1s0-core/src/commands/generate/scaffold.rs
  CLI/crates/k1s0-core/src/commands/validate/mod.rs
  CLI/crates/k1s0-core/src/commands/validate/navigation.rs
  api/proto/k1s0/system/navigation/v1/navigation.proto
  regions/system/client/flutter/system_client/lib/src/navigation/navigation_interpreter.dart
  regions/system/client/flutter/system_client/lib/src/navigation/navigation_types.dart
  regions/system/client/flutter/system_client/lib/system_client.dart
  regions/system/client/flutter/system_client/pubspec.yaml
  regions/system/client/flutter/system_client/test/navigation/navigation_interpreter_test.dart
  regions/system/client/react/system-client/src/index.ts
  regions/system/client/react/system-client/src/navigation/NavigationInterpreter.test.ts
  regions/system/client/react/system-client/src/navigation/NavigationInterpreter.ts
  regions/system/client/react/system-client/src/navigation/devtools/NavigationDevTools.tsx
  regions/system/client/react/system-client/src/navigation/types.ts
  regions/system/server/rust/auth/config/navigation.yaml
  regions/system/server/rust/auth/src/adapter/handler/mod.rs
  regions/system/server/rust/auth/src/adapter/handler/navigation_handler.rs
  regions/system/server/rust/auth/src/domain/entity/mod.rs
  regions/system/server/rust/auth/src/domain/entity/navigation.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: APIレジストリサーバーの実装を追加
  docs/navigation設計.md
  docs/proto設計.md
  docs/system-auth-server設計.md
  docs/system-client設計.md
  docs/system-config-database設計.md
  docs/system-database設計.md
  docs/system-dlq-database設計.md
  docs/system-library-概要.md
  docs/system-saga-database設計.md
  regions/system/client/flutter/system_client/test/routing/auth_guard_test.dart
  regions/system/database/api-registry-db/migrations/001_create_schema.down.sql
  regions/system/database/api-registry-db/migrations/001_create_schema.up.sql
  regions/system/database/api-registry-db/migrations/002_create_api_schemas.down.sql
  regions/system/database/api-registry-db/migrations/002_create_api_schemas.up.sql
  regions/system/database/api-registry-db/migrations/003_create_api_schema_versions.down.sql
  regions/system/database/api-registry-db/migrations/003_create_api_schema_versions.up.sql
  regions/system/database/api-registry-db/migrations/004_create_indexes.down.sql
  regions/system/database/api-registry-db/migrations/004_create_indexes.up.sql
  regions/system/proto/v1/api_registry.proto
  regions/system/server/rust/api-registry/Cargo.toml
  regions/system/server/rust/api-registry/src/adapter/handler/error.rs
  regions/system/server/rust/api-registry/src/adapter/handler/mod.rs
  regions/system/server/rust/api-registry/src/adapter/handler/schema_handler.rs
  regions/system/server/rust/api-registry/src/adapter/middleware/auth.rs
  regions/system/server/rust/api-registry/src/adapter/middleware/mod.rs
  regions/system/server/rust/api-registry/src/adapter/mod.rs
  regions/system/server/rust/api-registry/src/adapter/repository/mod.rs
  regions/system/server/rust/api-registry/src/adapter/repository/schema_postgres.rs
  regions/system/server/rust/api-registry/src/adapter/repository/version_postgres.rs
  regions/system/server/rust/api-registry/src/domain/entity/api_registration.rs
  regions/system/server/rust/api-registry/src/infrastructure/config.rs
  regions/system/server/rust/api-registry/src/infrastructure/database.rs
  regions/system/server/rust/api-registry/src/infrastructure/mod.rs
  regions/system/server/rust/api-registry/src/lib.rs
  regions/system/server/rust/api-registry/src/main.rs
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: gRPCサービス定義とヘルスチェックエンドポイントを追加
  docs/proto設計.md
  docs/system-api-registry-server設計.md
  docs/system-client設計.md
  regions/system/server/rust/api-registry/src/adapter/handler/health.rs
  regions/system/server/rust/api-registry/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy

feat: ヘルスチェック機能の追加と改善
  docs/system-config-server-実装設計.md
  docs/system-config-server設計.md
  docs/system-server設計.md
  regions/system/library/dart/health/lib/src/checker.dart
  regions/system/library/go/health/health.go
  regions/system/library/python/health/src/k1s0_health/checker.py
  regions/system/library/rust/health/Cargo.toml
  regions/system/library/rust/health/src/checker.rs
  regions/system/library/rust/health/src/checks/http.rs
  regions/system/library/rust/health/src/checks/kafka.rs
  regions/system/library/rust/health/src/checks/mod.rs
  regions/system/library/rust/health/src/checks/postgres.rs
  regions/system/library/rust/health/src/checks/redis.rs
  regions/system/library/rust/health/src/lib.rs
  regions/system/library/rust/health/src/response.rs
  regions/system/library/swift/health/Sources/K1s0Health/HealthChecker.swift
  regions/system/library/typescript/health/src/index.ts
  regions/system/server/rust/api-registry/Cargo.toml
  regions/system/server/rust/api-registry/src/adapter/grpc/apiregistry_grpc.rs
  regions/system/server/rust/api-registry/src/adapter/grpc/mod.rs
  regions/system/server/rust/api-registry/src/domain/service/api_registry_service.rs
  regions/system/server/rust/api-registry/src/domain/service/mod.rs
  regions/system/server/rust/api-registry/src/infrastructure/kafka.rs
  regions/system/server/rust/api-registry/src/infrastructure/validator/mod.rs
  regions/system/server/rust/api-registry/src/infrastructure/validator/openapi.rs
  regions/system/server/rust/api-registry/src/infrastructure/validator/protobuf.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format, python-lint, swift-format

feat: tonic gRPCサービスラッパーの追加
  regions/system/server/rust/api-registry/src/adapter/grpc/apiregistry_grpc.rs
  regions/system/server/rust/api-registry/src/adapter/grpc/tonic_service.rs
Due: rust-fmt, rust-clippy

feat: gRPC、サービス、Kafka、バリデーターのモジュールを追加
  regions/system/server/rust/api-registry/src/adapter/mod.rs
  regions/system/server/rust/api-registry/src/domain/mod.rs
  regions/system/server/rust/api-registry/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

feat: Kafkaとバリデーターの設定を追加
  regions/system/server/rust/api-registry/src/adapter/grpc/apiregistry_grpc.rs
  regions/system/server/rust/api-registry/src/domain/service/api_registry_service.rs
  regions/system/server/rust/api-registry/src/infrastructure/config.rs
  regions/system/server/rust/api-registry/src/main.rs
Due: rust-fmt, rust-clippy

feat: gRPC APIの実装とKafkaイベントの追加
  api/proto/k1s0/system/apiregistry/v1/api_registry.proto
  api/proto/k1s0/system/eventstore/v1/event_store.proto
  api/proto/k1s0/system/notification/v1/notification.proto
  api/proto/k1s0/system/search/v1/search.proto
  api/proto/k1s0/system/session/v1/session.proto
  docs/system-api-registry-database設計.md
  docs/system-api-registry-server設計.md
  docs/system-server設計.md
  regions/system/server/rust/api-registry/Cargo.toml
  regions/system/server/rust/api-registry/build.rs
  regions/system/server/rust/api-registry/config/config.yaml
  regions/system/server/rust/api-registry/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/api-registry/src/infrastructure/config.rs
  regions/system/server/rust/api-registry/src/lib.rs
  regions/system/server/rust/api-registry/src/main.rs
  regions/system/server/rust/api-registry/src/proto/k1s0.system.apiregistry.v1.rs
  regions/system/server/rust/api-registry/src/proto/mod.rs
  regions/system/server/rust/api-registry/src/usecase/delete_version.rs
  regions/system/server/rust/api-registry/src/usecase/register_schema.rs
  regions/system/server/rust/api-registry/src/usecase/register_version.rs
Due: rust-fmt, rust-clippy, prettier

feat: 設定スキーマの取得および作成・更新機能を追加
  api/proto/k1s0/system/featureflag/v1/featureflag.proto
  api/proto/k1s0/system/policy/v1/policy.proto
  api/proto/k1s0/system/scheduler/v1/scheduler.proto
  api/proto/k1s0/system/vault/v1/vault.proto
  api/proto/k1s0/system/workflow/v1/workflow.proto
  docs/proto設計.md
  docs/system-graphql-gateway-デプロイ設計.md
  docs/system-graphql-gateway-実装設計.md
  regions/system/proto/v1/config.proto
Due: none

feat: README.mdの更新
  README.md
Due: none

feat: GraphQLハンドラーのリファクタリングと機能追加
  regions/system/server/rust/graphql-gateway/src/adapter/graphql_handler.rs
Due: rust-fmt, rust-clippy

fix: axumとaxum-testのバージョンを更新
  regions/system/server/rust/graphql-gateway/Cargo.toml
Due: none

feat: 認証ミドルウェアのリファクタリングとGraphQLハンドラーの更新
  regions/system/server/rust/graphql-gateway/src/adapter/graphql_handler.rs
  regions/system/server/rust/graphql-gateway/src/adapter/middleware/auth_middleware.rs
  regions/system/server/rust/graphql-gateway/src/infra/auth/jwks.rs
Due: rust-fmt, rust-clippy

refactor: JWT検証関数を削除
  regions/system/server/rust/graphql-gateway/src/adapter/middleware/auth_middleware.rs
Due: rust-fmt, rust-clippy

refactor: 不要なミドルウェアのインポートを削除
  regions/system/server/rust/graphql-gateway/src/adapter/middleware/auth_middleware.rs
Due: rust-fmt, rust-clippy

feat: バナーSVGに新しいマイクロサービストポロジーとアニメーションを追加
  docs/diagrams/banner.svg
Due: none

feat: システムライブラリの設計文書とプロトコルファイルを整理
  api/proto/buf.yaml
  api/proto/k1s0/system/ratelimit/v1/ratelimit.proto
  api/proto/k1s0/system/tenant/v1/tenant.proto
  docs/proto設計.md
  docs/system-library-概要.md
  regions/system/proto/buf.gen.yaml
  regions/system/proto/buf.yaml
  regions/system/proto/v1/api_registry.proto
  regions/system/proto/v1/auth.proto
  regions/system/proto/v1/common.proto
  regions/system/proto/v1/config.proto
  regions/system/proto/v1/featureflag.proto
  regions/system/proto/v1/saga.proto
  regions/system/proto/v1/vault.proto
  regions/system/server/rust/graphql-gateway/build.rs
  regions/system/server/rust/ratelimit/build.rs
  regions/system/server/rust/tenant/build.rs
Due: rust-fmt, rust-clippy, prettier

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
  python-lint: any of: \.py$
  swift-format: any of: \.swift$
  dotnet-format: any of: \.cs$
  dotnet-build: any of: \.cs$
