Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

fix: hlc_lib/rust の target/debug/ を git 管理から除外
  .gitignore
Due: none

feat: TypeScriptでのIdempotency-KeyおよびQuotaのパリティテストを追加
  docs/04_詳細設計/02_強制機構/01_tier1強制機構.md
  src/tier1/library/csharp/PublicAPI.Shipped.txt
  src/tier1/library/csharp/PublicAPI.Unshipped.txt
  src/tier1/library/csharp/k1s0.Tier1.Library.csproj
  src/tier1/library/csharp/tests/parity_bidi_test.cs
  src/tier1/library/csharp/tests/parity_idempotency_key_test.cs
  src/tier1/library/csharp/tests/parity_quota_test.cs
  src/tier1/library/go/parity/parity_repository_test.go
  src/tier1/library/migration_commitments.yaml
  src/tier1/library/parity_vectors.yaml
  src/tier1/library/rust/tests/parity_authcontext.rs
  src/tier1/library/rust/tests/parity_bidi.rs
  src/tier1/library/rust/tests/parity_idempotency_key.rs
  src/tier1/library/rust/tests/parity_keyhandle.rs
  src/tier1/library/rust/tests/parity_quota.rs
  src/tier1/library/typescript/tests/parity_bidi.test.ts
  src/tier1/library/typescript/tests/parity_idempotency_key.test.ts
  src/tier1/library/typescript/tests/parity_quota.test.ts
  src/tier1/operator/api/v1/tier1_conformance_types.go
  src/tier3/typescript/packages/crdt/src/properties_test.ts
  src/tier3/typescript/packages/state/src/idempotency.ts
  src/tier3/typescript/packages/state/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: _stub_service パックの業界中立 stub 実装を削除
  src/tier2/pack/_stub_service/stub.rs
  src/tier2/pack/_stub_service/usecase/service_request.rs
Due: rust-fmt, rust-clippy

feat(phase-f): release_gate gaming 停止 — 4 evaluator + meta_invariant 4 cell + SoT 孤児 7 件削除
  src/_meta/lock/assumption.lock.yaml
  src/_meta/lock/counter_example.lock.yaml
  src/_meta/lock/coverage_matrix.lock.yaml
  src/_meta/lock/proof_inventory.lock.yaml
  src/_meta/lock/proof_review.lock.yaml
  src/_meta/lock/proof_status.lock.yaml
  src/_meta/lock/regression_corpus.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  tools/lock_yaml_generator/cli.py
  tools/lock_yaml_generator/dsl.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
  tools/lock_yaml_generator/lock_registry.py
  tools/lock_yaml_generator/tests/test_dsl_invariants.py
Due: prettier

refactor(test): manufacturing_stress dir を解釈 A (Bidi 10 RPC 集約) にリネーム
  src/test/playwright/manufacturing_stress/01_equipment_remote/.gitkeep
  src/test/playwright/manufacturing_stress/02_line_monitoring/.gitkeep
  src/test/playwright/manufacturing_stress/03_quality_inspection/.gitkeep
  src/test/playwright/manufacturing_stress/04_scada_telemetry/.gitkeep
  src/test/playwright/manufacturing_stress/05_drawing_review/.gitkeep
  src/test/playwright/manufacturing_stress/06_inventory_display/.gitkeep
  src/test/playwright/manufacturing_stress/07_order_subscription/.gitkeep
  src/test/playwright/manufacturing_stress/08_alarm_delivery/.gitkeep
  src/test/playwright/manufacturing_stress/09_measurement_stream/.gitkeep
Due: none

feat(test): manufacturing_stress playwright.config.ts + support/ 骨格
  src/test/playwright/manufacturing_stress/playwright.config.ts
  src/test/playwright/manufacturing_stress/support/assertions/bidi_assertions.ts
  src/test/playwright/manufacturing_stress/support/assertions/crdt_assertions.ts
  src/test/playwright/manufacturing_stress/support/assertions/slo_assertions.ts
  src/test/playwright/manufacturing_stress/support/auth.ts
  src/test/playwright/manufacturing_stress/support/containers.ts
Due: ts-lint, prettier

feat(test): spec-01 設備リモート操作 (v1_interactive) — 8 assertion 全実装
  src/test/playwright/manufacturing_stress/01_equipment_remote/equipment_remote.spec.ts
Due: ts-lint, prettier

feat(test): spec-02〜09 manufacturing stress 全 9 spec 実装完了
  src/test/playwright/manufacturing_stress/02_line_monitoring/line_monitoring.spec.ts
  src/test/playwright/manufacturing_stress/03_quality_inspection/quality_inspection.spec.ts
  src/test/playwright/manufacturing_stress/04_scada_telemetry/scada_telemetry.spec.ts
  src/test/playwright/manufacturing_stress/05_drawing_review/drawing_review.spec.ts
  src/test/playwright/manufacturing_stress/06_inventory_display/inventory_display.spec.ts
  src/test/playwright/manufacturing_stress/07_order_subscription/order_subscription.spec.ts
  src/test/playwright/manufacturing_stress/08_alarm_delivery/alarm_delivery.spec.ts
  src/test/playwright/manufacturing_stress/09_measurement_stream/measurement_stream.spec.ts
Due: ts-lint, prettier

feat(test): generate_manufacturing_stress.py + tier1.manufacturing_9_stress_green cell
  src/_meta/lock/release_gate.lock.yaml
  src/tier1/lock/manufacturing_stress.lock.yaml
  tools/lock_yaml_generator/generate_manufacturing_stress.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
  tools/lock_yaml_generator/lock_registry.py
Due: prettier

feat(formal): 19 軸 v1_property_axiom Lean 4 proof 全実装 (1 → 19 ファイル)
  src/formal/lean4/Client/HLC/CausalOrder.lean
  src/formal/lean4/CrossCutting/Bff/TokenExpiry.lean
  src/formal/lean4/CrossCutting/Edge/SyncIdempotency.lean
  src/formal/lean4/CrossCutting/Fsm/Determinism.lean
  src/formal/lean4/CrossCutting/Http2/StreamOrdering.lean
  src/formal/lean4/CrossCutting/Kek/ShamirThreshold.lean
  src/formal/lean4/CrossCutting/Pii/IsolationTransitivity.lean
  src/formal/lean4/CrossCutting/Schema/BackwardCompat.lean
  src/formal/lean4/CrossCutting/Slo/ErrorBudget.lean
  src/formal/lean4/Data/Atomicity/WriteConsistency.lean
  src/formal/lean4/Infra/Cluster/TopologyReachability.lean
  src/formal/lean4/Meta/AxisRegistry/CapInvariant.lean
  src/formal/lean4/Ops/AlertLifecycle/ResolvedStability.lean
  src/formal/lean4/Security/AccessControl/DenyPrecedence.lean
  src/formal/lean4/Test/Coverage/Monotonicity.lean
  src/formal/lean4/Tier1/Transport/SequentialDelivery.lean
  src/formal/lean4/Tier2/TenantIsolation/NonInterference.lean
  src/formal/lean4/Tier3/ClientState/PendingQueueOrder.lean
  src/formal/lean4/lakefile.lean
Due: none

feat(crosscutting): manifest-only 5 件に Python 検証ツール実装を追加
  src/_crosscutting/01_http2_enforcement/src/h2_enforce_check.py
  src/_crosscutting/02_kek_shamir_distribution/src/shamir_verify.py
  src/_crosscutting/05_slo_protection_layers/src/protection_layer_check.py
  src/_crosscutting/08_pii_dedicated_cluster/src/pii_cluster_verify.py
  src/_crosscutting/10_ops_edge_cluster/src/ops_edge_verify.py
Due: none

feat(enforcement): Stage 1→2 完了 + 基盤 5 軸実装で release_gate 97/97 green 達成
  src/_meta/lint/evidence_allowlist.yaml
  src/_meta/lint/facade_paths.yaml
  src/_meta/lint/todo_allowlist.yaml
  src/_meta/lock/impl_substance.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/client/dotnet_fw/K1s0Client.cs
  src/client/full_native/python/k1s0_native.py
  src/client/tauri/sidecar.ts
  src/client/thin_api/client.py
  src/data/preservation/runner.py
  src/infra/clock_integrity/agent.py
  src/infra/clock_integrity/drill.py
  src/ops/escalation_engine/__init__.py
  src/ops/escalation_engine/engine.py
  src/ops/escalation_engine/notifier.py
  src/ops/escalation_engine/signal_classifier.py
  src/security/threat_model/monitor.py
  src/security/threat_model/verifier.py
  src/tier3/rust/src/lib.rs
  tools/impl_substance_check/__init__.py
  tools/impl_substance_check/__main__.py
  tools/impl_substance_check/cli.py
  tools/impl_substance_check/scanner.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
  tools/lock_yaml_generator/tests/test_dsl_invariants.py
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat(substance): Stage 0-2 — CI suppression 除去 / floor 強制 / meta validator 実装
  .github/workflows/docs_lint.yml
  .github/workflows/dual_signoff.yml
  .github/workflows/kyverno_validate.yml
  .github/workflows/release_gate.yml
  .github/workflows/tier2_enforce.yml
  .github/workflows/tier3_enforce.yml
  src/_meta/axis_registry/cap_enforcer.py
  src/_meta/axis_registry/phase_dag_checker.py
  src/_meta/axis_registry/registry_loader.py
  src/_meta/lock/impl_substance.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  tools/impl_substance_check/cli.py
  tools/impl_substance_check/scanner.py
  tools/lock_yaml_generator/generate_release_gate.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
Due: prettier

feat(gate): dual_signoff placeholder hard fail — release_gate 意図的 red 化
  src/_meta/lock/release_gate.lock.yaml
  tools/lock_yaml_generator/dsl.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
  tools/lock_yaml_generator/tests/test_dsl_invariants.py
Due: prettier

feat(gate): dual_review schema 層強制 — placeholder を JSON Schema で hard reject
  .github/workflows/dual_signoff.yml
  docs/00_format/dual_review_schema.yaml
  tools/docs_lint/dual_review_validator.py
  tools/docs_lint/tests/__init__.py
  tools/docs_lint/tests/test_dual_review_validator.py
Due: prettier

feat(gate): V0 旧 dual_review 5 件削除 — TSP 単一 SoT 化と enforcement 整合
  src/_meta/lock/release_gate.lock.yaml
  src/formal/dual_review/tier1_auth.dual_review.lock.yaml
  src/formal/dual_review/tier1_key_mgmt.dual_review.lock.yaml
  src/formal/dual_review/tier1_oss_lifecycle.dual_review.lock.yaml
  src/formal/dual_review/tier1_slo.dual_review.lock.yaml
  src/formal/dual_review/tier1_tenant_capacity.dual_review.lock.yaml
  src/formal/lock/proof_review.lock.yaml
  tools/docs_lint/dual_review_validator.py
  tools/docs_lint/tests/test_dual_review_validator.py
Due: prettier

feat(gate): security.build_provenance_slsa_l3plus 偽 green 剥離 — vacuous `>= 0` を no_vacuous_green に置換
  src/_meta/lock/release_gate.lock.yaml
  tools/lock_yaml_generator/generate_release_gate_v2.py
Due: prettier

feat(gate): tier3 declared cell 2 件 偽 green 剥離 — `== declared` を `== green` に置換
  src/_meta/lock/release_gate.lock.yaml
  tools/lock_yaml_generator/generate_release_gate_v2.py
Due: prettier

docs: pre-P0 注記を追加
  docs/05_環境構築/11_プラットフォーム運営者/06_開発エディタIDE設定.md
Due: none
