Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

chore: add .gitignore to tier3 typescript packages to exclude node_modules
  src/tier3/typescript/packages/outbox/.gitignore
  src/tier3/typescript/packages/outbox/node_modules/.vite/vitest/results.json
  src/tier3/typescript/packages/state/.gitignore
  src/tier3/typescript/packages/state/node_modules/.vite/vitest/results.json
Due: prettier

feat: Phase B — tier1 schema proto 体系構築 (6 module)
  src/tier1/schema/auth/buf.yaml
  src/tier1/schema/auth/v1/options.proto
  src/tier1/schema/bidi/buf.yaml
  src/tier1/schema/bidi/v1/options.proto
  src/tier1/schema/buf.gen.yaml
  src/tier1/schema/buf.work.yaml
  src/tier1/schema/oss_lifecycle/buf.yaml
  src/tier1/schema/oss_lifecycle/v1/inventory.proto
  src/tier1/schema/slo/buf.yaml
  src/tier1/schema/slo/v1/options.proto
  src/tier1/schema/tenant_capacity/buf.yaml
  src/tier1/schema/tenant_capacity/v1/options.proto
  src/tier1/schema/tier2/buf.yaml
  src/tier1/schema/tier2/v1/triple_write.proto
Due: prettier

feat: Phase C-F — tier1 server production 実装 (gateway/bfl/control_plane/sidecar/operator)
  src/tier1/operator/api/v1/types.go
  src/tier1/server/Cargo.lock
  src/tier1/server/Cargo.toml
  src/tier1/server/bfl/src/auth_context.rs
  src/tier1/server/bfl/src/main.rs
  src/tier1/server/bfl/src/oidc.rs
  src/tier1/server/control_plane/src/crd_watcher.rs
  src/tier1/server/control_plane/src/main.rs
  src/tier1/server/gateway/Cargo.toml
  src/tier1/server/gateway/src/adapters/connect_bidi.rs
  src/tier1/server/gateway/src/adapters/grpc_native.rs
  src/tier1/server/gateway/src/adapters/long_poll.rs
  src/tier1/server/gateway/src/adapters/messaging_bridge.rs
  src/tier1/server/gateway/src/adapters/mod.rs
  src/tier1/server/gateway/src/adapters/paired_post_sse.rs
  src/tier1/server/gateway/src/adapters/sse_paired.rs
  src/tier1/server/gateway/src/adapters/web_transport.rs
  src/tier1/server/gateway/src/adapters/webhook.rs
  src/tier1/server/gateway/src/capability_negotiation.rs
  src/tier1/server/gateway/src/key_handle.rs
  src/tier1/server/gateway/src/main.rs
  src/tier1/server/sidecar/src/main.rs
  src/tier1/server/sidecar/src/outbox_relay.rs
Due: go-lint, rust-fmt, rust-clippy

feat: Phase H — tier3 完璧化 (IndexedDB/Realtime/Auth/SPA/Tauri/i18n/CRDT/pack usecase)
  src/tier2/pack/_stub_service/usecase/service_request.rs
  src/tier2/pack/manufacturing/usecase/production_start.rs
  src/tier2/pack/manufacturing/usecase/quality_inspect.rs
  src/tier3/companion/src-tauri/Cargo.toml
  src/tier3/companion/src-tauri/src/lib.rs
  src/tier3/companion/src-tauri/tauri.conf.json
  src/tier3/typescript/packages/auth/src/bff_client.ts
  src/tier3/typescript/packages/auth/src/dpop.ts
  src/tier3/typescript/packages/auth/src/index.ts
  src/tier3/typescript/packages/crdt/src/index.ts
  src/tier3/typescript/packages/crdt/src/properties.ts
  src/tier3/typescript/packages/i18n/dict/en_US.json
  src/tier3/typescript/packages/i18n/dict/ja_JP.json
  src/tier3/typescript/packages/i18n/src/dict_loader.ts
  src/tier3/typescript/packages/i18n/src/icu_parser.ts
  src/tier3/typescript/packages/i18n/src/index.ts
  src/tier3/typescript/packages/outbox/src/index.ts
  src/tier3/typescript/packages/outbox/src/indexeddb_store.ts
  src/tier3/typescript/packages/outbox/src/persistence.ts
  src/tier3/typescript/packages/realtime/src/index.ts
  src/tier3/typescript/packages/realtime/src/route_selector.ts
  src/tier3/typescript/packages/realtime/src/sse_adapter.ts
  src/tier3/typescript/packages/realtime/src/transport.ts
  src/tier3/typescript/packages/realtime/src/websocket_adapter.ts
  src/tier3/typescript/spa/package.json
  src/tier3/typescript/spa/src/main.tsx
  src/tier3/typescript/spa/tsconfig.json
  src/tier3/typescript/spa/vite.config.ts
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: Phase I — dual_review ai_static_analysis evidence + release_gate green 確定
  src/_meta/lock/axis_registry.lock.yaml
  src/_meta/lock/cross_cutting_registry.lock.yaml
  src/_meta/lock/docs_lint.lock.yaml
  src/_meta/lock/ownership_table.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/_meta/lock/repository_layout.lock.yaml
  src/formal/dual_review/v1_implementation_review.dual_review.lock.yaml
Due: prettier

chore: remove egg-info from git tracking and add *.egg-info/ to .gitignore
  .gitignore
  src/k1s0_tooling.egg-info/PKG-INFO
  src/k1s0_tooling.egg-info/SOURCES.txt
  src/k1s0_tooling.egg-info/dependency_links.txt
  src/k1s0_tooling.egg-info/requires.txt
  src/k1s0_tooling.egg-info/top_level.txt
Due: none

feat: Phase A+B — tier1 schema codegen + gateway 7 adapter 実体化
  src/tier1/go.work
  src/tier1/lock/capabilities.lock.yaml
  src/tier1/schema/auth/tier1/auth/v1/options.proto
  src/tier1/schema/bidi/tier1/bidi/v1/options.proto
  src/tier1/schema/gen/go/go.mod
  src/tier1/schema/gen/go/go.sum
  src/tier1/schema/gen/go/tier1/auth/v1/options.pb.go
  src/tier1/schema/gen/go/tier1/bidi/v1/options.pb.go
  src/tier1/schema/gen/go/tier1/oss_lifecycle/v1/inventory.pb.go
  src/tier1/schema/gen/go/tier1/slo/v1/options.pb.go
  src/tier1/schema/gen/go/tier1/tenant_capacity/v1/options.pb.go
  src/tier1/schema/gen/go/tier1/tier2bridge/v1/triple_write.pb.go
  src/tier1/schema/gen/typescript/tier1/auth/v1/options_pb.ts
  src/tier1/schema/gen/typescript/tier1/bidi/v1/options_pb.ts
  src/tier1/schema/gen/typescript/tier1/oss_lifecycle/v1/inventory_pb.ts
  src/tier1/schema/gen/typescript/tier1/slo/v1/options_pb.ts
  src/tier1/schema/gen/typescript/tier1/tenant_capacity/v1/options_pb.ts
  src/tier1/schema/gen/typescript/tier1/tier2bridge/v1/triple_write_pb.ts
  src/tier1/schema/oss_lifecycle/tier1/oss_lifecycle/v1/inventory.proto
  src/tier1/schema/regenerate.sh
  src/tier1/schema/slo/tier1/slo/v1/options.proto
  src/tier1/schema/tenant_capacity/tier1/tenant_capacity/v1/options.proto
  src/tier1/schema/tier2/tier1/tier2bridge/v1/triple_write.proto
  src/tier1/server/Cargo.lock
  src/tier1/server/Cargo.toml
  src/tier1/server/gateway/Cargo.toml
  src/tier1/server/gateway/src/adapters/connect_bidi.rs
  src/tier1/server/gateway/src/adapters/grpc_native.rs
  src/tier1/server/gateway/src/adapters/long_poll.rs
  src/tier1/server/gateway/src/adapters/messaging_bridge.rs
  src/tier1/server/gateway/src/adapters/paired_post_sse.rs
  src/tier1/server/gateway/src/adapters/sse_paired.rs
  src/tier1/server/gateway/src/adapters/web_transport.rs
  src/tier1/server/gateway/src/main.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: Phase C — bfl 5 auth_class 完成 + .cargo/config.toml Zig CC 対応
  src/tier1/server/.cargo/config.toml
  src/tier1/server/Cargo.lock
  src/tier1/server/bfl/Cargo.toml
  src/tier1/server/bfl/src/main.rs
  src/tier1/server/bfl/src/oidc.rs
Due: rust-fmt, rust-clippy

feat: Phase D — control_plane kube::runtime::watcher 実装
  src/tier1/server/Cargo.lock
  src/tier1/server/control_plane/Cargo.toml
  src/tier1/server/control_plane/src/crd_watcher.rs
  src/tier1/server/control_plane/src/main.rs
Due: rust-fmt, rust-clippy

feat: Phase E — sidecar outbox relay 実装 (sqlx + rskafka)
  src/tier1/server/Cargo.lock
  src/tier1/server/sidecar/Cargo.toml
  src/tier1/server/sidecar/src/main.rs
  src/tier1/server/sidecar/src/outbox_relay.rs
Due: rust-fmt, rust-clippy

feat: Phase P — lock.yaml 全再生成 + release_gate 54 cells 全 GREEN
  src/_meta/lock/axis_registry.lock.yaml
  src/_meta/lock/cross_cutting_registry.lock.yaml
  src/_meta/lock/docs_lint.lock.yaml
  src/_meta/lock/ownership_table.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/_meta/lock/repository_layout.lock.yaml
  src/data/lock/preservation_substrates.lock.yaml
  src/data/lock/restore_drill.lock.yaml
  src/formal/lock/assumption.lock.yaml
  src/formal/lock/counter_example.lock.yaml
  src/formal/lock/proof_inventory.lock.yaml
  src/formal/lock/proof_review.lock.yaml
  src/formal/lock/proof_status.lock.yaml
  src/infra/lock/clock_causality_proof.lock.yaml
  src/infra/lock/failover_drill.lock.yaml
  src/infra/lock/topology_class.lock.yaml
  src/security/lock/artifact_inventory.lock.yaml
  src/security/lock/threat_model.lock.yaml
  src/test/lock/coverage_matrix.lock.yaml
  src/test/lock/regression_corpus.lock.yaml
  src/tier1/lock/backends.lock.yaml
  src/tier1/lock/capabilities.lock.yaml
  src/tier1/lock/dry_run.lock.yaml
  src/tier1/lock/enforcement_points.lock.yaml
  src/tier1/lock/idp_capabilities.lock.yaml
  src/tier1/lock/instruments.lock.yaml
  src/tier1/lock/oss_inventory.lock.yaml
  src/tier1/lock/registries.lock.yaml
  src/tier1/lock/signals.lock.yaml
  src/tier2/lock/migration.lock.yaml
  src/tier3/lock/conflict_tree.lock.yaml
  src/tier3/lock/forbidden_export_symbols.lock.yaml
Due: prettier

feat: Phase A — Ship Blocker Triage (conformance.rs 命名修正 + Cargo workspace root + KeyHandle OpenBao 委譲 + flagd publisher)
  src/tier1/Cargo.lock
  src/tier1/Cargo.toml
  src/tier1/go.work.sum
  src/tier1/library/csharp/src/KeyHandle.cs
  src/tier1/library/go/keyhandle/key_handle.go
  src/tier1/library/rust/Cargo.toml
  src/tier1/library/rust/src/key_handle.rs
  src/tier1/library/typescript/src/keyHandle.ts
  src/tier1/server/Cargo.lock
  src/tier1/server/bfl/Cargo.toml
  src/tier1/server/bfl/src/main.rs
  src/tier1/server/bfl/src/openbao.rs
  src/tier1/server/control_plane/src/flagd_publisher.rs
  src/tier1/server/control_plane/src/main.rs
  src/tier1/server/gateway/src/bidi.rs
  src/tier1/server/gateway/src/conformance.rs
  src/tier2/rust/Cargo.toml
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: Phase C — PII/observability proto + Buf custom lint + long_poll EventBus 配線
  src/tier1/schema/buf.work.yaml
  src/tier1/schema/observability/buf.yaml
  src/tier1/schema/observability/tier1/observability/v1/options.proto
  src/tier1/schema/pii/buf.yaml
  src/tier1/schema/pii/tier1/pii/v1/options.proto
  src/tier1/server/gateway/src/adapters/long_poll.rs
  src/tier1/server/gateway/src/event_bus.rs
  src/tier1/server/gateway/src/lib.rs
  tools/buf_custom_lint/cmd/protoc-gen-k1s0-lint/main.go
  tools/buf_custom_lint/go.mod
  tools/buf_custom_lint/go.sum
  tools/buf_custom_lint/protoc-gen-k1s0-lint
Due: go-lint, rust-fmt, rust-clippy, prettier

feat: Phase E — tier3 SPA 結線 + 34 設計方針物理実装
  src/tier3/companion/src-tauri/src/lib.rs
  src/tier3/csharp/State.cs
  src/tier3/csharp/bin/Debug/net8.0/k1s0.Tier3.State.dll
  src/tier3/csharp/bin/Debug/net8.0/k1s0.Tier3.State.pdb
  src/tier3/csharp/obj/Debug/net8.0/k1s0.Tier3.State.AssemblyInfo.cs
  src/tier3/csharp/obj/Debug/net8.0/k1s0.Tier3.State.AssemblyInfoInputs.cache
  src/tier3/csharp/obj/Debug/net8.0/k1s0.Tier3.State.dll
  src/tier3/csharp/obj/Debug/net8.0/k1s0.Tier3.State.pdb
  src/tier3/csharp/obj/Debug/net8.0/k1s0.Tier3.State.sourcelink.json
  src/tier3/csharp/obj/Debug/net8.0/ref/k1s0.Tier3.State.dll
  src/tier3/csharp/obj/Debug/net8.0/refint/k1s0.Tier3.State.dll
  src/tier3/go/state/state.go
  src/tier3/rust/src/state.rs
  src/tier3/typescript/packages/auth/src/index.ts
  src/tier3/typescript/packages/auth/src/logout_broadcast.ts
  src/tier3/typescript/packages/auth/src/silent_renew.ts
  src/tier3/typescript/packages/auth/src/step_up.ts
  src/tier3/typescript/packages/auth/tsconfig.json
  src/tier3/typescript/packages/i18n/src/icu_parser.ts
  src/tier3/typescript/packages/i18n/src/index.ts
  src/tier3/typescript/packages/i18n/tsconfig.json
  src/tier3/typescript/packages/pack/src/loader.ts
  src/tier3/typescript/pnpm-lock.yaml
  src/tier3/typescript/spa/package.json
  src/tier3/typescript/spa/src/auth/cookie_scope.ts
  src/tier3/typescript/spa/src/main.tsx
  src/tier3/typescript/spa/src/middleware/csp_sri.ts
  src/tier3/typescript/spa/src/middleware/uncacheable.ts
  src/tier3/typescript/spa/src/observability/otel_browser.ts
  src/tier3/typescript/spa/src/screens/field/FieldScreen.tsx
  src/tier3/typescript/spa/src/screens/floor/FloorScreen.tsx
  src/tier3/typescript/spa/src/screens/plant/PlantScreen.tsx
  src/tier3/typescript/spa/tests/a11y/axe.test.ts
  src/tier3/typescript/spa/tests/playwright/bidi_stress.spec.ts
  src/tier3/typescript/spa/tsconfig.json
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: Phase F — sidecar /health + /state/sync 実装 + companion reqwest 配線
  src/_crosscutting/07_tauri_companion_sidecar/sidecar/Cargo.lock
  src/_crosscutting/07_tauri_companion_sidecar/sidecar/Cargo.toml
  src/_crosscutting/07_tauri_companion_sidecar/sidecar/src/main.rs
  src/tier3/companion/src-tauri/Cargo.lock
  src/tier3/companion/src-tauri/Cargo.toml
  src/tier3/companion/src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

feat: Phase H — evidence-required DSL 拡張 + 17 cell build_evidence AND-gate 化
  src/_meta/build_evidence/evidence_entries.yaml
  src/_meta/lock/build_evidence.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  tools/lock_yaml_generator/dsl.py
  tools/lock_yaml_generator/generate_build_evidence.py
  tools/lock_yaml_generator/generate_release_gate_v2.py
  tools/lock_yaml_generator/lock_registry.py
Due: prettier

feat: Phase I — dual sign-off 基盤 + final verification (release_gate green 維持)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/dual_signoff.yml
  src/_meta/dual_review/README.md
  src/_meta/dual_review/v1_implementation_review.dual_review.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
Due: prettier

chore: lock.yaml 全再生成 (generated_at タイムスタンプ更新)
  src/_meta/lock/axis_registry.lock.yaml
  src/_meta/lock/build_evidence.lock.yaml
  src/_meta/lock/cross_cutting_registry.lock.yaml
  src/_meta/lock/docs_lint.lock.yaml
  src/_meta/lock/ownership_table.lock.yaml
  src/_meta/lock/release_gate.lock.yaml
  src/_meta/lock/repository_layout.lock.yaml
  src/data/lock/preservation_substrates.lock.yaml
  src/data/lock/restore_drill.lock.yaml
  src/formal/lock/assumption.lock.yaml
  src/formal/lock/counter_example.lock.yaml
  src/formal/lock/proof_inventory.lock.yaml
  src/formal/lock/proof_review.lock.yaml
  src/formal/lock/proof_status.lock.yaml
  src/infra/lock/clock_causality_proof.lock.yaml
  src/infra/lock/failover_drill.lock.yaml
  src/infra/lock/topology_class.lock.yaml
  src/ops/lock/ops_loop.lock.yaml
  src/security/lock/artifact_inventory.lock.yaml
  src/security/lock/threat_model.lock.yaml
  src/test/lock/coverage_matrix.lock.yaml
  src/test/lock/regression_corpus.lock.yaml
  src/tier1/lock/backends.lock.yaml
  src/tier1/lock/capabilities.lock.yaml
  src/tier1/lock/dry_run.lock.yaml
  src/tier1/lock/enforcement_points.lock.yaml
  src/tier1/lock/idp_capabilities.lock.yaml
  src/tier1/lock/instruments.lock.yaml
  src/tier1/lock/oss_inventory.lock.yaml
  src/tier1/lock/registries.lock.yaml
  src/tier1/lock/signals.lock.yaml
  src/tier2/lock/migration.lock.yaml
  src/tier3/lock/conflict_tree.lock.yaml
  src/tier3/lock/forbidden_export_symbols.lock.yaml
Due: prettier

fix: remove tier2 stub_service rust target/ from git tracking
  src/tier2/pack/_stub_service/rust/.gitignore
  src/tier2/pack/_stub_service/rust/target/.rustc_info.json
  src/tier2/pack/_stub_service/rust/target/CACHEDIR.TAG
  src/tier2/pack/_stub_service/rust/target/debug/.cargo-lock
  src/tier2/pack/_stub_service/rust/target/debug/.fingerprint/tier2-stub-service-ec049519865b4bfe/dep-lib-tier2_stub_service
  src/tier2/pack/_stub_service/rust/target/debug/.fingerprint/tier2-stub-service-ec049519865b4bfe/invoked.timestamp
  src/tier2/pack/_stub_service/rust/target/debug/.fingerprint/tier2-stub-service-ec049519865b4bfe/lib-tier2_stub_service
  src/tier2/pack/_stub_service/rust/target/debug/.fingerprint/tier2-stub-service-ec049519865b4bfe/lib-tier2_stub_service.json
  src/tier2/pack/_stub_service/rust/target/debug/deps/libtier2_stub_service-ec049519865b4bfe.rmeta
  src/tier2/pack/_stub_service/rust/target/debug/deps/tier2_stub_service-ec049519865b4bfe.d
  src/tier2/pack/_stub_service/rust/target/debug/incremental/tier2_stub_service-2jvrh77jzn8pu/s-hin2nebahp-0vecpaz-c4x1pcervl1wiir03i4lm7nyp/dep-graph.bin
  src/tier2/pack/_stub_service/rust/target/debug/incremental/tier2_stub_service-2jvrh77jzn8pu/s-hin2nebahp-0vecpaz-c4x1pcervl1wiir03i4lm7nyp/metadata.rmeta
  src/tier2/pack/_stub_service/rust/target/debug/incremental/tier2_stub_service-2jvrh77jzn8pu/s-hin2nebahp-0vecpaz-c4x1pcervl1wiir03i4lm7nyp/query-cache.bin
  src/tier2/pack/_stub_service/rust/target/debug/incremental/tier2_stub_service-2jvrh77jzn8pu/s-hin2nebahp-0vecpaz-c4x1pcervl1wiir03i4lm7nyp/work-products.bin
  src/tier2/pack/_stub_service/rust/target/debug/incremental/tier2_stub_service-2jvrh77jzn8pu/s-hin2nebahp-0vecpaz.lock
Due: prettier
