Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

fix: 不要なファイルを削除し、静的解析設定を更新
  analysis_options.yaml
  regions/system/library/dart/app_updater/.flutter-plugins-dependencies
Due: prettier

feat: Docker Composeのプロファイル設定を追加し、Windows環境に関する注意事項を更新
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.extend.yaml
  CLI/crates/k1s0-cli/tests/client_template_rendering.rs
  CLI/crates/k1s0-cli/tests/snapshots/snapshot_tests__client_react.snap
  README.md
  docker-compose.yaml
  docs/infrastructure/cicd/CI-CD設計.md
  docs/onboarding/tier3/02-開発環境.md
  justfile
  regions/system/library/dart/bulkhead/test/bulkhead_test.dart
Due: rust-fmt, rust-clippy, prettier, dart-analyze, dart-format

feat(gui): ペルソナ3風UIデザインに全面変換
  CLI/crates/k1s0-gui/ui/index.html
  CLI/crates/k1s0-gui/ui/src/components/Layout.tsx
  CLI/crates/k1s0-gui/ui/src/components/ProgressLog.tsx
  CLI/crates/k1s0-gui/ui/src/components/ProtectedActionNotice.tsx
  CLI/crates/k1s0-gui/ui/src/components/Sidebar.tsx
  CLI/crates/k1s0-gui/ui/src/components/__tests__/Sidebar.test.tsx
  CLI/crates/k1s0-gui/ui/src/index.css
  CLI/crates/k1s0-gui/ui/src/pages/AuthPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/BuildPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ConfigTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DashboardPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DeployPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DepsPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DevPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/EventCodegenPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/GeneratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/InitPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/MigratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/NavigationTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/TemplateMigratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/TestPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ValidatePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepConfirm.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepDetail.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepKind.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepLangFw.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepPlacement.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepTier.tsx
Due: ts-lint, prettier

feat(gui): 全ページの英語テキストを日本語に翻訳
  CLI/crates/k1s0-gui/ui/src/components/ProgressLog.tsx
  CLI/crates/k1s0-gui/ui/src/components/__tests__/ProgressLog.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/BuildPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ConfigTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DashboardPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DeployPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DepsPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DevPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/EventCodegenPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/MigratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/NavigationTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/TestPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ValidatePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/BuildPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/DeployPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/DepsPage.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/__tests__/MigratePage.test.tsx
Due: ts-lint, prettier

feat: UIのアニメーションとスタイルの改善
  CLI/crates/k1s0-gui/ui/src/components/Layout.tsx
  CLI/crates/k1s0-gui/ui/src/components/ProgressLog.tsx
  CLI/crates/k1s0-gui/ui/src/components/ProtectedActionNotice.tsx
  CLI/crates/k1s0-gui/ui/src/components/Sidebar.tsx
  CLI/crates/k1s0-gui/ui/src/index.css
  CLI/crates/k1s0-gui/ui/src/pages/AuthPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/BuildPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ConfigTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DashboardPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DeployPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DepsPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DevPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/EventCodegenPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/GeneratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/InitPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/MigratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/NavigationTypesPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/TemplateMigratePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/TestPage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/ValidatePage.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepConfirm.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepDetail.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepKind.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepLangFw.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepPlacement.tsx
  CLI/crates/k1s0-gui/ui/src/pages/generate/StepTier.tsx
  regions/system/client/react/system-client/package-lock.json
Due: ts-lint, prettier

feat: プライマリボタンとパネルのアニメーションを追加
  CLI/crates/k1s0-gui/ui/src/index.css
Due: none

fix(audit-phase1): 総合監査 Phase 1 全13項目を対応
  .github/workflows/_rust-service-ci.yaml
  docs/architecture/overview/module-status.md
  docs/architecture/testing/test-strategy.md
  modules.yaml
  regions/system/library/go/building-blocks/kafka_pubsub.go
  regions/system/library/go/config/config.go
  regions/system/library/go/config/config_test.go
  regions/system/library/go/distributed-lock/redis_lock.go
  regions/system/library/go/distributed-lock/redis_lock_test.go
  regions/system/library/go/messaging/messaging.go
  regions/system/library/go/messaging/messaging_test.go
  regions/system/library/go/server-common/go.mod
  regions/system/library/go/server-common/go.sum
  regions/system/library/go/server-common/middleware.go
  regions/system/library/go/server-common/middleware_test.go
  regions/system/library/go/websocket/websocket.go
  regions/system/library/go/websocket/websocket_test.go
  regions/system/library/rust/kafka/src/config.rs
  regions/system/server/go/bff-proxy/cmd/server/main.go
  regions/system/server/go/bff-proxy/internal/config/config.go
  regions/system/server/go/bff-proxy/internal/handler/auth_flow_test.go
  regions/system/server/go/bff-proxy/internal/handler/auth_handler.go
  regions/system/server/rust/auth/src/adapter/handler/api_key_handler.rs
  regions/system/server/rust/auth/src/infrastructure/startup.rs
  regions/system/server/rust/auth/src/usecase/validate_api_key.rs
Due: go-lint, rust-fmt, rust-clippy, prettier

refactor(audit-phase2): Phase 2 Group D・ドキュメント・Minor 修正
  api/proto/k1s0/system/dlq/v1/dlq.proto
  api/proto/k1s0/system/quota/v1/quota.proto
  docs/architecture/api/gRPC設計.md
  regions/system/Cargo.toml
  regions/system/library/go/building-blocks/redis_statestore.go
  regions/system/library/go/building-blocks/vault_secretstore.go
  regions/system/library/go/config/config.go
  regions/system/library/go/correlation/correlation.go
  regions/system/library/go/kafka/config.go
Due: go-lint

feat/fix(audit-phase2-3): Proto Group A・Rust minor 修正
  api/proto/k1s0/system/common/v1/money.proto
  api/proto/k1s0/system/eventstore/v1/event_store.proto
  regions/system/library/rust/auth/src/verifier.rs
  regions/system/library/rust/building-blocks/Cargo.toml
Due: rust-fmt, rust-clippy

refactor(audit-phase2-3): Proto infra修正・Docker DRY化・Terraform共通モジュール化
  api/proto/gen/rust/k1s0/system/ai_agent/v1/k1s0.system.ai_agent.v1.rs
  api/proto/gen/rust/k1s0/system/ai_agent/v1/k1s0.system.ai_agent.v1.tonic.rs
  api/proto/gen/rust/k1s0/system/ai_gateway/v1/k1s0.system.ai_gateway.v1.rs
  api/proto/gen/rust/k1s0/system/ai_gateway/v1/k1s0.system.ai_gateway.v1.tonic.rs
  api/proto/gen/rust/k1s0/system/event_monitor/v1/k1s0.system.event_monitor.v1.rs
  api/proto/gen/rust/k1s0/system/event_monitor/v1/k1s0.system.event_monitor.v1.tonic.rs
  api/proto/gen/rust/k1s0/system/rule_engine/v1/k1s0.system.rule_engine.v1.rs
  api/proto/gen/rust/k1s0/system/rule_engine/v1/k1s0.system.rule_engine.v1.tonic.rs
  api/proto/k1s0/system/vault/v1/vault.proto
  docker-compose.yaml
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/outputs.tf
  infra/terraform/environments/dev/variables.tf
  infra/terraform/environments/prod/main.tf
  infra/terraform/environments/prod/outputs.tf
  infra/terraform/environments/staging/main.tf
  infra/terraform/environments/staging/outputs.tf
  infra/terraform/environments/staging/variables.tf
  infra/terraform/modules/environment/main.tf
  infra/terraform/modules/environment/outputs.tf
  infra/terraform/modules/environment/variables.tf
Due: rust-fmt, rust-clippy, prettier

feat(audit-phase2-3): Proto String→Enum変換・セキュリティスクリプト改善
  api/proto/k1s0/system/common/v1/types.proto
  api/proto/k1s0/system/config/v1/config.proto
  api/proto/k1s0/system/dlq/v1/dlq.proto
  api/proto/k1s0/system/featureflag/v1/featureflag.proto
  api/proto/k1s0/system/notification/v1/notification.proto
  api/proto/k1s0/system/ratelimit/v1/ratelimit.proto
  api/proto/k1s0/system/saga/v1/saga.proto
  api/proto/k1s0/system/workflow/v1/workflow.proto
  scripts/security/cargo-audit.sh
Due: none

feat/refactor(audit-phase2-3): Auth/Order/Payment Enum追加・Helm DRY化・Kong整理
  api/proto/k1s0/service/order/v1/order.proto
  api/proto/k1s0/service/payment/v1/payment.proto
  api/proto/k1s0/system/auth/v1/auth.proto
  infra/helm/services/business/domain-master/values.yaml
  infra/helm/services/service/order/values.yaml
  infra/helm/services/system/auth/values.yaml
  infra/helm/services/system/quota/values.yaml
  infra/helm/services/system/ratelimit/values.yaml
  infra/helm/services/system/session/values.yaml
  infra/helm/services/system/workflow/values.yaml
  infra/kong/kong.yaml
Due: prettier

fix/feat(audit-phase3): RSA鍵長3072ビット強化・ドキュメント更新
  docs/architecture/conventions/コーディング規約.md
  docs/infrastructure/security/security-scanning.md
  docs/libraries/auth-security/encryption.md
  regions/system/library/go/encryption/encryption.go
  regions/system/library/rust/encryption/src/rsa.rs
Due: go-lint, rust-fmt, rust-clippy

fix(rust/auth): auth.proto 新規 enum フィールドを Rust 構造体初期化に追加
  regions/system/server/rust/auth/src/adapter/grpc/audit_grpc.rs
Due: rust-fmt, rust-clippy

fix(rust): proto 新規フィールドを全サーバーの struct 初期化に追加
  regions/system/server/rust/auth/src/usecase/create_api_key.rs
  regions/system/server/rust/config/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/dlq-manager/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/event-store/src/adapter/grpc/event_store_grpc.rs
  regions/system/server/rust/featureflag/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/auth_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/vault_client.rs
  regions/system/server/rust/graphql-gateway/src/infrastructure/grpc/workflow_client.rs
  regions/system/server/rust/notification/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/ratelimit/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/saga/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/vault/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/workflow/src/adapter/grpc/tonic_service.rs
Due: rust-fmt, rust-clippy

chore(gen): proto 変更に対応した Rust バインディングを再生成
  regions/system/server/rust/api-registry/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/auth/src/proto/k1s0.system.auth.v1.rs
  regions/system/server/rust/auth/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/config/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/config/src/proto/k1s0.system.config.v1.rs
  regions/system/server/rust/dlq-manager/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/dlq-manager/src/proto/k1s0.system.dlq.v1.rs
  regions/system/server/rust/event-store/src/proto/k1s0.system.eventstore.v1.rs
  regions/system/server/rust/featureflag/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/featureflag/src/proto/k1s0.system.featureflag.v1.rs
  regions/system/server/rust/master-maintenance/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/notification/src/proto/k1s0.system.notification.v1.rs
  regions/system/server/rust/policy/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/quota/src/proto/k1s0.system.quota.v1.rs
  regions/system/server/rust/ratelimit/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/ratelimit/src/proto/k1s0.system.ratelimit.v1.rs
  regions/system/server/rust/saga/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/saga/src/proto/k1s0.system.saga.v1.rs
  regions/system/server/rust/scheduler/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/tenant/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/vault/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/vault/src/proto/k1s0.system.vault.v1.rs
  regions/system/server/rust/workflow/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/workflow/src/proto/k1s0.system.workflow.v1.rs
Due: rust-fmt, rust-clippy

feat: WSL2 開発環境アーキテクチャの図を追加
  docs/infrastructure/devenv/images/wsl2-architecture.drawio
Due: none

feat: WSL2 開発環境セットアップフローの図を追加
  docs/infrastructure/devenv/images/wsl2-setup-flow.drawio
Due: none

feat: コード変更の追加
  docs/infrastructure/devenv/images/wsl2-architecture.svg
  docs/infrastructure/devenv/images/wsl2-method-comparison.drawio
  docs/infrastructure/devenv/images/wsl2-method-comparison.svg
  docs/infrastructure/devenv/images/wsl2-setup-flow.svg
Due: none

feat: WSL2 開発環境アーキテクチャの概要を追加
  docs/infrastructure/devenv/WSL2開発環境セットアップ.md
Due: none

feat: WSL2 セットアップフローと方法比較の図を追加
  docs/infrastructure/devenv/WSL2開発環境セットアップ.md
Due: none

feat: gRPC クライアントの TLS 接続とエラーハンドリングを改善
  docs/libraries/config/config.md
  docs/servers/system/bff-proxy/server.md
  docs/servers/system/search/implementation.md
  regions/system/library/go/auth/grpc_interceptor_test.go
  regions/system/server/go/bff-proxy/internal/handler/auth_flow_test.go
  tests/e2e/README.md
Due: go-lint

feat: 検証プロセスの改善とテストの追加
  .github/workflows/ci.yaml
  docs/infrastructure/cicd/CI-CD設計.md
  regions/service/inventory/server/rust/inventory/src/infrastructure/startup.rs
  regions/service/order/server/rust/order/src/infrastructure/startup.rs
  regions/service/payment/server/rust/payment/src/infrastructure/startup.rs
  regions/system/library/rust/auth/src/tests.rs
  regions/system/library/rust/auth/src/verifier.rs
Due: rust-fmt, rust-clippy, prettier

fix: 全サービスのREST ハンドラーで認証チェックを強化（P0-2 補完）
  regions/service/inventory/server/rust/inventory/src/adapter/handler/inventory_handler.rs
  regions/service/order/server/rust/order/src/adapter/handler/order_handler.rs
  regions/service/payment/server/rust/payment/src/adapter/handler/payment_handler.rs
Due: rust-fmt, rust-clippy

docs: order/payment/inventory の認証強化をドキュメントに反映（P0-2 補完）
  docs/servers/service/inventory/implementation.md
  docs/servers/service/order/implementation.md
  docs/servers/service/payment/implementation.md
Due: none

fix: master-maintenance/domain-master 全RESTハンドラーに認証チェックを追加（P0-2 補完）
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/category_handler.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/item_handler.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/tenant_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/display_config_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/import_export_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/record_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/relationship_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/rule_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/table_handler.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/dynamic_record_repo_impl.rs
Due: rust-fmt, rust-clippy

fix: domain-master gRPC ハンドラーの認証チェックを追加（P0-2 補完）
  regions/business/accounting/server/rust/domain-master/src/adapter/grpc/domain_master_grpc.rs
Due: rust-fmt, rust-clippy

fix: inventory gRPC 認証追加・config gRPC に GrpcAuthLayer を適用（P0-2 補完）
  regions/service/inventory/server/rust/inventory/src/adapter/grpc/inventory_grpc.rs
  regions/system/server/rust/config/Cargo.toml
  regions/system/server/rust/config/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

fix: 全システムgRPCサーバーに GrpcAuthLayer を適用（P0-2 補完）
  regions/system/server/rust/api-registry/Cargo.toml
  regions/system/server/rust/api-registry/src/infrastructure/startup.rs
  regions/system/server/rust/dlq-manager/Cargo.toml
  regions/system/server/rust/dlq-manager/src/infrastructure/startup.rs
  regions/system/server/rust/event-monitor/Cargo.toml
  regions/system/server/rust/event-monitor/src/infrastructure/startup.rs
  regions/system/server/rust/event-store/Cargo.toml
  regions/system/server/rust/event-store/src/infrastructure/startup.rs
  regions/system/server/rust/featureflag/Cargo.toml
  regions/system/server/rust/featureflag/src/infrastructure/startup.rs
  regions/system/server/rust/file/Cargo.toml
  regions/system/server/rust/file/src/infrastructure/startup.rs
  regions/system/server/rust/notification/Cargo.toml
  regions/system/server/rust/notification/src/infrastructure/startup.rs
  regions/system/server/rust/policy/Cargo.toml
  regions/system/server/rust/policy/src/infrastructure/startup.rs
  regions/system/server/rust/quota/Cargo.toml
  regions/system/server/rust/quota/src/infrastructure/startup.rs
  regions/system/server/rust/rule-engine/Cargo.toml
  regions/system/server/rust/rule-engine/src/infrastructure/startup.rs
  regions/system/server/rust/saga/Cargo.toml
  regions/system/server/rust/saga/src/infrastructure/startup.rs
  regions/system/server/rust/search/Cargo.toml
  regions/system/server/rust/search/src/infrastructure/startup.rs
  regions/system/server/rust/tenant/Cargo.toml
  regions/system/server/rust/tenant/src/infrastructure/startup.rs
  regions/system/server/rust/vault/Cargo.toml
  regions/system/server/rust/vault/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

fix: ratelimit・session gRPCサーバーに GrpcAuthLayer を追加（P0-2 補完）
  regions/system/server/rust/ratelimit/Cargo.toml
  regions/system/server/rust/ratelimit/src/infrastructure/startup.rs
  regions/system/server/rust/session/Cargo.toml
  regions/system/server/rust/session/src/infrastructure/startup.rs
Due: rust-fmt, rust-clippy

fix: Timestamp型の説明を更新し、移行計画を追加
  regions/system/server/rust/api-registry/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/config/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/dlq-manager/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/event-monitor/src/proto/mod.rs
  regions/system/server/rust/featureflag/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/policy/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/tenant/src/proto/k1s0.system.common.v1.rs
  regions/system/server/rust/vault/src/proto/k1s0.system.common.v1.rs
Due: rust-fmt, rust-clippy

fix: 外部レビュー指摘事項 F01-F14 全対応（報告書.md）
  .github/workflows/api-lint.yaml
  .github/workflows/ci.yaml
  docs/architecture/overview/ディレクトリ構成図.md
  docs/infrastructure/cicd/CI-CD設計.md
  docs/libraries/auth-security/auth.md
  docs/libraries/building-blocks/bb-core.md
  docs/libraries/messaging/pubsub.md
  docs/servers/_common/Rust共通実装.md
  docs/servers/system/bff-proxy/implementation.md
  docs/servers/system/bff-proxy/server.md
  regions/service/inventory/server/rust/inventory/tests/integration_test.rs
  regions/service/order/server/rust/order/tests/api_integration_test.rs
  regions/service/payment/server/rust/payment/tests/api_integration_test.rs
  regions/system/library/dart/auth/lib/src/auth_client.dart
  regions/system/library/dart/building_blocks/lib/src/config.dart
  regions/system/library/go/building-blocks/redis_pubsub.go
  regions/system/server/go/bff-proxy/cmd/server/main.go
  regions/system/server/go/bff-proxy/internal/config/config.go
  regions/system/server/go/bff-proxy/internal/handler/proxy_handler.go
  regions/system/server/go/bff-proxy/internal/middleware/session.go
  regions/system/server/go/bff-proxy/internal/middleware/session_test.go
  regions/system/server/go/bff-proxy/internal/oauth/client.go
  regions/system/server/go/bff-proxy/internal/oauth/client_test.go
  regions/system/server/rust/file/src/infrastructure/startup.rs
  regions/system/server/rust/quota/src/infrastructure/startup.rs
  scripts/check-modules-consistency.sh
  scripts/check-proto-generated.sh
  scripts/check-tier-deps.sh
  scripts/ci-list-integration-servers.sh
  scripts/detect-affected-modules.sh
  tests/e2e/README.md
  tests/e2e/package-lock.json
  tests/e2e/specs/api-crud.spec.ts
  tests/e2e/specs/auth-flow.spec.ts
  tests/e2e/specs/config.ts
  tests/e2e/specs/health-check.spec.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format
