Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

fix: 統合テスト用バイパス認証ミドルウェアを追加（order/payment/inventory）
  regions/service/inventory/server/rust/inventory/src/adapter/handler/mod.rs
  regions/service/order/server/rust/order/src/adapter/handler/mod.rs
  regions/service/payment/server/rust/payment/src/adapter/handler/mod.rs
Due: rust-fmt, rust-clippy

fix: search-server・auth-server・validationテストの修正
  regions/system/library/rust/validation/tests/validation_test.rs
  regions/system/server/rust/auth/src/usecase/create_api_key.rs
  regions/system/server/rust/auth/src/usecase/validate_api_key.rs
  regions/system/server/rust/search/src/adapter/repository/search_opensearch.rs
Due: rust-fmt, rust-clippy

fix: CLAUDE.mdにコメント規約とコミット禁止のセクションを追加
  CLAUDE.md
Due: none

fix: must_use警告・不要キャストのコンパイル警告を解消
  regions/service/inventory/server/rust/inventory/src/adapter/grpc/inventory_grpc.rs
  regions/service/inventory/server/rust/inventory/src/adapter/handler/inventory_handler.rs
  regions/service/order/server/rust/order/src/adapter/grpc/order_grpc.rs
  regions/service/order/server/rust/order/src/adapter/handler/order_handler.rs
  regions/service/payment/server/rust/payment/src/adapter/grpc/payment_grpc.rs
  regions/service/payment/server/rust/payment/src/adapter/handler/payment_handler.rs
Due: rust-fmt, rust-clippy

fix: clippy must_use warnings を全ハンドラーで解消（let _ → let _guard）
  regions/business/accounting/server/rust/domain-master/src/adapter/grpc/domain_master_grpc.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/category_handler.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/item_handler.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/tenant_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/display_config_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/record_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/relationship_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/rule_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/table_handler.rs
Due: rust-fmt, rust-clippy

fix: 認証チェックのためのclaimsの使用を修正
  regions/system/server/rust/master-maintenance/src/adapter/handler/import_export_handler.rs
Due: rust-fmt, rust-clippy

feat: PlatformBadgeおよびSearchFilterコンポーネントのテストを追加
  regions/system/client/react/app-catalog/tests/components/PlatformBadge.test.tsx
  regions/system/client/react/app-catalog/tests/components/SearchFilter.test.tsx
  regions/system/client/react/system-client/src/components/StatusBadge.test.tsx
Due: ts-lint, prettier

feat: SLOレコーディングルールの更新とRustサーバーの動的取得機能の追加
  .github/workflows/_go-service-ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/inventory-ci.yaml
  .github/workflows/library-parity-check.yaml
  .github/workflows/observability-lint.yaml
  .github/workflows/order-ci.yaml
  .github/workflows/payment-ci.yaml
  docs/architecture/diagrams/fig1-tech-debt.drawio
  docs/architecture/diagrams/fig1-tech-debt.svg
  docs/architecture/diagrams/fig2-roi.drawio
  docs/architecture/diagrams/fig2-roi.svg
  docs/architecture/diagrams/fig3-architecture.drawio
  docs/architecture/diagrams/fig3-architecture.svg
  docs/architecture/diagrams/fig4-roadmap.drawio
  docs/architecture/diagrams/fig4-roadmap.svg
  docs/architecture/diagrams/fig5-automation.drawio
  docs/architecture/diagrams/fig5-automation.svg
  infra/observability/prometheus/alerts/slo-burn-rate-alerts.yaml
  infra/observability/prometheus/alerts/slo-recording-rules.yaml
  justfile
  regions/system/client/flutter/system_client/test/config/config_types_test.dart
  regions/system/client/flutter/system_client/test/widgets/app_button_test.dart
  regions/system/client/flutter/system_client/test/widgets/loading_indicator_test.dart
  regions/system/client/react/app-catalog/tests/components/VersionHistory.test.tsx
  regions/system/client/react/system-client/src/auth/navigation.test.ts
  regions/system/client/react/system-client/src/components/DataTable.test.tsx
  regions/system/client/react/system-client/src/components/ErrorBoundary.test.tsx
  regions/system/client/react/system-client/src/components/LoadingSpinner.test.tsx
  scripts/check-library-parity.sh
  scripts/list-standalone-servers.sh
  tests/e2e/package-lock.json
  tests/e2e/pnpm-lock.yaml
Due: ts-lint, prettier, dart-analyze, dart-format

feat: 経済的効果分析とライブラリの使用方法に関するドキュメントを更新
  docs/architecture/economic-impact.md
  docs/libraries/_common/how-to-use.md
Due: none

feat: k1s0の3ティアアーキテクチャ全体像と技術的負債の影響を追加
  docs/architecture/economic-impact.md
Due: none

feat: k1s0自動化フローの追加
  docs/architecture/economic-impact.md
Due: none

feat: キャッシュ戦略ドキュメントの追加と経済的効果分析に段階的移行ロードマップを追加
  docs/architecture/conventions/キャッシュ戦略.md
  docs/architecture/economic-impact.md
Due: none

feat: 分散ロック方針ドキュメントの追加
  docs/architecture/conventions/分散ロック方針.md
Due: none

feat: Saga補償フローの詳細ドキュメントを追加
  docs/architecture/deployment/データベースSharding設計.md
  docs/servers/system/saga/compensation-flows.md
  regions/system/server/rust/master-maintenance/src/proto/k1s0.system.common.v1.rs
Due: rust-fmt, rust-clippy

feat: CIワークフローのデータベースURLを更新
  .github/workflows/inventory-ci.yaml
  .github/workflows/order-ci.yaml
  .github/workflows/payment-ci.yaml
  regions/system/server/rust/service-catalog/src/domain/entity/dependency.rs
  regions/system/server/rust/service-catalog/src/usecase/delete_service.rs
Due: rust-fmt, rust-clippy, prettier

feat: サービス取得および更新のテストケースを追加
  regions/system/server/rust/service-catalog/src/usecase/get_service.rs
  regions/system/server/rust/service-catalog/src/usecase/update_service.rs
Due: rust-fmt, rust-clippy

feat: サービスヘルパー関数を追加し、テストケースを更新
  regions/system/server/rust/service-catalog/src/usecase/list_services.rs
Due: rust-fmt, rust-clippy

fix: ライブラリ名の表記を修正
  docs/libraries/_common/how-to-use.md
Due: none

feat: Goのバージョンを1.25.0から1.26.1に更新
  go.work
Due: none

feat: k1s0基盤の経済的影響に関する文書を更新
  docs/architecture/diagrams/fig10-npv-cashflow.drawio
  docs/architecture/diagrams/fig10-npv-cashflow.svg
  docs/architecture/diagrams/fig6-codebase-metrics.drawio
  docs/architecture/diagrams/fig6-codebase-metrics.svg
  docs/architecture/diagrams/fig7-sensitivity-tornado.drawio
  docs/architecture/diagrams/fig7-sensitivity-tornado.svg
  docs/architecture/diagrams/fig8-risk-matrix.drawio
  docs/architecture/diagrams/fig8-risk-matrix.svg
  docs/architecture/diagrams/fig9-tco-comparison.drawio
  docs/architecture/diagrams/fig9-tco-comparison.svg
  docs/architecture/economic-impact.md
Due: none

feat: コードの変更を追加
  docs/architecture/diagrams/fig11-company-type-comparison.drawio
  docs/architecture/diagrams/fig11-company-type-comparison.svg
Due: none

feat: 企業規模・業態別の導入効果分析を追加
  docs/architecture/economic-impact.md
Due: none

feat: 企業規模別の導入効果分析を追加
  docs/architecture/economic-impact.md
Due: none

feat(event): 注文イベント型の追加
  regions/service/inventory/server/rust/inventory/src/proto/mod.rs
  regions/service/payment/server/rust/payment/src/proto/mod.rs
Due: rust-fmt, rust-clippy

feat: Sagaパターンに基づく在庫および決済処理の実装
  docs/libraries/_common/イベント駆動設計.md
  docs/servers/service/inventory/server.md
  docs/servers/service/order/server.md
  regions/service/inventory/server/rust/inventory/src/infrastructure/kafka/inventory_consumer.rs
  regions/service/inventory/server/rust/inventory/src/infrastructure/kafka/mod.rs
  regions/service/inventory/server/rust/inventory/src/infrastructure/startup.rs
  regions/service/inventory/server/rust/inventory/src/usecase/handle_order_event.rs
  regions/service/inventory/server/rust/inventory/src/usecase/mod.rs
  regions/service/order/server/rust/order/src/infrastructure/kafka/mod.rs
  regions/service/order/server/rust/order/src/infrastructure/kafka/order_consumer.rs
  regions/service/order/server/rust/order/src/infrastructure/startup.rs
  regions/service/order/server/rust/order/src/usecase/handle_payment_event.rs
  regions/service/order/server/rust/order/src/usecase/mod.rs
  regions/service/payment/server/rust/payment/src/infrastructure/kafka/mod.rs
  regions/service/payment/server/rust/payment/src/infrastructure/kafka/payment_consumer.rs
  regions/service/payment/server/rust/payment/src/infrastructure/startup.rs
  regions/service/payment/server/rust/payment/src/usecase/handle_order_event.rs
  regions/service/payment/server/rust/payment/src/usecase/mod.rs
Due: rust-fmt, rust-clippy

feat(saga): Saga Consumerの追加と補償フローの詳細を文書化
  docs/servers/service/payment/server.md
Due: none

feat: クロスサービスイベントのprotoコンパイル用tonic-buildを追加
  regions/service/inventory/server/rust/inventory/Cargo.toml
  regions/service/inventory/server/rust/inventory/src/usecase/handle_order_event.rs
  regions/service/order/server/rust/order/Cargo.toml
  regions/service/order/server/rust/order/src/infrastructure/database/order_repository.rs
  regions/service/payment/server/rust/payment/Cargo.toml
Due: rust-fmt, rust-clippy

feat: クロスサービスイベントのプロトコルバッファコンパイルを削除し、メッセージディスパッチロジックをリファクタリング
  docs/architecture/economic-impact.md
  docs/architecture/overview/ビジネスケース.md
  regions/service/inventory/server/rust/inventory/Cargo.toml
  regions/service/inventory/server/rust/inventory/build.rs
  regions/service/inventory/server/rust/inventory/src/infrastructure/kafka/inventory_consumer.rs
  regions/service/order/server/rust/order/Cargo.toml
  regions/service/order/server/rust/order/build.rs
  regions/service/order/server/rust/order/src/domain/entity/order.rs
  regions/service/order/server/rust/order/src/infrastructure/kafka/order_consumer.rs
  regions/service/payment/server/rust/payment/Cargo.toml
  regions/service/payment/server/rust/payment/build.rs
  regions/service/payment/server/rust/payment/src/infrastructure/kafka/payment_consumer.rs
Due: rust-fmt, rust-clippy

feat: CorrelationMiddlewareのテストとEncryptedStoreの単体テストを追加
  docs/architecture/overview/ビジネスケース.md
  regions/system/server/go/bff-proxy/internal/middleware/trace_middleware_test.go
  regions/system/server/go/bff-proxy/internal/session/encrypted_store_test.go
Due: go-lint

feat: セッションリフレッシュ失敗時のセッション削除テストを追加
  docs/architecture/overview/ディレクトリ構成図.md
  regions/system/server/go/bff-proxy/internal/handler/proxy_test.go
Due: go-lint

feat: バックアップ/リストア手順書と災害復旧計画の追加
  docs/architecture/conventions/エラーコードカタログ.md
  docs/architecture/observability/runbooks/services/auth.md
  docs/architecture/observability/runbooks/services/bff-proxy.md
  docs/architecture/observability/runbooks/services/config.md
  docs/architecture/observability/runbooks/services/saga.md
  docs/architecture/overview/サービス依存関係マップ.md
  docs/infrastructure/kubernetes/DBマイグレーション手順書.md
  docs/infrastructure/kubernetes/デプロイ手順書.md
  docs/infrastructure/kubernetes/バックアップリストア手順書.md
  docs/infrastructure/overview/ゲートウェイ責務分離.md
  docs/infrastructure/overview/災害復旧計画.md
  docs/infrastructure/terraform/Terraform運用手順書.md
  regions/system/library/rust/messaging/src/dlq.rs
  regions/system/server/rust/auth/config/config.yaml
  regions/system/server/rust/config/config/config.yaml
Due: rust-fmt, rust-clippy, prettier

feat: 技術的な決定に関するADRの作成手順を追加
  CLAUDE.md
Due: none

feat: GraphQL Gatewayのアラートと運用FAQを追加
  .github/workflows/_build.yaml
  .github/workflows/_lint.yaml
  .github/workflows/_test.yaml
  .github/workflows/_validate.yaml
  .github/workflows/ci.yaml
  .github/workflows/pin-docker-digests.yaml
  docs/architecture/observability/runbooks/services/graphql-gateway.md
  docs/architecture/observability/運用FAQ.md
  regions/system/library/rust/messaging/src/kafka_producer.rs
  regions/system/server/go/bff-proxy/internal/handler/error_response.go
  regions/system/server/go/bff-proxy/internal/handler/error_response_test.go
  regions/system/server/rust/graphql-gateway/config/config.docker.yaml
Due: go-lint, rust-fmt, rust-clippy, prettier

feat: 新しい機能を追加
  .github/workflows/ci.yaml
Due: prettier

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
