Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

docs(adr): ADR-TEST-004 起票（LitmusChaos 採用）+ 概要設計 05_テスト戦略方式.md の Chaos Mesh 記述を訂正
  docs/02_構想設計/adr/ADR-TEST-004-chaos-engineering-litmus.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/04_概要設計/70_開発者体験方式設計/05_テスト戦略方式.md
Due: none

docs(adr): ADR-TEST-005 起票（Upgrade drill + DR drill 実施方針、Velero 不採用を構造的判断軸として確定）
  docs/02_構想設計/adr/ADR-TEST-005-upgrade-and-dr-drill.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
Due: none

docs(adr): ADR-TEST-006 起票（観測性 E2E を 5 検証で構造化）
  docs/02_構想設計/adr/ADR-TEST-006-observability-e2e.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
Due: none

docs(adr): ADR-TEST-007 起票（テスト属性タグ 4 種 + CI 実行フェーズ 4 段分離、IMP-CI-TAG-001〜005 確定）— ADR-TEST 系列 7 本完備
  docs/02_構想設計/adr/ADR-TEST-007-test-tag-and-ci-phase-split.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
Due: none

docs(adr): ADR-TEST-001〜007 起票に伴う既存 ADR 12 本への relate-back 追記 + ADR-DATA-003 の Velero 想定を ADR-TEST-005 不採用決定に合わせて訂正
  docs/02_構想設計/adr/ADR-CNCF-001-cncf-conformance.md
  docs/02_構想設計/adr/ADR-DATA-001-cloudnativepg.md
  docs/02_構想設計/adr/ADR-DATA-003-minio.md
  docs/02_構想設計/adr/ADR-DIR-002-infra-separation.md
  docs/02_構想設計/adr/ADR-INFRA-001-kubernetes-cluster-bootstrap.md
  docs/02_構想設計/adr/ADR-NET-001-cni-selection.md
  docs/02_構想設計/adr/ADR-OBS-001-grafana-lgtm.md
  docs/02_構想設計/adr/ADR-OBS-002-otel-collector.md
  docs/02_構想設計/adr/ADR-OBS-003-incident-taxonomy-unified.md
  docs/02_構想設計/adr/ADR-OPS-001-runbook-standardization.md
  docs/02_構想設計/adr/ADR-POL-002-local-stack-single-source-of-truth.md
  docs/02_構想設計/adr/ADR-TIER1-001-go-rust-hybrid.md
Due: none

docs(adr): ADR-TEST-001 self-relate-back — Chaos ツール / CI 時間予算行を後続 ADR で確定された値に訂正
  docs/02_構想設計/adr/ADR-TEST-001-test-pyramid-and-testcontainers.md
Due: none

docs(imp): IMP-CI 索引に CONF / TAG 系列を新設（10 ID 追加、合計 58 → 68）— ADR-TEST-003 / 007 で確定した本体定義の docs-orphan 解消
  docs/05_実装/30_CI_CD設計/90_対応IMP-CI索引/01_対応IMP-CI索引.md
Due: none

docs: E2E_ROADMAP.md 新設（CNCF Graduated 級到達への Phase 0-4 ロードマップ）
  docs/E2E_ROADMAP.md
Due: none

feat(tests/e2e): tenant_onboarding_test.go の Skip 解除 + kind cluster 接続経路を実装 — ADR-TEST 起票でメタ作業に逃げた失態を実装で取り戻す
  Makefile
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/helpers/cluster.go
  tests/e2e/scenarios/tenant_onboarding_test.go
Due: go-lint

feat(tests/e2e): tenant_onboarding に tier1 State.Save → Get → Delete サイクル追加 — gRPC 疎通の最小成立
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/scenarios/tenant_onboarding_test.go
Due: go-lint

feat(tests/e2e): audit_pii_flow_test.go 新設 — Pii.Classify/Mask + Audit.Record/Query/VerifyChain の 5 段階貫通検証
  tests/e2e/scenarios/audit_pii_flow_test.go
Due: go-lint

feat(tests/e2e): payroll_full_flow_test.go 新設 — Secrets + State + Audit の 3 service 連動シナリオ（給与計算前段）
  tests/e2e/scenarios/payroll_full_flow_test.go
Due: go-lint

feat(tests/e2e/observability): trace_propagation_test.go 新設 — OTLP gRPC exporter で span 送信 + Tempo HTTP API で取得確認
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/observability/trace_propagation_test.go
Due: go-lint

feat(tests/e2e/observability): cardinality_test.go 新設 — Prometheus HTTP API 経由の metric cardinality 検証骨組み
  tests/e2e/observability/cardinality_test.go
Due: go-lint

feat(tests/e2e/observability): log_trace_correlation_test.go 新設 — Loki HTTP API 経由の log 取得検証骨組み
  tests/e2e/observability/log_trace_correlation_test.go
Due: go-lint

feat(tests/e2e/observability): slo_alert_test.go 新設 — Alertmanager HTTP API 経由 SLO alert 検証骨組み + ADR-OPS-001 runbook_url 機械検証
  tests/e2e/observability/slo_alert_test.go
Due: go-lint

feat(ci): _reusable-e2e.yml + nightly.yml 新設 — ADR-TEST-002 の E2E 自動化経路を CI 化
  .github/workflows/_reusable-e2e.yml
  .github/workflows/nightly.yml
Due: prettier

feat(qualify): L5 conformance（Sonobuoy）経路を実装 — ADR-TEST-003 / ADR-CNCF-001 移行事項を充足
  .github/workflows/_reusable-conformance.yml
  .github/workflows/conformance.yml
  tools/local-stack/up.sh
  tools/qualify/conformance/run.sh
Due: prettier

feat(qualify): L6 portability を multipass + kubeadm + Calico で実装 — k3s 妥協を退け vanilla K8s で本番 fidelity 維持
  docs/E2E_ROADMAP.md
  tools/qualify/portability/run.sh
Due: none

feat(ci): weekly.yml + flaky-report.yml 新設 + Makefile に verify-conformance / verify-portability target 追加
  .github/workflows/flaky-report.yml
  .github/workflows/weekly.yml
  Makefile
Due: prettier

feat(qualify): flaky-detector.py + test-tag-lint.sh 新設 — ADR-TEST-007 IMP-CI-TAG-* の物理化
  tools/lint/test-tag-lint.sh
  tools/qualify/flaky-detector.py
Due: none

docs(40_運用ライフサイクル): result docs 4 ファイル初回作成 — E2E / Conformance / DR drill / Portability の月次 / 四半期更新運用の起点
  docs/40_運用ライフサイクル/conformance-results.md
  docs/40_運用ライフサイクル/dr-drill-results.md
  docs/40_運用ライフサイクル/e2e-results.md
  docs/40_運用ライフサイクル/portability-results.md
Due: none

docs(ops/runbooks): ADR-TEST 系列対応 Runbook 11 本 skeleton 整備（ADR-OPS-001 8 セクション形式）
  ops/runbooks/RB-TEST-001-flaky-quarantine.md
  ops/runbooks/RB-UPGRADE-001-kubeadm-minor-upgrade.md
  ops/runbooks/incidents/RB-CHAOS-001-pod-kill.md
  ops/runbooks/incidents/RB-CHAOS-002-network-latency.md
  ops/runbooks/incidents/RB-CHAOS-003-network-partition.md
  ops/runbooks/incidents/RB-CHAOS-004-cpu-stress.md
  ops/runbooks/incidents/RB-CHAOS-005-disk-io-stress.md
  ops/runbooks/incidents/RB-DR-001-etcd-snapshot-restore.md
  ops/runbooks/incidents/RB-DR-002-gitops-full-rebuild.md
  ops/runbooks/incidents/RB-DR-003-postgres-barman-restore.md
  ops/runbooks/incidents/RB-DR-004-keycloak-realm-restore.md
Due: none

docs(40_運用ライフサイクル/e2e-results): 2026-05 entry に初回実走 PASS 記録 — kind v1.31.4 + Dapr 1.17.5 で TestTenantOnboarding/dapr-system_running が PASS
  docs/40_運用ライフサイクル/e2e-results.md
Due: none

docs(40_運用ライフサイクル/e2e-results): TestTenantOnboarding 完全 PASS 実走記録 + 発見した dapr port 衝突 bug を明示
  docs/40_運用ライフサイクル/e2e-results.md
Due: none

fix(deploy/charts/tier1-facade): dapr.io/grpc-port annotation 追加で daprd sidecar の port 衝突を root fix（CrashLoopBackOff 防止）
  deploy/charts/tier1-facade/templates/deployment.yaml
Due: prettier

feat(tests/e2e): 3 シナリオ全 PASS 達成 — tier1-audit / tier1-pii Pod 接続 + tenant_id demo-tenant 統一 + 個別 Client モデル
  docs/40_運用ライフサイクル/e2e-results.md
  tests/e2e/scenarios/audit_pii_flow_test.go
  tests/e2e/scenarios/payroll_full_flow_test.go
  tests/e2e/scenarios/tenant_onboarding_test.go
Due: go-lint

docs(40_運用ライフサイクル/observability-results): 新設 + 初回実走 1/4 PASS 記録（Prometheus cardinality）
  docs/40_運用ライフサイクル/observability-results.md
Due: none

docs(40_運用ライフサイクル/conformance-results): 2026-05 entry に Sonobuoy quick mode 実走 PASS 記録
  docs/40_運用ライフサイクル/conformance-results.md
Due: none

feat(tests/e2e): tier1_extended_services_test.go 新設 — 4 service の OK 限定 gRPC 疎通検証（PubSub / Feature / Telemetry / Log）
  tests/e2e/scenarios/tier1_extended_services_test.go
Due: go-lint

feat(tools/release/cut.sh): release tag 強制 wrapper 実装 + observability-results.md に Alertmanager PASS 追加
  docs/40_運用ライフサイクル/observability-results.md
  tools/release/cut.sh
Due: none

feat(tests/e2e): tier1_stress_nightly_test.go 新設（@nightly tag 実装例）+ e2e-results 更新
  docs/40_運用ライフサイクル/e2e-results.md
  tests/e2e/scenarios/tier1_stress_nightly_test.go
Due: go-lint

feat(tests/e2e): Decision + Secrets Encrypt/Decrypt + dashboard goldenfile を追加実装、tier1 9/12 service 実走 PASS + 観測性 3/5 PASS
  infra/observability/grafana/dashboards/tier1-slo-overview.json
  tests/e2e/observability/dashboard-goldenfile/baselines/tier1-slo-overview.json
  tests/e2e/observability/dashboard_goldenfile_test.go
  tests/e2e/scenarios/decision_evaluate_test.go
  tests/e2e/scenarios/payroll_full_flow_test.go
Due: go-lint, prettier

test(e2e): tier1 12/12 + 観測性 5/5 + portability 代替経路を全 PASS まで完遂
  docs/40_運用ライフサイクル/e2e-results.md
  tests/.portability/2026-05-02/namespace-redeploy.txt
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/observability/log_trace_correlation_test.go
  tests/e2e/observability/trace_propagation_test.go
  tests/e2e/scenarios/tier1_extended_services_test.go
  tools/qualify/portability/run-kind.sh
Due: go-lint

docs(audit): 過去 commit の主張を訂正 — stub PASS / 形式 PASS / portability mislabel / Runbook 不足を明示
  docs/40_運用ライフサイクル/e2e-results.md
  docs/40_運用ライフサイクル/observability-results.md
  docs/40_運用ライフサイクル/portability-results.md
  docs/E2E_ROADMAP.md
Due: none

chore(docs): CLAUDE.mdの内容を更新 — 提案や作業を常に疑い、最適解を追求することを追記
  CLAUDE.md
Due: none

docs(adr): e2e テスト基盤刷新 — 新 ADR 4 本起票 (TEST-008/009/010/011) + 関連 cite を整合
  docs/02_構想設計/adr/ADR-OBS-001-grafana-lgtm.md
  docs/02_構想設計/adr/ADR-OBS-002-otel-collector.md
  docs/02_構想設計/adr/ADR-TEST-001-test-pyramid-and-testcontainers.md
  docs/02_構想設計/adr/ADR-TEST-003-cncf-conformance-sonobuoy.md
  docs/02_構想設計/adr/ADR-TEST-004-chaos-engineering-litmus.md
  docs/02_構想設計/adr/ADR-TEST-005-upgrade-and-dr-drill.md
  docs/02_構想設計/adr/ADR-TEST-007-test-tag-and-ci-phase-split.md
  docs/02_構想設計/adr/ADR-TEST-008-e2e-owner-user-bisection.md
  docs/02_構想設計/adr/ADR-TEST-009-observability-e2e-five-checks-owner-only.md
  docs/02_構想設計/adr/ADR-TEST-010-test-fixtures-sdk-bundled.md
  docs/02_構想設計/adr/ADR-TEST-011-release-tag-gate-as-owner-e2e-alternative.md
  docs/02_構想設計/adr/img/e2e_owner_user_bisection.drawio
  docs/02_構想設計/adr/img/e2e_owner_user_bisection.svg
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/05_実装/00_ディレクトリ設計/80_スパースチェックアウト運用/05_CI戦略とpath_filter統合.md
  docs/05_実装/00_ディレクトリ設計/90_トレーサビリティ/04_要件定義_NFR_DX_との対応.md
  docs/05_実装/10_ビルド設計/00_方針/01_ビルド設計原則.md
  docs/05_実装/30_CI_CD設計/30_quality_gate/02_test_layer_responsibility.md
  docs/05_実装/50_開発者体験設計/20_Golden_Path_examples/01_Golden_Path_examples.md
  ops/runbooks/RB-UPGRADE-001-kubeadm-minor-upgrade.md
Due: none

docs(impl): 35_e2e_test_design 章を新設 — ADR-TEST-008/009/010/011 を実装段階の正典に展開（17 ファイル + drawio 6）
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/00_方針/01_owner_user_責務分界.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/01_環境契約.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/02_ディレクトリ構造.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/03_Makefile_target.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/04_観測性5検証.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/img/owner_stack.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/img/owner_stack.svg
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/01_環境契約.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/02_ディレクトリ構造.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/03_Makefile_target.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/04_CI戦略.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/img/user_ci_flow.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/img/user_ci_flow.svg
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/img/user_stack.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/img/user_stack.svg
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/30_test_fixtures/01_4言語対称API.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/30_test_fixtures/02_versioning.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/30_test_fixtures/03_mock_builder段階展開.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/30_test_fixtures/img/four_lang_symmetric_api.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/30_test_fixtures/img/four_lang_symmetric_api.svg
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/40_release_tag_gate/01_cut_sh_拡張.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/40_release_tag_gate/02_artifact_保管.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/40_release_tag_gate/03_owner_e2e_results_template.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/40_release_tag_gate/img/cut_sh_release_gate_sequence.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/40_release_tag_gate/img/cut_sh_release_gate_sequence.svg
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/90_対応IMP-CI-E2E索引/01_対応IMP索引.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/README.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/img/35_e2e_overall_structure.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/img/35_e2e_overall_structure.svg
  docs/05_実装/30_CI_CD設計/90_対応IMP-CI索引/01_対応IMP-CI索引.md
  docs/05_実装/30_CI_CD設計/README.md
Due: none

refactor(adr+impl): e2e 起動経路を tools/e2e/{owner,user}/ 専用スクリプトに分離 — --role 引数の cone profile 空間と物理分離
  docs/02_構想設計/adr/ADR-TEST-003-cncf-conformance-sonobuoy.md
  docs/02_構想設計/adr/ADR-TEST-008-e2e-owner-user-bisection.md
  docs/02_構想設計/adr/ADR-TEST-009-observability-e2e-five-checks-owner-only.md
  docs/02_構想設計/adr/ADR-TEST-010-test-fixtures-sdk-bundled.md
  docs/03_要件定義/00_要件定義方針/08_ADR索引.md
  docs/05_実装/30_CI_CD設計/30_quality_gate/02_test_layer_responsibility.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/00_方針/01_owner_user_責務分界.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/01_環境契約.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/03_Makefile_target.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/img/owner_stack.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/10_owner_suite/img/owner_stack.svg
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/01_環境契約.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/03_Makefile_target.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/img/user_ci_flow.drawio
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/20_user_suite/img/user_ci_flow.svg
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/40_release_tag_gate/02_artifact_保管.md
  docs/05_実装/30_CI_CD設計/35_e2e_test_design/40_release_tag_gate/03_owner_e2e_results_template.md
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
