Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: 通知ログのデータベースマイグレーションを追加
  regions/system/database/notification-db/migrations/006_add_template_id_index.down.sql
  regions/system/database/notification-db/migrations/006_add_template_id_index.up.sql
  regions/system/database/notification-db/migrations/007_add_sent_at_to_notification_logs.down.sql
  regions/system/database/notification-db/migrations/007_add_sent_at_to_notification_logs.up.sql
  regions/system/database/notification-db/migrations/008_convert_prefixed_ids.down.sql
  regions/system/database/notification-db/migrations/008_convert_prefixed_ids.up.sql
  regions/system/database/notification-db/migrations/009_add_template_fk_on_delete.down.sql
  regions/system/database/notification-db/migrations/009_add_template_fk_on_delete.up.sql
Due: none

feat: ESLintとglobalsのバージョンを更新
  CLI/crates/k1s0-gui/ui/package-lock.json
  regions/business/accounting/client/react/domain-master/package-lock.json
  regions/business/accounting/client/react/domain-master/package.json
  regions/service/inventory/client/react/inventory/package-lock.json
  regions/service/inventory/client/react/inventory/package.json
  regions/service/order/client/react/order/package-lock.json
  regions/service/order/client/react/order/package.json
  regions/service/payment/client/react/payment/package-lock.json
  regions/service/payment/client/react/payment/package.json
  regions/system/client/react/app-catalog/package-lock.json
  regions/system/client/react/app-catalog/package.json
  regions/system/client/react/system-client/package-lock.json
  regions/system/client/react/system-client/package.json
  regions/system/library/typescript/cache/src/index.ts
Due: ts-lint, prettier

feat: go.work.sumの依存関係を更新
  go.work.sum
Due: none

feat: Dioモックアダプターを追加し、HTTP通信を回避するテストを改善
  regions/business/accounting/client/flutter/domain_master/test/widget_test.dart
Due: dart-analyze, dart-format

feat: カテゴリリポジトリのクエリを明示的なカラム指定に変更し、安全性を向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/category_repo_impl.rs
  regions/service/inventory/client/flutter/inventory/test/widget_test.dart
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: クエリの安全性向上とテスト環境の改善
  .github/workflows/_service-deploy.yaml
  regions/business/accounting/client/react/domain-master/eslint.config.mjs
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/category_repo_impl.rs
  regions/service/order/client/flutter/order/test/widget_test.dart
Due: rust-fmt, rust-clippy, prettier, dart-analyze, dart-format

feat: カテゴリ更新クエリの安全性向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/category_repo_impl.rs
Due: rust-fmt, rust-clippy

feat: アイテムリポジトリのクエリを明示的なカラム指定に変更し、安全性を向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/item_repo_impl.rs
  regions/service/payment/client/flutter/payment/test/widget_test.dart
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: アイテム検索クエリの明示的カラム指定による安全性向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/item_repo_impl.rs
Due: rust-fmt, rust-clippy

feat: アイテム作成クエリの明示的カラム指定による安全性向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/item_repo_impl.rs
Due: rust-fmt, rust-clippy

feat: テーブル作成時の安全性向上
  regions/system/database/master-maintenance-db/migrations/002_create_master_maintenance_tables.up.sql
Due: none

feat: アイテム更新クエリの明示的カラム指定による安全性向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/item_repo_impl.rs
Due: rust-fmt, rust-clippy

feat: 明示的カラム指定によるクエリ安全性の向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/tenant_extension_repo_impl.rs
  regions/system/database/master-maintenance-db/migrations/002_create_master_maintenance_tables.up.sql
Due: rust-fmt, rust-clippy

feat: テーブル作成時の安全性向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/tenant_extension_repo_impl.rs
  regions/system/database/master-maintenance-db/migrations/002_create_master_maintenance_tables.up.sql
Due: rust-fmt, rust-clippy

feat: クエリ安全性向上のための明示的カラム指定とテーブル作成時の条件追加
  regions/business/accounting/client/flutter/domain_master/test/widget_test.dart
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/tenant_extension_repo_impl.rs
  regions/system/database/master-maintenance-db/migrations/002_create_master_maintenance_tables.up.sql
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: 明示的カラム指定によるクエリ安全性の向上
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/version_repo_impl.rs
  regions/system/database/master-maintenance-db/migrations/002_create_master_maintenance_tables.up.sql
  regions/system/library/rust/config/src/lib.rs
Due: rust-fmt, rust-clippy

feat: テストの安定性向上のための非同期タイマー処理追加
  regions/service/inventory/client/flutter/inventory/test/widget_test.dart
  regions/service/order/client/flutter/order/test/widget_test.dart
  regions/service/payment/client/flutter/payment/test/widget_test.dart
  regions/system/database/master-maintenance-db/migrations/002_create_master_maintenance_tables.up.sql
  regions/system/library/rust/search-client/src/client.rs
  regions/system/server/rust/notification/src/usecase/send_notification.rs
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: テーブル作成時の安全性向上
  regions/system/database/api-registry-db/migrations/002_create_api_schemas.up.sql
  regions/system/database/api-registry-db/migrations/003_create_api_schema_versions.up.sql
  regions/system/database/api-registry-db/migrations/004_create_indexes.up.sql
  regions/system/database/app-registry-db/migrations/002_create_apps.up.sql
  regions/system/database/app-registry-db/migrations/003_create_app_versions.up.sql
  regions/system/database/app-registry-db/migrations/004_create_download_stats.up.sql
  regions/system/database/master-maintenance-db/migrations/002_create_master_maintenance_tables.up.sql
  regions/system/database/service-catalog-db/migrations/001_create_teams.up.sql
  regions/system/database/service-catalog-db/migrations/002_create_services.up.sql
  regions/system/database/service-catalog-db/migrations/003_create_dependencies.up.sql
  regions/system/database/service-catalog-db/migrations/004_create_health_status.up.sql
  regions/system/database/service-catalog-db/migrations/005_create_service_docs.up.sql
  regions/system/database/service-catalog-db/migrations/006_create_scorecards.up.sql
  regions/system/database/service-catalog-db/migrations/007_create_indexes.up.sql
  regions/system/server/rust/event-monitor/src/infrastructure/config.rs
Due: rust-fmt, rust-clippy

feat: ESLint設定の改善とインデックス作成の条件追加
  regions/service/inventory/client/react/inventory/eslint.config.mjs
  regions/service/order/client/react/order/eslint.config.mjs
  regions/service/payment/client/react/payment/eslint.config.mjs
  regions/system/database/service-catalog-db/migrations/007_create_indexes.up.sql
Due: none

feat: master_categoriesテーブルの作成時にIF NOT EXISTSを追加
  regions/business/accounting/database/domain-master-db/migrations/002_create_domain_master_tables.up.sql
Due: none

feat: master_itemsおよびmaster_item_versionsテーブル作成時にIF NOT EXISTSを追加
  regions/business/accounting/database/domain-master-db/migrations/002_create_domain_master_tables.up.sql
Due: none

feat: インデックス作成時にIF NOT EXISTSを追加
  regions/business/accounting/database/domain-master-db/migrations/002_create_domain_master_tables.up.sql
  regions/system/database/event-monitor-db/migrations/002_create_tables.up.sql
  regions/system/server/rust/tenant/src/domain/repository/mod.rs
Due: rust-fmt, rust-clippy

feat: インデックス作成時にIF NOT EXISTSを追加
  regions/system/database/event-monitor-db/migrations/002_create_tables.up.sql
  regions/system/database/rule-engine-db/migrations/002_create_tables.up.sql
Due: none

feat: インデックス作成時にIF NOT EXISTSを追加
  regions/service/inventory/database/postgres/migrations/001_create_inventory_items.up.sql
  regions/service/inventory/database/postgres/migrations/003_add_outbox_idempotency_key.up.sql
  regions/service/order/database/postgres/migrations/005_add_outbox_idempotency_key.up.sql
  regions/service/payment/client/react/payment/src/components/InputDialog.tsx
  regions/service/payment/database/postgres/migrations/001_create_payments.up.sql
  regions/service/payment/database/postgres/migrations/003_add_outbox_idempotency_key.up.sql
  regions/system/database/file-db/migrations/002_create_file_metadata.up.sql
  regions/system/database/master-maintenance-db/migrations/003_add_domain_scope.up.sql
  regions/system/database/rule-engine-db/migrations/002_create_tables.up.sql
Due: ts-lint, prettier

feat: Tera構文の残留チェックを強化
  CLI/crates/k1s0-cli/tests/client_template_rendering.rs
  CLI/crates/k1s0-cli/tests/server_template_rendering.rs
  regions/business/accounting/client/flutter/domain_master/lib/repositories/domain_master_repository.dart
  regions/business/accounting/client/flutter/domain_master/lib/utils/dio_client.dart
  regions/service/inventory/client/flutter/inventory/lib/utils/dio_client.dart
  regions/service/order/client/flutter/order/lib/utils/dio_client.dart
  regions/system/client/flutter/system_client/lib/system_client.dart
  regions/system/library/dart/audit_client/lib/audit_client.dart
  regions/system/library/dart/bb-ai-client/lib/bb_ai_client.dart
  regions/system/library/dart/bulkhead/lib/bulkhead.dart
  regions/system/library/dart/cache/lib/cache.dart
  regions/system/library/dart/cache/lib/k1s0_cache.dart
  regions/system/library/dart/circuit_breaker/lib/circuit_breaker.dart
  regions/system/library/dart/distributed_lock/lib/distributed_lock.dart
  regions/system/library/dart/encryption/lib/encryption.dart
  regions/system/library/dart/event_bus/lib/event_bus.dart
  regions/system/library/dart/eventstore/lib/k1s0_eventstore.dart
  regions/system/library/dart/featureflag/lib/k1s0_featureflag.dart
  regions/system/library/dart/health/lib/health.dart
  regions/system/library/dart/idempotency/lib/idempotency.dart
  regions/system/library/dart/idempotency/lib/k1s0_idempotency.dart
  regions/system/library/dart/kafka/lib/kafka.dart
  regions/system/library/dart/messaging/lib/messaging.dart
  regions/system/library/dart/migration/lib/migration.dart
  regions/system/library/dart/notification_client/lib/notification_client.dart
  regions/system/library/dart/outbox/lib/outbox.dart
  regions/system/library/dart/pagination/lib/pagination.dart
  regions/system/library/dart/ratelimit_client/lib/ratelimit_client.dart
  regions/system/library/dart/resiliency/lib/resiliency.dart
  regions/system/library/dart/retry/lib/k1s0_retry.dart
  regions/system/library/dart/retry/lib/retry.dart
  regions/system/library/dart/schemaregistry/lib/schemaregistry.dart
  regions/system/library/dart/serviceauth/lib/serviceauth.dart
  regions/system/library/dart/test_helper/lib/test_helper.dart
  regions/system/library/dart/validation/lib/validation.dart
  regions/system/library/dart/webhook_client/lib/webhook_client.dart
Due: rust-fmt, rust-clippy, dart-analyze, dart-format

feat: APIレスポンスのデータ型を明示的にキャスト
  regions/service/inventory/client/flutter/inventory/lib/repositories/inventory_repository.dart
  regions/service/order/client/flutter/order/lib/repositories/order_repository.dart
  regions/service/payment/client/flutter/payment/lib/repositories/payment_repository.dart
  regions/service/payment/client/flutter/payment/lib/utils/dio_client.dart
Due: dart-analyze, dart-format

feat: 型安全性を向上させるための変更
  regions/business/accounting/client/flutter/domain_master/lib/config/app_config.dart
  regions/service/inventory/client/flutter/inventory/lib/config/app_config.dart
  regions/service/order/client/flutter/order/lib/config/app_config.dart
  regions/system/client/flutter/system_client/lib/src/config/widgets/fields/array_field.dart
Due: dart-analyze, dart-format

feat: ドキュメントの整形を改善
  regions/service/payment/client/flutter/payment/lib/config/app_config.dart
  regions/system/library/dart/schemaregistry/lib/src/config.dart
  regions/system/library/dart/serviceauth/lib/src/types.dart
Due: dart-analyze, dart-format

feat: ステータスカードの色設定を改善
  regions/service/inventory/client/flutter/inventory/lib/screens/inventory_detail_screen.dart
  regions/service/inventory/client/flutter/inventory/lib/screens/inventory_list_screen.dart
Due: dart-analyze, dart-format

fix: separatorBuilderの引数名を修正
  regions/system/client/flutter/system_client/lib/src/config/widgets/config_field_list.dart
Due: dart-analyze, dart-format

fix: 不要な引数名を修正
  regions/system/client/flutter/system_client/lib/src/navigation/navigation_interpreter.dart
Due: dart-analyze, dart-format

feat: テストモックの実装を改善
  regions/system/library/typescript/building-blocks/vitest.config.ts
  regions/system/library/typescript/telemetry/__tests__/telemetry.test.ts
Due: ts-lint, prettier

feat(tests): ResizeObserverのモックを追加
  docs/diagrams/database-ownership.drawio
  docs/diagrams/database-ownership.svg
  regions/system/server/rust/master-maintenance/client/react/app/tests/setup.ts
  regions/system/server/rust/master-maintenance/client/react/app/tsconfig.json
Due: ts-lint, prettier

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
