Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: Go Lint
        entry: golangci-lint run
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: rust-fmt
        name: Rust Format Check
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: ts-lint
        name: TypeScript Lint
        entry: npx eslint
        language: system
        files: '\.[tj]sx?$'

      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|yml)$'

      - id: dart-analyze
        name: Dart Analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        pass_filenames: false

      - id: dart-format
        name: Dart Format Check
        entry: dart format --set-exit-if-changed
        language: system
        files: '\.dart$'

fix(tier1/go): AuditEmitter を process scoped singleton 化
  src/tier1/go/internal/common/runtime.go
Due: go-lint

feat(contracts,tier1/go): 残 4 API に idempotency_key proto field を追加 + Set dedup 結線
  src/contracts/tier1/k1s0/tier1/audit/v1/audit_service.proto
  src/contracts/tier1/k1s0/tier1/binding/v1/binding_service.proto
  src/contracts/tier1/k1s0/tier1/state/v1/state_service.proto
  src/contracts/tier1/k1s0/tier1/workflow/v1/workflow_service.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/AuditService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/BindingService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/StateService.cs
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/WorkflowService.cs
  src/sdk/go/proto/v1/k1s0/tier1/audit/v1/audit_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/binding/v1/binding_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/state/v1/state_service.pb.go
  src/sdk/go/proto/v1/k1s0/tier1/workflow/v1/workflow_service.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.audit.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.binding.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.state.v1.rs
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.workflow.v1.rs
  src/sdk/typescript/src/proto/k1s0/tier1/audit/v1/audit_service_pb.ts
  src/sdk/typescript/src/proto/k1s0/tier1/binding/v1/binding_service_pb.ts
  src/sdk/typescript/src/proto/k1s0/tier1/state/v1/state_service_pb.ts
  src/sdk/typescript/src/proto/k1s0/tier1/workflow/v1/workflow_service_pb.ts
  src/tier1/go/internal/state/state.go
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat(tier1/go): Workflow.Start + Binding.Invoke の handler dedup を結線
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/workflow/register.go
Due: go-lint

feat(tier1/go): cmd/workflow に Idempotency cache を注入（Go 側 idempotency 完全結線）
  src/tier1/go/cmd/workflow/main.go
Due: go-lint

feat(tier1/rust): 共通 crate 雛形 + Audit Pod の idempotency_key 受理
  src/tier1/rust/Cargo.toml
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/server.rs
  src/tier1/rust/crates/common/.gitkeep
  src/tier1/rust/crates/common/Cargo.toml
  src/tier1/rust/crates/common/src/audit.rs
  src/tier1/rust/crates/common/src/auth.rs
  src/tier1/rust/crates/common/src/http_gateway.rs
  src/tier1/rust/crates/common/src/idempotency.rs
  src/tier1/rust/crates/common/src/lib.rs
  src/tier1/rust/crates/common/src/observability.rs
  src/tier1/rust/crates/common/src/ratelimit.rs
  src/tier1/rust/crates/common/src/tenant.rs
Due: rust-fmt, rust-clippy

feat(tier1/rust): K1s0Layer (Auth/RateLimit/Observability/Audit) を 3 Pod に結線
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/common/src/grpc_layer.rs
  src/tier1/rust/crates/common/src/lib.rs
  src/tier1/rust/crates/common/src/runtime.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/main.rs
Due: rust-fmt, rust-clippy

feat(tier1/rust): HTTP/JSON gateway を 3 Pod に結線（10 unary RPC）
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/http.rs
  src/tier1/rust/crates/audit/src/lib.rs
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/audit/src/server.rs
  src/tier1/rust/crates/common/src/http_gateway.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/http.rs
  src/tier1/rust/crates/decision/src/lib.rs
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/http.rs
  src/tier1/rust/crates/pii/src/lib.rs
  src/tier1/rust/crates/pii/src/main.rs
Due: rust-fmt, rust-clippy

docs(SHIP_STATUS): Rust 3 Pod の K1s0Layer + HTTP/JSON gateway + idempotency 反映
  docs/SHIP_STATUS.md
Due: none

fix(tier1/rust): HTTP gateway の audit emit を特権 RPC のみに統一
  src/tier1/rust/crates/common/src/http_gateway.rs
Due: rust-fmt, rust-clippy

feat(deploy): Helm + Dockerfile に HTTP/JSON gateway + AUTH/AUDIT 環境変数を結線
  deploy/charts/tier1-facade/templates/deployment.yaml
  deploy/charts/tier1-facade/templates/service.yaml
  deploy/charts/tier1-facade/values.yaml
  deploy/charts/tier1-rust-service/templates/deployment.yaml
  deploy/charts/tier1-rust-service/templates/service.yaml
  deploy/charts/tier1-rust-service/values.yaml
  src/tier1/go/Dockerfile.secret
  src/tier1/go/Dockerfile.state
  src/tier1/go/Dockerfile.workflow
  src/tier1/rust/Dockerfile.audit
  src/tier1/rust/Dockerfile.decision
  src/tier1/rust/Dockerfile.pii
Due: prettier

refactor(tier1): 環境変数を TIER1_ prefix で Go/Rust 統一 + rate limit env 追加
  deploy/charts/tier1-facade/templates/deployment.yaml
  deploy/charts/tier1-rust-service/templates/deployment.yaml
  deploy/charts/tier1-rust-service/values.yaml
  src/tier1/go/cmd/secret/main.go
  src/tier1/go/cmd/state/main.go
  src/tier1/go/cmd/workflow/main.go
  src/tier1/rust/Dockerfile.decision
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/common/src/auth.rs
  src/tier1/rust/crates/common/src/runtime.rs
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/pii/src/main.rs
Due: go-lint, rust-fmt, rust-clippy, prettier

feat(tier2): 全 5 サービスに JWT 認証 middleware + per-request tenant 伝搬を結線
  src/tier2/dotnet/Directory.Packages.props
  src/tier2/dotnet/Tier2.sln
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Api/ApprovalFlow.Api.csproj
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Api/Controllers/ApprovalEndpoints.cs
  src/tier2/dotnet/services/ApprovalFlow/src/ApprovalFlow.Api/Program.cs
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Api/Controllers/InvoiceEndpoints.cs
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Api/InvoiceGenerator.Api.csproj
  src/tier2/dotnet/services/InvoiceGenerator/src/InvoiceGenerator.Api/Program.cs
  src/tier2/dotnet/services/TaxCalculator/src/TaxCalculator.Api/Controllers/TaxEndpoints.cs
  src/tier2/dotnet/services/TaxCalculator/src/TaxCalculator.Api/Program.cs
  src/tier2/dotnet/services/TaxCalculator/src/TaxCalculator.Api/TaxCalculator.Api.csproj
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Auth/JwtBearerExtensions.cs
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Auth/K1s0.Tier2.Common.Auth.csproj
  src/tier2/go/go.mod
  src/tier2/go/go.sum
  src/tier2/go/services/notification-hub/internal/api/handler.go
  src/tier2/go/services/notification-hub/internal/api/router.go
  src/tier2/go/services/stock-reconciler/internal/api/handler.go
  src/tier2/go/services/stock-reconciler/internal/api/router.go
  src/tier2/go/shared/auth/middleware.go
  src/tier2/go/shared/auth/middleware_test.go
Due: go-lint

fix(sdk/rust): 高水準 facade に idempotency_key を結線
  src/sdk/rust/crates/k1s0-sdk/src/audit.rs
  src/sdk/rust/crates/k1s0-sdk/src/binding.rs
  src/sdk/rust/crates/k1s0-sdk/src/state.rs
  src/sdk/rust/crates/k1s0-sdk/src/workflow.rs
Due: rust-fmt, rust-clippy

fix(sdk/go): State.Save / Audit.Record に idempotency_key 公開 API を追加
  src/sdk/go/k1s0/audit.go
  src/sdk/go/k1s0/state.go
Due: go-lint

docs(SHIP_STATUS): tier2 5 サービスの JWT 認証 + per-request tenant 結線を反映
  docs/SHIP_STATUS.md
Due: none

feat(deploy): tier2/3 Helm chart に AUTH_MODE 環境変数を結線
  deploy/charts/tier2-dotnet-service/templates/deployment.yaml
  deploy/charts/tier2-dotnet-service/values.yaml
  deploy/charts/tier2-go-service/templates/deployment.yaml
  deploy/charts/tier2-go-service/values.yaml
  deploy/charts/tier3-bff/templates/deployment.yaml
  deploy/charts/tier3-bff/values.yaml
Due: prettier

feat(observability): PrometheusRule で SLO + 19 アラート + 6 recording rules を実装
  infra/observability/alerts/k1s0-slo.yaml
  infra/observability/alerts/k1s0-tier1-alerts.yaml
  infra/observability/alerts/k1s0-tier2-alerts.yaml
  infra/observability/alerts/k1s0-tier3-alerts.yaml
  infra/observability/alerts/kustomization.yaml
  ops/runbooks/daily/error-code-alert-policy.md
Due: prettier

test(tier3/bff): config / errors / k1s0client / rest に単体テスト追加（4 → 5 pkg）
  src/tier3/bff/internal/config/config_test.go
  src/tier3/bff/internal/k1s0client/client_test.go
  src/tier3/bff/internal/rest/router.go
  src/tier3/bff/internal/rest/router_test.go
  src/tier3/bff/internal/shared/errors/errors_test.go
Due: go-lint

test(tier3/bff/graphql): Resolver の HTTP/JSON 経路に 7 件単体テスト追加
  src/tier3/bff/internal/graphql/server.go
  src/tier3/bff/internal/graphql/server_test.go
Due: go-lint

fix(sdk/ts+dotnet): State/Audit/Binding/Workflow facade に idempotency_key 公開
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/AuditFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/BindingFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/StateFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/WorkflowFacade.cs
  src/sdk/typescript/dist/audit.d.ts
  src/sdk/typescript/dist/audit.d.ts.map
  src/sdk/typescript/dist/audit.js
  src/sdk/typescript/dist/audit.js.map
  src/sdk/typescript/dist/binding.d.ts
  src/sdk/typescript/dist/binding.d.ts.map
  src/sdk/typescript/dist/binding.js
  src/sdk/typescript/dist/binding.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/audit/v1/audit_service_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/binding/v1/binding_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/binding/v1/binding_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/binding/v1/binding_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/binding/v1/binding_service_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/state/v1/state_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/state/v1/state_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/state/v1/state_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/state/v1/state_service_pb.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.js
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.js.map
  src/sdk/typescript/dist/state.d.ts
  src/sdk/typescript/dist/state.d.ts.map
  src/sdk/typescript/dist/state.js
  src/sdk/typescript/dist/state.js.map
  src/sdk/typescript/dist/workflow.d.ts.map
  src/sdk/typescript/dist/workflow.js
  src/sdk/typescript/dist/workflow.js.map
  src/sdk/typescript/src/audit.ts
  src/sdk/typescript/src/binding.ts
  src/sdk/typescript/src/state.ts
  src/sdk/typescript/src/workflow.ts
Due: ts-lint, prettier

test(fuzz): tier1 facade JSON / proto decode fuzz target を本実装（雛形 → 動作）
  tests/fuzz/go/go.mod
  tests/fuzz/go/go.sum
  tests/fuzz/go/targets/facade_fuzz.go
  tests/fuzz/go/targets/facade_fuzz_test.go
  tests/fuzz/rust/Cargo.lock
  tests/fuzz/rust/Cargo.toml
  tests/fuzz/rust/fuzz_targets/crypto_fuzz.rs
  tests/fuzz/rust/fuzz_targets/proto_fuzz.rs
Due: go-lint, rust-fmt, rust-clippy

feat(ops/load): k6 負荷シナリオ 3 件 + 共通 helper を実装
  ops/load/README.md
  ops/load/k6/helpers/common.js
  ops/load/scenarios/idempotency_replay.js
  ops/load/scenarios/rate_limit.js
  ops/load/scenarios/state_baseline.js
Due: ts-lint, prettier

fix(contracts/openapi): drift 解消 + tests/contract コピーを生成 step に同期
  tests/contract/openapi-contract/tier1-openapi-spec.yaml
  tools/codegen/openapi/run.sh
Due: prettier

fix(grpc-docs): drift 解消（idempotency_key / Export* / VerifyChain 追記）
  docs/02_構想設計/02_tier1設計/grpc-reference/v1/k1s0-tier1-grpc.md
Due: none

feat(scaffold): tier2 templates に JWT 認証 middleware を組込（生成サービスの security 穴を塞ぐ）
  src/tier2/templates/dotnet-service/skeleton/{{name}}/Program.cs.hbs
  src/tier2/templates/dotnet-service/skeleton/{{name}}/{{namespace}}.csproj.hbs
  src/tier2/templates/go-service/skeleton/{{name}}/cmd/{{name}}/main.go.hbs
  src/tier2/templates/go-service/skeleton/{{name}}/go.mod.hbs
  tests/golden/scaffold-outputs/tier2-dotnet-service/expected.tar.gz
  tests/golden/scaffold-outputs/tier2-go-service/expected.tar.gz
Due: none

feat(examples): tier2 Golden Path 例 2 件に JWT 認証 middleware を組込
  examples/tier2-dotnet-service/ExampleDotnetService.csproj
  examples/tier2-dotnet-service/Program.cs
  examples/tier2-go-service/cmd/example-service/main.go
  examples/tier2-go-service/go.mod
  examples/tier2-go-service/go.sum
Due: go-lint

docs(SHIP_STATUS): 11 commit 分の実装進捗を反映（観測性 / tests / examples / charts）
  docs/SHIP_STATUS.md
Due: none

feat(tier1): docs 要件未充足の API 経路を 3 系統で結線（State HTTP / FeatureAdmin / PubSub in-memory）
  src/tier1/go/cmd/state/main.go
  src/tier1/go/internal/adapter/dapr/dapr.go
  src/tier1/go/internal/adapter/dapr/inmemory.go
  src/tier1/go/internal/adapter/dapr/inmemory_pubsub.go
  src/tier1/go/internal/adapter/dapr/pubsub.go
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/feature_admin.go
  src/tier1/go/internal/state/feature_admin_test.go
  src/tier1/go/internal/state/http_misc_handlers.go
  src/tier1/go/internal/state/http_misc_integration_test.go
  src/tier1/go/internal/state/http_state_handlers.go
  src/tier1/go/internal/state/pubsub_inmemory_test.go
  src/tier1/go/internal/state/register.go
  tests/integration/go/tier1-facade/all_apis_smoke_test.go
  tests/integration/go/tier1-facade/rust_pods_smoke_test.go
Due: go-lint

fix(infra/cert-manager): values.yaml の webhook / cainjector 重複キーを統合
  infra/security/cert-manager/values.yaml
Due: prettier

feat(tier1+tests): 残 RPC E2E と OTLP gRPC 結線を追加（手抜き再開分）
  src/tier1/go/cmd/state/main.go
  src/tier1/go/go.mod
  src/tier1/go/go.sum
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/otel/otel.go
  tests/integration/go/go.mod
  tests/integration/go/go.sum
  tests/integration/go/tier1-facade/secret_full_e2e_test.go
  tests/integration/go/tier1-facade/streaming_e2e_test.go
  tests/integration/go/tier1-facade/tier2_roundtrip_e2e_test.go
  tests/integration/go/tier1-facade/tier3_roundtrip_e2e_test.go
  tests/integration/go/tier1-facade/workflow_full_e2e_test.go
Due: go-lint

feat(tier1+tier2/auth+audit): NFR-E-AC-002 RBAC と NFR-E-MON-001 特権 RPC 監査リストを 3 言語間で整合
  src/tier1/go/internal/common/audit.go
  src/tier1/go/internal/common/auth.go
  src/tier1/rust/crates/audit/src/http.rs
  src/tier1/rust/crates/common/src/audit.rs
  src/tier1/rust/crates/common/src/auth.rs
  src/tier2/go/shared/auth/middleware.go
Due: go-lint, rust-fmt, rust-clippy

fix(docker+rust): K8s cluster 上で 6 tier1 pod が動作するための Docker / health probe 修正
  src/tier1/go/Dockerfile.secret
  src/tier1/go/Dockerfile.state
  src/tier1/go/Dockerfile.workflow
  src/tier1/rust/Cargo.toml
  src/tier1/rust/Dockerfile.audit
  src/tier1/rust/Dockerfile.decision
  src/tier1/rust/Dockerfile.pii
  src/tier1/rust/crates/audit/Cargo.toml
  src/tier1/rust/crates/audit/src/main.rs
  src/tier1/rust/crates/decision/Cargo.toml
  src/tier1/rust/crates/decision/src/main.rs
  src/tier1/rust/crates/pii/Cargo.toml
  src/tier1/rust/crates/pii/src/main.rs
  src/tier2/go/services/notification-hub/Dockerfile
  src/tier2/go/services/stock-reconciler/Dockerfile
  src/tier3/bff/Dockerfile.admin
  src/tier3/bff/Dockerfile.portal
Due: rust-fmt, rust-clippy

fix(docker+helm): .NET / web Dockerfile build 不能 / tier3-web nginx proxy_pass の 3 系統 bug
  deploy/charts/tier3-web-app/templates/configmap-nginx.yaml
  src/tier2/dotnet/services/ApprovalFlow/Dockerfile
  src/tier2/dotnet/services/InvoiceGenerator/Dockerfile
  src/tier2/dotnet/services/TaxCalculator/Dockerfile
  src/tier3/web/apps/admin/Dockerfile
  src/tier3/web/apps/docs-site/Dockerfile
  src/tier3/web/apps/portal/Dockerfile
Due: prettier

fix(tier1/pubsub): Kafka topic 名で "/" を許容しない backend のため tenant prefix separator を "." に切替
  src/tier1/go/internal/adapter/dapr/pubsub.go
  src/tier1/go/internal/adapter/dapr/pubsub_test.go
  src/tier1/go/internal/adapter/dapr/tenant_prefix.go
Due: go-lint

docs(SHIP_STATUS+正典 3 件): A1-A5 実 K8s 検証結果と実装 drift を docs に正典反映
  docs/03_要件定義/20_機能要件/10_tier1_API要件/00_tier1_API共通規約.md
  docs/03_要件定義/20_機能要件/40_tier1_API契約IDL/03_PubSub_API.md
  docs/03_要件定義/30_非機能要件/E_セキュリティ.md
  docs/SHIP_STATUS.md
Due: none

docs+infra(kyverno baseline): B/C/D 実 K8s 検証結果を docs 反映 + baseline policy に 21 infra namespace 例外
  docs/SHIP_STATUS.md
  infra/security/kyverno/baseline-policies.yaml
Due: prettier

fix(tier1/contract): schemathesis 実走で発見した 6 種類の HTTP gateway 不具合を修正
  docs/02_構想設計/02_tier1設計/openapi/v1/k1s0-tier1.swagger.yaml
  docs/SHIP_STATUS.md
  src/contracts/tier1/k1s0/tier1/common/v1/common.proto
  src/sdk/dotnet/src/K1s0.Sdk.Proto/Generated/Common.cs
  src/sdk/go/proto/v1/k1s0/tier1/common/v1/common.pb.go
  src/sdk/rust/crates/k1s0-sdk-proto/src/gen/v1/k1s0.tier1.common.v1.rs
  src/sdk/typescript/src/proto/k1s0/tier1/common/v1/common_pb.ts
  src/tier1/go/internal/common/http_gateway.go
  src/tier1/go/internal/common/http_gateway_test.go
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/invoke.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/telemetry.go
  tests/contract/openapi-contract/tier1-openapi-spec.yaml
  tools/codegen/openapi/run.sh
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

test(fuzz): tests/fuzz 全 target 実走 + Rust standalone harness 追加
  docs/SHIP_STATUS.md
  tests/fuzz/README.md
  tests/fuzz/go/go.mod
  tests/fuzz/go/go.sum
  tests/fuzz/rust/standalone/.gitignore
  tests/fuzz/rust/standalone/Cargo.lock
  tests/fuzz/rust/standalone/Cargo.toml
  tests/fuzz/rust/standalone/src/crypto_fuzz.rs
  tests/fuzz/rust/standalone/src/proto_fuzz.rs
Due: rust-fmt, rust-clippy

chore(supply-chain): tier1 6 image の SBOM 生成 + cosign 署名 (ADR-SUP-001 L2)
  docs/SHIP_STATUS.md
  ops/supply-chain/README.md
  ops/supply-chain/keys/.gitignore
  ops/supply-chain/keys/cosign.pub
  ops/supply-chain/keys/signing-config.json
  ops/supply-chain/sbom/k1s0-tier1-audit.cyclonedx.json
  ops/supply-chain/sbom/k1s0-tier1-audit.spdx.json
  ops/supply-chain/sbom/k1s0-tier1-decision.cyclonedx.json
  ops/supply-chain/sbom/k1s0-tier1-decision.spdx.json
  ops/supply-chain/sbom/k1s0-tier1-pii.cyclonedx.json
  ops/supply-chain/sbom/k1s0-tier1-pii.spdx.json
  ops/supply-chain/sbom/k1s0-tier1-secret.cyclonedx.json
  ops/supply-chain/sbom/k1s0-tier1-secret.spdx.json
  ops/supply-chain/sbom/k1s0-tier1-state.cyclonedx.json
  ops/supply-chain/sbom/k1s0-tier1-state.spdx.json
  ops/supply-chain/sbom/k1s0-tier1-workflow.cyclonedx.json
  ops/supply-chain/sbom/k1s0-tier1-workflow.spdx.json
  ops/supply-chain/signatures/k1s0-tier1-audit.cyclonedx.json.bundle
  ops/supply-chain/signatures/k1s0-tier1-decision.cyclonedx.json.bundle
  ops/supply-chain/signatures/k1s0-tier1-pii.cyclonedx.json.bundle
  ops/supply-chain/signatures/k1s0-tier1-secret.cyclonedx.json.bundle
  ops/supply-chain/signatures/k1s0-tier1-state.cyclonedx.json.bundle
  ops/supply-chain/signatures/k1s0-tier1-workflow.cyclonedx.json.bundle
Due: prettier
