Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: セッション更新のロジックを改善し、Redis 更新前にメモリの状態を保持
  .github/workflows/_validate.yaml
  docs/architecture/adr/0001-template.md
  docs/architecture/adr/0025-terraform-state-s3.md
  docs/libraries/messaging/migration-guide.md
  docs/servers/system/bff-proxy/implementation.md
  infra/istio/peerauthentication.yaml
  infra/keycloak/realm-k1s0.json
  infra/kong/kong.dev.yaml
  infra/kong/kong.yaml
  infra/kubernetes/backup/harbor-backup-cronjob.yaml
  infra/kubernetes/cert-manager/cluster-issuer.yaml
  infra/kubernetes/limit-ranges/default-limits.yaml
  infra/kubernetes/network-policies/business.yaml
  infra/kubernetes/network-policies/messaging.yaml
  infra/kubernetes/network-policies/observability.yaml
  infra/kubernetes/network-policies/service.yaml
  infra/kubernetes/system/partition-cronjob.yaml
  infra/observability/alertmanager/prometheus-msteams-deployment.yaml
  infra/terraform/modules/service-mesh/values/istiod.yaml
  modules.yaml
  regions/system/client/react/app-catalog/src/components/AppCard.tsx
  regions/system/client/react/app-catalog/src/lib/safeUrl.ts
  regions/system/client/react/app-catalog/src/pages/AppDetailPage.tsx
  regions/system/server/go/bff-proxy/cmd/server/main.go
  regions/system/server/go/bff-proxy/internal/handler/proxy_test.go
  regions/system/server/go/bff-proxy/internal/oauth/client.go
  regions/system/server/go/bff-proxy/internal/oauth/client_test.go
  regions/system/server/go/bff-proxy/internal/usecase/auth_usecase_test.go
  regions/system/server/go/bff-proxy/internal/usecase/proxy_usecase.go
  regions/system/server/go/bff-proxy/internal/usecase/proxy_usecase_test.go
  regions/system/server/rust/auth/src/adapter/repository/api_key_postgres.rs
  regions/system/server/rust/auth/src/infrastructure/keycloak_client.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: CORSミドルウェアとレート制限ミドルウェアの追加
  regions/system/server/go/bff-proxy/internal/middleware/cors.go
  regions/system/server/go/bff-proxy/internal/middleware/ratelimit.go
Due: go-lint

feat: BFFConfigにCORSとRateLimitの設定を追加
  regions/system/server/go/bff-proxy/internal/config/config.go
Due: go-lint

feat: CORSおよびレート制限設定の追加
  regions/system/server/go/bff-proxy/internal/config/config.go
Due: go-lint

feat: CORSおよびレート制限ミドルウェアの追加
  regions/system/server/go/bff-proxy/cmd/server/main.go
Due: go-lint

feat: CORSおよびレート制限設定の追加
  regions/system/server/go/bff-proxy/config/config.yaml
Due: prettier

feat: Helmバリデーションの条件を変更
  .github/workflows/_validate.yaml
Due: prettier

feat: Codecovの障害時にCI全体をブロックしないように設定を変更
  .github/workflows/_test.yaml
Due: prettier

feat: PostgreSQLおよびVaultのバックアップ復旧テスト用CronJobを追加
  infra/kubernetes/backup/restore-test/restore-test-cronjob.yaml
Due: prettier

feat: CORSおよびレート制限ミドルウェアの追加
  docs/infrastructure/cicd/CI-CD設計.md
  docs/servers/system/bff-proxy/implementation.md
Due: none

feat: deprecatedアノテーションの追加
  regions/system/server/rust/dlq-manager/src/proto/k1s0.system.dlq.v1.rs
  regions/system/server/rust/featureflag/src/proto/k1s0.system.featureflag.v1.rs
  regions/system/server/rust/notification/src/proto/k1s0.system.notification.v1.rs
  regions/system/server/rust/ratelimit/src/proto/k1s0.system.ratelimit.v1.rs
  regions/system/server/rust/workflow/src/proto/k1s0.system.workflow.v1.rs
Due: rust-fmt, rust-clippy

feat: 設定ファイルとTerraformの検証を強化
  .github/workflows/_validate.yaml
  .gitignore
  infra/docker/keycloak/k1s0-realm.json
  infra/terraform/environments/dev/backend.tf
  infra/terraform/environments/prod/backend.tf
  infra/terraform/environments/staging/backend.tf
  regions/system/server/rust/graphql-gateway/config/config.dev.example.yaml
  regions/system/server/rust/graphql-gateway/config/config.docker.yaml
  regions/system/server/rust/graphql-gateway/src/infrastructure/config/mod.rs
Due: rust-fmt, rust-clippy, prettier

feat: 開発環境用設定ファイルとDocker Composeの改善
  .env.dev
  docker-compose.dev.yaml
  docker-compose.yaml
  infra/kong/kong.dev.yaml
  justfile
Due: prettier

feat: サービスティア専用のアラートルールを追加
  infra/docker/prometheus/alerting_rules.yaml
Due: prettier

feat: grafana/promtailのヘルスチェックをbashの/dev/tcpを使用して実装
  docker-compose.yaml
Due: prettier

feat: RSA公開鍵のPEM形式の行長を64文字に修正
  infra/kong/kong.dev.yaml
Due: prettier

feat: API Gatewayのメモリ制限を512MBから1024MBに増加
  docker-compose.yaml
Due: prettier

feat: Dockerイメージのビルドを並列実行に対応
  .github/workflows/_build.yaml
  justfile
Due: prettier

feat: 新しい機能を追加しました
  pnpm-lock.yaml
Due: prettier

feat: Dockerfileのプラットフォーム指定をARGに変更
  regions/business/taskmanagement/server/rust/project-master/Dockerfile
  regions/service/activity/server/rust/activity/Dockerfile
  regions/service/board/server/rust/board/Dockerfile
  regions/service/task/server/rust/task/Dockerfile
  regions/system/server/rust/ai-agent/Dockerfile
  regions/system/server/rust/ai-gateway/Dockerfile
  regions/system/server/rust/api-registry/Dockerfile
  regions/system/server/rust/app-registry/Dockerfile
  regions/system/server/rust/auth/Dockerfile
  regions/system/server/rust/config/Dockerfile
  regions/system/server/rust/dlq-manager/Dockerfile
  regions/system/server/rust/event-monitor/Dockerfile
  regions/system/server/rust/event-store/Dockerfile
  regions/system/server/rust/featureflag/Dockerfile
  regions/system/server/rust/file/Dockerfile
  regions/system/server/rust/graphql-gateway/Dockerfile
  regions/system/server/rust/master-maintenance/Dockerfile
  regions/system/server/rust/navigation/Dockerfile
  regions/system/server/rust/notification/Dockerfile
  regions/system/server/rust/policy/Dockerfile
  regions/system/server/rust/quota/Dockerfile
  regions/system/server/rust/ratelimit/Dockerfile
  regions/system/server/rust/rule-engine/Dockerfile
  regions/system/server/rust/saga/Dockerfile
  regions/system/server/rust/scheduler/Dockerfile
  regions/system/server/rust/search/Dockerfile
  regions/system/server/rust/service-catalog/Dockerfile
  regions/system/server/rust/session/Dockerfile
  regions/system/server/rust/tenant/Dockerfile
  regions/system/server/rust/vault/Dockerfile
  regions/system/server/rust/workflow/Dockerfile
Due: none

feat: Dockerfileのプラットフォーム指定をARGからFROMに変更
  regions/business/taskmanagement/server/rust/project-master/Dockerfile
  regions/service/activity/server/rust/activity/Dockerfile
  regions/service/board/server/rust/board/Dockerfile
  regions/service/task/server/rust/task/Dockerfile
  regions/system/server/rust/ai-agent/Dockerfile
  regions/system/server/rust/ai-gateway/Dockerfile
  regions/system/server/rust/api-registry/Dockerfile
  regions/system/server/rust/app-registry/Dockerfile
  regions/system/server/rust/auth/Dockerfile
  regions/system/server/rust/config/Dockerfile
  regions/system/server/rust/dlq-manager/Dockerfile
  regions/system/server/rust/event-monitor/Dockerfile
  regions/system/server/rust/event-store/Dockerfile
  regions/system/server/rust/featureflag/Dockerfile
  regions/system/server/rust/file/Dockerfile
  regions/system/server/rust/graphql-gateway/Dockerfile
  regions/system/server/rust/master-maintenance/Dockerfile
  regions/system/server/rust/navigation/Dockerfile
  regions/system/server/rust/notification/Dockerfile
  regions/system/server/rust/policy/Dockerfile
  regions/system/server/rust/quota/Dockerfile
  regions/system/server/rust/ratelimit/Dockerfile
  regions/system/server/rust/rule-engine/Dockerfile
  regions/system/server/rust/saga/Dockerfile
  regions/system/server/rust/scheduler/Dockerfile
  regions/system/server/rust/search/Dockerfile
  regions/system/server/rust/service-catalog/Dockerfile
  regions/system/server/rust/session/Dockerfile
  regions/system/server/rust/tenant/Dockerfile
  regions/system/server/rust/vault/Dockerfile
  regions/system/server/rust/workflow/Dockerfile
Due: none

fix: Dockerfileのプラットフォーム指定を削除
  regions/business/taskmanagement/server/rust/project-master/Dockerfile
  regions/service/activity/server/rust/activity/Dockerfile
  regions/service/board/server/rust/board/Dockerfile
  regions/service/task/server/rust/task/Dockerfile
  regions/system/server/rust/ai-agent/Dockerfile
  regions/system/server/rust/ai-gateway/Dockerfile
  regions/system/server/rust/api-registry/Dockerfile
  regions/system/server/rust/app-registry/Dockerfile
  regions/system/server/rust/auth/Dockerfile
  regions/system/server/rust/config/Dockerfile
  regions/system/server/rust/dlq-manager/Dockerfile
  regions/system/server/rust/event-monitor/Dockerfile
  regions/system/server/rust/event-store/Dockerfile
  regions/system/server/rust/featureflag/Dockerfile
  regions/system/server/rust/file/Dockerfile
  regions/system/server/rust/graphql-gateway/Dockerfile
  regions/system/server/rust/master-maintenance/Dockerfile
  regions/system/server/rust/navigation/Dockerfile
  regions/system/server/rust/notification/Dockerfile
  regions/system/server/rust/policy/Dockerfile
  regions/system/server/rust/quota/Dockerfile
  regions/system/server/rust/ratelimit/Dockerfile
  regions/system/server/rust/rule-engine/Dockerfile
  regions/system/server/rust/saga/Dockerfile
  regions/system/server/rust/scheduler/Dockerfile
  regions/system/server/rust/search/Dockerfile
  regions/system/server/rust/service-catalog/Dockerfile
  regions/system/server/rust/session/Dockerfile
  regions/system/server/rust/tenant/Dockerfile
  regions/system/server/rust/vault/Dockerfile
  regions/system/server/rust/workflow/Dockerfile
Due: none

feat: ネットワークポリシーのデフォルト拒否ポリシーを追加
  infra/kubernetes/network-policies/business.yaml
  infra/kubernetes/network-policies/system.yaml
Due: prettier

feat: デフォルト拒否ポリシーを追加
  infra/kubernetes/network-policies/service.yaml
Due: prettier

feat: デフォルト拒否ポリシーを追加
  infra/kubernetes/network-policies/messaging.yaml
Due: prettier

feat: デフォルト拒否ポリシーを追加
  infra/kubernetes/network-policies/observability.yaml
Due: prettier

feat: タスク更新 DTO を追加し、タスクリポジトリに UpdateTask をインポート
  regions/service/task/server/rust/task/src/domain/entity/task.rs
  regions/service/task/server/rust/task/src/domain/repository/task_repository.rs
Due: rust-fmt, rust-clippy

feat: タスクリポジトリにタスク更新メソッドを追加
  regions/service/task/server/rust/task/src/domain/repository/task_repository.rs
Due: rust-fmt, rust-clippy

feat: タスクリポジトリに UpdateTask を追加
  regions/service/task/server/rust/task/src/infrastructure/database/task_repository.rs
Due: rust-fmt, rust-clippy

feat: タスクリポジトリにタスク更新メソッドを追加
  regions/service/task/server/rust/task/src/infrastructure/database/task_repository.rs
Due: rust-fmt, rust-clippy

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
