Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat(banner): 文字遷移フレームにノイズ効果を追加
  docs/assets/banner.gif
  tools/banner/generate_banner.py
Due: none

fix(e2e+release): 実走で発見した bug を修正 — kindnet vs Calico 競合 + namespace 不在 + cut.sh pipefail silent kill
  tools/e2e/user/up.sh
  tools/release/cut.sh
Due: none

fix(ci): path-filter user_e2e_smoke 軸の path 不整合 + golden test regression を修正
  tests/ci/path-filter-golden/PR-001.expected.json
  tests/ci/path-filter-golden/PR-002.expected.json
  tests/ci/path-filter-golden/PR-003.expected.json
  tests/ci/path-filter-golden/PR-004.expected.json
  tests/ci/path-filter-golden/PR-005.expected.json
  tests/ci/path-filter-golden/PR-006.expected.json
  tests/ci/path-filter-golden/PR-007.expected.json
  tools/ci/path-filter/filters.yaml
Due: prettier

fix(ci): renovate workflow の schedule トリガを一時停止 — RENOVATE_TOKEN 未配備での連続失敗を停止
  .github/workflows/renovate.yml
Due: prettier

fix(ci): 失敗していた 3 系統の CI を修正 — conformance 式構文 / dotnet IDE0008 / bff-graphql Go バージョン
  .github/workflows/_reusable-conformance.yml
  examples/tier3-bff-graphql/go.mod
  examples/tier3-bff-graphql/go.sum
  src/tier2/dotnet/shared/K1s0.Tier2.Common.Auth/JwtBearerExtensions.cs
Due: prettier

fix(docs+audit): docs-orphan 41→26 件に削減 — Phase 1 cite 書換 8 種 + Phase 2 仮番表 16 件追記 + audit ロジック経緯記録 4 ファイル除外
  .claude/audit-evidence/2026-05-04/coverage-adr.txt
  .claude/audit-evidence/2026-05-04/docs-orphans-adr.txt
  .claude/audit-evidence/2026-05-04/ids-adr.txt
  .claude/audit-evidence/2026-05-04/meta.txt
  .claude/audit-evidence/2026-05-04/orphans-adr.txt
  docs/02_構想設計/adr/ADR-OPS-001-runbook-standardization.md
  docs/03_要件定義/00_要件定義方針/01_要件定義プロセス.md
  docs/03_要件定義/00_要件定義方針/03_前提と制約.md
  docs/04_概要設計/90_付録/02_ADR索引.md
  docs/05_実装/00_ディレクトリ設計/50_infraレイアウト/02_k8sブートストラップ.md
  docs/05_実装/00_ディレクトリ設計/50_infraレイアウト/03_サービスメッシュ配置.md
  docs/05_実装/00_ディレクトリ設計/50_infraレイアウト/04_Dapr_Component配置.md
  docs/05_実装/00_ディレクトリ設計/50_infraレイアウト/06_セキュリティ層配置.md
  docs/05_実装/00_ディレクトリ設計/60_operationレイアウト/05_ops配置_Runbook_Chaos_DR.md
  docs/05_実装/00_ディレクトリ設計/60_operationレイアウト/06_Backstage_プラグイン配置.md
  docs/05_実装/00_ディレクトリ設計/70_共通資産/03_examples配置.md
  docs/05_実装/00_ディレクトリ設計/90_トレーサビリティ/03_ADR_との対応.md
  docs/90_knowledge/methodology/adr_basics.md
  docs/AUDIT.md
  tests/audit/test_audit_lib.sh
  tools/audit/lib/coverage.sh
Due: none

feat(tier1+audit): FR-T1 impl 不在 14→10 件解消 + PUBSUB-003 実装
  .claude/audit-evidence/2026-05-04/coverage-fr.txt
  .claude/audit-evidence/2026-05-04/ids-fr.txt
  .claude/audit-evidence/2026-05-04/meta.txt
  .claude/audit-evidence/2026-05-04/slack-gitkeep-integrity.txt
  .claude/audit-evidence/2026-05-04/slack-locations.txt
  .claude/audit-evidence/2026-05-04/slack-scope.txt
  .claude/audit-evidence/2026-05-04/slack.txt
  docs/AUDIT.md
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_test.go
  src/tier1/go/internal/state/state.go
  src/tier1/go/internal/state/telemetry.go
  src/tier1/go/internal/workflow/register.go
  tests/audit/test_audit_lib.sh
Due: go-lint

feat(tier1): FR-T1-PUBSUB-004 — DLQ topic 自動注入を Subscribe handler に結線
  infra/dapr/components/pubsub/kafka.yaml
  src/tier1/go/internal/adapter/dapr/pubsub.go
  src/tier1/go/internal/state/pubsub.go
  src/tier1/go/internal/state/pubsub_dlq.go
  src/tier1/go/internal/state/pubsub_dlq_test.go
  tests/audit/test_audit_lib.sh
Due: go-lint, prettier

feat(tier1): FR-T1-BINDING-002/003/004 — SMTP/HTTP/Cron Component + handler 検証強化
  .claude/audit-evidence/2026-05-05/meta.txt
  .claude/audit-evidence/2026-05-05/slack-gitkeep-integrity.txt
  .claude/audit-evidence/2026-05-05/slack-locations.txt
  .claude/audit-evidence/2026-05-05/slack-scope.txt
  .claude/audit-evidence/2026-05-05/slack.txt
  infra/dapr/components/binding/cron-inbound.yaml
  infra/dapr/components/binding/http-outbound.yaml
  infra/dapr/components/binding/kustomization.yaml
  src/tier1/go/internal/state/binding.go
  src/tier1/go/internal/state/binding_components_test.go
  tests/audit/test_audit_lib.sh
Due: go-lint, prettier

feat(sdk-go): FR-T1-WORKFLOW-003 Saga + FR-T1-WORKFLOW-005 WaitForEvent — client-side helper
  src/sdk/go/k1s0/workflow_saga.go
  src/sdk/go/k1s0/workflow_saga_test.go
  src/sdk/go/k1s0/workflow_wait.go
  src/sdk/go/k1s0/workflow_wait_test.go
  src/tier1/go/internal/workflow/register.go
  tests/audit/test_audit_lib.sh
Due: go-lint

feat(tier1): FR-T1-LOG-004 — 動的ログレベル基盤 (DynamicLogger + SIGHUP reload)
  src/tier1/go/internal/common/logger.go
  src/tier1/go/internal/common/logger_test.go
  src/tier1/go/internal/state/log.go
  tests/audit/test_audit_lib.sh
Due: go-lint

feat(tier1): FR-T1-TELEMETRY-004 — Pyroscope Continuous Profiling 設定 helper
  src/tier1/go/internal/otel/pyroscope.go
  src/tier1/go/internal/otel/pyroscope_test.go
  src/tier1/go/internal/state/telemetry.go
  tests/audit/test_audit_lib.sh
Due: go-lint

feat(tier1+audit): FR-T1-FEATURE-002 段階 Rollout + DECISION-008 audit 誤検出除外
  .claude/audit-evidence/2026-05-05/coverage-fr.txt
  .claude/audit-evidence/2026-05-05/ids-fr.txt
  .claude/audit-evidence/2026-05-05/meta.txt
  src/tier1/go/internal/state/feature.go
  src/tier1/go/internal/state/feature_rollout.go
  src/tier1/go/internal/state/feature_rollout_test.go
  tests/audit/test_audit_lib.sh
  tools/audit/lib/coverage.sh
Due: go-lint

docs(audit): AUDIT.md #11 集約 — FR-T1-* 真の impl 不在 完全解消 (10→0) を反映
  .claude/audit-evidence/2026-05-05/meta.txt
  .claude/audit-evidence/2026-05-05/slack-gitkeep-integrity.txt
  .claude/audit-evidence/2026-05-05/slack-scope.txt
  .claude/audit-evidence/2026-05-05/slack.txt
  docs/AUDIT.md
Due: none

feat: settings.jsonを追加し、CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS環境変数を設定 README.mdを新規作成
  .claude/settings.json
  README.md
Due: prettier

feat: .claudeignoreを追加
  .claudeignore
Due: none

feat: knowledge.mdを新規作成し、技術学習用ドキュメントの作成手順を追加 - 引数の解析と自動判別の手順を詳細に記述 - 技術名、学習トピック、カテゴリ判別の基準を明確化 - 情報収集、フォーマット確認、品質チェックのステップを追加 - 学習トピックごとの構成ルールを定義
  .claude/commands/knowledge.md
Due: none

feat: drawio作図規約とレイヤ記法規約を新規作成
  .claude/skills/drawio-authoring/SKILL.md
  .claude/skills/figure-layer-convention/SKILL.md
Due: none

feat: 新しいREADME.mdファイルを複数のディレクトリに追加
  docs/00_format/README.md
  docs/01_企画/01_背景と目的/README.md
  docs/01_企画/02_提供する価値や体験/README.md
  docs/01_企画/03_競合との差別化/README.md
  docs/01_企画/04_法務確認/README.md
  docs/01_企画/README.md
  docs/02_要件定義/README.md
  docs/03_概要設計/README.md
  docs/04_詳細設計/README.md
Due: none

feat: README.mdファイルを新規作成
  src/README.md
Due: none

feat: 新規ファイルを追加
  .gitignore
  CLAUDE.md
  LICENSE
Due: none

feat: 新規メモファイルを追加
  docs/01_企画/90_メモ/01_概要.txt
  docs/01_企画/90_メモ/02_採用OSS一覧.txt
  docs/01_企画/90_メモ/03_プラットフォーム構成.txt
  docs/01_企画/90_メモ/04_推奨の開発体制.txt
  docs/01_企画/90_メモ/05_tier1の責務.txt
  docs/01_企画/90_メモ/06_tier1_SDK設計方針.txt
Due: none

feat: OSS一覧、プラットフォーム構成、開発体制、tier1の責務、SDK設計方針を更新
  docs/01_企画/90_メモ/02_採用OSS一覧.txt
  docs/01_企画/90_メモ/03_プラットフォーム構成.txt
  docs/01_企画/90_メモ/04_推奨の開発体制.txt
  docs/01_企画/90_メモ/05_tier1の責務.txt
  docs/01_企画/90_メモ/06_tier1_SDK設計方針.txt
  docs/01_企画/90_メモ/06_tier1設計方針.txt
Due: none

feat: 既存資産への配慮と採用OSS一覧を更新
  docs/01_企画/90_メモ/01_概要.txt
  docs/01_企画/90_メモ/02_採用OSS一覧.txt
Due: none

feat: tier1設計方針とSDK提供機能を新規作成
  docs/01_企画/90_メモ/06_tier1設計方針.txt
Due: none

feat: tier1設計方針のパッケージ構成を更新し、提供機能カテゴリを整理
  docs/01_企画/90_メモ/06_tier1設計方針.txt
Due: none

feat: tier1設計方針を更新し、SDKからLibraryへの名称変更を反映
  docs/01_企画/90_メモ/05_tier1の責務.txt
  docs/01_企画/90_メモ/06_tier1設計方針.txt
Due: none

feat: tier2/tier3への配布用Libraryの説明を追加
  docs/01_企画/90_メモ/05_tier1の責務.txt
Due: none

feat: tier1 Libraryの設計方針と提供機能を新規作成
  docs/01_企画/90_メモ/01_概要.txt
  docs/01_企画/90_メモ/02_採用OSS一覧.txt
  docs/01_企画/90_メモ/05_tier1/01_責務.txt
  docs/01_企画/90_メモ/05_tier1/02_言語スタック.txt
  docs/01_企画/90_メモ/05_tier1/03_Server系.txt
  docs/01_企画/90_メモ/05_tier1/04_Library.txt
  docs/01_企画/90_メモ/05_tier1/05_提供機能カテゴリ.txt
  docs/01_企画/90_メモ/05_tier1/06_非提供スコープ.txt
  docs/01_企画/90_メモ/06_tier1設計方針.txt
  docs/01_企画/90_メモ/CLAUDE.md
Due: none

feat: tier1 Server系のAPI設計を更新し、Protoの二層化を追加
  docs/01_企画/90_メモ/05_tier1/03_Server系.txt
Due: none

feat: tier1の言語スタックと提供機能カテゴリを更新
  docs/01_企画/90_メモ/05_tier1/02_言語スタック.txt
  docs/01_企画/90_メモ/05_tier1/05_提供機能カテゴリ.txt
Due: none

feat: tier2/tier3への配布用Libraryの対応言語を更新
  docs/01_企画/90_メモ/05_tier1/02_言語スタック.txt
Due: none

feat: tier1のAPI設計とLibraryの観測可能性を更新
  docs/01_企画/90_メモ/01_概要.txt
  docs/01_企画/90_メモ/02_採用OSS一覧.txt
  docs/01_企画/90_メモ/05_tier1/03_Server系.txt
  docs/01_企画/90_メモ/05_tier1/04_Library.txt
Due: none

feat: tier1 Libraryの強制機構を追加
  docs/01_企画/90_メモ/05_tier1/04_Library.txt
Due: none

feat: tier1のLibrary設計方針と提供機能カテゴリを更新
  docs/01_企画/90_メモ/05_tier1/01_責務.txt
  docs/01_企画/90_メモ/05_tier1/04_Library.txt
  docs/01_企画/90_メモ/05_tier1/05_提供機能カテゴリ.txt
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
