Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat(justfile): 新しいjustfileを追加し、ビルドオーケストレーションを統一
  docs/infrastructure/justfile.md
Due: none

feat: Resiliencyライブラリの依存関係を追加し、Circuit BreakerとBulkheadの実装を統合
  CLI/crates/k1s0-cli/templates/client-sdk/dart/client.dart.tera
  CLI/crates/k1s0-cli/templates/client-sdk/dart/grpc_client.dart.tera
  CLI/crates/k1s0-cli/templates/client-sdk/dart/http_client.dart.tera
  CLI/crates/k1s0-cli/templates/client-sdk/dart/mock_client.dart.tera
  CLI/crates/k1s0-cli/templates/client-sdk/dart/pubspec.yaml.tera
  CLI/crates/k1s0-cli/templates/client-sdk/go/client.go.tera
  CLI/crates/k1s0-cli/templates/client-sdk/go/go.mod.tera
  CLI/crates/k1s0-cli/templates/client-sdk/go/grpc_client.go.tera
  CLI/crates/k1s0-cli/templates/client-sdk/go/http_client.go.tera
  CLI/crates/k1s0-cli/templates/client-sdk/go/mock_client.go.tera
  CLI/crates/k1s0-cli/templates/client-sdk/typescript/client.ts.tera
  CLI/crates/k1s0-cli/templates/client-sdk/typescript/grpc-client.ts.tera
  CLI/crates/k1s0-cli/templates/client-sdk/typescript/http-client.ts.tera
  CLI/crates/k1s0-cli/templates/client-sdk/typescript/mock-client.ts.tera
  CLI/crates/k1s0-cli/templates/client-sdk/typescript/package.json.tera
  CLI/crates/k1s0-cli/templates/client-sdk/typescript/tsconfig.json.tera
  api/proto/buf.gen.yaml
  docs/libraries/_common/概要.md
  docs/libraries/codegen/multi-language-sdk.md
  docs/libraries/resilience/resiliency.md
  justfile
  regions/system/library/dart/resiliency/lib/src/bulkhead.dart
  regions/system/library/dart/resiliency/lib/src/decorator.dart
  regions/system/library/dart/resiliency/pubspec.yaml
  regions/system/library/go/resiliency/go.mod
  regions/system/library/go/resiliency/resiliency.go
  regions/system/library/rust/resiliency/Cargo.toml
  regions/system/library/rust/resiliency/src/bulkhead.rs
  regions/system/library/rust/resiliency/src/policy.rs
  regions/system/library/typescript/circuit-breaker/package-lock.json
  regions/system/library/typescript/resiliency/src/index.ts
  scripts/generate-client-sdk.sh
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: カテゴリ、アイテム、テナント拡張の管理機能を改善し、イベントパブリッシャーを追加
  CLI/crates/k1s0-cli/src/commands/generate_events.rs
  CLI/crates/k1s0-cli/src/commands/mod.rs
  CLI/crates/k1s0-cli/src/main.rs
  CLI/crates/k1s0-cli/templates/events/config/schema-registry.yaml.tera
  CLI/crates/k1s0-cli/templates/events/go/consumer.go.tera
  CLI/crates/k1s0-cli/templates/events/go/producer.go.tera
  CLI/crates/k1s0-cli/templates/events/proto/event.proto.tera
  CLI/crates/k1s0-cli/templates/events/rust/consumer.rs.tera
  CLI/crates/k1s0-cli/templates/events/rust/mod.rs.tera
  CLI/crates/k1s0-cli/templates/events/rust/producer.rs.tera
  CLI/crates/k1s0-cli/templates/events/rust/types.rs.tera
  CLI/crates/k1s0-cli/templates/events/sql/outbox.down.sql.tera
  CLI/crates/k1s0-cli/templates/events/sql/outbox.up.sql.tera
  CLI/crates/k1s0-core/src/commands/generate_events/context.rs
  CLI/crates/k1s0-core/src/commands/generate_events/execute.rs
  CLI/crates/k1s0-core/src/commands/generate_events/mod.rs
  CLI/crates/k1s0-core/src/commands/generate_events/parser.rs
  CLI/crates/k1s0-core/src/commands/generate_events/types.rs
  CLI/crates/k1s0-core/src/commands/mod.rs
  api/proto/k1s0/business/accounting/domainmaster/v1/domain_master.proto
  docs/libraries/codegen/event-codegen.md
  regions/business/accounting/server/rust/domain-master/src/adapter/grpc/domain_master_grpc.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/category_handler.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/item_handler.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/mod.rs
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/tenant_handler.rs
  regions/business/accounting/server/rust/domain-master/src/domain/entity/master_category.rs
  regions/business/accounting/server/rust/domain-master/src/domain/entity/master_item.rs
  regions/business/accounting/server/rust/domain-master/src/infrastructure/messaging/kafka_producer.rs
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/category_repo_impl.rs
  regions/business/accounting/server/rust/domain-master/src/infrastructure/persistence/item_repo_impl.rs
  regions/business/accounting/server/rust/domain-master/src/main.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/event_publisher.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/get_item_versions.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_categories.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_items.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_tenant_extensions.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/mod.rs
Due: rust-fmt, rust-clippy

feat: navigation-serverエンドポイントの追加と認証処理の改善
  docs/architecture/auth/認証設計.md
  docs/cli/config/navigation設計.md
  docs/servers/navigation/server.md
  regions/system/client/react/system-client/package-lock.json
  regions/system/client/react/system-client/package.json
  regions/system/client/react/system-client/src/auth/AuthProvider.tsx
  regions/system/client/react/system-client/src/components/AppButton.test.tsx
  regions/system/client/react/system-client/src/components/AppButton.tsx
  regions/system/client/react/system-client/src/components/ErrorBoundary.tsx
  regions/system/client/react/system-client/src/components/LoadingSpinner.tsx
  regions/system/client/react/system-client/src/navigation/NavigationInterpreter.test.ts
  regions/system/client/react/system-client/src/navigation/NavigationInterpreter.ts
  regions/system/client/react/system-client/src/navigation/devtools/NavigationDevTools.tsx
  regions/system/client/react/system-client/src/routing/ProtectedRoute.test.tsx
  regions/system/client/react/system-client/src/routing/ProtectedRoute.tsx
  regions/system/client/react/system-client/tsconfig.json
  regions/system/server/rust/navigation/src/adapter/grpc/navigation_grpc.rs
  regions/system/server/rust/navigation/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/navigation/src/adapter/handler/mod.rs
  regions/system/server/rust/navigation/src/adapter/handler/navigation_handler.rs
  regions/system/server/rust/navigation/src/adapter/mod.rs
  regions/system/server/rust/navigation/src/adapter/presentation.rs
  regions/system/server/rust/navigation/src/main.rs
  regions/system/server/rust/navigation/src/usecase/get_navigation.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: 設定スキーマの公開DTO契約を実装
  docs/cli/config/config-editor設計.md
  docs/servers/config/server.md
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/adapter/presentation.rs
  regions/system/server/rust/config/tests/integration_test.rs
Due: rust-fmt, rust-clippy

feat: PostgreSQLバックエンドの分散ロック実装を追加
  docs/libraries/data/distributed-lock.md
  regions/system/library/go/distributed-lock/postgres_lock.go
  regions/system/library/go/distributed-lock/postgres_lock_test.go
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/adapter/grpc/mod.rs
  regions/system/server/rust/config/src/adapter/handler/mod.rs
  regions/system/server/rust/config/src/adapter/repository/config_postgres.rs
  regions/system/server/rust/config/src/domain/service/mod.rs
  regions/system/server/rust/config/src/usecase/mod.rs
Due: go-lint, rust-fmt, rust-clippy

feat: PostgreSQLの分散ロック実装を改善
  regions/system/library/go/distributed-lock/postgres_lock.go
  regions/system/library/go/distributed-lock/postgres_lock_test.go
Due: go-lint

feat: PostgreSQLの分散ロック実装におけるコネクション管理を改善
  regions/system/library/go/distributed-lock/postgres_lock.go
  regions/system/library/go/distributed-lock/postgres_lock_test.go
Due: go-lint

feat: コードの改善とテストの追加
  docs/libraries/client-sdk/file-client.md
  docs/libraries/client-sdk/search-client.md
  regions/business/accounting/server/rust/domain-master/Dockerfile
  regions/business/accounting/server/rust/domain-master/src/adapter/grpc/domain_master_grpc.rs
  regions/business/accounting/server/rust/domain-master/src/domain/service/item_domain_service.rs
  regions/business/accounting/server/rust/domain-master/src/infrastructure/config/mod.rs
  regions/business/accounting/server/rust/domain-master/src/infrastructure/messaging/kafka_producer.rs
  regions/business/accounting/server/rust/domain-master/src/main.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_categories.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_items.rs
  regions/business/accounting/server/rust/domain-master/src/usecase/manage_tenant_extensions.rs
  regions/system/library/rust/search-client/src/grpc_client.rs
Due: rust-fmt, rust-clippy

feat: 各ハンドラーおよびサービスの引数にオプションを追加
  docker-compose.yaml
  regions/system/library/rust/ratelimit-client/Cargo.toml
  regions/system/server/rust/master-maintenance/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/audit_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/display_config_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/import_export_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/mod.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/relationship_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/rule_handler.rs
Due: rust-fmt, rust-clippy, prettier

feat: DockerfileのRustバージョンを1.93に更新し、非rootユーザーを使用するように変更
  .dockerignore
  CLI/crates/k1s0-cli/templates/server/rust/Cargo.toml.tera
  CLI/crates/k1s0-cli/tests/kong_template_rendering.rs
  CLI/crates/k1s0-cli/tests/snapshots/snapshot_tests__client_flutter.snap
  CLI/crates/k1s0-cli/tests/snapshots/snapshot_tests__client_react.snap
  CLI/crates/k1s0-gui/regions/system/server/go/auth/go.mod
  docker-compose.yaml
  infra/docker/keycloak/k1s0-realm.json
  regions/business/accounting/server/rust/domain-master/Dockerfile
  regions/system/server/rust/api-registry/Dockerfile
  regions/system/server/rust/auth/Dockerfile
  regions/system/server/rust/auth/config/config.docker.yaml
  regions/system/server/rust/config/Dockerfile
  regions/system/server/rust/dlq-manager/Dockerfile
  regions/system/server/rust/dlq-manager/config/config.docker.yaml
  regions/system/server/rust/event-store/Dockerfile
  regions/system/server/rust/featureflag/Dockerfile
  regions/system/server/rust/file/Dockerfile
  regions/system/server/rust/graphql-gateway/Dockerfile
  regions/system/server/rust/notification/Dockerfile
  regions/system/server/rust/quota/Dockerfile
  regions/system/server/rust/ratelimit/Dockerfile
  regions/system/server/rust/saga/Dockerfile
  regions/system/server/rust/scheduler/Dockerfile
  regions/system/server/rust/search/Dockerfile
  regions/system/server/rust/tenant/Dockerfile
  regions/system/server/rust/vault/Dockerfile
  regions/system/server/rust/workflow/Dockerfile
Due: rust-fmt, rust-clippy, prettier

fix: Rustサーバーテンプレートのコンパイルエラーを修正し、Golden Pathテストを追加
  CLI/crates/k1s0-cli/templates/server/rust/Cargo.toml.tera
  CLI/crates/k1s0-cli/templates/server/rust/src/infra/persistence.rs.tera
  CLI/crates/k1s0-cli/templates/server/rust/src/main.rs.tera
  CLI/crates/k1s0-cli/tests/golden_path_compile.rs
  CLI/crates/k1s0-cli/tests/server_template_rendering.rs
  CLI/regions/business/accounting/client/react/accounting-web/package.json
  CLI/regions/business/accounting/client/react/accounting-web/src/App.tsx
  CLI/regions/business/accounting/library/rust/ledger-lib/Cargo.toml
  CLI/regions/business/accounting/library/rust/ledger-lib/src/lib.rs
  CLI/regions/system/database/auth-db/database.yaml
  CLI/regions/system/database/auth-db/migrations/000001_init.down.sql
  CLI/regions/system/database/auth-db/migrations/000001_init.up.sql
  CLI/regions/system/library/typescript/utils/package.json
  CLI/regions/system/library/typescript/utils/src/index.ts
  CLI/regions/system/server/go/auth/cmd/main.go
  CLI/regions/system/server/rust/auth/Cargo.toml
  CLI/regions/system/server/rust/auth/Dockerfile
  CLI/regions/system/server/rust/auth/src/main.rs
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: Business Tier (accounting domain-master) のDocker起動とJWT認証連携を実現
  docker-compose.yaml
  infra/docker/init-db/10-domain-master-schema.sql
  regions/business/accounting/server/rust/domain-master/Dockerfile
  regions/business/accounting/server/rust/domain-master/config/config.docker.yaml
Due: prettier

feat: Keycloak realm設定にbusinessロール・audience mapper・roles mapperを追加
  infra/docker/keycloak/k1s0-realm.json
Due: prettier

docs: roadmapの成功基準にM1/M2/M3/M5の完了を記録
  tasks/roadmap.md
Due: none

feat: README Quick Start刷新、CLIリリースワークフロー追加、Rust 1.93統一
  .github/workflows/ci.yaml
  .github/workflows/cli-release.yaml
  .github/workflows/integration-test.yaml
  .github/workflows/tauri-build.yaml
  README.md
  docs/infrastructure/cicd/CI-CD設計.md
  docs/infrastructure/devenv/devcontainer設計.md
  docs/infrastructure/docker/Dockerイメージ戦略.md
  docs/infrastructure/docker/compose-システムサービス設計.md
  docs/servers/_common/deploy.md
  docs/servers/config/deploy.md
  docs/servers/dlq-manager/deploy.md
  docs/servers/graphql-gateway/deploy.md
  docs/templates/client/BFF.md
  docs/templates/infrastructure/CICD.md
  docs/templates/infrastructure/Dockerfile.md
  docs/templates/infrastructure/devcontainer.md
  regions/system/Cargo.toml
  scripts/start-local.sh
  tasks/roadmap.md
Due: prettier

feat: roadmap.mdファイルを削除
  tasks/roadmap.md
Due: none

feat: 注文サービス用のデータベースとスキーマを追加
  infra/docker/init-db/01-create-databases.sql
  infra/docker/init-db/11-order-schema.sql
  regions/business/accounting/server/rust/domain-master/src/adapter/middleware/rbac.rs
  regions/service/order/server/rust/order/src/adapter/handler/order_handler.rs
  regions/service/order/server/rust/order/src/domain/entity/order.rs
  regions/service/order/server/rust/order/src/infrastructure/database/order_repository.rs
  regions/service/order/server/rust/order/tests/api_integration_test.rs
Due: rust-fmt, rust-clippy

feat: 注文サービスの設定とイベントペイロードの改善
  docs/servers/order/database.md
  docs/servers/order/server.md
  regions/service/order/server/rust/order/config/default.yaml
  regions/service/order/server/rust/order/src/domain/entity/outbox.rs
  regions/service/order/server/rust/order/src/infrastructure/database/order_repository.rs
  regions/service/order/server/rust/order/src/infrastructure/outbox_poller.rs
  regions/service/order/server/rust/order/tests/api_integration_test.rs
Due: rust-fmt, rust-clippy, prettier

feat: イベントおよびストリームのリスト機能を追加
  docs/servers/domain-master/database.md
  docs/servers/saga/database.md
  regions/system/database/api-registry-db/migrations/006_add_updated_at_trigger.down.sql
  regions/system/database/api-registry-db/migrations/006_add_updated_at_trigger.up.sql
  regions/system/database/auth-db/migrations/011_create_partition_management.down.sql
  regions/system/database/config-db/migrations/008_fix_version_columns_default.down.sql
  regions/system/database/config-db/migrations/008_fix_version_columns_default.up.sql
  regions/system/database/master-maintenance-db/migrations/004_add_updated_at_trigger.down.sql
  regions/system/database/master-maintenance-db/migrations/004_add_updated_at_trigger.up.sql
  regions/system/database/saga-db/migrations/008_create_workflow_runtime_tables.down.sql
  regions/system/database/saga-db/migrations/008_create_workflow_runtime_tables.up.sql
  regions/system/database/search-db/migrations/001_create_schema.down.sql
  regions/system/database/session-db/migrations/001_create_schema.down.sql
  regions/system/database/vault-db/migrations/001_create_schema.down.sql
  regions/system/server/rust/event-store/src/adapter/handler/event_handler.rs
  regions/system/server/rust/event-store/src/adapter/handler/mod.rs
  regions/system/server/rust/event-store/src/main.rs
  regions/system/server/rust/event-store/src/usecase/list_events.rs
  regions/system/server/rust/event-store/src/usecase/list_streams.rs
  regions/system/server/rust/event-store/src/usecase/mod.rs
  regions/system/server/rust/graphql-gateway/src/handler/graphql.rs
  regions/system/server/rust/graphql-gateway/src/handler/health.rs
  regions/system/server/rust/graphql-gateway/src/handler/mod.rs
Due: rust-fmt, rust-clippy

feat: データベーススキーマの変更とヘルスチェック機能の改善
  docs/servers/event-store/server.md
  regions/service/order/server/rust/order/src/adapter/handler/health.rs
  regions/service/order/server/rust/order/src/adapter/handler/mod.rs
  regions/service/order/server/rust/order/src/infrastructure/database/order_repository.rs
  regions/service/order/server/rust/order/src/main.rs
  regions/service/order/server/rust/order/tests/api_integration_test.rs
  regions/system/server/rust/event-store/src/infrastructure/persistence/event_postgres.rs
  regions/system/server/rust/event-store/src/infrastructure/persistence/snapshot_postgres.rs
  regions/system/server/rust/event-store/src/infrastructure/persistence/stream_postgres.rs
Due: rust-fmt, rust-clippy

feat: 認証機能の改善とテストの追加
  api/proto/k1s0/service/order/v1/order.proto
  docs/servers/domain-master/server.md
  docs/servers/event-store/server.md
  infra/docker/init-db/01-create-databases.sql
  infra/docker/init-db/02-auth-schema.sql
  infra/docker/init-db/10-domain-master-schema.sql
  infra/docker/init-db/12-event-store-schema.sql
  regions/business/accounting/server/rust/domain-master/src/adapter/handler/error.rs
  regions/service/order/server/rust/order/Cargo.toml
  regions/service/order/server/rust/order/build.rs
  regions/service/order/server/rust/order/config/default.yaml
  regions/service/order/server/rust/order/src/adapter/grpc/mod.rs
  regions/service/order/server/rust/order/src/adapter/grpc/order_grpc.rs
  regions/service/order/server/rust/order/src/adapter/mod.rs
  regions/service/order/server/rust/order/src/infrastructure/config.rs
  regions/service/order/server/rust/order/src/lib.rs
  regions/service/order/server/rust/order/src/main.rs
  regions/service/order/server/rust/order/src/proto/mod.rs
  regions/system/client/flutter/system_client/lib/src/auth/auth_provider.dart
  regions/system/client/flutter/system_client/lib/src/http/api_client.dart
  regions/system/client/flutter/system_client/test/auth/auth_provider_test.dart
  regions/system/client/flutter/system_client/test/http/api_client_test.dart
  regions/system/client/react/system-client/.prettierrc
  regions/system/client/react/system-client/eslint.config.mjs
  regions/system/client/react/system-client/package-lock.json
  regions/system/client/react/system-client/package.json
  regions/system/client/react/system-client/src/auth/AuthContext.tsx
  regions/system/client/react/system-client/src/auth/AuthProvider.test.tsx
  regions/system/client/react/system-client/src/auth/AuthProvider.tsx
  regions/system/client/react/system-client/src/auth/useAuth.test.tsx
  regions/system/client/react/system-client/src/http/apiClient.test.ts
  regions/system/client/react/system-client/src/http/apiClient.ts
  regions/system/client/react/system-client/src/routing/ProtectedRoute.test.tsx
  regions/system/library/rust/retry/src/retry.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: 設定スキーマ一覧取得機能の追加とデータベースマイグレーションの実装
  api/proto/k1s0/system/config/v1/config.proto
  regions/system/database/auth-db/migrations/012_align_api_keys_columns.down.sql
  regions/system/database/auth-db/migrations/012_align_api_keys_columns.up.sql
  regions/system/database/featureflag-db/migrations/003_create_flag_audit_logs.down.sql
  regions/system/database/featureflag-db/migrations/003_create_flag_audit_logs.up.sql
  regions/system/database/tenant-db/migrations/005_add_owner_id.down.sql
  regions/system/database/tenant-db/migrations/005_add_owner_id.up.sql
  regions/system/library/rust/auth/src/verifier.rs
  regions/system/server/rust/auth/src/adapter/repository/audit_log_postgres.rs
  regions/system/server/rust/auth/tests/postgres_repository_test.rs
  regions/system/server/rust/config/src/adapter/grpc/config_grpc.rs
  regions/system/server/rust/config/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/config/src/main.rs
  regions/system/server/rust/config/src/proto/k1s0.system.config.v1.rs
  regions/system/server/rust/tenant/src/domain/service/tenant_domain_service.rs
  regions/system/server/rust/vault/src/adapter/handler/health.rs
Due: rust-fmt, rust-clippy

feat: テストケースの修正と成功条件の追加
  regions/system/server/rust/tenant/src/usecase/activate_tenant.rs
Due: rust-fmt, rust-clippy

feat: アクセス権限の追加とgRPCサービスの改善
  regions/system/server/rust/auth/src/adapter/handler/audit_handler.rs
  regions/system/server/rust/vault/src/adapter/grpc/vault_grpc.rs
Due: rust-fmt, rust-clippy

feat: テストの改善と新機能の追加
  regions/system/server/rust/tenant/tests/integration_test.rs
Due: rust-fmt, rust-clippy

feat: 統合テストファイルの削除
  regions/system/server/rust/tenant/tests/integration_test.rs
Due: rust-fmt, rust-clippy

feat: gRPCサービスにチェック権限機能を追加し、テストを改善
  regions/system/server/rust/auth/tests/grpc_integration_test.rs
  regions/system/server/rust/auth/tests/integration_test.rs
  regions/system/server/rust/dlq-manager/tests/integration_test.rs
  regions/system/server/rust/featureflag/src/infrastructure/kafka_producer.rs
  regions/system/server/rust/notification/src/adapter/grpc/notification_grpc.rs
  regions/system/server/rust/notification/src/usecase/get_channel.rs
  regions/system/server/rust/notification/src/usecase/get_template.rs
  regions/system/server/rust/notification/src/usecase/send_notification.rs
  regions/system/server/rust/notification/src/usecase/update_channel.rs
  regions/system/server/rust/notification/src/usecase/update_template.rs
Due: rust-fmt, rust-clippy

feat: テーブル定義に対するRBAC機能を追加
  CLI/crates/k1s0-gui/ui/src/components/Sidebar.tsx
  CLI/crates/k1s0-gui/ui/src/components/__tests__/Sidebar.test.tsx
  CLI/crates/k1s0-gui/ui/src/pages/DashboardPage.tsx
  CLI/crates/k1s0-gui/ui/src/router.tsx
  api/proto/k1s0/system/mastermaintenance/v1/master_maintenance.proto
  docs/repository-policies.md
  regions/system/database/master-maintenance-db/migrations/005_add_table_rbac_roles.down.sql
  regions/system/database/master-maintenance-db/migrations/005_add_table_rbac_roles.up.sql
  regions/system/server/rust/master-maintenance/Cargo.toml
  regions/system/server/rust/master-maintenance/client/react/app/src/api.ts
  regions/system/server/rust/master-maintenance/client/react/app/src/pages/TableWorkbenchPage.tsx
  regions/system/server/rust/master-maintenance/client/react/app/src/types.ts
  regions/system/server/rust/master-maintenance/src/adapter/grpc/tonic_service.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/import_export_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/integration_tests.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/mod.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/record_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/handler/table_handler.rs
  regions/system/server/rust/master-maintenance/src/adapter/middleware/rbac.rs
  regions/system/server/rust/master-maintenance/src/domain/entity/table_definition.rs
  regions/system/server/rust/master-maintenance/src/infrastructure/persistence/table_definition_repo_impl.rs
  regions/system/server/rust/master-maintenance/src/main.rs
  regions/system/server/rust/master-maintenance/src/proto/k1s0.system.mastermaintenance.v1.rs
  regions/system/server/rust/master-maintenance/src/usecase/crud_records.rs
  regions/system/server/rust/master-maintenance/src/usecase/import_export.rs
  regions/system/server/rust/navigation/src/adapter/handler/navigation_handler.rs
Due: rust-fmt, rust-clippy, ts-lint, prettier

feat: Kialiデモ環境の改善と更新
  infra/demo/kiali/dashboards/service-topology.json
  infra/demo/kiali/demo.sh
  infra/demo/kiali/kind-config.yaml
  infra/demo/kiali/manifests/02-istio.yaml
  infra/demo/kiali/manifests/03-prometheus.yaml
  infra/demo/kiali/manifests/06-jaeger.yaml
  infra/demo/kiali/manifests/09-grafana.yaml
  infra/demo/kiali/manifests/10-kafka.yaml
  infra/demo/kiali/scenarios/kafka-flow.yaml
  infra/demo/kiali/setup.sh
  infra/demo/kiali/teardown.sh
  infra/demo/kiali/ui/Dockerfile
  infra/demo/kiali/ui/manifests/11-demo-ui.yaml
  infra/demo/kiali/ui/server.ts
  infra/demo/kiali/ui/src/App.tsx
  infra/demo/kiali/ui/src/components/DashboardViewer.tsx
  infra/demo/kiali/ui/src/components/ScenarioPanel.tsx
  infra/demo/kiali/ui/vite.config.ts
  infra/demo/kiali/values/kiali-values.yaml
Due: ts-lint, prettier

Fix kiali demo setup reproducibility
  .gitignore
  infra/demo/kiali/demo.sh
  infra/demo/kiali/manifests/00-namespaces.yaml
  infra/demo/kiali/setup.sh
  infra/demo/kiali/teardown.sh
  infra/demo/kiali/values/kiali-values.yaml
Due: prettier

feat: コードの変更を適用
  docs/cli/config/config-editor設計.md
  docs/cli/config/images/config-editor-ui.drawio
  docs/cli/config/images/config-editor-ui.svg
  docs/infrastructure/overview/images/infra-overview.drawio
  docs/infrastructure/overview/images/infra-overview.svg
  docs/infrastructure/overview/インフラ設計.md
  docs/servers/_common/database.md
  docs/servers/_common/images/er-diagram.drawio
  docs/servers/_common/images/er-diagram.svg
  docs/servers/config/database.md
  docs/servers/config/images/er-diagram.drawio
  docs/servers/config/images/er-diagram.svg
  docs/servers/dlq-manager/database.md
  docs/servers/dlq-manager/images/er-diagram.drawio
  docs/servers/dlq-manager/images/er-diagram.svg
  docs/servers/order/database.md
  docs/servers/order/images/er-diagram.drawio
  docs/servers/order/images/er-diagram.svg
  docs/servers/saga/database.md
  docs/servers/saga/images/er-diagram.drawio
  docs/servers/saga/images/er-diagram.svg
Due: none

feat: draw.ioファイルのホスト属性を追加
  docs/cli/config/images/config-editor-ui.drawio
  docs/infrastructure/overview/images/infra-overview.drawio
  docs/servers/_common/images/er-diagram.drawio
  docs/servers/config/images/er-diagram.drawio
  docs/servers/dlq-manager/images/er-diagram.drawio
  docs/servers/order/images/er-diagram.drawio
  docs/servers/saga/images/er-diagram.drawio
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
