Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: SDK 高水準 facade 4 言語に State/PubSub/Secrets 代表 3 service を実装
  docs/SHIP_STATUS.md
  src/sdk/dotnet/.gitignore
  src/sdk/dotnet/Directory.Build.props
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/K1s0Client.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/PubSubFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/SecretsFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/StateFacade.cs
  src/sdk/go/k1s0/client.go
  src/sdk/go/k1s0/doc.go
  src/sdk/go/k1s0/pubsub.go
  src/sdk/go/k1s0/secrets.go
  src/sdk/go/k1s0/state.go
  src/sdk/rust/crates/k1s0-sdk/src/client.rs
  src/sdk/rust/crates/k1s0-sdk/src/lib.rs
  src/sdk/rust/crates/k1s0-sdk/src/pubsub.rs
  src/sdk/rust/crates/k1s0-sdk/src/secrets.rs
  src/sdk/rust/crates/k1s0-sdk/src/state.rs
  src/sdk/typescript/package.json
  src/sdk/typescript/pnpm-lock.yaml
  src/sdk/typescript/src/client.ts
  src/sdk/typescript/src/index.ts
  src/sdk/typescript/src/pubsub.ts
  src/sdk/typescript/src/secrets.ts
  src/sdk/typescript/src/state.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

build: TypeScript SDK の dist と lockfile を再生成
  src/sdk/typescript/dist/client.d.ts
  src/sdk/typescript/dist/client.d.ts.map
  src/sdk/typescript/dist/client.js
  src/sdk/typescript/dist/client.js.map
  src/sdk/typescript/dist/index.d.ts
  src/sdk/typescript/dist/index.d.ts.map
  src/sdk/typescript/dist/index.js
  src/sdk/typescript/dist/index.js.map
  src/sdk/typescript/dist/proto/k1s0/tier1/binding/v1/binding_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/binding/v1/binding_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/decision/v1/decision_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/decision/v1/decision_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/feature/v1/feature_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/feature/v1/feature_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/pubsub/v1/pubsub_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/pubsub/v1/pubsub_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/serviceinvoke/v1/serviceinvoke_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/serviceinvoke/v1/serviceinvoke_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/state/v1/state_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/state/v1/state_service_pb.d.ts.map
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.d.ts
  src/sdk/typescript/dist/proto/k1s0/tier1/workflow/v1/workflow_service_pb.d.ts.map
  src/sdk/typescript/dist/pubsub.d.ts
  src/sdk/typescript/dist/pubsub.d.ts.map
  src/sdk/typescript/dist/pubsub.js
  src/sdk/typescript/dist/pubsub.js.map
  src/sdk/typescript/dist/secrets.d.ts
  src/sdk/typescript/dist/secrets.d.ts.map
  src/sdk/typescript/dist/secrets.js
  src/sdk/typescript/dist/secrets.js.map
  src/sdk/typescript/dist/state.d.ts
  src/sdk/typescript/dist/state.d.ts.map
  src/sdk/typescript/dist/state.js
  src/sdk/typescript/dist/state.js.map
Due: ts-lint, prettier

feat: Admin service facade（DecisionAdmin / FeatureAdmin）を 4 言語に追加
  docs/SHIP_STATUS.md
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/DecisionAdminFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/FeatureAdminFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/K1s0Client.cs
  src/sdk/go/k1s0/client.go
  src/sdk/go/k1s0/decision_admin.go
  src/sdk/go/k1s0/feature_admin.go
  src/sdk/rust/crates/k1s0-sdk/src/client.rs
  src/sdk/rust/crates/k1s0-sdk/src/decision_admin.rs
  src/sdk/rust/crates/k1s0-sdk/src/feature_admin.rs
  src/sdk/rust/crates/k1s0-sdk/src/lib.rs
  src/sdk/typescript/dist/client.d.ts
  src/sdk/typescript/dist/client.d.ts.map
  src/sdk/typescript/dist/client.js
  src/sdk/typescript/dist/client.js.map
  src/sdk/typescript/dist/decisionAdmin.d.ts
  src/sdk/typescript/dist/decisionAdmin.d.ts.map
  src/sdk/typescript/dist/decisionAdmin.js
  src/sdk/typescript/dist/decisionAdmin.js.map
  src/sdk/typescript/dist/featureAdmin.d.ts
  src/sdk/typescript/dist/featureAdmin.d.ts.map
  src/sdk/typescript/dist/featureAdmin.js
  src/sdk/typescript/dist/featureAdmin.js.map
  src/sdk/typescript/dist/index.d.ts
  src/sdk/typescript/dist/index.d.ts.map
  src/sdk/typescript/dist/index.js
  src/sdk/typescript/dist/index.js.map
  src/sdk/typescript/src/client.ts
  src/sdk/typescript/src/decisionAdmin.ts
  src/sdk/typescript/src/featureAdmin.ts
  src/sdk/typescript/src/index.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: Stream RPC facade（InvokeStream / Subscribe）を 4 言語に追加
  docs/SHIP_STATUS.md
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/InvokeFacade.cs
  src/sdk/dotnet/src/K1s0.Sdk.Grpc/PubSubFacade.cs
  src/sdk/go/k1s0/invoke.go
  src/sdk/go/k1s0/pubsub.go
  src/sdk/rust/crates/k1s0-sdk/src/invoke.rs
  src/sdk/rust/crates/k1s0-sdk/src/pubsub.rs
  src/sdk/typescript/dist/invoke.d.ts
  src/sdk/typescript/dist/invoke.d.ts.map
  src/sdk/typescript/dist/invoke.js
  src/sdk/typescript/dist/invoke.js.map
  src/sdk/typescript/dist/pubsub.d.ts
  src/sdk/typescript/dist/pubsub.d.ts.map
  src/sdk/typescript/dist/pubsub.js
  src/sdk/typescript/dist/pubsub.js.map
  src/sdk/typescript/src/invoke.ts
  src/sdk/typescript/src/pubsub.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

fix: example-tier3-web-portal の CI 失敗を修正（pnpm-lock.yaml 追加 + Node 22 化）
  .github/workflows/example-tier3-web-portal.yml
  examples/.gitignore
  examples/tier3-web-portal/pnpm-lock.yaml
Due: prettier

ci: ローカルで CI 相当を一括実行する verify / verify-quick を追加
  .github/workflows/_reusable-precommit.yml
  Makefile
  tools/ci/verify-local.sh
Due: prettier

ci: PR title を branch 名から Conventional Commits 形式へ自動補正
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-title-autofix.yml
Due: prettier

docs: ローカル検査と pr title autofix の設計書を追加
  docs/05_実装/30_CI_CD設計/60_ローカル開発ツール/01_ローカル検査と自動修正設計.md
  docs/05_実装/30_CI_CD設計/60_ローカル開発ツール/img/60_ローカル検査と自動修正フロー.drawio
  docs/05_実装/30_CI_CD設計/60_ローカル開発ツール/img/60_ローカル検査と自動修正フロー.svg
  docs/05_実装/30_CI_CD設計/90_対応IMP-CI索引/01_対応IMP-CI索引.md
  docs/05_実装/30_CI_CD設計/README.md
Due: none

feat: deploy/kustomize に環境別 overlay（6 chart × 3 環境）を配置
  deploy/kustomize/README.md
  deploy/kustomize/base/.gitkeep
  deploy/kustomize/base/README.md
  deploy/kustomize/base/kustomization.yaml
  deploy/kustomize/overlays/dev/.gitkeep
  deploy/kustomize/overlays/dev/kustomization.yaml
  deploy/kustomize/overlays/dev/tier1-facade-values.yaml
  deploy/kustomize/overlays/dev/tier1-rust-service-values.yaml
  deploy/kustomize/overlays/dev/tier2-dotnet-service-values.yaml
  deploy/kustomize/overlays/dev/tier2-go-service-values.yaml
  deploy/kustomize/overlays/dev/tier3-bff-values.yaml
  deploy/kustomize/overlays/dev/tier3-web-app-values.yaml
  deploy/kustomize/overlays/prod/.gitkeep
  deploy/kustomize/overlays/prod/kustomization.yaml
  deploy/kustomize/overlays/prod/tier1-facade-values.yaml
  deploy/kustomize/overlays/prod/tier1-rust-service-values.yaml
  deploy/kustomize/overlays/prod/tier2-dotnet-service-values.yaml
  deploy/kustomize/overlays/prod/tier2-go-service-values.yaml
  deploy/kustomize/overlays/prod/tier3-bff-values.yaml
  deploy/kustomize/overlays/prod/tier3-web-app-values.yaml
  deploy/kustomize/overlays/staging/.gitkeep
  deploy/kustomize/overlays/staging/kustomization.yaml
  deploy/kustomize/overlays/staging/tier1-facade-values.yaml
  deploy/kustomize/overlays/staging/tier1-rust-service-values.yaml
  deploy/kustomize/overlays/staging/tier2-dotnet-service-values.yaml
  deploy/kustomize/overlays/staging/tier2-go-service-values.yaml
  deploy/kustomize/overlays/staging/tier3-bff-values.yaml
  deploy/kustomize/overlays/staging/tier3-web-app-values.yaml
  docs/SHIP_STATUS.md
Due: prettier

chore: deploy 配下の .gitkeep を整理
  deploy/charts/tier1-rust-service/.gitkeep
  deploy/charts/tier2-dotnet-service/.gitkeep
  deploy/charts/tier2-go-service/.gitkeep
  deploy/charts/tier3-bff/.gitkeep
  deploy/charts/tier3-web-app/.gitkeep
  deploy/rollouts/analysis-templates/.gitkeep
  deploy/rollouts/canary-strategies/.gitkeep
Due: none

docs: 設計書の md040 と svg 末尾改行を修正
  docs/05_実装/30_CI_CD設計/60_ローカル開発ツール/01_ローカル検査と自動修正設計.md
  docs/05_実装/30_CI_CD設計/60_ローカル開発ツール/img/60_ローカル検査と自動修正フロー.svg
Due: none

ci: markdownlint md060 を無効化（既存 docs 全件と不整合のため）
  .markdownlint-cli2.jsonc
Due: none

docs: 既存の broken link 計 14 件を修正
  docs/01_企画/README.md
  docs/05_実装/20_コード生成設計/90_対応IMP-CODEGEN索引/01_対応IMP-CODEGEN索引.md
  docs/05_実装/30_CI_CD設計/15_monorepo_orchestration.md
  docs/05_実装/30_CI_CD設計/90_対応IMP-CI索引/01_対応IMP-CI索引.md
  docs/05_実装/50_開発者体験設計/05_ローカル環境基盤/02_platform-matrix.md
  docs/05_実装/80_サプライチェーン設計/20_CycloneDX_SBOM/01_CycloneDX_SBOM設計.md
  docs/05_実装/80_サプライチェーン設計/30_SLSA_プロビナンス/01_SLSA_プロビナンス設計.md
  docs/05_実装/80_サプライチェーン設計/50_flag_定義署名検証/01_flag_定義署名検証.md
  docs/05_実装/85_Identity設計/secrets-matrix.md
  docs/05_実装/README.md
  docs/40_運用ライフサイクル/README.md
Due: none

feat: deploy/image-updater Argo CD Image Updater 設定を配置
  deploy/image-updater/.gitkeep
  deploy/image-updater/README.md
  deploy/image-updater/application-annotations.md
  deploy/image-updater/registries.conf.yaml
  deploy/image-updater/values.yaml
  docs/SHIP_STATUS.md
Due: prettier

ci: openapi 出力を最新化（make openapi 相当を再実行）
  docs/02_構想設計/02_tier1設計/openapi/v1/k1s0-tier1.swagger.yaml
Due: prettier

feat: SDK facade の単体テスト雛形を 4 言語に追加
  docs/SHIP_STATUS.md
  src/sdk/dotnet/Sdk.sln
  src/sdk/dotnet/tests/K1s0.Sdk.Grpc.Tests/ClientTests.cs
  src/sdk/dotnet/tests/K1s0.Sdk.Grpc.Tests/K1s0.Sdk.Grpc.Tests.csproj
  src/sdk/go/k1s0/client_test.go
  src/sdk/rust/crates/k1s0-sdk-proto/tests/smoke.rs
  src/sdk/rust/crates/k1s0-sdk/tests/smoke.rs
  src/sdk/typescript/package.json
  src/sdk/typescript/pnpm-lock.yaml
  src/sdk/typescript/src/__tests__/client.test.ts
  src/sdk/typescript/vitest.config.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: 残り 5 ApplicationSet + 2 AppProject 配置 + image-updater annotation 注入
  deploy/apps/application-sets/tier1-facade.yaml
  deploy/apps/application-sets/tier1-rust-service.yaml
  deploy/apps/application-sets/tier2-dotnet-service.yaml
  deploy/apps/application-sets/tier2-go-service.yaml
  deploy/apps/application-sets/tier3-bff.yaml
  deploy/apps/application-sets/tier3-web-app.yaml
  deploy/apps/projects/k1s0-tier2.yaml
  deploy/apps/projects/k1s0-tier3.yaml
  docs/SHIP_STATUS.md
Due: prettier

ci: iteration-and-scope-discipline skill を追加（pr #840 振り返り）
  .claude/skills/iteration-and-scope-discipline/SKILL.md
  docs/SHIP_STATUS.md
  src/platform/backstage-plugins/.gitkeep
  src/platform/backstage-plugins/README.md
  src/platform/backstage-plugins/k1s0-catalog/README.md
  src/platform/backstage-plugins/k1s0-catalog/package.json
  src/platform/backstage-plugins/k1s0-catalog/src/index.ts
  src/platform/backstage-plugins/k1s0-catalog/src/plugin.ts
  src/platform/backstage-plugins/k1s0-catalog/tsconfig.json
  src/platform/backstage-plugins/k1s0-scaffolder/README.md
  src/platform/backstage-plugins/k1s0-scaffolder/package.json
  src/platform/backstage-plugins/k1s0-scaffolder/src/index.ts
  src/platform/backstage-plugins/k1s0-scaffolder/src/plugin.ts
  src/platform/backstage-plugins/k1s0-scaffolder/tsconfig.json
Due: ts-lint, prettier

docs: knowledge ノード 5 件追加（VSA / Go goroutines / Rust crates・ゼロコスト抽象化 / harness engineering）
  docs/90_knowledge/README.md
  docs/90_knowledge/architecture/img/vertical-slice-architecture_basics_anatomy.drawio
  docs/90_knowledge/architecture/img/vertical-slice-architecture_basics_anatomy.svg
  docs/90_knowledge/architecture/img/vertical-slice-architecture_basics_comparison.drawio
  docs/90_knowledge/architecture/img/vertical-slice-architecture_basics_comparison.svg
  docs/90_knowledge/architecture/vertical-slice-architecture_basics.md
  docs/90_knowledge/language/go_goroutines.md
  docs/90_knowledge/language/img/go_goroutines_gmp.drawio
  docs/90_knowledge/language/img/go_goroutines_gmp.svg
  docs/90_knowledge/language/img/go_goroutines_states.drawio
  docs/90_knowledge/language/img/go_goroutines_states.svg
  docs/90_knowledge/language/img/rust_crates_dependency.drawio
  docs/90_knowledge/language/img/rust_crates_dependency.svg
  docs/90_knowledge/language/img/rust_crates_structure.drawio
  docs/90_knowledge/language/img/rust_crates_structure.svg
  docs/90_knowledge/language/img/rust_zero-cost-abstractions_concept.drawio
  docs/90_knowledge/language/img/rust_zero-cost-abstractions_concept.svg
  docs/90_knowledge/language/img/rust_zero-cost-abstractions_monomorphization.drawio
  docs/90_knowledge/language/img/rust_zero-cost-abstractions_monomorphization.svg
  docs/90_knowledge/language/rust_crates.md
  docs/90_knowledge/language/rust_zero-cost-abstractions.md
  docs/90_knowledge/methodology/harness-engineering_basics.md
  docs/90_knowledge/methodology/img/harness-engineering_basics_anatomy.drawio
  docs/90_knowledge/methodology/img/harness-engineering_basics_anatomy.svg
  docs/90_knowledge/methodology/img/harness-engineering_basics_loop.drawio
  docs/90_knowledge/methodology/img/harness-engineering_basics_loop.svg
Due: none

feat: tools/ci/{go,rust}-dep-check + infra/dapr/components 実 YAML 配置
  docs/SHIP_STATUS.md
  infra/dapr/components/README.md
  infra/dapr/components/binding/.gitkeep
  infra/dapr/components/binding/s3-inbound.yaml
  infra/dapr/components/binding/smtp-outbound.yaml
  infra/dapr/components/configuration/.gitkeep
  infra/dapr/components/configuration/default.yaml
  infra/dapr/components/pubsub/.gitkeep
  infra/dapr/components/pubsub/kafka.yaml
  infra/dapr/components/secrets/.gitkeep
  infra/dapr/components/secrets/vault.yaml
  infra/dapr/components/state/.gitkeep
  infra/dapr/components/state/postgres.yaml
  infra/dapr/components/state/redis-cache.yaml
  infra/dapr/subscriptions/README.md
  infra/dapr/subscriptions/audit-pii.yaml
  infra/dapr/subscriptions/feature.yaml
  tools/ci/go-dep-check/README.md
  tools/ci/go-dep-check/cmd/go-dep-check/main.go
  tools/ci/go-dep-check/go.mod
  tools/ci/go-dep-check/internal/checker/checker.go
  tools/ci/go-dep-check/internal/checker/checker_test.go
  tools/ci/go-dep-check/internal/checker/rules.go
  tools/ci/rust-dep-check/README.md
  tools/ci/rust-dep-check/cmd/rust-dep-check/main.go
  tools/ci/rust-dep-check/go.mod
  tools/ci/rust-dep-check/go.sum
  tools/ci/rust-dep-check/internal/checker/checker.go
  tools/ci/rust-dep-check/internal/checker/checker_test.go
  tools/ci/rust-dep-check/internal/checker/rules.go
Due: go-lint, prettier

feat: 新しい機能を追加
  docs/SHIP_STATUS.md
Due: none

feat: tier2/go services 完動実装（OSS 側「設計のみ」 2 件解消）
  src/tier2/go/README.md
  src/tier2/go/go.mod
  src/tier2/go/go.sum
  src/tier2/go/services/notification-hub/Dockerfile
  src/tier2/go/services/notification-hub/README.md
  src/tier2/go/services/notification-hub/catalog-info.yaml
  src/tier2/go/services/notification-hub/cmd/main.go
  src/tier2/go/services/notification-hub/internal/api/handler.go
  src/tier2/go/services/notification-hub/internal/api/router.go
  src/tier2/go/services/notification-hub/internal/application/usecases/dispatch_notification.go
  src/tier2/go/services/notification-hub/internal/application/usecases/dispatch_notification_test.go
  src/tier2/go/services/notification-hub/internal/config/config.go
  src/tier2/go/services/notification-hub/internal/domain/entity/notification.go
  src/tier2/go/services/notification-hub/internal/domain/event/event.go
  src/tier2/go/services/notification-hub/internal/domain/value/channel.go
  src/tier2/go/services/notification-hub/internal/domain/value/channel_test.go
  src/tier2/go/services/notification-hub/internal/infrastructure/external/k1s0_client.go
  src/tier2/go/services/stock-reconciler/Dockerfile
  src/tier2/go/services/stock-reconciler/README.md
  src/tier2/go/services/stock-reconciler/catalog-info.yaml
  src/tier2/go/services/stock-reconciler/cmd/main.go
  src/tier2/go/services/stock-reconciler/internal/api/handler.go
  src/tier2/go/services/stock-reconciler/internal/api/router.go
  src/tier2/go/services/stock-reconciler/internal/application/usecases/reconcile_stock.go
  src/tier2/go/services/stock-reconciler/internal/application/usecases/reconcile_stock_test.go
  src/tier2/go/services/stock-reconciler/internal/config/config.go
  src/tier2/go/services/stock-reconciler/internal/domain/entity/stock.go
  src/tier2/go/services/stock-reconciler/internal/domain/entity/stock_test.go
  src/tier2/go/services/stock-reconciler/internal/domain/event/event.go
  src/tier2/go/services/stock-reconciler/internal/domain/repository/stock_repository.go
  src/tier2/go/services/stock-reconciler/internal/domain/value/sku.go
  src/tier2/go/services/stock-reconciler/internal/domain/value/sku_test.go
  src/tier2/go/services/stock-reconciler/internal/infrastructure/external/k1s0_client.go
  src/tier2/go/services/stock-reconciler/internal/infrastructure/persistence/k1s0_state_repository.go
  src/tier2/go/shared/dapr/client.go
  src/tier2/go/shared/errors/errors.go
  src/tier2/go/shared/otel/init.go
Due: go-lint, prettier

feat: tier3/bff portal-bff + admin-bff 完動実装（OSS 側「設計のみ」 2 件解消）
  src/tier3/bff/Dockerfile.admin
  src/tier3/bff/Dockerfile.portal
  src/tier3/bff/README.md
  src/tier3/bff/cmd/admin-bff/catalog-info.yaml
  src/tier3/bff/cmd/admin-bff/main.go
  src/tier3/bff/cmd/portal-bff/catalog-info.yaml
  src/tier3/bff/cmd/portal-bff/main.go
  src/tier3/bff/go.mod
  src/tier3/bff/go.sum
  src/tier3/bff/internal/auth/middleware.go
  src/tier3/bff/internal/auth/middleware_test.go
  src/tier3/bff/internal/config/config.go
  src/tier3/bff/internal/graphql/schema.graphql
  src/tier3/bff/internal/graphql/server.go
  src/tier3/bff/internal/k1s0client/client.go
  src/tier3/bff/internal/rest/router.go
  src/tier3/bff/internal/shared/errors/errors.go
  src/tier3/bff/internal/shared/otel/init.go
Due: go-lint, prettier

feat: tier3/native MAUI Hub + Admin 完動実装（OSS 側「設計のみ」 2 件解消）
  src/tier3/native/Directory.Build.props
  src/tier3/native/Directory.Packages.props
  src/tier3/native/Native.sln
  src/tier3/native/README.md
  src/tier3/native/apps/K1s0.Native.Admin/App.xaml
  src/tier3/native/apps/K1s0.Native.Admin/App.xaml.cs
  src/tier3/native/apps/K1s0.Native.Admin/K1s0.Native.Admin.csproj
  src/tier3/native/apps/K1s0.Native.Admin/MauiProgram.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/Android/MainActivity.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/Android/MainApplication.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/iOS/AppDelegate.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/iOS/Program.cs
  src/tier3/native/apps/K1s0.Native.Admin/README.md
  src/tier3/native/apps/K1s0.Native.Admin/catalog-info.yaml
  src/tier3/native/apps/K1s0.Native.Hub.Tests/K1s0.Native.Hub.Tests.csproj
  src/tier3/native/apps/K1s0.Native.Hub.Tests/StringExtensionsTests.cs
  src/tier3/native/apps/K1s0.Native.Hub/App.xaml
  src/tier3/native/apps/K1s0.Native.Hub/App.xaml.cs
  src/tier3/native/apps/K1s0.Native.Hub/AppShell.xaml
  src/tier3/native/apps/K1s0.Native.Hub/AppShell.xaml.cs
  src/tier3/native/apps/K1s0.Native.Hub/K1s0.Native.Hub.csproj
  src/tier3/native/apps/K1s0.Native.Hub/MauiProgram.cs
  src/tier3/native/apps/K1s0.Native.Hub/Pages/MainPage.xaml
  src/tier3/native/apps/K1s0.Native.Hub/Pages/MainPage.xaml.cs
  src/tier3/native/apps/K1s0.Native.Hub/Platforms/Android/MainActivity.cs
  src/tier3/native/apps/K1s0.Native.Hub/Platforms/Android/MainApplication.cs
  src/tier3/native/apps/K1s0.Native.Hub/Platforms/iOS/AppDelegate.cs
  src/tier3/native/apps/K1s0.Native.Hub/Platforms/iOS/Program.cs
  src/tier3/native/apps/K1s0.Native.Hub/README.md
  src/tier3/native/apps/K1s0.Native.Hub/Resources/Fonts/.gitkeep
  src/tier3/native/apps/K1s0.Native.Hub/Services/IK1s0Service.cs
  src/tier3/native/apps/K1s0.Native.Hub/Services/K1s0Service.cs
  src/tier3/native/apps/K1s0.Native.Hub/ViewModels/MainViewModel.cs
  src/tier3/native/apps/K1s0.Native.Hub/catalog-info.yaml
  src/tier3/native/shared/K1s0.Native.Shared/Converters/InvertedBoolConverter.cs
  src/tier3/native/shared/K1s0.Native.Shared/Extensions/StringExtensions.cs
  src/tier3/native/shared/K1s0.Native.Shared/K1s0.Native.Shared.csproj
Due: prettier

feat: tier3/legacy-wrap K1s0.Legacy.Sidecar 完動実装（OSS 側「設計のみ」 1 件解消）
  src/tier3/legacy-wrap/Directory.Build.props
  src/tier3/legacy-wrap/LegacyWrap.sln
  src/tier3/legacy-wrap/README.md
  src/tier3/legacy-wrap/migration-guide/README.md
  src/tier3/legacy-wrap/migration-guide/steps/01_sidecar_setup.md
  src/tier3/legacy-wrap/migration-guide/steps/02_gradual_api_exposure.md
  src/tier3/legacy-wrap/migration-guide/steps/03_framework_to_net8.md
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/App_Start/DaprConfig.cs
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/App_Start/WebApiConfig.cs
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/Controllers/K1s0BridgeController.cs
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/Dockerfile.windows
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/Global.asax
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/Global.asax.cs
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/K1s0.Legacy.Sidecar.csproj
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/Models/StateValue.cs
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/Services/DaprClientAdapter.cs
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/Web.config
  src/tier3/legacy-wrap/sidecars/K1s0.Legacy.Sidecar/packages.config
Due: none

fix: 直近 7 commits 由来の日本語ヘッダコメント 11 件を補完（src/CLAUDE.md 規約準拠）
  src/tier3/bff/internal/rest/router.go
  src/tier3/native/apps/K1s0.Native.Admin/App.xaml.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/Android/MainActivity.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/Android/MainApplication.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/iOS/AppDelegate.cs
  src/tier3/native/apps/K1s0.Native.Admin/Platforms/iOS/Program.cs
  src/tier3/native/apps/K1s0.Native.Hub/AppShell.xaml.cs
  src/tier3/web/apps/admin/src/vite-env.d.ts
  src/tier3/web/apps/docs-site/src/App.test.tsx
  src/tier3/web/apps/docs-site/src/vite-env.d.ts
  src/tier3/web/apps/portal/src/vite-env.d.ts
Due: go-lint, ts-lint, prettier

feat: infra/mesh/envoy-gateway production-grade 実装（OSS 側「設計のみ」 1 件解消）
  infra/mesh/envoy-gateway/.gitkeep
  infra/mesh/envoy-gateway/README.md
  infra/mesh/envoy-gateway/gateway-internal.yaml
  infra/mesh/envoy-gateway/gateway-public.yaml
  infra/mesh/envoy-gateway/gatewayclass-envoy.yaml
  infra/mesh/envoy-gateway/httproute/redirect-http-to-https.yaml
  infra/mesh/envoy-gateway/httproute/tier1-api.yaml
  infra/mesh/envoy-gateway/httproute/tier3-web.yaml
  infra/mesh/envoy-gateway/values.yaml
Due: prettier

feat: deploy/rollouts/analysis 共通 ClusterAnalysisTemplate 5 本配置 + tools/scorecard 追加
  deploy/rollouts/analysis/README.md
  deploy/rollouts/analysis/at-common-cpu.yaml
  deploy/rollouts/analysis/at-common-dependency-down.yaml
  deploy/rollouts/analysis/at-common-error-budget-burn.yaml
  deploy/rollouts/analysis/at-common-error-rate.yaml
  deploy/rollouts/analysis/at-common-latency-p99.yaml
  tools/scorecard/at-coverage.sh
Due: prettier

feat: deploy/apps GitOps ルート整備 + predeploy-hooks chart 配置
  deploy/apps/app-of-apps.yaml
  deploy/apps/application-sets/infra.yaml
  deploy/apps/application-sets/ops.yaml
  deploy/apps/projects/k1s0-platform.yaml
  deploy/apps/projects/rbac.yaml
  deploy/charts/predeploy-hooks/Chart.yaml
  deploy/charts/predeploy-hooks/README.md
  deploy/charts/predeploy-hooks/templates/_helpers.tpl
  deploy/charts/predeploy-hooks/templates/job-kafka-ready.yaml
  deploy/charts/predeploy-hooks/templates/job-minio-ready.yaml
  deploy/charts/predeploy-hooks/templates/job-postgres-ready.yaml
  deploy/charts/predeploy-hooks/templates/job-valkey-ready.yaml
  deploy/charts/predeploy-hooks/templates/serviceaccount.yaml
  deploy/charts/predeploy-hooks/values.yaml
Due: prettier

docs: ルート README 10 件配置 + SHIP_STATUS.md 復元（IMP-DIR-COMM-110）
  deploy/README.md
  docs/SHIP_STATUS.md
  infra/README.md
  ops/README.md
  src/README.md
  src/contracts/README.md
  src/platform/README.md
  src/tier1/README.md
  src/tier2/README.md
  src/tier3/README.md
  tools/README.md
Due: none

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
