Repository RyuheiKiso/k1s0: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

go-lint:
  name: Go Lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

ts-lint:
  name: TypeScript Lint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system

dart-analyze:
  name: Dart Analyze
  entry: dart analyze --fatal-infos
  language: system
  pass_filenames: false

dart-format:
  name: Dart Format Check
  entry: dart format --set-exit-if-changed
  language: system

feat: イベント関連の名称を「Order」から「Task」に変更
  CLI/crates/k1s0-gui/ui/src/lib/help-content.ts
  docs/architecture/messaging/メッセージング設計.md
  docs/servers/system/auth/server.md
  docs/servers/system/event-monitor/server.md
  regions/system/library/go/eventstore/eventstore_test.go
  regions/system/library/rust/eventstore/tests/eventstore_test.rs
  regions/system/library/typescript/eventstore/__tests__/eventstore.test.ts
  regions/system/server/rust/event-monitor/tests/usecase_test.rs
  regions/system/server/rust/event-store/src/domain/entity/event.rs
  regions/system/server/rust/saga/config/config.dev.example.yaml
  regions/system/server/rust/saga/config/config.prod.yaml
  regions/system/server/rust/saga/config/config.staging.yaml
  regions/system/server/rust/saga/config/config.yaml
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier

feat: イベントストアのストリームIDとイベントタイプを「Order」から「Task」に変更
  docs/architecture/auth/認証設計.md
  regions/system/library/rust/eventstore/tests/eventstore_test.rs
Due: rust-fmt, rust-clippy

feat: イベントストアのストリームIDとイベントタイプを「Order」から「Task」に変更
  regions/system/library/rust/eventstore/tests/eventstore_test.rs
Due: rust-fmt, rust-clippy

feat: イベントストアのストリームIDとイベントタイプを「Order」から「Task」に変更
  docs/architecture/auth/認証設計.md
  docs/servers/system/ratelimit/server.md
  regions/system/library/rust/eventstore/tests/eventstore_test.rs
Due: rust-fmt, rust-clippy

feat: ストリームIDとイベントタイプを「Order」から「Task」に変更
  regions/system/library/rust/eventstore/tests/eventstore_test.rs
Due: rust-fmt, rust-clippy

feat: イベントストアのストリームIDとイベントタイプを「Order」から「Task」に変更
  docs/servers/system/ratelimit/server.md
  regions/system/library/rust/eventstore/tests/eventstore_test.rs
Due: rust-fmt, rust-clippy

feat: サービス名を「order」から「task」に変更
  docs/templates/data/Config.md
  regions/system/library/typescript/eventstore/__tests__/eventstore.test.ts
Due: ts-lint, prettier

feat: イベントストアのストリームIDとイベントタイプを「Order」から「Task」に変更
  docs/architecture/chaos-engineering/カオスエンジニアリング設計.md
  regions/system/library/typescript/eventstore/__tests__/eventstore.test.ts
Due: ts-lint, prettier

feat: ストリームIDとイベントタイプを「Order」から「Task」に変更
  docs/libraries/resilience/resiliency.md
  regions/system/library/typescript/eventstore/__tests__/eventstore.test.ts
Due: ts-lint, prettier

feat: イベントハンドラーとスナップショットストアのストリームIDを「Order」から「Task」に変更
  docs/libraries/messaging/event-bus.md
  regions/system/library/typescript/eventstore/__tests__/eventstore.test.ts
Due: ts-lint, prettier

feat: サービス名を「order」から「task」に変更
  docs/architecture/observability/runbooks/postmortem-template.md
  docs/architecture/observability/インシデント管理設計.md
  docs/libraries/messaging/event-bus.md
  docs/templates/data/APIスキーマ.md
Due: none

feat: サービス名を「order」から「task」に変更
  regions/system/server/rust/config/src/adapter/presentation.rs
Due: rust-fmt, rust-clippy

feat: サービス名の名前空間を「order」から「task」に変更
  regions/system/server/rust/config/src/adapter/presentation.rs
Due: rust-fmt, rust-clippy

feat: 名前空間を「service.order」から「service.task」に変更
  regions/system/server/rust/config/src/adapter/handler/config_schema_handler.rs
Due: rust-fmt, rust-clippy

feat: サービス名を「inventory-service」から「board-server」、「payment-service」から「activity-server」、「shipping-service」から「task-server」に変更 config.docker.yamlのサービス名を更新しました。
  regions/system/server/rust/saga/config/config.docker.yaml
Due: prettier

feat: サービス名を「shipping-service」から「task-server」に変更
  regions/system/server/rust/saga/config/config.prod.yaml
  regions/system/server/rust/saga/config/config.staging.yaml
  regions/system/server/rust/saga/config/config.yaml
Due: prettier

feat: サービス名を「shipping-service」から「task-server」に変更
  regions/system/server/rust/saga/config/config.dev.example.yaml
  regions/system/server/rust/saga/src/infrastructure/config.rs
Due: rust-fmt, rust-clippy, prettier

feat: サービス名を「inventory-service」から「board-server」に変更
  regions/system/server/rust/saga/src/infrastructure/grpc_caller.rs
  regions/system/server/rust/saga/tests/integration_test.rs
Due: rust-fmt, rust-clippy

feat: gRPCパスとサービス名を更新
  regions/system/server/rust/saga/src/infrastructure/grpc_caller.rs
Due: rust-fmt, rust-clippy

feat: サービス名を「shipping-service」から「board-server」に変更
  docs/cli/config/config-editor設計.md
  regions/system/server/rust/event-monitor/src/usecase/trace_by_correlation.rs
  regions/system/server/rust/event-monitor/tests/usecase_test.rs
Due: rust-fmt, rust-clippy

feat: Keycloakのシークレットとパスワードを環境変数から固定値に変更
  infra/docker/keycloak/k1s0-realm.json
Due: prettier

feat: コードの変更を追加
  docs/architecture/auth/images/service-auth-mtls-tiers.svg
  docs/diagrams/infrastructure-topology.svg
Due: none

feat: 新しい機能を追加
  docs/diagrams/saga-order-flow.svg
Due: none

feat(saga): 更新されたサガステップログのアクション名
  docs/onboarding/img/domain-communication.svg
  regions/system/server/rust/saga/src/domain/entity/saga_step_log.rs
Due: rust-fmt, rust-clippy

feat: サービス名を「svc-order」から「svc-task」に変更
  docs/architecture/api/images/proto-package-hierarchy.drawio
Due: none

feat: 新しい機能を追加しました
  docs/architecture/api/images/proto-package-hierarchy.svg
Due: none

fix(docs): 修正されたコンペンセイティングステップのラベル
  docs/infrastructure/cicd/images/cicd-reusable-workflow-arch.svg
  docs/libraries/resilience/images/saga-orchestration-flow.drawio
Due: none

fix(tests): businessティアのテストケースの名前を修正
  regions/system/library/rust/codegen/src/path.rs
Due: rust-fmt, rust-clippy

feat: タスク関連のGraphQLスキーマを追加および修正
  docs/architecture/api/GraphQL設計.md
Due: none

fix: Task構造体からstatusフィールドを削除
  docs/architecture/api/GraphQL設計.md
Due: none

feat: タスクサービスに関連するロギングとメトリクスの変更
  docs/infrastructure/cicd/images/cicd-reusable-workflow-arch.svg
  regions/system/library/dart/telemetry/lib/src/logger.dart
  regions/system/library/go/telemetry/middleware_test.go
  regions/system/library/rust/telemetry/src/middleware/mod.rs
  regions/system/library/rust/telemetry/src/tests.rs
  regions/system/library/typescript/telemetry/__tests__/grpc_interceptor.test.ts
  regions/system/library/typescript/telemetry/__tests__/metrics.test.ts
Due: go-lint, rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: タスクサービスに関連するデータベースおよび設定の変更
  CLI/crates/k1s0-core/src/commands/dev/migration.rs
  docs/infrastructure/kubernetes/helm設計.md
  docs/onboarding/tier3/10-よくあるミスとトラブルシューティング.md
  infra/terraform/modules/vault/secrets.tf
  regions/system/library/dart/config/test/config_test.dart
  regions/system/library/rust/saga/tests/integration_test.rs
  regions/system/library/typescript/telemetry/__tests__/grpc_interceptor.test.ts
Due: rust-fmt, rust-clippy, ts-lint, prettier, dart-analyze, dart-format

feat: タスクデータベース接続の設定を追加
  docs/infrastructure/security/Vault設計.md
Due: none

feat: Vaultのシークレットパスをタスク関連に更新
  docs/infrastructure/security/Vault設計.md
Due: none

feat: タスクリポジトリとサービスクライアントのモックを更新
  docs/onboarding/tier3/10-よくあるミスとトラブルシューティング.md
Due: none

feat: kongのバージョンを3.8.1から3.9.1に更新
  docker-compose.yaml
  docs/infrastructure/docker/docker-compose設計.md
Due: prettier

Path conditions:
  go-lint: any of: \.go$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  ts-lint: any of: \.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|yml)$
  dart-analyze: any of: \.dart$
  dart-format: any of: \.dart$
